Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies

open_manipulator_p: 1.0.0-5 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

open_manipulator_p_simulations: 1.0.0-2 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

open_manipulator_p_simulations: 1.0.0-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

mcl_3dl: 0.5.0-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

mcl_3dl: 0.5.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

mcl_3dl: 0.5.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

ros_motion_builder: 1.0.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

septentrio_gnss_driver: 1.0.6-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

septentrio_gnss_driver: 1.0.6-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

septentrio_gnss_driver: 1.0.6-1 in 'noetic/distribution.yaml' [bloom] (#26993)
  noetic/distribution.yaml
Owners: @sloretz

septentrio_gnss_driver: 1.0.6-1 in 'melodic/distribution.yaml' [bloom] (#26992)
  melodic/distribution.yaml
Owners: @clalancette

mcl_3dl: 0.5.0-1 in 'noetic/distribution.yaml' [bloom] (#26990)
  noetic/distribution.yaml
Owners: @sloretz

mcl_3dl: 0.5.0-1 in 'melodic/distribution.yaml' [bloom] (#26989)
  melodic/distribution.yaml
Owners: @clalancette

mcl_3dl: 0.5.0-1 in 'kinetic/distribution.yaml' [bloom] (#26988)
  kinetic/distribution.yaml
Owners: @tfoote

teleop_tools: 1.2.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

teleop_tools: 1.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

leo_robot: 1.1.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

teleop_tools: 1.2.0-1 in 'foxy/distribution.yaml' [bloom] (#26994)
  foxy/distribution.yaml
Owners: @jacobperron

teleop_tools: 1.2.0-1 in 'rolling/distribution.yaml' [bloom] (#26995)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

leo_common: 1.1.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

node_interface_test: 0.1.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

leo_desktop: 0.2.2-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Add novatel_oem7_driver to noetic
  noetic/distribution.yaml
Owners: @sloretz

Added novatel_oem7_driver to noetic.
  noetic/distribution.yaml
Owners: @sloretz

leo_robot: 1.1.0-1 in 'melodic/distribution.yaml' [bloom] (#26996)
  melodic/distribution.yaml
Owners: @clalancette

leo_common: 1.1.0-1 in 'noetic/distribution.yaml' [bloom] (#26997)
  noetic/distribution.yaml
Owners: @sloretz

leo_desktop: 0.2.2-1 in 'melodic/distribution.yaml' [bloom] (#26999)
  melodic/distribution.yaml
Owners: @clalancette

Move urdfdom back to the 'ros' organization.
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

ros_comm: 1.15.9-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

ros_comm: 1.15.9-1 in 'noetic/distribution.yaml' [bloom] (#27003)
  noetic/distribution.yaml
Owners: @sloretz

ros_comm: 1.14.10-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

ros_comm: 1.14.10-1 in 'melodic/distribution.yaml' [bloom] (#27004)
  melodic/distribution.yaml
Owners: @clalancette

jsk_visualization: 2.1.7-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

cob_command_tools: 0.6.17-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

cob_command_tools: 0.6.17-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

cob_command_tools: 0.6.17-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

cob_substitute: 0.6.10-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

cob_substitute: 0.6.10-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

cob_substitute: 0.6.10-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

cob_hand: 0.6.9-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote
