Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

Adding diffdrive_arduino to documentation index for melodic (#27636)
  melodic/distribution.yaml
Owners: @clalancette

Test pull request for leo packages (noetic) (#27592)
  noetic/distribution.yaml
Owners: @sloretz

urdfdom_py: 0.4.5-1 in 'noetic/distribution.yaml' [bloom] (#27599)
  noetic/distribution.yaml
Owners: @sloretz

plotjuggler: 3.0.4-1 in 'noetic/distribution.yaml' [bloom] (#27601)
  noetic/distribution.yaml
Owners: @sloretz

ros_control: 0.19.4-1 in 'noetic/distribution.yaml' [bloom] (#27621)
  noetic/distribution.yaml
Owners: @sloretz

diagnostics: 1.10.3-1 in 'noetic/distribution.yaml' [bloom] (#27624)
  noetic/distribution.yaml
Owners: @sloretz

leo_simulator: 0.1.3-1 in 'noetic/distribution.yaml' [bloom] (#27626)
  noetic/distribution.yaml
Owners: @sloretz

video_stream_opencv: 1.1.5-3 in 'noetic/distribution.yaml' [bloom] (#27638)
  noetic/distribution.yaml
Owners: @sloretz

rqt_robot_monitor: 1.0.4-1 in 'dashing/distribution.yaml' [bloom] (#27632)
  dashing/distribution.yaml
Owners: @nuclearsandwich

plotjuggler: 3.0.4-1 in 'foxy/distribution.yaml' [bloom] (#27602)
  foxy/distribution.yaml
Owners: @jacobperron

[Foxy] Add ros2_control doc and source jobs (#27622)
  foxy/distribution.yaml
Owners: @jacobperron

rosidl_typesupport_gurumdds: 1.0.3-1 in 'foxy/distribution.yaml' [bloom] (#27630)
  foxy/distribution.yaml
Owners: @jacobperron

rmw_gurumdds: 1.0.3-1 in 'foxy/distribution.yaml' [bloom] (#27631)
  foxy/distribution.yaml
Owners: @jacobperron

rqt_robot_monitor: 1.0.4-1 in 'foxy/distribution.yaml' [bloom] (#27634)
  foxy/distribution.yaml
Owners: @jacobperron

rqt_robot_monitor: 1.0.4-1 in 'rolling/distribution.yaml' [bloom] (#27635)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

moveit: 2.1.0-1 in 'foxy/distribution.yaml' [bloom] (#27637)
  foxy/distribution.yaml
Owners: @jacobperron

rosidl: 0.8.3-1 in 'eloquent/distribution.yaml' [bloom] (#27612)
  eloquent/distribution.yaml
Owners: @mjcarroll

rmw_fastrtps: 0.8.2-1 in 'eloquent/distribution.yaml' [bloom] (#27614)
  eloquent/distribution.yaml
Owners: @mjcarroll

rmw_connext: 0.8.2-1 in 'eloquent/distribution.yaml' [bloom] (#27615)
  eloquent/distribution.yaml
Owners: @mjcarroll

examples: 0.8.3-1 in 'eloquent/distribution.yaml' [bloom] (#27616)
  eloquent/distribution.yaml
Owners: @mjcarroll

rosidl_python: 0.8.2-1 in 'eloquent/distribution.yaml' [bloom] (#27617)
  eloquent/distribution.yaml
Owners: @mjcarroll

rclpy: 0.8.5-1 in 'eloquent/distribution.yaml' [bloom] (#27618)
  eloquent/distribution.yaml
Owners: @mjcarroll

rosidl_typesupport: 0.8.1-1 in 'eloquent/distribution.yaml' [bloom] (#27613)
  eloquent/distribution.yaml
Owners: @mjcarroll

rqt_robot_monitor: 1.0.4-1 in 'eloquent/distribution.yaml' [bloom] (#27633)
  eloquent/distribution.yaml
Owners: @mjcarroll

Remove stretch from the distribution as it is no longer supported.
  melodic/distribution.yaml
Owners: @clalancette

add python3-six (#27587)
  rosdep/python.yaml
Owners: @ros/rosdeputies

ament_lint: 0.9.6-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

cob_manipulation: 0.7.5-1 in 'kinetic/distribution.yaml' [bloom] (#27584)
  kinetic/distribution.yaml
Owners: @tfoote

ament_package: 0.9.3-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

ament_cmake: 1.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

ament_package: 0.10.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

google_benchmark_vendor: 0.0.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

osrf_pycommon: 0.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

video_stream_opencv: 1.1.6-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

video_stream_opencv: 1.1.6-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

raspimouse2: 1.0.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

Update distribution.yaml
  noetic/distribution.yaml
Owners: @sloretz

video_stream_opencv: 1.1.6-1 in 'melodic/distribution.yaml' [bloom] (#27649)
  melodic/distribution.yaml
Owners: @clalancette

video_stream_opencv: 1.1.6-1 in 'noetic/distribution.yaml' [bloom] (#27648)
  noetic/distribution.yaml
Owners: @sloretz

plotjuggler_ros: 1.0.0-1 in 'noetic/distribution.yaml' [bloom] (#27423)
  noetic/distribution.yaml
Owners: @sloretz

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies
