Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

add python3-prettytable
  rosdep/python.yaml
Owners: @ros/rosdeputies

gazebo_video_monitors: 0.6.0-2 in 'melodic/distribution.yaml' [bloom] (#27774)
  melodic/distribution.yaml
Owners: @clalancette

gazebo_video_monitors: 0.6.0-1 in 'noetic/distribution.yaml' [bloom] (#27775)
  noetic/distribution.yaml
Owners: @sloretz

cnpy: 0.0.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

Update Heifu-release version (#27790)
  melodic/distribution.yaml
Owners: @clalancette

hector_slam: 0.5.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

system_modes: 0.4.2-1 in 'foxy/distribution.yaml' [bloom] (#27788)
  foxy/distribution.yaml
Owners: @jacobperron

hector_slam: 0.5.0-1 in 'noetic/distribution.yaml' [bloom] (#27794)
  noetic/distribution.yaml
Owners: @sloretz

cnpy: 0.0.3-1 in 'noetic/distribution.yaml' [bloom] (#27793)
  noetic/distribution.yaml
Owners: @sloretz

Adding tuw_multi_robot tuw_geometry and tuw_msgs to Noetic (#27791)
  noetic/distribution.yaml
Owners: @sloretz

gazebo_ros_control_select_joints: 2.5.6-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

system_modes: 0.4.2-1 in 'rolling/distribution.yaml' [bloom] (#27787)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

system_modes: 0.4.2-2 in 'eloquent/distribution.yaml' [bloom] (#27786)
  eloquent/distribution.yaml
Owners: @mjcarroll

system_modes: 0.4.2-1 in 'dashing/distribution.yaml' [bloom] (#27785)
  dashing/distribution.yaml
Owners: @nuclearsandwich

robot_localization: 2.7.1-1 in 'noetic/distribution.yaml' [bloom] (#27784)
  noetic/distribution.yaml
Owners: @sloretz

hector_models: 0.5.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

Add python3-sh (#27780)
  rosdep/python.yaml
Owners: @ros/rosdeputies

hector_gazebo: 0.5.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

add flask-restplus from pip (#27702)
  rosdep/python.yaml
Owners: @ros/rosdeputies

gazebo_ros_control_select_joints: 2.5.7-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

Add rosdep key for flawfinder (#27701)
  rosdep/base.yaml
Owners: @ros/rosdeputies

Update the axis_camera release for Melodic and Kinetic to 0.3.1-1. (Ammend to force re-check)
  kinetic/distribution.yaml
  melodic/distribution.yaml
Owners: @tfoote, @clalancette

Add RHEL rule for python3-cairo
  rosdep/python.yaml
Owners: @ros/rosdeputies

Make libunwind key compatible with new Ubuntu / Debian releases. (#27778)
  rosdep/base.yaml
Owners: @ros/rosdeputies

hector_models: 0.5.1-1 in 'noetic/distribution.yaml' [bloom] (#27796)
  noetic/distribution.yaml
Owners: @sloretz

hector_gazebo: 0.5.2-1 in 'noetic/distribution.yaml' [bloom] (#27797)
  noetic/distribution.yaml
Owners: @sloretz

add python3-prettytable (#27792)
  rosdep/python.yaml
Owners: @ros/rosdeputies

mesh_navigation: 1.0.0-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

mesh_tools: 1.0.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

plotjuggler_ros: 1.0.1-4 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

leo_common: 1.2.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

leo_common: 1.2.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

leo_robot: 1.1.3-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

leo_desktop: 0.2.3-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

leo_desktop: 0.2.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

leo_common: 1.2.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

leo_simulator: 0.2.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

leo_common: 1.2.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

leo_simulator: 0.2.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

vrpn: 7.34.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies
