Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @tfoote, @clalancette, @ros/rosdeputies

sick_tim: 0.0.15-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

mir_robot: 1.0.3-0 in 'indigo/distribution.yaml' [bloom]
  indigo/distribution.yaml
Owners: @tfoote

mir_robot: 1.0.3-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

brics_actuator: 0.7.0-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

indoor_localization: 0.1.0-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

indoor_localization: 0.1.0-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

Update indoor_localization-release url.
  kinetic/distribution.yaml
Owners: @tfoote

add python-webrtcvad-pip
  rosdep/python.yaml
Owners: @ros/rosdeputies

behaviotree_cpp_v3: 3.0.2-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

dbw_fca_ros: 1.0.1-0 in 'indigo/distribution.yaml' [bloom]
  indigo/distribution.yaml
Owners: @tfoote

behaviotree_cpp_v3: 3.0.2-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

dbw_fca_ros: 1.0.1-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

dbw_fca_ros: 1.0.1-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

dbw_mkz_ros: 1.1.1-0 in 'indigo/distribution.yaml' [bloom]
  indigo/distribution.yaml
Owners: @tfoote

dbw_mkz_ros: 1.1.1-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

dbw_mkz_ros: 1.1.1-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

mavros: 0.29.1-0 in 'melodic/distribution.yaml' [bloom] (#20427)
  melodic/distribution.yaml
Owners: @clalancette

sick_tim: 0.0.15-0 in 'lunar/distribution.yaml' [bloom] (#20431)
  lunar/distribution.yaml
Owners: @clalancette

mavros: 0.29.1-0 in 'kinetic/distribution.yaml' [bloom] (#20424)
  kinetic/distribution.yaml
Owners: @tfoote

sick_tim: 0.0.15-0 in 'kinetic/distribution.yaml' [bloom] (#20430)
  kinetic/distribution.yaml
Owners: @tfoote

mir_robot: 1.0.3-0 in 'kinetic/distribution.yaml' [bloom] (#20434)
  kinetic/distribution.yaml
Owners: @tfoote

indoor_localization: 0.1.0-0 in 'kinetic/distribution.yaml' [bloom] (#20437)
  kinetic/distribution.yaml
Owners: @tfoote

darknet_ros: 1.1.4-0 in 'kinetic/distribution.yaml' [bloom] (#20422)
  kinetic/distribution.yaml
Owners: @tfoote

behaviotree_cpp_v3: 3.0.2-0 in 'kinetic/distribution.yaml' [bloom] (#20439)
  kinetic/distribution.yaml
Owners: @tfoote

dbw_fca_ros: 1.0.1-0 in 'kinetic/distribution.yaml' [bloom] (#20442)
  kinetic/distribution.yaml
Owners: @tfoote

dbw_mkz_ros: 1.1.1-0 in 'kinetic/distribution.yaml' [bloom] (#20445)
  kinetic/distribution.yaml
Owners: @tfoote

behaviotree_cpp_v3: 3.0.2-0 in 'lunar/distribution.yaml' [bloom] (#20441)
  lunar/distribution.yaml
Owners: @clalancette

brics_actuator: 0.7.0-0 in 'melodic/distribution.yaml' [bloom] (#20435)
  melodic/distribution.yaml
Owners: @clalancette

Update source and doc branches for Crystal. (#20309)
  crystal/distribution.yaml
Owners: @nuclearsandwich

add python-webrtcvad-pip (#20438)
  rosdep/python.yaml
Owners: @ros/rosdeputies

Add 'cccc' key.
  rosdep/base.yaml
Owners: @ros/rosdeputies

Add 'cccc' key. (#20426)
  rosdep/base.yaml
Owners: @ros/rosdeputies

Exact match tags, not just substrings. (#20429)
  test/test_url_validity.py
Owners: none

mavlink: 2019.3.3-0 in 'kinetic/distribution.yaml' [bloom] (#20420)
  kinetic/distribution.yaml
Owners: @tfoote

mavlink: 2019.3.3-0 in 'melodic/distribution.yaml' [bloom] (#20423)
  melodic/distribution.yaml
Owners: @clalancette

mavlink: 2019.3.3-0 in 'lunar/distribution.yaml' [bloom] (#20421)
  lunar/distribution.yaml
Owners: @clalancette

libpointmatcher: 1.3.1-0 in 'indigo/distribution.yaml' [bloom]
  indigo/distribution.yaml
Owners: @tfoote

gencpp: 0.6.1-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

catkin: 0.7.15-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

genmsg: 0.5.12-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
rosdep/* @ros/rosdeputies
