Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

cob_navigation: 0.6.11-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

bota_driver: 0.5.0-6 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

audio_common: 0.3.9-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

audio_common: 0.3.9-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

audio_common: 0.3.9-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

sick_scan2: 0.1.8-3 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

franka_ros: 0.7.1-1 in 'melodic/distribution.yaml'
  melodic/distribution.yaml
Owners: @clalancette

franka_ros: 0.7.1-1 in 'noetic/distribution.yaml
  noetic/distribution.yaml
Owners: @sloretz

sick_scan2: 0.1.9-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

grbl_ros: 0.0.15-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

grbl_ros: 0.0.15-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

grbl_ros: 0.0.15-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

grbl_ros: 0.0.15-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

Update foxy/distribution.yaml
  foxy/distribution.yaml
Owners: @jacobperron

mrpt2: 2.1.3-1 in 'noetic/distribution.yaml' [bloom] (#27082)
  noetic/distribution.yaml
Owners: @sloretz

mrpt2: 2.1.3-1 in 'melodic/distribution.yaml' [bloom] (#27083)
  melodic/distribution.yaml
Owners: @clalancette

mrpt2: 2.1.3-1 in 'foxy/distribution.yaml' [bloom] (#27084)
  foxy/distribution.yaml
Owners: @jacobperron

play_motion_builder: 1.0.2-1 in 'melodic/distribution.yaml' [bloom] (#27085)
  melodic/distribution.yaml
Owners: @clalancette

Remove test_rmw_implementation from rolling
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

cob_navigation: 0.6.11-1 in 'kinetic/distribution.yaml' [bloom] (#27086)
  kinetic/distribution.yaml
Owners: @tfoote

cob_navigation: 0.6.11-1 in 'noetic/distribution.yaml' [bloom] (#27091)
  noetic/distribution.yaml
Owners: @sloretz

cob_navigation: 0.6.11-1 in 'melodic/distribution.yaml' [bloom] (#27087)
  melodic/distribution.yaml
Owners: @clalancette

bota_driver: 0.5.0-6 in 'melodic/distribution.yaml' [bloom] (#27092)
  melodic/distribution.yaml
Owners: @clalancette

neonavigation: 0.10.3-1 in 'kinetic/distribution.yaml' [bloom] (#27088)
  kinetic/distribution.yaml
Owners: @tfoote

neonavigation: 0.10.3-1 in 'melodic/distribution.yaml' [bloom] (#27089)
  melodic/distribution.yaml
Owners: @clalancette

neonavigation: 0.10.3-1 in 'noetic/distribution.yaml' [bloom] (#27090)
  noetic/distribution.yaml
Owners: @sloretz

audio_common: 0.3.9-1 in 'noetic/distribution.yaml' [bloom] (#27093)
  noetic/distribution.yaml
Owners: @sloretz

audio_common: 0.3.9-1 in 'melodic/distribution.yaml' [bloom] (#27094)
  melodic/distribution.yaml
Owners: @clalancette

audio_common: 0.3.9-1 in 'kinetic/distribution.yaml' [bloom] (#27095)
  kinetic/distribution.yaml
Owners: @tfoote

franka_ros: 0.7.1-1 in 'melodic/distribution.yaml' (#27097)
  melodic/distribution.yaml
Owners: @clalancette

franka_ros: 0.7.1-1 in 'noetic/distribution.yaml (#27098)
  noetic/distribution.yaml
Owners: @sloretz

sick_scan2: 0.1.9-1 in 'foxy/distribution.yaml' [bloom] (#27099)
  foxy/distribution.yaml
Owners: @jacobperron

rmw_implementation: 1.0.1-1 in 'foxy/distribution.yaml' [bloom] (#27054)
  foxy/distribution.yaml
Owners: @jacobperron

grbl_ros: 0.0.15-1 in 'dashing/distribution.yaml' [bloom] (#27100)
  dashing/distribution.yaml
Owners: @nuclearsandwich

grbl_ros: 0.0.15-1 in 'eloquent/distribution.yaml' [bloom] (#27101)
  eloquent/distribution.yaml
Owners: @mjcarroll

grbl_ros: 0.0.15-1 in 'foxy/distribution.yaml' [bloom] (#27102)
  foxy/distribution.yaml
Owners: @jacobperron

grbl_ros: 0.0.15-1 in 'rolling/distribution.yaml' [bloom] (#27103)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

Please linters
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

Remove test_rmw_implementation from rolling (#27104)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

message_logger: 0.2.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies
