Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies

teleop_tools: 1.2.1-1 in 'foxy/distribution.yaml' [bloom] (#27183)
  foxy/distribution.yaml
Owners: @jacobperron

urdfdom_py: 0.4.4-1 in 'noetic/distribution.yaml' [bloom] (#27187)
  noetic/distribution.yaml
Owners: @sloretz

urdfdom_py: 0.4.4-1 in 'melodic/distribution.yaml' [bloom] (#27186)
  melodic/distribution.yaml
Owners: @clalancette

ros_babel_fish: 0.9.1-1 in 'noetic/distribution.yaml' [bloom] (#27185)
  noetic/distribution.yaml
Owners: @sloretz

bota_driver: 0.5.2-2 in 'melodic/distribution.yaml' [bloom] (#27184)
  melodic/distribution.yaml
Owners: @clalancette

omnibase: 1.0.2-2 in 'melodic/distribution.yaml' [bloom] (#27182)
  melodic/distribution.yaml
Owners: @clalancette

boost_sml: 0.1.1-1 in 'noetic/distribution.yaml' [bloom] (#27181)
  noetic/distribution.yaml
Owners: @sloretz

Update gazebo_ros_pkgs developement branch for Foxy (#27180)
  foxy/distribution.yaml
Owners: @jacobperron

Shadow robot melodic distro (#27188)
  melodic/distribution.yaml
Owners: @clalancette

Move urdfdom back into the ros organization for eloquent. (#27179)
  eloquent/distribution.yaml
Owners: @mjcarroll

code_coverage: 0.4.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

Adding my_repo_name to documentation index for distro
  foxy/distribution.yaml
Owners: @jacobperron

Resolve google-mock to libgmock-dev on Buster & Focal.
  rosdep/base.yaml
Owners: @ros/rosdeputies

bota_driver: 0.5.3-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

bota_driver: 0.5.3-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

ddynamic_reconfigure_python: 0.0.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

dingo: 0.1.5-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

urg_node: 0.1.15-1 in 'kinetic/distribution.yaml' [bloom] (#27158)
  kinetic/distribution.yaml
Owners: @tfoote

rc_visard: 3.0.5-1 in 'kinetic/distribution.yaml' [bloom] (#27169)
  kinetic/distribution.yaml
Owners: @tfoote

ros_babel_fish: 0.9.0-2 in 'kinetic/distribution.yaml' [bloom] (#27174)
  kinetic/distribution.yaml
Owners: @tfoote

Shadow robot kinetic distro (#27190)
  kinetic/distribution.yaml
Owners: @tfoote

Revert "ros_babel_fish: 0.9.0-2 in 'kinetic/distribution.yaml' [bloom] (#27174)"
  kinetic/distribution.yaml
Owners: @tfoote

code_coverage: 0.4.4-1 in 'noetic/distribution.yaml' [bloom] (#27191)
  noetic/distribution.yaml
Owners: @sloretz

bota_driver: 0.5.3-2 in 'melodic/distribution.yaml' [bloom] (#27194)
  melodic/distribution.yaml
Owners: @clalancette

dingo: 0.1.5-1 in 'melodic/distribution.yaml' [bloom] (#27197)
  melodic/distribution.yaml
Owners: @clalancette

robotont_description: 0.0.5-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Revert "ros_babel_fish: 0.9.0-2 in 'kinetic/distribution.yaml' [bloom] (#27174)" (#27198)
  kinetic/distribution.yaml
Owners: @tfoote

ddynamic_reconfigure_python: 0.0.1-1 in 'noetic/distribution.yaml' [bloom] (#27196)
  noetic/distribution.yaml
Owners: @sloretz

novatel_oem7_driver: 1.1.0-1 in 'noetic/distribution.yaml'
  noetic/distribution.yaml
Owners: @sloretz

cartographer_ros: 1.0.9002-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

cartographer_ros: 1.0.9002-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

Add python3-cantools-pip (#27189)
  rosdep/python.yaml
Owners: @ros/rosdeputies

cartographer_ros: 1.0.9002-1 in 'foxy/distribution.yaml' [bloom] (#27202)
  foxy/distribution.yaml
Owners: @jacobperron

robotont_description: 0.0.5-2 in 'melodic/distribution.yaml' [bloom] (#27199)
  melodic/distribution.yaml
Owners: @clalancette

cartographer_ros: 1.0.9002-1 in 'rolling/distribution.yaml' [bloom] (#27201)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

novatel_oem7_driver: 1.1.0-1 in 'noetic/distribution.yaml' (#27200)
  noetic/distribution.yaml
Owners: @sloretz

extest: 0.0.1-3 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

bota_driver: 0.5.4-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Adding doosan-robot2 to documentation index for distro
  foxy/distribution.yaml
Owners: @jacobperron

bota_driver: 0.5.4-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote
