Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

ros1_bridge: 0.7.7-1 in 'dashing/distribution.yaml' [bloom] (#27464)
  dashing/distribution.yaml
Owners: @nuclearsandwich

examples: 0.7.5-1 in 'dashing/distribution.yaml' [bloom] (#27480)
  dashing/distribution.yaml
Owners: @nuclearsandwich

rmw_fastrtps: 0.7.8-1 in 'dashing/distribution.yaml' [bloom] (#27474)
  dashing/distribution.yaml
Owners: @nuclearsandwich

osrf_testing_tools_cpp: 1.2.3-1 in 'dashing/distribution.yaml' [bloom] (#27462)
  dashing/distribution.yaml
Owners: @nuclearsandwich

rosidl_python: 0.7.11-1 in 'dashing/distribution.yaml' [bloom] (#27471)
  dashing/distribution.yaml
Owners: @nuclearsandwich

rosidl: 0.7.10-1 in 'dashing/distribution.yaml' [bloom] (#27472)
  dashing/distribution.yaml
Owners: @nuclearsandwich

rcutils: 0.7.6-1 in 'dashing/distribution.yaml' [bloom] (#27475)
  dashing/distribution.yaml
Owners: @nuclearsandwich

rmw_connext: 0.7.6-1 in 'dashing/distribution.yaml' [bloom] (#27473)
  dashing/distribution.yaml
Owners: @nuclearsandwich

launch_ros: 0.8.9-1 in 'dashing/distribution.yaml' [bloom] (#27482)
  dashing/distribution.yaml
Owners: @nuclearsandwich

poco_vendor: 1.2.1-1 in 'dashing/distribution.yaml' [bloom] (#27463)
  dashing/distribution.yaml
Owners: @nuclearsandwich

rosidl_typesupport_fastrtps: 0.7.2-1 in 'dashing/distribution.yaml' [bloom] (#27470)
  dashing/distribution.yaml
Owners: @nuclearsandwich

marti_common: 3.3.2-1 in 'dashing/distribution.yaml' [bloom] (#27468)
  dashing/distribution.yaml
Owners: @nuclearsandwich

Add rosdep key for python3 thriftpy
  rosdep/python.yaml
Owners: @ros/rosdeputies

sob_layer: 0.1.0-1 in noetic/distribution.yaml - manual release
  noetic/distribution.yaml
Owners: @sloretz

rclc: 0.1.4-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

rclc: 0.1.4-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

rclc: 0.1.4-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

rclc: 0.1.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

Update distribution.yaml
  melodic/distribution.yaml
Owners: @clalancette

leo_robot: 1.1.2-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

rclc: 0.1.4-1 in 'dashing/distribution.yaml' [bloom] (#27487)
  dashing/distribution.yaml
Owners: @nuclearsandwich

Revert rosbridge_suite kinetic to 0.11.10-1
  kinetic/distribution.yaml
Owners: @tfoote

Revert rosbridge_suite melodic to 0.11.10-1
  melodic/distribution.yaml
Owners: @clalancette

gazebo_ros_pkgs: 3.5.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

librealsense2: 2.40.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

robot_controllers: 0.8.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

Revert rosbridge_suite kinetic to 0.11.10-1 (#27491)
  kinetic/distribution.yaml
Owners: @tfoote

Revert rosbridge_suite melodic to 0.11.10-1 (#27492)
  melodic/distribution.yaml
Owners: @clalancette

Update exotica to 6.0.2-1 for kinetic (#27469)
  kinetic/distribution.yaml
Owners: @tfoote

sot-tools: 2.3.2-1 in 'melodic/distribution.yaml' [bloom] (#27456)
  melodic/distribution.yaml
Owners: @clalancette

log_view: 0.1.1-1 in 'kinetic/distribution.yaml' [bloom] (#27477)
  kinetic/distribution.yaml
Owners: @tfoote

log_view: 0.1.1-1 in 'melodic/distribution.yaml' [bloom] (#27478)
  melodic/distribution.yaml
Owners: @clalancette

leo_robot: 1.1.2-1 in 'melodic/distribution.yaml' [bloom] (#27490)
  melodic/distribution.yaml
Owners: @clalancette

fix problems described in PR
  rosdep/python.yaml
Owners: @ros/rosdeputies

remove deprecated packages
  rosdep/python.yaml
Owners: @ros/rosdeputies

adding python package
  rosdep/python.yaml
Owners: @ros/rosdeputies

ompl: 1.5.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

put back python2 package
  rosdep/python.yaml
Owners: @ros/rosdeputies

add python3-xmltodict-pip package
  rosdep/python.yaml
Owners: @ros/rosdeputies

odva_ethernetip noetic release
  noetic/distribution.yaml
Owners: @sloretz

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies
