Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies

rcutils: 0.8.5-1 in 'eloquent/distribution.yaml' [bloom] (#27611)
  eloquent/distribution.yaml
Owners: @mjcarroll

rosidl_typesupport: 0.8.1-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

rmw_fastrtps: 0.8.2-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

rmw_connext: 0.8.2-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

examples: 0.8.3-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

rosidl_python: 0.8.2-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

rclpy: 0.8.5-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

ros_control: 0.18.3-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

ros_controllers: 0.17.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

ros_control: 0.19.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

[Foxy] Add ros2_control doc and source jobs
  foxy/distribution.yaml
Owners: @jacobperron

diagnostics: 1.10.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

leo_simulator: 0.1.3-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

leo_simulator: 0.1.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

iris_lama: 1.1.0-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

iris_lama_ros: 1.1.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Remove gazebo_video_monitor_plugins
  melodic/distribution.yaml
  noetic/distribution.yaml
Owners: @clalancette, @sloretz

rosidl_typesupport_gurumdds: 1.0.3-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

rmw_gurumdds: 1.0.3-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

rqt_robot_monitor: 1.0.4-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

rqt_robot_monitor: 1.0.4-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

rqt_robot_monitor: 1.0.4-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

rqt_robot_monitor: 1.0.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

Adding diffdrive_arduino to documentation index for melodic
  melodic/distribution.yaml
Owners: @clalancette

moveit: 2.1.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

video_stream_opencv: 1.1.5-3 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

video_stream_opencv: 1.1.5-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

moveit: 1.0.7-1 in 'melodic/distribution.yaml' [bloom] (#27572)
  melodic/distribution.yaml
Owners: @clalancette

vesc: 1.0.0-1 in 'melodic/distribution.yaml' [bloom] (#27577)
  melodic/distribution.yaml
Owners: @clalancette

cob_manipulation: 0.7.5-1 in 'melodic/distribution.yaml' [bloom] (#27585)
  melodic/distribution.yaml
Owners: @clalancette

lvr2: 20.11.2-1 in 'melodic/distribution.yaml' [bloom] (#27586)
  melodic/distribution.yaml
Owners: @clalancette

urdfdom_py: 0.4.5-1 in 'melodic/distribution.yaml' [bloom] (#27598)
  melodic/distribution.yaml
Owners: @clalancette

Test pull request for leo packages (melodic) (#27594)
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 3.0.4-1 in 'melodic/distribution.yaml' [bloom] (#27600)
  melodic/distribution.yaml
Owners: @clalancette

ros_control: 0.18.3-1 in 'melodic/distribution.yaml' [bloom] (#27619)
  melodic/distribution.yaml
Owners: @clalancette

ros_controllers: 0.17.1-1 in 'melodic/distribution.yaml' [bloom] (#27620)
  melodic/distribution.yaml
Owners: @clalancette

leo_simulator: 0.1.3-1 in 'melodic/distribution.yaml' [bloom] (#27625)
  melodic/distribution.yaml
Owners: @clalancette

iris_lama: 1.1.0-2 in 'melodic/distribution.yaml' [bloom] (#27627)
  melodic/distribution.yaml
Owners: @clalancette

iris_lama_ros: 1.1.0-1 in 'melodic/distribution.yaml' [bloom] (#27628)
  melodic/distribution.yaml
Owners: @clalancette

video_stream_opencv: 1.1.5-1 in 'melodic/distribution.yaml' [bloom] (#27639)
  melodic/distribution.yaml
Owners: @clalancette
