Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @tfoote, @clalancette, @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
rosdep/* @ros/rosdeputies

movie_publisher: 1.2.1-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

turtlebot3_applications: 1.1.0-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

graft: 0.2.3-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

turtlebot3_autorace: 1.2.0-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

depthimage_to_laserscan: 1.0.8-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 2.1.0-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

plotjuggler: 2.1.0-2 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

plotjuggler: 2.1.0-2 in 'indigo/distribution.yaml' [bloom]
  indigo/distribution.yaml
Owners: @tfoote

earth_rover_localization: 1.0.1-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

earth_rover_localization: 1.0.1-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

rosbash_params: 1.0.2-0 in 'indigo/distribution.yaml' [bloom] (#20203)
  indigo/distribution.yaml
Owners: @tfoote

movie_publisher: 1.1.1-1 in 'indigo/distribution.yaml' [bloom] (#20207)
  indigo/distribution.yaml
Owners: @tfoote

plotjuggler: 2.1.0-2 in 'indigo/distribution.yaml' [bloom] (#20215)
  indigo/distribution.yaml
Owners: @tfoote

rosbash_params: 1.0.2-0 in 'kinetic/distribution.yaml' [bloom] (#20205)
  kinetic/distribution.yaml
Owners: @tfoote

movie_publisher: 1.2.1-0 in 'kinetic/distribution.yaml' [bloom] (#20208)
  kinetic/distribution.yaml
Owners: @tfoote

plotjuggler: 2.1.0-2 in 'kinetic/distribution.yaml' [bloom] (#20214)
  kinetic/distribution.yaml
Owners: @tfoote

earth_rover_localization: 1.0.1-1 in 'kinetic/distribution.yaml' [bloom] (#20217)
  kinetic/distribution.yaml
Owners: @tfoote

rosbash_params: 1.0.2-0 in 'lunar/distribution.yaml' [bloom] (#20204)
  lunar/distribution.yaml
Owners: @clalancette

plotjuggler: 2.1.0-0 in 'lunar/distribution.yaml' [bloom] (#20213)
  lunar/distribution.yaml
Owners: @clalancette

pinocchio: 2.0.0-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

pinocchio: 2.0.0-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

rosbash_params: 1.0.2-0 in 'melodic/distribution.yaml' [bloom] (#20206)
  melodic/distribution.yaml
Owners: @clalancette

pinocchio: 2.0.0-0 in 'kinetic/distribution.yaml' [bloom] (#20219)
  kinetic/distribution.yaml
Owners: @tfoote

Switch to crystal branch for realtime_support.
  crystal/distribution.yaml
Owners: @nuclearsandwich

plotjuggler: 2.1.1-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 2.1.1-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

uuv_simulator: 0.6.5-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

Switch to crystal branch for realtime_support. (#20221)
  crystal/distribution.yaml
Owners: @nuclearsandwich

Fix source branch for example_interfaces.
  crystal/distribution.yaml
Owners: @nuclearsandwich

plotjuggler: 2.1.1-0 in 'kinetic/distribution.yaml' [bloom] (#20223)
  kinetic/distribution.yaml
Owners: @tfoote

uuv_simulator: 0.6.5-0 in 'kinetic/distribution.yaml' [bloom] (#20224)
  kinetic/distribution.yaml
Owners: @tfoote

Fix source branch for example_interfaces. (#20225)
  crystal/distribution.yaml
Owners: @nuclearsandwich

robotis_manipulator: 1.0.0-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

robotis_manipulator: 1.0.0-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

dynamixel-workbench-msgs: 2.0.0-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

dynamixel-workbench: 2.0.0-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

open_manipulator_msgs: 1.0.0-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

open_manipulator_msgs: 1.0.0-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

ros_workspace: 0.6.1-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

rmw_opensplice: 0.6.3-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich
