Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies

remove extest package
  melodic/distribution.yaml
Owners: @clalancette

bota_driver: 0.5.8-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

bota_driver: 0.5.8-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

bota_driver: 0.5.8-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

dynamic-graph: 4.3.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

ixblue_stdbin_decoder: 0.2.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

dynamic-graph: 4.3.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

ixblue_stdbin_decoder: 0.2.0-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

dynamic-graph-python: 4.0.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

dynamic-graph-python: 4.0.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

ixblue_stdbin_decoder: 0.2.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

eiquadprog: 1.2.2-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

sick_safetyscanners: 1.0.7-1 in 'kinetic/distribution.yaml' [bloom] (#27292)
  kinetic/distribution.yaml
Owners: @tfoote

sick_safetyscanners: 1.0.7-1 in 'melodic/distribution.yaml' [bloom] (#27293)
  melodic/distribution.yaml
Owners: @clalancette

sick_safetyscanners: 1.0.7-1 in 'noetic/distribution.yaml' [bloom] (#27295)
  noetic/distribution.yaml
Owners: @sloretz

mavros: 1.5.0-1 in 'kinetic/distribution.yaml' [bloom] (#27294)
  kinetic/distribution.yaml
Owners: @tfoote

mavros: 1.5.0-1 in 'melodic/distribution.yaml' [bloom] (#27296)
  melodic/distribution.yaml
Owners: @clalancette

mavros: 1.5.0-1 in 'noetic/distribution.yaml' [bloom] (#27298)
  noetic/distribution.yaml
Owners: @sloretz

move_base_flex: 0.3.3-1 in 'noetic/distribution.yaml' [bloom] (#27297)
  noetic/distribution.yaml
Owners: @sloretz

mavlink: 2020.11.11-1 in 'kinetic/distribution.yaml' [bloom] (#27299)
  kinetic/distribution.yaml
Owners: @tfoote

mavlink: 2020.11.11-1 in 'melodic/distribution.yaml' [bloom] (#27303)
  melodic/distribution.yaml
Owners: @clalancette

mavlink: 2020.11.11-1 in 'noetic/distribution.yaml' [bloom] (#27305)
  noetic/distribution.yaml
Owners: @sloretz

mavlink: 2020.11.11-1 in 'eloquent/distribution.yaml' [bloom] (#27306)
  eloquent/distribution.yaml
Owners: @mjcarroll

lvr2: 20.11.1-1 in 'melodic/distribution.yaml' [bloom] (#27300)
  melodic/distribution.yaml
Owners: @clalancette

mesh_tools: 1.0.1-1 in 'melodic/distribution.yaml' [bloom] (#27308)
  melodic/distribution.yaml
Owners: @clalancette

neonavigation: 0.10.4-1 in 'kinetic/distribution.yaml' [bloom] (#27312)
  kinetic/distribution.yaml
Owners: @tfoote

neonavigation: 0.10.4-1 in 'melodic/distribution.yaml' [bloom] (#27313)
  melodic/distribution.yaml
Owners: @clalancette

neonavigation: 0.10.4-1 in 'noetic/distribution.yaml' [bloom] (#27314)
  noetic/distribution.yaml
Owners: @sloretz

rqt_bag: 0.5.0-1 in 'noetic/distribution.yaml' [bloom] (#27315)
  noetic/distribution.yaml
Owners: @sloretz

bota_driver: 0.5.8-1 in 'melodic/distribution.yaml' [bloom] (#27317)
  melodic/distribution.yaml
Owners: @clalancette

bota_driver: 0.5.8-1 in 'kinetic/distribution.yaml' [bloom] (#27318)
  kinetic/distribution.yaml
Owners: @tfoote

bota_driver: 0.5.8-1 in 'noetic/distribution.yaml' [bloom] (#27319)
  noetic/distribution.yaml
Owners: @sloretz

dynamic-graph: 4.3.0-1 in 'melodic/distribution.yaml' [bloom] (#27320)
  melodic/distribution.yaml
Owners: @clalancette

dynamic-graph: 4.3.0-1 in 'noetic/distribution.yaml' [bloom] (#27322)
  noetic/distribution.yaml
Owners: @sloretz

ixblue_stdbin_decoder: 0.2.0-1 in 'melodic/distribution.yaml' [bloom] (#27321)
  melodic/distribution.yaml
Owners: @clalancette

ixblue_stdbin_decoder: 0.2.0-1 in 'kinetic/distribution.yaml' [bloom] (#27323)
  kinetic/distribution.yaml
Owners: @tfoote

ixblue_stdbin_decoder: 0.2.0-1 in 'noetic/distribution.yaml' [bloom] (#27326)
  noetic/distribution.yaml
Owners: @sloretz

dynamic-graph-python: 4.0.0-1 in 'noetic/distribution.yaml' [bloom] (#27324)
  noetic/distribution.yaml
Owners: @sloretz

dynamic-graph-python: 4.0.0-1 in 'melodic/distribution.yaml' [bloom] (#27325)
  melodic/distribution.yaml
Owners: @clalancette

eiquadprog: 1.2.2-2 in 'melodic/distribution.yaml' [bloom] (#27327)
  melodic/distribution.yaml
Owners: @clalancette
