Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies

Update base.yaml
  rosdep/base.yaml
Owners: @ros/rosdeputies

ros2_planning_system: 1.0.7-2 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

ros2_planning_system: 1.0.7-2 in 'foxy/distribution.yaml' [bloom] (#27893)
  foxy/distribution.yaml
Owners: @jacobperron

add dgps_ros package to kinetic version
  kinetic/distribution.yaml
Owners: @tfoote

openzen_sensor: 1.2.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

using master branch for source and documentation git references
  noetic/distribution.yaml
Owners: @sloretz

grasping_msgs: 0.4.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

mqtt_bridge: 0.2.1-1 in 'noetic/distribution.yaml' [bloom] (#27871)
  noetic/distribution.yaml
Owners: @sloretz

m_explore: 2.1.2-1 in 'melodic/distribution.yaml' [bloom] (#27878)
  melodic/distribution.yaml
Owners: @clalancette

m_explore: 2.1.3-1 in 'noetic/distribution.yaml' [bloom] (#27879)
  noetic/distribution.yaml
Owners: @sloretz

openzen_sensor: 1.2.0-1 in 'noetic/distribution.yaml' [bloom] (#27895)
  noetic/distribution.yaml
Owners: @sloretz

grasping_msgs: 0.4.0-1 in 'foxy/distribution.yaml' [bloom] (#27896)
  foxy/distribution.yaml
Owners: @jacobperron

mavros: 1.5.1-1 in 'noetic/distribution.yaml' [bloom] (#27890)
  noetic/distribution.yaml
Owners: @sloretz

mavros: 1.5.1-1 in 'melodic/distribution.yaml' [bloom] (#27889)
  melodic/distribution.yaml
Owners: @clalancette

navigation: 1.14.9-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

navigation: 1.14.9-1 in 'kinetic/distribution.yaml' [bloom] (#27897)
  kinetic/distribution.yaml
Owners: @tfoote

plotjuggler: 3.0.7-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 3.0.7-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

plotjuggler: 3.0.7-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

plotjuggler: 3.0.7-1 in 'foxy/distribution.yaml' [bloom] (#27900)
  foxy/distribution.yaml
Owners: @jacobperron

autoware_auto_msgs: 1.0.0-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

autoware_auto_msgs: 1.0.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

autoware_auto_msgs: 1.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

Update distribution.yaml
  foxy/distribution.yaml
Owners: @jacobperron

rclpy: 1.0.5-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

Update distribution.yaml (#27904)
  foxy/distribution.yaml
Owners: @jacobperron

rclpy: 1.0.5-1 in 'foxy/distribution.yaml' [bloom] (#27905)
  foxy/distribution.yaml
Owners: @jacobperron

Add cmake_common_scripts repo
  noetic/distribution.yaml
Owners: @sloretz

Update distribution.yaml
  noetic/distribution.yaml
Owners: @sloretz

Adding new repository for indexing: acado
  noetic/distribution.yaml
Owners: @sloretz

grid_map: 1.6.4-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

grid_map: 1.6.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

variant: 0.1.6-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

variant: 0.1.6-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Update distribution.yaml
  foxy/distribution.yaml
Owners: @jacobperron

ros2_control: 0.1.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

ros2_controllers: 0.1.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

rosbag2: 0.3.6-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

ros2_control: 0.1.2-1 in 'foxy/distribution.yaml' [bloom] (#27913)
  foxy/distribution.yaml
Owners: @jacobperron

ros2_controllers: 0.1.1-1 in 'foxy/distribution.yaml' [bloom] (#27914)
  foxy/distribution.yaml
Owners: @jacobperron
