Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

Add PyBullet
  rosdep/python.yaml
Owners: @ros/rosdeputies

Update distribution.yaml
  foxy/distribution.yaml
Owners: @jacobperron

teleop_twist_joy: 2.4.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

teleop_twist_joy: 2.4.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

[rosdep] Adding llvm-7 and llvm-7-dev keys. (#27460)
  rosdep/base.yaml
Owners: @ros/rosdeputies

tvm_vendor: 0.7.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

fkie_multimaster: 1.2.5-2 in 'noetic/distribution.yaml' (#27515)
  noetic/distribution.yaml
Owners: @sloretz

realsense2_camera: 2.2.20-1 in 'noetic/distribution.yaml' [bloom] (#27503)
  noetic/distribution.yaml
Owners: @sloretz

rosbridge_suite noetic 0.11.12 (#27512)
  noetic/distribution.yaml
Owners: @sloretz

volta_simulation: 1.0.0-3 in 'kinetic/distribution.yaml' [bloom] (#27513)
  kinetic/distribution.yaml
Owners: @tfoote

volta_simulation: 1.1.0-2 in 'melodic/distribution.yaml' [bloom] (#27514)
  melodic/distribution.yaml
Owners: @clalancette

cnpy: 0.0.2-1 in 'noetic/distribution.yaml' [bloom] (#27534)
  noetic/distribution.yaml
Owners: @sloretz

rc_common_msgs: 0.5.3-1 in 'noetic/distribution.yaml' [bloom] (#27455)
  noetic/distribution.yaml
Owners: @sloretz

mention to check package names (#27441)
  REVIEW_GUIDELINES.md
Owners: none

teleop_twist_joy: 2.4.1-1 in 'rolling/distribution.yaml' [bloom] (#27540)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

teleop_twist_joy: 2.4.1-1 in 'foxy/distribution.yaml' [bloom] (#27541)
  foxy/distribution.yaml
Owners: @jacobperron

Update distribution.yaml (#27539)
  foxy/distribution.yaml
Owners: @jacobperron

rt_usb_9axisimu_driver: 2.0.1-1 in 'foxy/distribution.yaml' [bloom] (#27535)
  foxy/distribution.yaml
Owners: @jacobperron

add python3-selenium key (#27358)
  rosdep/python.yaml
Owners: @ros/rosdeputies

Added new package 'stag_ros' to noetic (#27364)
  noetic/distribution.yaml
Owners: @sloretz

Add new key for gurumdds-2.7. (#27440)
  rosdep/base.yaml
Owners: @ros/rosdeputies

Added doc + source + status
  noetic/distribution.yaml
Owners: @sloretz

Added omron_os32c_driver
  noetic/distribution.yaml
Owners: @sloretz

add python3-qrcode (#27528)
  rosdep/python.yaml
Owners: @ros/rosdeputies

add python3-zmq (#27527)
  rosdep/python.yaml
Owners: @ros/rosdeputies

keep old ubuntu python-pymongo rules
  rosdep/python.yaml
Owners: @ros/rosdeputies

tvm_vendor: 0.7.1-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

Feature/python3 bs4 (#27498)
  rosdep/python.yaml
Owners: @ros/rosdeputies

odva_ethernetip Noetic release (#27500)
  noetic/distribution.yaml
Owners: @sloretz

tvm_vendor: 0.7.1-1 in 'melodic/distribution.yaml' [bloom] (#27542)
  melodic/distribution.yaml
Owners: @clalancette

Added omron_os32c_driver (#27543)
  noetic/distribution.yaml
Owners: @sloretz

Bumped version for stag_ros
  noetic/distribution.yaml
Owners: @sloretz

master -> main
  noetic/distribution.yaml
Owners: @sloretz

master -> main
  melodic/distribution.yaml
Owners: @clalancette

use python2 pycodestyle for python-pycodestyle rosdep key
  rosdep/python.yaml
Owners: @ros/rosdeputies

Add python3-pymongo key (#27356)
  rosdep/python.yaml
Owners: @ros/rosdeputies

Add rosdep key for python3 thriftpy including pip rule
  rosdep/python.yaml
Owners: @ros/rosdeputies

add fedora package
  rosdep/python.yaml
Owners: @ros/rosdeputies

add python-xmlplain-pip package
  rosdep/python.yaml
Owners: @ros/rosdeputies

cob_command_tools: 0.6.19-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies
