Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @tfoote, @clalancette, @ros/rosdeputies

Revert "kinesis_manager: 2.0.0-0 in 'kinetic/distribution.yaml' [bloom] (#20613)" (#20690)
  kinetic/distribution.yaml
Owners: @tfoote

novatel_gps_driver: 3.7.0-0 in 'indigo/distribution.yaml' [bloom] (#20663)
  indigo/distribution.yaml
Owners: @tfoote

py_trees_ros: 0.5.18-0 in 'melodic/distribution.yaml' [bloom] (#20667)
  melodic/distribution.yaml
Owners: @clalancette

ros_type_introspection: 1.3.1-0 in 'lunar/distribution.yaml' [bloom] (#20679)
  lunar/distribution.yaml
Owners: @clalancette

plotjuggler: 2.1.8-0 in 'lunar/distribution.yaml' [bloom] (#20680)
  lunar/distribution.yaml
Owners: @clalancette

robosense: 1.0.2-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

ros_type_introspection: 1.3.1-0 in 'melodic/distribution.yaml' [bloom] (#20681)
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 2.1.8-0 in 'melodic/distribution.yaml' [bloom] (#20682)
  melodic/distribution.yaml
Owners: @clalancette

usb_cam_hardware: 0.0.4-0 in 'melodic/distribution.yaml' [bloom] (#20686)
  melodic/distribution.yaml
Owners: @clalancette

Modernized libflann ubuntu rule (#20643)
  rosdep/base.yaml
Owners: @ros/rosdeputies

robosense: 1.0.2-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

simplify libxml++2.6 rule
  rosdep/base.yaml
Owners: @ros/rosdeputies

robosense: 1.0.2-0 in 'melodic/distribution.yaml' [bloom] (#20692)
  melodic/distribution.yaml
Owners: @clalancette

Update crystal/distribution.yaml for image_common (#20687)
  crystal/distribution.yaml
Owners: @nuclearsandwich

[Testing PRs] for fetch maintained repos
  melodic/distribution.yaml
Owners: @clalancette

Normalize python-evdev ubuntu package
  rosdep/python.yaml
Owners: @ros/rosdeputies

cloudwatch_metrics_collector: 2.0.0-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

health_metric_collector: 2.0.0-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

h264_video_encoder: 1.1.1-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

ridgeback: 0.2.2-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

py_trees: 1.1.0-0 in 'crystal/distribution.yaml' [bloom] (#20675)
  crystal/distribution.yaml
Owners: @nuclearsandwich

py_trees_ros_interfaces: 1.1.0-0 in 'crystal/distribution.yaml' [bloom] (#20676)
  crystal/distribution.yaml
Owners: @nuclearsandwich

kinesis_video_streamer: 2.0.0-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

lex_node: 2.0.0-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

husky: 0.3.2-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

Revert "Reverting aws_common since the coordinatred releases were not building (#20685)"
  kinetic/distribution.yaml
Owners: @tfoote

Revert "revert aws_ros1_common to match other roll backs (#20688)"
  kinetic/distribution.yaml
Owners: @tfoote

Revert "Revert "kinesis_manager: 2.0.0-0 in 'kinetic/distribution.yaml' [bloom] (#20613)" (#20690)"
  kinetic/distribution.yaml
Owners: @tfoote

Revert "Revert h264_encoder_core (#20689)"
  kinetic/distribution.yaml
Owners: @tfoote

Revert "revert cloudwatch_logger kinetic (#20691)"
  kinetic/distribution.yaml
Owners: @tfoote

plotjuggler: 2.1.9-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 2.1.9-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

plotjuggler: 2.1.9-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

ddynamic_reconfigure: 0.2.0-0 in 'kinetic/distribution.yaml' [bloom] (#20651)
  kinetic/distribution.yaml
Owners: @tfoote

rosbag_pandas: 0.5.3-0 in 'kinetic/distribution.yaml' [bloom] (#20652)
  kinetic/distribution.yaml
Owners: @tfoote

ml_classifiers: 0.4.1-0 in 'kinetic/distribution.yaml' [bloom] (#20655)
  kinetic/distribution.yaml
Owners: @tfoote

novatel_gps_driver: 3.7.0-0 in 'kinetic/distribution.yaml' [bloom] (#20664)
  kinetic/distribution.yaml
Owners: @tfoote

py_trees_ros: 0.5.18-0 in 'kinetic/distribution.yaml' [bloom] (#20669)
  kinetic/distribution.yaml
Owners: @tfoote

codec_image_transport: 0.0.1-0 in 'kinetic/distribution.yaml' [bloom] (#20674)
  kinetic/distribution.yaml
Owners: @tfoote

ros_type_introspection: 1.3.1-0 in 'kinetic/distribution.yaml' [bloom] (#20678)
  kinetic/distribution.yaml
Owners: @tfoote

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
rosdep/* @ros/rosdeputies
