Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

Keep .git suffix on URL
  foxy/distribution.yaml
Owners: @jacobperron

ros2_control: 0.1.1-1 in 'foxy/distribution.yaml' [bloom] (#27873)
  foxy/distribution.yaml
Owners: @jacobperron

embree_vendor: 0.0.5-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

embree_vendor: 0.0.5-1 in 'foxy/distribution.yaml' [bloom] (#27882)
  foxy/distribution.yaml
Owners: @jacobperron

Add CentOS/RHEL 8 for bullet
  rosdep/base.yaml
Owners: @ros/rosdeputies

make rule generic to all supported rhel
  rosdep/base.yaml
Owners: @ros/rosdeputies

Add CentOS/RHEL 8 for bullet (#27883)
  rosdep/base.yaml
Owners: @ros/rosdeputies

mavlink: 2021.1.4-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

mavlink: 2021.1.4-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

mavlink: 2021.1.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

mavlink: 2021.1.4-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

ament_cmake: 1.0.3-1 in 'rolling/distribution.yaml' [bloom] (#27734)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

novatel_oem7_driver: 2.0.0-1 in noetic/distribution.yaml (#27827)
  noetic/distribution.yaml
Owners: @sloretz

plotjuggler: 3.0.6-1 in 'noetic/distribution.yaml' [bloom] (#27839)
  noetic/distribution.yaml
Owners: @sloretz

moveit_python: 0.3.5-1 in 'kinetic/distribution.yaml' [bloom] (#27844)
  kinetic/distribution.yaml
Owners: @tfoote

moveit_python: 0.3.5-1 in 'melodic/distribution.yaml' [bloom] (#27845)
  melodic/distribution.yaml
Owners: @clalancette

moveit_python: 0.3.6-1 in 'noetic/distribution.yaml' [bloom] (#27846)
  noetic/distribution.yaml
Owners: @sloretz

arbotix: 0.11.0-1 in 'noetic/distribution.yaml' [bloom] (#27859)
  noetic/distribution.yaml
Owners: @sloretz

ros2_planning_system: 1.0.6-1 in 'foxy/distribution.yaml' [bloom] (#27856)
  foxy/distribution.yaml
Owners: @jacobperron

mavros: 1.5.1-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

librealsense2: 2.41.0-1 in 'melodic/distribution.yaml' [bloom] (#27864)
  melodic/distribution.yaml
Owners: @clalancette

realsense2_camera: 2.2.21-1 in 'melodic/distribution.yaml' [bloom] (#27867)
  melodic/distribution.yaml
Owners: @clalancette

heifu: 0.7.7-2 in 'melodic/distribution.yaml' [bloom] (#27869)
  melodic/distribution.yaml
Owners: @clalancette

mqtt_bridge: 0.1.8-4 in 'melodic/distribution.yaml' [bloom] (#27870)
  melodic/distribution.yaml
Owners: @clalancette

mesh_navigation: 1.0.0-3 in 'melodic/distribution.yaml' [bloom] (#27875)
  melodic/distribution.yaml
Owners: @clalancette

mavlink: 2021.1.4-1 in 'melodic/distribution.yaml' [bloom] (#27885)
  melodic/distribution.yaml
Owners: @clalancette

librealsense2: 2.41.0-1 in 'kinetic/distribution.yaml' [bloom] (#27863)
  kinetic/distribution.yaml
Owners: @tfoote

realsense2_camera: 2.2.21-1 in 'kinetic/distribution.yaml' [bloom] (#27866)
  kinetic/distribution.yaml
Owners: @tfoote

mavlink: 2021.1.4-1 in 'kinetic/distribution.yaml' [bloom] (#27884)
  kinetic/distribution.yaml
Owners: @tfoote

mavros: 1.5.1-1 in 'kinetic/distribution.yaml' [bloom] (#27888)
  kinetic/distribution.yaml
Owners: @tfoote

mavlink: 2021.1.4-1 in 'foxy/distribution.yaml' [bloom] (#27887)
  foxy/distribution.yaml
Owners: @jacobperron

mavlink: 2021.1.4-1 in 'noetic/distribution.yaml' [bloom] (#27886)
  noetic/distribution.yaml
Owners: @sloretz

mesh_navigation: 1.0.0-2 in 'noetic/distribution.yaml' [bloom] (#27876)
  noetic/distribution.yaml
Owners: @sloretz

realsense2_camera: 2.2.21-1 in 'noetic/distribution.yaml' [bloom] (#27868)
  noetic/distribution.yaml
Owners: @sloretz

librealsense2: 2.41.0-1 in 'noetic/distribution.yaml' [bloom] (#27865)
  noetic/distribution.yaml
Owners: @sloretz

rosfmt: 7.0.0-1 in 'noetic/distribution.yaml' [bloom] (#27880)
  noetic/distribution.yaml
Owners: @sloretz

Test All The Repos (that I maintain) (#27874)
  kinetic/distribution.yaml
  melodic/distribution.yaml
  noetic/distribution.yaml
Owners: @tfoote, @clalancette, @sloretz

mavros: 1.5.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

mavros: 1.5.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

Update base.yaml
  rosdep/base.yaml
Owners: @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies
