Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @tfoote, @clalancette, @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
rosdep/* @ros/rosdeputies

ffmpeg is back since wily! (#20474)
  rosdep/base.yaml
Owners: @ros/rosdeputies

mavros: 0.29.2-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

eml: 1.8.15-1 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

eml: 1.8.15-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

[dep] Add imgaug-pip.
  rosdep/python.yaml
Owners: @ros/rosdeputies

Added python-imageio
  rosdep/python.yaml
Owners: @ros/rosdeputies

movie_publisher: 1.2.2-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

movie_publisher: 1.1.2-1 in 'indigo/distribution.yaml' [bloom]
  indigo/distribution.yaml
Owners: @tfoote

linux_networking: 1.0.13-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

calibration: 0.10.14-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 2.1.6-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Add industrial_robot_status_controller doc entry.
  kinetic/distribution.yaml
Owners: @tfoote

industrial_robot_status_controller: add devel job.
  kinetic/distribution.yaml
Owners: @tfoote

Update python.yaml
  rosdep/python.yaml
Owners: @ros/rosdeputies

tf_remapper_cpp: 1.1.1-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 2.1.6-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

Adding teleop_keyboard_omni3 to documentation index for melodic
  melodic/distribution.yaml
Owners: @clalancette

Adding teleop_keyboard_omni3 to documentation index for lunar
  lunar/distribution.yaml
Owners: @clalancette

Adding teleop_keyboard_omni3 to documentation index for indigo
  indigo/distribution.yaml
Owners: @tfoote

Adding teleop_keyboard_omni3 to documentation index for lunar
  lunar/distribution.yaml
Owners: @clalancette

Add python-persist-queue-pip
  rosdep/python.yaml
Owners: @ros/rosdeputies

[dep] Add imgaug-pip. (#20491)
  rosdep/python.yaml
Owners: @ros/rosdeputies

Add python-persist-queue-pip (#20505)
  rosdep/python.yaml
Owners: @ros/rosdeputies

jskeus: 1.2.1-1 in 'melodic/distribution.yaml' [bloom] (#20485)
  melodic/distribution.yaml
Owners: @clalancette

add log4cplus for ubuntu
  rosdep/base.yaml
Owners: @ros/rosdeputies

imageio
  rosdep/python.yaml
Owners: @ros/rosdeputies

plotjuggler: 2.1.6-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

Adding new repository for indexing: my_package
  jade/distribution.yaml
Owners: none

Update distribution.yaml
  jade/distribution.yaml
Owners: none

system_modes: 0.1.1-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

system_modes: 0.1.1-0 in 'crystal/distribution.yaml' [bloom] (#20508)
  crystal/distribution.yaml
Owners: @nuclearsandwich

velodyne_simulator: 1.0.9-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

Add keys for additional platforms.
  rosdep/base.yaml
Owners: @ros/rosdeputies

velodyne_simulator: 1.0.9-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

acado: 1.2.2-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

eml: 1.8.15-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

eml: 1.8.15-2 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

velodyne_simulator: 1.0.9-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Simplify libbullet-dev with wildcard syntax
  rosdep/base.yaml
Owners: @ros/rosdeputies

mavros: 0.29.2-0 in 'kinetic/distribution.yaml' [bloom] (#20486)
  kinetic/distribution.yaml
Owners: @tfoote
