Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @tfoote, @clalancette, @ros/rosdeputies

control_msgs: 2.1.0-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

plotjuggler: 2.0.4-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 2.0.4-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

added homer_tts
  kinetic/distribution.yaml
Owners: @tfoote

Adding new repository for indexing: indoor_localization
  kinetic/distribution.yaml
Owners: @tfoote

plotjuggler: 2.0.4-0 in 'melodic/distribution.yaml' [bloom] (#20101)
  melodic/distribution.yaml
Owners: @clalancette

yujin_ocs: 0.8.2-0 in 'melodic/distribution.yaml' [bloom] (#20009)
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 2.0.4-0 in 'kinetic/distribution.yaml' [bloom] (#20102)
  kinetic/distribution.yaml
Owners: @tfoote

added homer_tts (#20103)
  kinetic/distribution.yaml
Owners: @tfoote

plotjuggler: 2.0.4-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

rosdep: added libstdc++6
  rosdep/base.yaml
Owners: @ros/rosdeputies

earth_rover_localization: 1.0.0-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

hebi_cpp_api_ros: 2.0.2-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

hebi_cpp_api_ros: 2.0.2-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

earth_rover_localization: 1.0.0-1 in 'kinetic/distribution.yaml' [bloom] (#20107)
  kinetic/distribution.yaml
Owners: @tfoote

plotjuggler: 2.0.4-0 in 'lunar/distribution.yaml' [bloom] (#20105)
  lunar/distribution.yaml
Owners: @clalancette

Adding new repository for indexing: indoor_localization
  kinetic/distribution.yaml
Owners: @tfoote

Update distribution.yaml
  kinetic/distribution.yaml
Owners: @tfoote

Adding doc and source to documentation index for distro
  kinetic/distribution.yaml
Owners: @tfoote

web_video_server: 0.2.0-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

Update distribution.yaml
  kinetic/distribution.yaml
Owners: @tfoote

web_video_server: 0.2.0-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

eigenpy: 1.5.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

eigenpy: 1.5.0-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

Update kinetic/distribution.yaml
  kinetic/distribution.yaml
Owners: @tfoote

Update melodic/distribution.yaml
  melodic/distribution.yaml
Owners: @clalancette

imu_pipeline: 0.2.3-0 in 'indigo/distribution.yaml' [bloom]
  indigo/distribution.yaml
Owners: @tfoote

imu_pipeline: 0.2.3-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

imu_pipeline: 0.2.3-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

imu_pipeline: 0.2.3-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

tinydir_vendor: 1.0.1-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

tinydir_vendor: 1.0.1-0 in 'crystal/distribution.yaml' [bloom] (#20120)
  crystal/distribution.yaml
Owners: @nuclearsandwich

libstdc++ fix for fedora
  rosdep/base.yaml
Owners: @ros/rosdeputies

frame_editor: 1.0.4-0 for kinetic
  kinetic/distribution.yaml
Owners: @tfoote

heron_desktop: 0.0.3-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

control_toolbox: 1.17.0-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

sick_scan: 0.0.14-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

sick_scan: 0.0.14-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

control_toolbox: 1.17.0-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

sick_scan: 0.0.14-0 in 'indigo/distribution.yaml' [bloom]
  indigo/distribution.yaml
Owners: @tfoote

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
rosdep/* @ros/rosdeputies
