Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies

vrpn_client_ros: 0.2.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

plotjuggler_ros: 1.0.1-4 in 'foxy/distribution.yaml' [bloom] (#27803)
  foxy/distribution.yaml
Owners: @jacobperron

mesh_tools: 1.0.1-1 in 'noetic/distribution.yaml' [bloom] (#27802)
  noetic/distribution.yaml
Owners: @sloretz

leo_simulator: 0.2.0-1 in 'noetic/distribution.yaml' [bloom] (#27812)
  noetic/distribution.yaml
Owners: @sloretz

leo_desktop: 0.2.3-1 in 'noetic/distribution.yaml' [bloom] (#27808)
  noetic/distribution.yaml
Owners: @sloretz

Add doc and source
  noetic/distribution.yaml
Owners: @sloretz

Fixup distro
  noetic/distribution.yaml
Owners: @sloretz

novatel_oem7_driver: 2.0.0-1 in 'kinetic/distribution.yaml'
  kinetic/distribution.yaml
Owners: @tfoote

vrpn: 7.34.0-1 in 'noetic/distribution.yaml' [bloom] (#27813)
  noetic/distribution.yaml
Owners: @sloretz

novatel_oem7_driver: 2.0.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

novatel_oem7_driver: 1.1.0-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

Fix laser_geometry source branch in Noetic
  noetic/distribution.yaml
Owners: @sloretz

Add RHEL rule for python3-cairo (#27800)
  rosdep/python.yaml
Owners: @ros/rosdeputies

leo_common: 1.2.1-1 in 'noetic/distribution.yaml' [bloom] (#27811)
  noetic/distribution.yaml
Owners: @sloretz

novatel_oem7_driver: 1.1.0-2 in 'noetic/distribution.yaml' [bloom] (#27817)
  noetic/distribution.yaml
Owners: @sloretz

Add rosdep rules for python3-websockets package
  rosdep/python.yaml
Owners: @ros/rosdeputies

mesh_navigation: 1.0.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

Fix typo in CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

ergodic_exploration: 1.0.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

Fix typo in CONTRIBUTING.md (#27821)
  CONTRIBUTING.md
Owners: none

mesh_navigation: 1.0.0-2 in 'melodic/distribution.yaml' [bloom] (#27801)
  melodic/distribution.yaml
Owners: @clalancette

leo_robot: 1.1.3-1 in 'melodic/distribution.yaml' [bloom] (#27806)
  melodic/distribution.yaml
Owners: @clalancette

leo_desktop: 0.2.3-1 in 'melodic/distribution.yaml' [bloom] (#27807)
  melodic/distribution.yaml
Owners: @clalancette

leo_common: 1.2.1-1 in 'melodic/distribution.yaml' [bloom] (#27809)
  melodic/distribution.yaml
Owners: @clalancette

leo_simulator: 0.2.0-1 in 'melodic/distribution.yaml' [bloom] (#27810)
  melodic/distribution.yaml
Owners: @clalancette

novatel_oem7_driver: 2.0.0-1 in 'melodic/distribution.yaml' [bloom] (#27816)
  melodic/distribution.yaml
Owners: @clalancette

mesh_navigation: 1.0.0-1 in 'noetic/distribution.yaml' [bloom] (#27820)
  noetic/distribution.yaml
Owners: @sloretz

Fix laser_geometry source branch in Noetic (#27818)
  noetic/distribution.yaml
Owners: @sloretz

cob_manipulation: 0.7.5-1 in 'noetic/distribution.yaml' [bloom] (#27682)
  noetic/distribution.yaml
Owners: @sloretz

release librealsense2 version 2.40.0 for eloquent
  eloquent/distribution.yaml
Owners: @mjcarroll

release realsense2_camera version 3.1.2 for eloquent
  eloquent/distribution.yaml
Owners: @mjcarroll

fixed specifying released packages
  eloquent/distribution.yaml
Owners: @mjcarroll

fixed specifying released packages. Take 2.
  eloquent/distribution.yaml
Owners: @mjcarroll

fixed order of specifying released packages.
  eloquent/distribution.yaml
Owners: @mjcarroll

Mark Eloquent as End-of-Life
  index-v4.yaml
Owners: none

Mark Eloquent as End-of-Life (#27825)
  index-v4.yaml
Owners: none

gazebo_ros_control_select_joints: 2.5.7-1 in 'noetic/distribution.yaml' [bloom] (#27798)
  noetic/distribution.yaml
Owners: @sloretz

Update the axis_camera release for Melodic and Kinetic to 0.3.1-1. (Ammend to force re-check) (#27799)
  kinetic/distribution.yaml
  melodic/distribution.yaml
Owners: @tfoote, @clalancette

novatel_oem7_driver: 2.0.0-1 in 'kinetic/distribution.yaml' (#27815)
  kinetic/distribution.yaml
Owners: @tfoote

novatel_oem7_driver: 2.0.0-1 in noetic/distribution.yaml
  noetic/distribution.yaml
Owners: @sloretz
