Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

Add python_systemd
  rosdep/python.yaml
Owners: @ros/rosdeputies

bota_driver: 0.5.4-1 in 'melodic/distribution.yaml' [bloom] (#27204)
  melodic/distribution.yaml
Owners: @clalancette

bota_driver: 0.5.4-1 in 'kinetic/distribution.yaml' [bloom] (#27205)
  kinetic/distribution.yaml
Owners: @tfoote

bota_driver: 0.5.4-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

sdformat_urdf: 0.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

ros_comm: 1.12.16-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

bota_driver: 0.5.5-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

ros_comm: 1.12.17-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

jackal_simulator: 0.4.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

rclpy: 1.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

ros2cli: 0.10.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

robot_calibration: 0.6.4-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

rclcpp: 5.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

geometry2: 0.15.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

robot_calibration: 0.6.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

navigation_msgs: 1.14.1-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

navigation_msgs: 1.14.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

navigation_msgs: 1.14.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

geometry2: 0.15.0-1 in 'rolling/distribution.yaml' [bloom] (#27217)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rclcpp: 5.1.0-1 in 'rolling/distribution.yaml' [bloom] (#27216)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

sdformat_urdf: 0.1.0-1 in 'rolling/distribution.yaml' [bloom] (#27208)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rclpy: 1.3.0-1 in 'rolling/distribution.yaml' [bloom] (#27213)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

ros2cli: 0.10.0-1 in 'rolling/distribution.yaml' [bloom] (#27214)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

Adding doosan-robot2 to documentation index for distro (#27192)
  foxy/distribution.yaml
Owners: @jacobperron

bota_driver: 0.5.5-1 in 'melodic/distribution.yaml' [bloom] (#27210)
  melodic/distribution.yaml
Owners: @clalancette

jackal_simulator: 0.4.0-1 in 'melodic/distribution.yaml' [bloom] (#27212)
  melodic/distribution.yaml
Owners: @clalancette

robot_calibration: 0.6.4-1 in 'melodic/distribution.yaml' [bloom] (#27215)
  melodic/distribution.yaml
Owners: @clalancette

navigation_msgs: 1.14.1-1 in 'melodic/distribution.yaml' [bloom] (#27220)
  melodic/distribution.yaml
Owners: @clalancette

bota_driver: 0.5.4-2 in 'noetic/distribution.yaml' [bloom] (#27207)
  noetic/distribution.yaml
Owners: @sloretz

robot_calibration: 0.6.4-1 in 'noetic/distribution.yaml' [bloom] (#27218)
  noetic/distribution.yaml
Owners: @sloretz

navigation_msgs: 1.14.1-1 in 'noetic/distribution.yaml' [bloom] (#27221)
  noetic/distribution.yaml
Owners: @sloretz

ros_comm: 1.12.17-1 in 'kinetic/distribution.yaml' [bloom] (#27211)
  kinetic/distribution.yaml
Owners: @tfoote

navigation_msgs: 1.14.1-1 in 'kinetic/distribution.yaml' [bloom] (#27219)
  kinetic/distribution.yaml
Owners: @tfoote

doosan-robot2: 0.1.1-4 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

doosan-robot2: 0.1.1-4 in 'foxy/distribution.yaml' [bloom] (#27222)
  foxy/distribution.yaml
Owners: @jacobperron

rcl: 1.1.9-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

bota_driver: 0.5.5-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

toposens: 2.1.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Add toposens to noetic/distribution.yaml.
  noetic/distribution.yaml
Owners: @sloretz

Add pypthon3-six to rosdep
  rosdep/python.yaml
Owners: @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies
