Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @tfoote, @clalancette, @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
rosdep/* @ros/rosdeputies

Fix order of rdl packages to be alphabetical
  kinetic/distribution.yaml
Owners: @tfoote

ros1_bridge: 0.6.2-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

ros1_bridge: 0.6.2-0 in 'crystal/distribution.yaml' [bloom] (#20546)
  crystal/distribution.yaml
Owners: @nuclearsandwich

catkin: 0.7.16-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

rosmon: 2.0.1-0 in 'melodic/distribution.yaml' [bloom] (#20542)
  melodic/distribution.yaml
Owners: @clalancette

uuv_simulator: 0.6.10-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

uuv_simulator: 0.6.10-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

sros2: 0.6.3-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

sros2: 0.6.3-0 in 'crystal/distribution.yaml' [bloom] (#20550)
  crystal/distribution.yaml
Owners: @nuclearsandwich

rosmon: 2.0.2-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

rdl: 1.1.0-0 in 'kinetic/distribution.yaml' (#20539)
  kinetic/distribution.yaml
Owners: @tfoote

pr2_ethercat_drivers: 1.8.18-0 in 'melodic/distribution.yaml' [bloom] (#20541)
  melodic/distribution.yaml
Owners: @clalancette

movie_publisher: 1.3.0-1 in 'melodic/distribution.yaml' [bloom] (#20529)
  melodic/distribution.yaml
Owners: @clalancette

behaviotree_cpp_v3: 3.0.3-0 in 'kinetic/distribution.yaml' [bloom] (#20543)
  kinetic/distribution.yaml
Owners: @tfoote

behaviotree_cpp_v3: 3.0.3-0 in 'melodic/distribution.yaml' [bloom] (#20545)
  melodic/distribution.yaml
Owners: @clalancette

uuv_simulator: 0.6.10-0 in 'melodic/distribution.yaml' [bloom] (#20549)
  melodic/distribution.yaml
Owners: @clalancette

rosmon: 2.0.2-0 in 'melodic/distribution.yaml' [bloom] (#20551)
  melodic/distribution.yaml
Owners: @clalancette

navigation2: 0.1.6-2 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

ouster-release: 0.1.5-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

ouster-release: 0.1.5-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

ouster-release: 0.1.6-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

ouster-release: 0.1.6-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

pilz_industrial_motion: 0.4.2-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

pilz_industrial_motion: 0.4.2-0 in 'melodic/distribution.yaml' [bloom] (#20557)
  melodic/distribution.yaml
Owners: @clalancette

navigation2: 0.1.6-2 in 'crystal/distribution.yaml' [bloom] (#20552)
  crystal/distribution.yaml
Owners: @nuclearsandwich

rename ouster-release to ouster
  kinetic/distribution.yaml
Owners: @tfoote

rename ouster-release to ouster, fix branch name
  melodic/distribution.yaml
Owners: @clalancette

behaviotree_cpp_v3: 3.0.4-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

behaviotree_cpp_v3: 3.0.4-0 in 'crystal/distribution.yaml' [bloom] (#20558)
  crystal/distribution.yaml
Owners: @nuclearsandwich

navigation2: 0.1.7-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

navigation2: 0.1.7-0 in 'crystal/distribution.yaml' [bloom] (#20559)
  crystal/distribution.yaml
Owners: @nuclearsandwich

ouster: 0.1.6-0 in 'kinetic/distribution.yaml' [bloom] (#20555)
  kinetic/distribution.yaml
Owners: @tfoote

ouster: 0.1.6-0 in 'melodic/distribution.yaml' [bloom] (#20556)
  melodic/distribution.yaml
Owners: @clalancette

add rule for python3-lxml for mac os
  rosdep/python.yaml
Owners: @ros/rosdeputies

photo: 1.0.2-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

photo: 1.0.2-0 in 'melodic/distribution.yaml' [bloom] (#20561)
  melodic/distribution.yaml
Owners: @clalancette

Add kobuki and kobuki_desktop repos to melodic index
  melodic/distribution.yaml
Owners: @clalancette

Add kobuki and kobuki_desktop repos to melodic index (#20562)
  melodic/distribution.yaml
Owners: @clalancette

Note issue with nose-unittest
  CONTRIBUTING.md
Owners: none

gazebo_ros_pkgs: 3.2.0-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich
