Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @tfoote, @clalancette, @ros/rosdeputies

examples: 0.6.3-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

ament_cmake: 0.6.1-0 in 'crystal/distribution.yaml' [bloom] (#20520)
  crystal/distribution.yaml
Owners: @nuclearsandwich

ament_lint: 0.6.4-0 in 'crystal/distribution.yaml' [bloom] (#20521)
  crystal/distribution.yaml
Owners: @nuclearsandwich

rcl_logging: 0.2.0-0 in 'crystal/distribution.yaml' [bloom] (#20522)
  crystal/distribution.yaml
Owners: @nuclearsandwich

rosidl_typesupport: 0.6.3-0 in 'crystal/distribution.yaml' [bloom] (#20523)
  crystal/distribution.yaml
Owners: @nuclearsandwich

rosidl_python: 0.6.3-0 in 'crystal/distribution.yaml' [bloom] (#20524)
  crystal/distribution.yaml
Owners: @nuclearsandwich

rcl_interfaces: 0.6.3-0 in 'crystal/distribution.yaml' [bloom] (#20525)
  crystal/distribution.yaml
Owners: @nuclearsandwich

rclpy: 0.6.3-1 in 'crystal/distribution.yaml' [bloom] (#20527)
  crystal/distribution.yaml
Owners: @nuclearsandwich

examples: 0.6.3-0 in 'crystal/distribution.yaml' [bloom] (#20528)
  crystal/distribution.yaml
Owners: @nuclearsandwich

movie_publisher: 1.3.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

tf_remapper_cpp: 1.1.1-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

tf_remapper_cpp: 1.1.1-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

tf_remapper_cpp: 1.1.1-0 in 'indigo/distribution.yaml' [bloom]
  indigo/distribution.yaml
Owners: @tfoote

pr2_navigation_apps: 1.0.2-1 in 'indigo/distribution.yaml' [bloom]
  indigo/distribution.yaml
Owners: @tfoote

rosbridge_suite: 0.10.2-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

rosbridge_suite: 0.10.2-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

acado: 1.2.2-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

tf_remapper_cpp: 1.1.1-0 in 'lunar/distribution.yaml' [bloom] (#20530)
  lunar/distribution.yaml
Owners: @clalancette

indoor_localization: 0.1.0-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

rosmon: 2.0.0-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Add source and doc entry to melodic.
  kinetic/distribution.yaml
  melodic/distribution.yaml
Owners: @tfoote, @clalancette

Version bump rdl to 1.1.0 and add rdl_msgs and rdl_ros_tools packages
  kinetic/distribution.yaml
Owners: @tfoote

moveit: 1.0.1-0 in 'melodic/distribution.yaml' [bloom] (#20516)
  melodic/distribution.yaml
Owners: @clalancette

pr2_self_test: 1.0.12-1 in 'kinetic/distribution.yaml' [bloom] (#20517)
  kinetic/distribution.yaml
Owners: @tfoote

rviz: 1.13.2-0 in 'melodic/distribution.yaml' [bloom] (#20518)
  melodic/distribution.yaml
Owners: @clalancette

rviz: 1.12.17-0 in 'kinetic/distribution.yaml' [bloom] (#20519)
  kinetic/distribution.yaml
Owners: @tfoote

pr2_navigation_apps: 1.0.2-1 in 'indigo/distribution.yaml' [bloom] (#20533)
  indigo/distribution.yaml
Owners: @tfoote

tf_remapper_cpp: 1.1.1-0 in 'kinetic/distribution.yaml' [bloom] (#20531)
  kinetic/distribution.yaml
Owners: @tfoote

tf_remapper_cpp: 1.1.1-0 in 'indigo/distribution.yaml' [bloom] (#20532)
  indigo/distribution.yaml
Owners: @tfoote

rosbridge_suite: 0.10.2-0 in 'kinetic/distribution.yaml' [bloom] (#20534)
  kinetic/distribution.yaml
Owners: @tfoote

rosbridge_suite: 0.10.2-0 in 'melodic/distribution.yaml' [bloom] (#20535)
  melodic/distribution.yaml
Owners: @clalancette

indoor_localization: 0.1.0-1 in 'kinetic/distribution.yaml' [bloom] (#20537)
  kinetic/distribution.yaml
Owners: @tfoote

acado: 1.2.2-0 in 'kinetic/distribution.yaml' [bloom] (#20536)
  kinetic/distribution.yaml
  melodic/distribution.yaml
Owners: @tfoote, @clalancette

rosmon: 2.0.0-0 in 'melodic/distribution.yaml' [bloom] (#20538)
  melodic/distribution.yaml
Owners: @clalancette

pr2_ethercat_drivers: 1.8.18-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

pr2_ethercat_drivers: 1.8.18-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

rosmon: 2.0.1-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

behaviotree_cpp_v3: 3.0.3-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

behaviotree_cpp_v3: 3.0.3-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

behaviotree_cpp_v3: 3.0.3-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
rosdep/* @ros/rosdeputies
