Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies

rqt_multiplot_plugin: 0.0.11-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

Update pathlib2 for ubuntu add fedora
  rosdep/python.yaml
Owners: @ros/rosdeputies

common_msgs: 1.13.1-1 in 'noetic/distribution.yaml' [bloom] (#27955)
  noetic/distribution.yaml
Owners: @sloretz

graceful_controller: 0.2.1-1 in 'noetic/distribution.yaml' [bloom] (#27954)
  noetic/distribution.yaml
Owners: @sloretz

graceful_controller: 0.2.1-1 in 'melodic/distribution.yaml' [bloom] (#27953)
  melodic/distribution.yaml
Owners: @clalancette

jderobot_drones: 1.3.6-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette
