Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @tfoote, @clalancette, @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
rosdep/* @ros/rosdeputies

ml_classifiers: 0.4.0-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Revert "moveit: 1.0.0-0 in 'melodic/distribution.yaml' [bloom] (#20372)"
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 2.1.5-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

industrial_core: 0.7.0-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

industrial_core: use Kinetic branches for Melodic
  melodic/distribution.yaml
Owners: @clalancette

spatio_temporal_voxel_layer: 1.2.1-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

plotjuggler: 2.1.5-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

linux_networking: 1.0.12-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

fetch_robots: 0.8.5-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

pilz_industrial_motion: 0.4.1-0 in melodic
  melodic/distribution.yaml
Owners: @clalancette

grid_map: 1.6.1-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

hpp-fcl: 1.0.1-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

hpp-fcl: 1.0.1-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

grid_map: 1.6.1-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

grid_map: 1.6.1-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

grid_map: 1.6.1-0 in 'indigo/distribution.yaml' [bloom]
  indigo/distribution.yaml
Owners: @tfoote

multimaster_fkie: 0.8.10-0 in 'melodic/distribution.yaml' [bloom] (#20379)
  melodic/distribution.yaml
Owners: @clalancette

multimaster_fkie: 0.8.10-0 in 'indigo/distribution.yaml' [bloom] (#20380)
  indigo/distribution.yaml
Owners: @tfoote

pilz_industrial_motion: 0.3.6-0 in 'kinetic/distribution.yaml' [bloom] (#20383)
  kinetic/distribution.yaml
Owners: @tfoote

plotjuggler: 2.1.5-0 in 'melodic/distribution.yaml' [bloom] (#20384)
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 2.1.5-0 in 'lunar/distribution.yaml' [bloom] (#20390)
  lunar/distribution.yaml
Owners: @clalancette

industrial_core: 0.7.0-0 in 'kinetic/distribution.yaml' [bloom] (#20392)
  kinetic/distribution.yaml
Owners: @tfoote

plotjuggler: 2.1.5-0 in 'kinetic/distribution.yaml' [bloom] (#20395)
  kinetic/distribution.yaml
Owners: @tfoote

grid_map: 1.6.1-0 in 'indigo/distribution.yaml' [bloom] (#20404)
  indigo/distribution.yaml
Owners: @tfoote

grid_map: 1.6.1-0 in 'kinetic/distribution.yaml' [bloom] (#20403)
  kinetic/distribution.yaml
Owners: @tfoote

grid_map: 1.6.1-0 in 'lunar/distribution.yaml' [bloom] (#20402)
  lunar/distribution.yaml
Owners: @clalancette

spatio_temporal_voxel_layer: 1.2.1-0 in 'kinetic/distribution.yaml' [bloom] (#20394)
  kinetic/distribution.yaml
Owners: @tfoote

uuv_simulator: 0.6.9-0 in 'kinetic/distribution.yaml' [bloom] (#20388)
  kinetic/distribution.yaml
Owners: @tfoote

Revert "moveit: 1.0.0-0 in 'melodic/distribution.yaml' [bloom] (#20372)" (#20391)
  melodic/distribution.yaml
Owners: @clalancette

industrial_core: use Kinetic branches for Melodic (#20393)
  melodic/distribution.yaml
Owners: @clalancette

grid_map: 1.6.1-0 in 'melodic/distribution.yaml' [bloom] (#20399)
  melodic/distribution.yaml
Owners: @clalancette

hpp-fcl: 1.0.1-0 in 'kinetic/distribution.yaml' [bloom] (#20400)
  kinetic/distribution.yaml
Owners: @tfoote

hpp-fcl: 1.0.1-0 in 'melodic/distribution.yaml' [bloom] (#20401)
  melodic/distribution.yaml
Owners: @clalancette

multimaster_fkie: 0.8.11-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

multimaster_fkie: 0.8.11-0 in 'kinetic/distribution.yaml' [bloom] (#20405)
  kinetic/distribution.yaml
Owners: @tfoote

Test Travis; do not merge
  melodic/distribution.yaml
Owners: @clalancette

rosbag2: 0.0.6-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

fetch_robots: 0.8.5-0 in 'melodic/distribution.yaml' [bloom] (#20397)
  melodic/distribution.yaml
Owners: @clalancette

linux_networking: 1.0.12-0 in 'kinetic/distribution.yaml' [bloom] (#20396)
  kinetic/distribution.yaml
Owners: @tfoote

ml_classifiers: 0.4.0-0 in 'kinetic/distribution.yaml' [bloom] (#20386)
  kinetic/distribution.yaml
Owners: @tfoote
