Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

remove extest package (#27316)
  melodic/distribution.yaml
Owners: @clalancette

robot_statemachine: 1.2.0-1 in 'melodic/distribution.yaml' [bloom] (#27242)
  melodic/distribution.yaml
Owners: @clalancette

core_perception: 1.14.9-2 in 'noetic/distribution.yaml' [bloom] (#27287)
  noetic/distribution.yaml
Owners: @sloretz

rqt_bag: 0.5.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

rqt_bag: 0.5.0-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

aws-robomaker-simulation-ros-pkgs: 1.1.1-2 in 'melodic/distribution.yaml' [bloom] (#27301)
  melodic/distribution.yaml
Owners: @clalancette

aws-robomaker-simulation-ros-pkgs: 1.1.1-1 in 'kinetic/distribution.yaml' [bloom] (#27307)
  kinetic/distribution.yaml
Owners: @tfoote

aws-robomaker-simulation-ros-pkgs: 1.2.1-1 in 'dashing/distribution.yaml' [bloom] (#27309)
  dashing/distribution.yaml
Owners: @nuclearsandwich

pal_statistics: 1.4.1-1 in 'melodic/distribution.yaml' [bloom] (#27291)
  melodic/distribution.yaml
Owners: @clalancette

Update New Package rules with must/should
  REVIEW_GUIDELINES.md
Owners: none

Update package guidance in both sections
  REVIEW_GUIDELINES.md
Owners: none

Update New Package rules with must/should (#27330)
  REVIEW_GUIDELINES.md
Owners: none

bagger: 0.1.3-4 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

ixblue_ins_stdbin_driver: 0.1.5-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

ixblue_ins_stdbin_driver: 0.1.5-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

ixblue_ins_stdbin_driver: 0.1.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

add python3-selenium-pip key
  rosdep/python.yaml
Owners: @ros/rosdeputies

Add rosdep key ruby-backports
  rosdep/ruby.yaml
Owners: @ros/rosdeputies

xacro: 2.0.4-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

xacro: 2.0.4-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

xacro: 2.0.4-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

Remove AUR package ruby-backports for key ruby-backports for arch
  rosdep/ruby.yaml
Owners: @ros/rosdeputies

lvr2: 20.11.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

fcl: 0.6.1-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

fcl: 0.6.1-2 in 'noetic/distribution.yaml' [bloom] (#27341)
  noetic/distribution.yaml
Owners: @sloretz

Revert "Resolve google-mock to libgmock-dev on Buster & Focal."
  rosdep/base.yaml
Owners: @ros/rosdeputies

Add libgmock-dev to rosdep/base.yaml
  rosdep/base.yaml
Owners: @ros/rosdeputies

Fix typo.
  rosdep/base.yaml
Owners: @ros/rosdeputies

dynamic-graph: 4.3.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

dynamic-graph: 4.3.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

dynamic-graph-python: 4.0.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

dynamic-graph-python: 4.0.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

rviz: 1.13.15-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

rcpputils: 2.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rqt_bag: 0.5.0-1 in 'kinetic/distribution.yaml' [bloom] (#27329)
  kinetic/distribution.yaml
Owners: @tfoote

rqt_bag: 0.5.0-1 in 'melodic/distribution.yaml' [bloom] (#27328)
  melodic/distribution.yaml
Owners: @clalancette

rviz: 1.14.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

rcpputils: 2.0.2-1 in 'rolling/distribution.yaml' [bloom] (#27347)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

xacro: 2.0.4-1 in 'foxy/distribution.yaml' [bloom] (#27339)
  foxy/distribution.yaml
Owners: @jacobperron

dataspeed_pds: 1.0.6-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies
