Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @tfoote, @clalancette, @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
rosdep/* @ros/rosdeputies

jsk_recognition: 1.2.9-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

jsk_recognition: 1.2.9-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Add qdarkstyle-pip rules
  rosdep/python.yaml
Owners: @ros/rosdeputies

py_trees_ros_interfaces: 0.5.0-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

py_trees_ros_interfaces: 1.0.0-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

moveit: 1.0.0-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

py_trees: 0.6.7-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

py_trees: 0.6.8-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

manually update url's for py_tree repo/branch changes
  melodic/distribution.yaml
Owners: @clalancette

odva_ethernetip: 0.1.4-0 in 'kinetic/distribution.yaml' [bloom] (#20359)
  kinetic/distribution.yaml
Owners: @tfoote

ros_ethercat_eml: 0.3.1-0 in 'kinetic/distribution.yaml' [bloom] (#20365)
  kinetic/distribution.yaml
Owners: @tfoote

jsk_recognition: 1.2.9-0 in 'kinetic/distribution.yaml' [bloom] (#20367)
  kinetic/distribution.yaml
Owners: @tfoote

Update distribution.yaml (#20362)
  kinetic/distribution.yaml
Owners: @tfoote

jsk_recognition: 1.2.9-0 in 'melodic/distribution.yaml' [bloom] (#20368)
  melodic/distribution.yaml
Owners: @clalancette

moveit: 1.0.0-0 in 'melodic/distribution.yaml' [bloom] (#20372)
  melodic/distribution.yaml
Owners: @clalancette

teleop_twist_keyboard: 2.2.0-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

teleop_twist_keyboard: 2.2.0-0 in 'crystal/distribution.yaml' [bloom] (#20375)
  crystal/distribution.yaml
Owners: @nuclearsandwich

Explicitly disable test_pull_requests so tags and commits are permissible.
  crystal/distribution.yaml
Owners: @nuclearsandwich

Pin Fast-CDR and Fast-RTPS.
  crystal/distribution.yaml
Owners: @nuclearsandwich

Update source and doc branches for Crystal.
  crystal/distribution.yaml
Owners: @nuclearsandwich

py_trees_ros_interfaces: 1.0.0-0 in 'crystal/distribution.yaml' [bloom] (#20371)
  crystal/distribution.yaml
Owners: @nuclearsandwich

melfa_robot: 0.0.4-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

aws_common: 2.0.0-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

py_trees: 0.5.12-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

[py_trees] update repo/branches
  kinetic/distribution.yaml
Owners: @tfoote

Add qdarkstyle-pip rules (#20369)
  rosdep/python.yaml
Owners: @ros/rosdeputies

py_trees: 0.6.8-0 in 'melodic/distribution.yaml' [bloom] (#20374)
  melodic/distribution.yaml
Owners: @clalancette

melfa_robot: 0.0.4-0 in 'kinetic/distribution.yaml' [bloom] (#20376)
  kinetic/distribution.yaml
Owners: @tfoote

py_trees: 0.5.12-0 in 'kinetic/distribution.yaml' [bloom] (#20378)
  kinetic/distribution.yaml
Owners: @tfoote

multimaster_fkie: 0.8.10-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

multimaster_fkie: 0.8.10-0 in 'indigo/distribution.yaml' [bloom]
  indigo/distribution.yaml
Owners: @tfoote

multimaster_fkie: 0.8.10-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

grid_map: 1.6.0-0 added to 'melodic/distribution.yaml'
  melodic/distribution.yaml
Owners: @clalancette

pilz_industrial_motion: 0.3.6-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

Add python-geocoder-pip (#20002)
  rosdep/python.yaml
Owners: @ros/rosdeputies

Revert "industrial_core: 0.7.0-0 in 'melodic/distribution.yaml' [bloom] (#20289)"
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 2.1.5-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

ml_classifiers: 0.4.0-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

ml_classifiers: 0.4.0-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

uuv_simulator: 0.6.9-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote
