Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

bota_driver: 0.5.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

rcl: 1.1.9-1 in 'foxy/distribution.yaml' [bloom] (#27223)
  foxy/distribution.yaml
Owners: @jacobperron

bota_driver: 0.5.5-1 in 'kinetic/distribution.yaml' [bloom] (#27224)
  kinetic/distribution.yaml
Owners: @tfoote

toposens: 2.1.0-1 in 'melodic/distribution.yaml' [bloom] (#27225)
  melodic/distribution.yaml
Owners: @clalancette

bota_driver: 0.5.5-1 in 'noetic/distribution.yaml' [bloom] (#27228)
  noetic/distribution.yaml
Owners: @sloretz

Add toposens to noetic/distribution.yaml. (#27226)
  noetic/distribution.yaml
Owners: @sloretz

bota_driver: 0.5.6-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

bota_driver: 0.5.6-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

bota_driver: 0.5.6-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

fadecandy_ros: 0.1.3-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

fadecandy_ros: 0.1.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

sros2: 0.10.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

autoware_msgs: 1.14.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

Update expected Debian sources.
  CONTRIBUTING.md
Owners: none

rmw_cyclonedds: 0.7.0-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

cyclonedds: 0.7.0-3 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

rmw_cyclonedds: 0.7.0-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

cyclonedds: 0.7.0-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

robot_statemachine: 1.1.3-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

robot_statemachine: 1.2.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Add 'conan' rosdep key to be resolved using pip
  rosdep/python.yaml
Owners: @ros/rosdeputies

launch: 0.13.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

bota_driver: 0.5.7-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

osqp_vendor: 0.0.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

bota_driver: 0.5.7-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

rostest_node_interface_validation: 0.2.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

rmw: 2.2.0-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

osqp_vendor: 0.0.2-1 in 'foxy/distribution.yaml' [bloom] (#27246)
  foxy/distribution.yaml
Owners: @jacobperron

Adding llvm and llvm-dev to rosdep.
  rosdep/base.yaml
Owners: @ros/rosdeputies

Update rosdep/python.yaml
  rosdep/python.yaml
Owners: @ros/rosdeputies

Fix order
  rosdep/python.yaml
Owners: @ros/rosdeputies

navigation2: 0.4.5-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

extest: 0.0.1-3 in 'melodic/distribution.yaml' [bloom] (#27203)
  melodic/distribution.yaml
Owners: @clalancette

rmw: 2.2.0-2 in 'rolling/distribution.yaml' [bloom] (#27249)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

launch: 0.13.0-1 in 'rolling/distribution.yaml' [bloom] (#27244)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

sros2: 0.10.0-1 in 'rolling/distribution.yaml' [bloom] (#27234)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rmw_cyclonedds: 0.7.0-1 in 'dashing/distribution.yaml' [bloom] (#27239)
  dashing/distribution.yaml
Owners: @nuclearsandwich

cyclonedds: 0.7.0-1 in 'dashing/distribution.yaml' [bloom] (#27240)
  dashing/distribution.yaml
Owners: @nuclearsandwich

toposens: 2.1.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

Follow Python PIP rosdep key naming rules
  rosdep/python.yaml
Owners: @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies
