Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @tfoote, @clalancette, @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
rosdep/* @ros/rosdeputies

cob_calibration_data: 0.6.10-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

gazebo_ros_pkgs: 3.2.0-0 in 'crystal/distribution.yaml' [bloom] (#20564)
  crystal/distribution.yaml
Owners: @nuclearsandwich

cob_common: 0.6.10-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

cob_control: 0.7.3-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

cob_common: 0.6.10-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

pr2_ethercat_drivers: 1.8.18-0 in 'lunar/distribution.yaml' [bloom] (#20540)
  lunar/distribution.yaml
Owners: @clalancette

behaviotree_cpp_v3: 3.0.3-0 in 'lunar/distribution.yaml' [bloom] (#20544)
  lunar/distribution.yaml
Owners: @clalancette

uuv_simulator: 0.6.10-0 in 'lunar/distribution.yaml' [bloom] (#20548)
  lunar/distribution.yaml
Owners: @clalancette

cob_calibration_data: 0.6.10-0 in 'kinetic/distribution.yaml' [bloom] (#20565)
  kinetic/distribution.yaml
Owners: @tfoote

cob_common: 0.6.10-0 in 'kinetic/distribution.yaml' [bloom] (#20566)
  kinetic/distribution.yaml
Owners: @tfoote

cob_control: 0.7.3-0 in 'kinetic/distribution.yaml' [bloom] (#20567)
  kinetic/distribution.yaml
Owners: @tfoote

cob_environments: 0.6.7-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

cob_driver: 0.6.13-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

cob_common: 0.6.10-0 in 'melodic/distribution.yaml' [bloom] (#20568)
  melodic/distribution.yaml
Owners: @clalancette

cob_perception_common: 0.6.13-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

cob_driver: 0.6.13-0 in 'kinetic/distribution.yaml' [bloom] (#20570)
  kinetic/distribution.yaml
Owners: @tfoote

cob_command_tools: 0.6.10-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

cob_environments: 0.6.7-0 in 'kinetic/distribution.yaml' [bloom] (#20569)
  kinetic/distribution.yaml
Owners: @tfoote

cob_perception_common: 0.6.13-0 in 'kinetic/distribution.yaml' [bloom] (#20571)
  kinetic/distribution.yaml
Owners: @tfoote

cob_supported_robots: 0.6.10-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

cob_robots: 0.6.10-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

care_o_bot: 0.6.7-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

p2os: 2.2.0-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

cob_command_tools: 0.6.10-0 in 'kinetic/distribution.yaml' [bloom] (#20572)
  kinetic/distribution.yaml
Owners: @tfoote

cob_supported_robots: 0.6.10-0 in 'kinetic/distribution.yaml' [bloom] (#20573)
  kinetic/distribution.yaml
Owners: @tfoote

cob_robots: 0.6.10-0 in 'kinetic/distribution.yaml' [bloom] (#20574)
  kinetic/distribution.yaml
Owners: @tfoote

care_o_bot: 0.6.7-0 in 'kinetic/distribution.yaml' [bloom] (#20575)
  kinetic/distribution.yaml
Owners: @tfoote

catkin: 0.7.16-0 in 'melodic/distribution.yaml' [bloom] (#20547)
  melodic/distribution.yaml
Owners: @clalancette

p2os: 2.2.0-0 in 'melodic/distribution.yaml' [bloom] (#20576)
  melodic/distribution.yaml
Owners: @clalancette

python_qt_binding: 0.3.5-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

python_qt_binding: 0.3.5-0 in 'melodic/distribution.yaml' [bloom] (#20577)
  melodic/distribution.yaml
Owners: @clalancette

rqt_plot: 0.4.9-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

rqt_plot: 0.4.9-0 in 'melodic/distribution.yaml' [bloom] (#20578)
  melodic/distribution.yaml
Owners: @clalancette

[deps] python3-pandas
  rosdep/python.yaml
Owners: @ros/rosdeputies

Added Lighttpd. A light web server
  rosdep/base.yaml
Owners: @ros/rosdeputies

Update python.yaml
  rosdep/python.yaml
Owners: @ros/rosdeputies

Note issue with nose-unittest (#20563)
  CONTRIBUTING.md
Owners: none

[deps] python3-pandas (#20579)
  rosdep/python.yaml
Owners: @ros/rosdeputies

Added lighttpd
  rosdep/base.yaml
Owners: @ros/rosdeputies

Added lighttpd (#20582)
  rosdep/base.yaml
Owners: @ros/rosdeputies
