Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @tfoote, @clalancette, @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
rosdep/* @ros/rosdeputies

ml_classifiers: 0.4.0-0 in 'lunar/distribution.yaml' [bloom] (#20387)
  lunar/distribution.yaml
Owners: @clalancette

ml_classifiers: 0.4.0-0 in 'melodic/distribution.yaml' [bloom] (#20389)
  melodic/distribution.yaml
Owners: @clalancette

hpp-fcl: 1.0.1-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

hpp-fcl: 1.0.1-1 in 'kinetic/distribution.yaml' [bloom] (#20409)
  kinetic/distribution.yaml
Owners: @tfoote

hpp-fcl: 1.0.1-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

hpp-fcl: 1.0.1-2 in 'melodic/distribution.yaml' [bloom] (#20410)
  melodic/distribution.yaml
Owners: @clalancette

Make doc branch identical to source
  melodic/distribution.yaml
Owners: @clalancette

indoor_localization: 0.0.1-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

Change source url
  kinetic/distribution.yaml
Owners: @tfoote

pilz_industrial_motion: 0.4.1-0 in melodic (#20398)
  melodic/distribution.yaml
Owners: @clalancette

vrx: 1.0.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

fetch_robots: 0.8.6-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

vrx: 1.0.0-1 in 'melodic/distribution.yaml' [bloom] (#20412)
  melodic/distribution.yaml
Owners: @clalancette

fetch_robots: 0.8.6-0 in 'melodic/distribution.yaml' [bloom] (#20413)
  melodic/distribution.yaml
Owners: @clalancette

Update doc and source version to point to crystal branch.
  crystal/distribution.yaml
Owners: @nuclearsandwich

rosbag2: 0.0.6-0 in 'crystal/distribution.yaml' [bloom] (#20408)
  crystal/distribution.yaml
Owners: @nuclearsandwich

behaviotree_cpp_v3: 3.0.1-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

Revert "pilz_industrial_motion: 0.4.1-0 in melodic (#20398)"
  melodic/distribution.yaml
Owners: @clalancette

Revert "pilz_industrial_motion: 0.4.1-0 in melodic (#20398)" (#20415)
  melodic/distribution.yaml
Owners: @clalancette

behaviotree_cpp_v3: 3.0.1-0 in 'kinetic/distribution.yaml' [bloom] (#20414)
  kinetic/distribution.yaml
Owners: @tfoote

vrx: 1.0.1-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

vrx: 1.0.1-0 in 'melodic/distribution.yaml' [bloom] (#20416)
  melodic/distribution.yaml
Owners: @clalancette

linux_networking: 1.0.12-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

pilz_industrial_motion: 0.4.1-1 in melodic
  melodic/distribution.yaml
Owners: @clalancette

pilz_industrial_motion: 0.4.1-1 in melodic (#20418)
  melodic/distribution.yaml
Owners: @clalancette

WIP: [melodic] Add moveit_tutorials.
  melodic/distribution.yaml
Owners: @clalancette

mavlink: 2019.3.3-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

mavlink: 2019.3.3-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

darknet_ros: 1.1.4-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

Removed package darknet_ros from release.
  kinetic/distribution.yaml
Owners: @tfoote

mavlink: 2019.3.3-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

mavros: 0.29.1-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

mavros: 0.29.1-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

mavros: 0.29.1-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

linux_networking: 1.0.12-0 in 'lunar/distribution.yaml' [bloom] (#20417)
  lunar/distribution.yaml
Owners: @clalancette

sick_tim: 0.0.15-0 in 'indigo/distribution.yaml' [bloom]
  indigo/distribution.yaml
Owners: @tfoote

mavros: 0.29.1-0 in 'lunar/distribution.yaml' [bloom] (#20425)
  lunar/distribution.yaml
Owners: @clalancette

Exact match tags, not just substrings. Fixes issues discovered in #20423 #20421 #20420
  test/test_url_validity.py
Owners: none

sick_tim: 0.0.15-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

sick_tim: 0.0.15-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette
