Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

librealsense2: 2.40.0-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

dingo: 0.1.6-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

realsense2_camera: 2.2.20-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

log_view: 0.1.2-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

log_view: 0.1.2-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

log_view: 0.1.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

tsid: 1.4.2-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

tsid: 1.4.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

Add python3-thriftpy rosdep key
  rosdep/python.yaml
Owners: @ros/rosdeputies

sot-core: 4.11.3-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

rosbridge_suite kinetic 0.11.12
  kinetic/distribution.yaml
Owners: @tfoote

rosbridge_suite melodic 0.11.12
  melodic/distribution.yaml
Owners: @clalancette

rosbridge_suite noetic 0.11.12
  noetic/distribution.yaml
Owners: @sloretz

log_view: 0.1.2-1 in 'kinetic/distribution.yaml' [bloom] (#27504)
  kinetic/distribution.yaml
Owners: @tfoote

dingo: 0.1.6-2 in 'melodic/distribution.yaml' [bloom] (#27502)
  melodic/distribution.yaml
Owners: @clalancette

log_view: 0.1.2-1 in 'melodic/distribution.yaml' [bloom] (#27505)
  melodic/distribution.yaml
Owners: @clalancette

tsid: 1.4.2-1 in 'melodic/distribution.yaml' [bloom] (#27507)
  melodic/distribution.yaml
Owners: @clalancette

rosbridge_suite kinetic 0.11.12 (#27510)
  kinetic/distribution.yaml
Owners: @tfoote

rosbridge_suite melodic 0.11.12 (#27511)
  melodic/distribution.yaml
Owners: @clalancette

volta_simulation: 1.0.0-3 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

volta_simulation: 1.1.0-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

fkie_multimaster: 1.2.5-2 in 'noetic/distribution.yaml'
  noetic/distribution.yaml
Owners: @sloretz

plotjuggler: 3.0.2-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 3.0.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

plotjuggler: 3.0.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

plotjuggler_ros: 1.0.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

plotjuggler: 3.0.2-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 3.0.2-3 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler_ros: 1.0.0-2 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

rclc: 0.1.4-1 in 'rolling/distribution.yaml' [bloom] (#27489)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

plotjuggler_ros: 1.0.0-2 in 'foxy/distribution.yaml' [bloom] (#27522)
  foxy/distribution.yaml
Owners: @jacobperron

robot_controllers: 0.8.0-1 in 'foxy/distribution.yaml' [bloom] (#27495)
  foxy/distribution.yaml
Owners: @jacobperron

gazebo_ros_pkgs: 3.5.1-1 in 'rolling/distribution.yaml' [bloom] (#27493)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rclc: 0.1.4-1 in 'foxy/distribution.yaml' [bloom] (#27485)
  foxy/distribution.yaml
Owners: @jacobperron

rclc: 0.1.4-1 in 'eloquent/distribution.yaml' [bloom] (#27486)
  eloquent/distribution.yaml
Owners: @mjcarroll

plotjuggler: 3.0.3-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 3.0.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

plotjuggler: 3.0.3-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

rqt_bag: 1.0.0-1 in 'rolling/distribution.yaml' [bloom] (#27459)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

remove pip package
  rosdep/python.yaml
Owners: @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies
