Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

Adding diffdrive_arduino to documentation index for melodic (correction) (#27688)
  melodic/distribution.yaml
Owners: @clalancette

rosbridge_suite melodic 0.11.13 (#27668)
  melodic/distribution.yaml
Owners: @clalancette

rosbridge_suite kinetic 0.11.13 (#27667)
  kinetic/distribution.yaml
Owners: @tfoote

robot_navigation: 0.3.0-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

v4l2_camera: 0.1.2-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

vesc: 1.1.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

mavlink: 2020.12.12-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

mavlink: 2020.12.12-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

mavlink: 2020.12.12-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

mavlink: 2020.12.12-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

mavlink: 2020.12.12-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

rtabmap and rtabmap_ros: 0.20.7 in 'noetic/distribution.yaml'
  noetic/distribution.yaml
Owners: @sloretz

rtabmap and rtabmap_ros: 0.20.7 in 'melodic/distribution.yaml'
  melodic/distribution.yaml
Owners: @clalancette

rtabmap and rtabmap_ros: 0.20.7 in 'kinetic/distribution.yaml'
  kinetic/distribution.yaml
Owners: @tfoote

criutils: 0.1.4-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

handeye: 0.1.2-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

rosauth: 2.0.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

rosauth: 2.0.2-1 in 'foxy/distribution.yaml' [bloom] (#27767)
  foxy/distribution.yaml
Owners: @jacobperron

mavlink: 2020.12.12-1 in 'foxy/distribution.yaml' [bloom] (#27761)
  foxy/distribution.yaml
Owners: @jacobperron

plotjuggler: 3.0.5-2 in 'foxy/distribution.yaml' [bloom] (#27743)
  foxy/distribution.yaml
Owners: @jacobperron

message_filters: 3.2.5-1 in 'foxy/distribution.yaml' [bloom] (#27728)
  foxy/distribution.yaml
Owners: @jacobperron

update vtk dependencies
  rosdep/base.yaml
Owners: @ros/rosdeputies

stag_ros: 0.3.7-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

stag_ros: 0.2.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

[dep] python3-git.
  rosdep/python.yaml
Owners: @ros/rosdeputies

[dep][fix] python-git for arch linux wrong pkg https://github.com/ros/rosdistro/pull/27641#discussion_r540322938
  rosdep/python.yaml
Owners: @ros/rosdeputies

raptor-dbw-ros: 1.0.0-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

sot-dynamic-pinocchio: 3.6.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

stag_ros: 0.1.1-6 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

sot-dynamic-pinocchio: 3.6.1-1 in 'melodic/distribution.yaml' [bloom] (#27772)
  melodic/distribution.yaml
Owners: @clalancette

Remove gazebo_video_monitor_plugins (#27629)
  melodic/distribution.yaml
  noetic/distribution.yaml
Owners: @clalancette, @sloretz

raptor-dbw-ros: 1.0.0-2 in 'melodic/distribution.yaml' [bloom] (#27771)
  melodic/distribution.yaml
Owners: @clalancette

rosbridge_suite noetic 0.11.13 (#27669)
  noetic/distribution.yaml
Owners: @sloretz

octomap_mapping: 0.6.6-1 in 'noetic/distribution.yaml' [bloom] (#27679)
  noetic/distribution.yaml
Owners: @sloretz

stag_ros: 0.2.1-1 in 'melodic/distribution.yaml' [bloom] (#27770)
  melodic/distribution.yaml
Owners: @clalancette

rtabmap and rtabmap_ros: 0.20.7 in 'kinetic/distribution.yaml' (#27764)
  kinetic/distribution.yaml
Owners: @tfoote

rtabmap and rtabmap_ros: 0.20.7 in 'melodic/distribution.yaml' (#27763)
  melodic/distribution.yaml
Owners: @clalancette

mavlink: 2020.12.12-1 in 'melodic/distribution.yaml' [bloom] (#27758)
  melodic/distribution.yaml
Owners: @clalancette

mavlink: 2020.12.12-1 in 'kinetic/distribution.yaml' [bloom] (#27757)
  kinetic/distribution.yaml
Owners: @tfoote

v4l2_camera: 0.1.2-1 in 'dashing/distribution.yaml' [bloom] (#27755)
  dashing/distribution.yaml
Owners: @nuclearsandwich

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies
