Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

ros2_control: 0.1.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

ros2_control: 0.1.0-1 in 'foxy/distribution.yaml' [bloom] (#27828)
  foxy/distribution.yaml
Owners: @jacobperron

ergodic_exploration: 1.0.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

Add py-future for Alpine (#55)
  rosdep/python.yaml
Owners: @ros/rosdeputies

ypspur_ros: 0.3.4-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

ypspur_ros: 0.3.4-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

ypspur_ros: 0.3.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

ros2_planning_system: 1.0.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

Fix openembedded entries for websocket(s) libs
  rosdep/python.yaml
Owners: @ros/rosdeputies

Add arch, fedora and gentoo entries for websockets
  rosdep/python.yaml
Owners: @ros/rosdeputies

ergodic_exploration: 1.0.0-1 in 'noetic/distribution.yaml' [bloom] (#27829)
  noetic/distribution.yaml
Owners: @sloretz

ypspur_ros: 0.3.4-1 in 'kinetic/distribution.yaml' [bloom] (#27830)
  kinetic/distribution.yaml
Owners: @tfoote

ypspur_ros: 0.3.4-1 in 'melodic/distribution.yaml' [bloom] (#27831)
  melodic/distribution.yaml
Owners: @clalancette

ypspur_ros: 0.3.4-1 in 'noetic/distribution.yaml' [bloom] (#27832)
  noetic/distribution.yaml
Owners: @sloretz

ros2_planning_system: 1.0.2-1 in 'foxy/distribution.yaml' [bloom] (#27833)
  foxy/distribution.yaml
Owners: @jacobperron

ros2_controllers: 0.1.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

Revert "Fix openembedded entries for websocket(s) libs"
  rosdep/python.yaml
Owners: @ros/rosdeputies

ros2_planning_system: 1.0.3-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

ros2_control: 0.1.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

ros2_planning_system: 1.0.4-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

plotjuggler: 3.0.6-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 3.0.6-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

plotjuggler: 3.0.6-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

plotjuggler: 3.0.6-1 in 'melodic/distribution.yaml' [bloom] (#27838)
  melodic/distribution.yaml
Owners: @clalancette

neonavigation: 0.10.5-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

neonavigation: 0.10.5-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

neonavigation: 0.10.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

neonavigation: 0.10.5-1 in 'kinetic/distribution.yaml' [bloom] (#27841)
  kinetic/distribution.yaml
Owners: @tfoote

neonavigation: 0.10.5-1 in 'melodic/distribution.yaml' [bloom] (#27842)
  melodic/distribution.yaml
Owners: @clalancette

neonavigation: 0.10.5-1 in 'noetic/distribution.yaml' [bloom] (#27843)
  noetic/distribution.yaml
Owners: @sloretz

moveit_python: 0.3.5-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

moveit_python: 0.3.5-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

moveit_python: 0.3.6-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

ros2_tracing: 1.0.5-2 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

Added 20.04 Focal version of python-setuptools.
  rosdep/python.yaml
Owners: @ros/rosdeputies

ros2_planning_system: 1.0.4-1 in 'foxy/distribution.yaml' [bloom] (#27837)
  foxy/distribution.yaml
Owners: @jacobperron

plotjuggler: 3.0.6-1 in 'foxy/distribution.yaml' [bloom] (#27840)
  foxy/distribution.yaml
Owners: @jacobperron

ros2_tracing: 1.0.5-2 in 'foxy/distribution.yaml' [bloom] (#27847)
  foxy/distribution.yaml
Owners: @jacobperron

ros2_planning_system: 1.0.5-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

ros2_planning_system: 1.0.5-1 in 'foxy/distribution.yaml' [bloom] (#27853)
  foxy/distribution.yaml
Owners: @jacobperron

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies
