Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies

rosbag2: 0.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

cyclonedds: 0.7.0-2 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

cyclonedds: 0.7.0-2 in 'dashing/distribution.yaml' [bloom] (#27413)
  dashing/distribution.yaml
Owners: @nuclearsandwich

dynamic-graph: 4.3.1-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

sot-core: 4.11.2-3 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

sot-core: 4.11.2-3 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

xclip is a command line interface to X selections (clipboard)
  rosdep/base.yaml
Owners: @ros/rosdeputies

Add rosdep key for owlready2 (python3 pip)
  rosdep/python.yaml
Owners: @ros/rosdeputies

adjusts package name for yujin lidar (melodic)
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler_ros: 1.0.0-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

rclc: 0.1.3-2 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

plotjuggler: 3.0.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler_ros: 1.0.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

rclc: 0.1.3-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

rclc: 0.1.3-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

plotjuggler: 3.0.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

add sob_layer
  noetic/distribution.yaml
Owners: @sloretz

interactive_marker_twist_server: 1.2.0-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

Rollbacks to fix ROS Noetic November 2020 Regressions (#27402)
  noetic/distribution.yaml
Owners: @sloretz

tvm_vendor: 0.7.0-1 in 'melodic/distribution.yaml' [bloom] (#27403)
  melodic/distribution.yaml
Owners: @clalancette

nodl: 0.3.1-1 in 'rolling/distribution.yaml' [bloom] (#27410)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rosbag2: 0.4.0-1 in 'rolling/distribution.yaml' [bloom] (#27412)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

dynamic-graph: 4.3.1-2 in 'noetic/distribution.yaml' [bloom] (#27414)
  noetic/distribution.yaml
Owners: @sloretz

sot-core: 4.11.2-3 in 'melodic/distribution.yaml' [bloom] (#27415)
  melodic/distribution.yaml
Owners: @clalancette

sot-core: 4.11.2-3 in 'noetic/distribution.yaml' [bloom] (#27416)
  noetic/distribution.yaml
Owners: @sloretz

marti_messages: 1.2.0-1 in 'dashing/distribution.yaml' [bloom] (#27387)
  dashing/distribution.yaml
Owners: @nuclearsandwich

marti_messages: 1.2.0-1 in 'eloquent/distribution.yaml' [bloom] (#27388)
  eloquent/distribution.yaml
Owners: @mjcarroll

plotjuggler_ros: 1.0.0-2 in 'melodic/distribution.yaml' [bloom] (#27420)
  melodic/distribution.yaml
Owners: @clalancette

rclc: 0.1.3-2 in 'foxy/distribution.yaml' [bloom] (#27421)
  foxy/distribution.yaml
Owners: @jacobperron

plotjuggler: 3.0.1-1 in 'melodic/distribution.yaml' [bloom] (#27422)
  melodic/distribution.yaml
Owners: @clalancette

rclc: 0.1.3-1 in 'eloquent/distribution.yaml' [bloom] (#27424)
  eloquent/distribution.yaml
Owners: @mjcarroll

rclc: 0.1.3-1 in 'dashing/distribution.yaml' [bloom] (#27425)
  dashing/distribution.yaml
Owners: @nuclearsandwich

plotjuggler: 3.0.1-1 in 'noetic/distribution.yaml' [bloom] (#27426)
  noetic/distribution.yaml
Owners: @sloretz

interactive_marker_twist_server: 1.2.0-2 in 'noetic/distribution.yaml' [bloom] (#27428)
  noetic/distribution.yaml
Owners: @sloretz

lvr2: 20.11.1-1 in 'noetic/distribution.yaml' [bloom] (#27340)
  noetic/distribution.yaml
Owners: @sloretz

Added source information for fmilibrary_vendor (#27371)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

adjusts package name for yujin lidar (melodic) (#27419)
  melodic/distribution.yaml
Owners: @clalancette

tvm_vendor: 0.7.0-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

microstrain_3dmgx2_imu: 1.5.13-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

microstrain_3dmgx2_imu: 1.5.13-1 in 'noetic/distribution.yaml' [bloom] (#27430)
  noetic/distribution.yaml
Owners: @sloretz
