Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies

rename package librealsense to librealsense2 and upgrade to version 2.41.0
  foxy/distribution.yaml
Owners: @jacobperron

Add realsense2_camera for foxy, version 3.1.3
  foxy/distribution.yaml
Owners: @jacobperron

removed deleted package realsense2_node.
  foxy/distribution.yaml
Owners: @jacobperron

ros2_planning_system: 1.0.6-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

jderobot_drones: 1.3.5-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

ergodic_exploration: 1.0.0-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

ergodic_exploration: 1.0.0-2 in 'noetic/distribution.yaml' [bloom] (#27858)
  noetic/distribution.yaml
Owners: @sloretz

jderobot_drones: 1.3.5-1 in 'melodic/distribution.yaml' [bloom] (#27857)
  melodic/distribution.yaml
Owners: @clalancette

arbotix: 0.11.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

plotjuggler_ros: 1.0.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

heifu: 0.7.6-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Change upstream link
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler_ros: 1.0.2-1 in 'foxy/distribution.yaml' [bloom] (#27860)
  foxy/distribution.yaml
Owners: @jacobperron

heifu: 0.7.6-1 in 'melodic/distribution.yaml' [bloom] (#27861)
  melodic/distribution.yaml
Owners: @clalancette

[dep] python3-git. (#27641)
  rosdep/python.yaml
Owners: @ros/rosdeputies

Add rosdep rules for python3-websockets package (#27819)
  rosdep/python.yaml
Owners: @ros/rosdeputies

rosdep: update OpenEmbedded mapping for python*-websocket and add python-pyudev
  rosdep/python.yaml
Owners: @ros/rosdeputies

librealsense2: 2.41.0-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

librealsense2: 2.41.0-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

librealsense2: 2.41.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

librealsense2: 2.41.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

realsense2_camera: 2.2.21-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

realsense2_camera: 2.2.21-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

realsense2_camera: 2.2.21-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

heifu: 0.7.7-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

mqtt_bridge: 0.1.8-4 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

mqtt_bridge: 0.2.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

added ueye_cam to missing distros
  lunar/distribution.yaml
  noetic/distribution.yaml
Owners: @clalancette, @sloretz

un-add package to EOL-ed distro
  lunar/distribution.yaml
Owners: @clalancette

ros2_controllers: 0.1.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

ros2_control: 0.1.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

Test All The Repos (that I maintain)
  kinetic/distribution.yaml
  melodic/distribution.yaml
  noetic/distribution.yaml
Owners: @tfoote, @clalancette, @sloretz

mesh_navigation: 1.0.0-3 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

mesh_navigation: 1.0.0-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

embree_vendor: 0.0.4-4 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

m_explore: 2.1.2-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

m_explore: 2.1.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

rosfmt: 7.0.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

Rosdep rule for python3-sympy
  rosdep/python.yaml
Owners: @ros/rosdeputies

ros2_controllers: 0.1.0-1 in 'foxy/distribution.yaml' [bloom] (#27872)
  foxy/distribution.yaml
Owners: @jacobperron
