Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @tfoote, @clalancette, @ros/rosdeputies

plotjuggler: 2.1.2-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

plotjuggler: 2.1.2-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

robot_navigation: 0.2.5-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

robot_navigation: 0.2.5-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

plotjuggler: 2.1.2-1 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

plotjuggler: 2.1.2-1 in 'indigo/distribution.yaml' [bloom]
  indigo/distribution.yaml
Owners: @tfoote

plotjuggler: 2.1.2-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Fix Fedora's rule for python-opengl
  rosdep/python.yaml
Owners: @ros/rosdeputies

robot_navigation: 0.2.5-0 in 'lunar/distribution.yaml' [bloom] (#20294)
  lunar/distribution.yaml
Owners: @clalancette

plotjuggler: 2.1.2-1 in 'lunar/distribution.yaml' [bloom] (#20295)
  lunar/distribution.yaml
Owners: @clalancette

plotjuggler: 2.1.2-0 in 'melodic/distribution.yaml' [bloom] (#20297)
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 2.1.2-1 in 'kinetic/distribution.yaml' [bloom] (#20292)
  kinetic/distribution.yaml
Owners: @tfoote

plotjuggler: 2.1.2-1 in 'indigo/distribution.yaml' [bloom] (#20296)
  indigo/distribution.yaml
Owners: @tfoote

robot_navigation: 0.2.5-0 in 'kinetic/distribution.yaml' [bloom] (#20293)
  kinetic/distribution.yaml
Owners: @tfoote

fetch_open_auto_dock: 0.1.2-0 in melodic
  melodic/distribution.yaml
Owners: @clalancette

fetch_ros: 0.8.0-0 in melodic [bloom]
  melodic/distribution.yaml
Owners: @clalancette

fetch_msgs: 1.1.1-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

fetch_ros: 0.8.0-0 in melodic [bloom] (#20301)
  melodic/distribution.yaml
Owners: @clalancette

fetch_msgs: 1.1.1-0 in 'melodic/distribution.yaml' [bloom] (#20302)
  melodic/distribution.yaml
Owners: @clalancette

Fix Fedora's rule for python-opengl (#20299)
  rosdep/python.yaml
Owners: @ros/rosdeputies

fetch_robots: 0.8.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Use StringIO from the io module on Python 2
  test/test_url_validity.py
Owners: none

jsk_recognition: 1.2.7-0 in 'indigo/distribution.yaml' [bloom]
  indigo/distribution.yaml
Owners: @tfoote

jsk_recognition: 1.2.7-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

py_trees: 0.6.7-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

jsk_recognition: 1.2.7-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Update source and doc branches for Crystal.
  crystal/distribution.yaml
Owners: @nuclearsandwich

realtime_tools: 1.13.1-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

uuv_simulator: 0.6.7-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

sick_scan: 0.0.16-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

sick_scan: 0.0.16-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

sick_scan: 0.0.16-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

sick_scan: 0.0.16-0 in 'indigo/distribution.yaml' [bloom]
  indigo/distribution.yaml
Owners: @tfoote

Pin Fast-CDR and Fast-RTPS.
  crystal/distribution.yaml
Owners: @nuclearsandwich

Use StringIO from the io module on Python 2 (#20304)
  test/test_url_validity.py
Owners: none

Condense python-imaging rules for Fedora
  rosdep/python.yaml
Owners: @ros/rosdeputies

gazebo_ros_pkgs: update branch for crystal
  crystal/distribution.yaml
Owners: @nuclearsandwich

gazebo_ros_pkgs: update branch for crystal (#20316)
  crystal/distribution.yaml
Owners: @nuclearsandwich

move navigation2 pr builder to crystal-devel
  crystal/distribution.yaml
Owners: @nuclearsandwich

move navigation2 pr builder to crystal-devel (#20317)
  crystal/distribution.yaml
Owners: @nuclearsandwich

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
rosdep/* @ros/rosdeputies
