Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

rmw_dds_common: 1.1.1-1 in 'rolling/distribution.yaml' [bloom] (#27722)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

ament_cmake: 1.0.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rosidl_typesupport: 1.1.0-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

plotjuggler: 3.0.5-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

plotjuggler: 3.0.5-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 3.0.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

fix inconistent naming of the package behaviortree_cpp_v3
  foxy/distribution.yaml
  melodic/distribution.yaml
  noetic/distribution.yaml
Owners: @jacobperron, @clalancette, @sloretz

fix: entry placed alphabetically
  rosdep/python.yaml
Owners: @ros/rosdeputies

variants: 0.8.5-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

variants: 0.8.5-1 in 'eloquent/distribution.yaml' [bloom] (#27740)
  eloquent/distribution.yaml
Owners: @mjcarroll

Correcting OS specific packages
  rosdep/base.yaml
Owners: @ros/rosdeputies

wrap in [] brackets
  rosdep/base.yaml
Owners: @ros/rosdeputies

plotjuggler: 3.0.5-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

plotjuggler: 3.0.5-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 3.0.5-2 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

rosidl_typesupport: 1.1.0-2 in 'rolling/distribution.yaml' [bloom] (#27735)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

sorted
  rosdep/base.yaml
Owners: @ros/rosdeputies

rosdep: add more mappings for OpenEmbedded to support latest melodic release
  rosdep/base.yaml
  rosdep/python.yaml
Owners: @ros/rosdeputies

rosdep: use linux-libc-headers instead of virtual/kernel for linux-headers-generic OE mapping
  rosdep/base.yaml
Owners: @ros/rosdeputies

rosdep: update OpenEmbedded mappings to point to correct sublayer
  rosdep/base.yaml
  rosdep/python.yaml
Owners: @ros/rosdeputies

rosdep: add more mappings for OpenEmbedded to support more noetic packages
  rosdep/base.yaml
  rosdep/python.yaml
Owners: @ros/rosdeputies

rosdep: add more mappings for OpenEmbedded
  rosdep/base.yaml
  rosdep/python.yaml
Owners: @ros/rosdeputies

rosdep: add more mappings for OpenEmbedded to support latest dashing release
  rosdep/base.yaml
Owners: @ros/rosdeputies

rosdep: add OpenEmbedded mapping for python*-catkin-{lint,tools}
  rosdep/python.yaml
Owners: @ros/rosdeputies

flexbe: 1.3.1-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

flexbe: 1.3.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

flexbe: 1.3.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

sr_hand_detector: 0.0.3-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

iris_lama: 1.1.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

fcl: 0.6.1-3 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

image_pipeline: 1.15.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

robot_navigation: 0.3.0-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

robot_navigation: 0.3.0-1 in 'kinetic/distribution.yaml' [bloom] (#27752)
  kinetic/distribution.yaml
Owners: @tfoote

flexbe: 1.3.1-1 in 'kinetic/distribution.yaml' [bloom] (#27745)
  kinetic/distribution.yaml
Owners: @tfoote

flexbe: 1.3.1-1 in 'melodic/distribution.yaml' [bloom] (#27746)
  melodic/distribution.yaml
Owners: @clalancette

sr_hand_detector: 0.0.3-2 in 'melodic/distribution.yaml' [bloom] (#27748)
  melodic/distribution.yaml
Owners: @clalancette

rosdep: update and add new OpenEmbedded mappings (#27623)
  rosdep/base.yaml
  rosdep/python.yaml
Owners: @ros/rosdeputies

adding qt4-linguist-tools rosdep key (#27390)
  rosdep/base.yaml
Owners: @ros/rosdeputies

robot_navigation: 0.3.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 3.0.5-2 in 'melodic/distribution.yaml' [bloom] (#27742)
  melodic/distribution.yaml
Owners: @clalancette

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies
