Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

boost_sml: 0.1.0-2 in 'melodic/distribution.yaml' [bloom] (#27068)
  melodic/distribution.yaml
Owners: @clalancette

bota_driver: 0.5.0-3 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

bota_driver: 0.5.0-3 in 'melodic/distribution.yaml' [bloom] (#27069)
  melodic/distribution.yaml
Owners: @clalancette

rqt_robot_steering: 0.5.12-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

rqt_robot_steering: 0.5.12-1 in 'noetic/distribution.yaml' [bloom] (#27070)
  noetic/distribution.yaml
Owners: @sloretz

lgsvl_msgs: 0.0.4-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

lgsvl_msgs: 0.0.4-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

lgsvl_msgs: 0.0.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

lgsvl_msgs: 0.0.4-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

lgsvl_msgs: 0.0.4-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

grbl_ros: 0.0.14-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

lgsvl_msgs: 0.0.4-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

grbl_ros: 0.0.14-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

grbl_ros: 0.0.14-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

lgsvl_msgs: 0.0.4-1 in 'foxy/distribution.yaml' [bloom] (#27077)
  foxy/distribution.yaml
Owners: @jacobperron

grbl_ros: 0.0.14-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

grbl_ros: 0.0.14-3 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

change source and docs branch to main
  foxy/distribution.yaml
Owners: @jacobperron

update doc and source branch to main
  eloquent/distribution.yaml
Owners: @mjcarroll

update doc and source branch to main
  dashing/distribution.yaml
Owners: @nuclearsandwich

update doc and source branch to main
  foxy/distribution.yaml
Owners: @jacobperron

lgsvl_msgs: 0.0.4-1 in 'kinetic/distribution.yaml' [bloom] (#27071)
  kinetic/distribution.yaml
Owners: @tfoote

lgsvl_msgs: 0.0.4-1 in 'melodic/distribution.yaml' [bloom] (#27072)
  melodic/distribution.yaml
Owners: @clalancette

lgsvl_msgs: 0.0.4-1 in 'noetic/distribution.yaml' [bloom] (#27073)
  noetic/distribution.yaml
Owners: @sloretz

lgsvl_msgs: 0.0.4-1 in 'dashing/distribution.yaml' [bloom] (#27074)
  dashing/distribution.yaml
Owners: @nuclearsandwich

lgsvl_msgs: 0.0.4-1 in 'eloquent/distribution.yaml' [bloom] (#27075)
  eloquent/distribution.yaml
Owners: @mjcarroll

grbl_ros: 0.0.14-1 in 'rolling/distribution.yaml' [bloom] (#27080)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

grbl_ros: 0.0.14-1 in 'dashing/distribution.yaml' [bloom] (#27076)
  dashing/distribution.yaml
Owners: @nuclearsandwich

grbl_ros: 0.0.14-1 in 'foxy/distribution.yaml' [bloom] (#27079)
  foxy/distribution.yaml
Owners: @jacobperron

grbl_ros: 0.0.14-1 in 'eloquent/distribution.yaml' [bloom] (#27078)
  eloquent/distribution.yaml
Owners: @mjcarroll

mrpt2: 2.1.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

mrpt2: 2.1.3-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

mrpt2: 2.1.3-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

play_motion_builder: 1.0.2-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Removed test_rmw_implementation from foxy distribution.yaml
  foxy/distribution.yaml
Owners: @jacobperron

cob_navigation: 0.6.11-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

cob_navigation: 0.6.11-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

neonavigation: 0.10.3-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

neonavigation: 0.10.3-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

neonavigation: 0.10.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies
