Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

rospy_message_converter: 0.5.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

backward_ros: 0.1.7-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

toposens: 2.1.0-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

rosbag_snapshot: 1.0.3-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

rosbag_snapshot: 1.0.3-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

rosbag_snapshot: 1.0.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

rosbag_snapshot: 1.0.3-1 in 'noetic/distribution.yaml' [bloom] (#27277)
  noetic/distribution.yaml
Owners: @sloretz

rosbag_snapshot: 1.0.3-1 in 'melodic/distribution.yaml' [bloom] (#27276)
  melodic/distribution.yaml
Owners: @clalancette

rosbag_snapshot: 1.0.3-1 in 'kinetic/distribution.yaml' [bloom] (#27275)
  kinetic/distribution.yaml
Owners: @tfoote

rospy_message_converter: 0.5.5-1 in 'noetic/distribution.yaml' [bloom] (#27272)
  noetic/distribution.yaml
Owners: @sloretz

rospy_message_converter: 0.5.5-1 in 'melodic/distribution.yaml' [bloom] (#27271)
  melodic/distribution.yaml
Owners: @clalancette

rospy_message_converter: 0.5.5-1 in 'kinetic/distribution.yaml' [bloom] (#27270)
  kinetic/distribution.yaml
Owners: @tfoote

sros2: 0.10.1-1 in 'rolling/distribution.yaml' [bloom] (#27265)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

v4l2_camera: 0.3.1-1 in 'rolling/distribution.yaml' [bloom] (#27263)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

Update distribution.yaml (#27264)
  foxy/distribution.yaml
Owners: @jacobperron

rosdep: add libcgroup-dev
  rosdep/base.yaml
Owners: @ros/rosdeputies

v4l2_camera: 0.3.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

v4l2_camera: 0.3.1-1 in 'foxy/distribution.yaml' [bloom] (#27279)
  foxy/distribution.yaml
Owners: @jacobperron

Change the teleop_twist_joy branch to foxy.
  foxy/distribution.yaml
Owners: @jacobperron

Change the Rolling teleop_twist_joy branch to foxy.
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

Change the teleop_twist_joy branch to foxy. (#27280)
  foxy/distribution.yaml
Owners: @jacobperron

Change the Rolling teleop_twist_joy branch to foxy. (#27281)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

teleop_twist_joy: 2.4.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

teleop_twist_joy: 2.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

aws-robomaker-simulation-ros-pkgs: 1.1.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

teleop_twist_joy: 2.4.0-1 in 'foxy/distribution.yaml' [bloom] (#27282)
  foxy/distribution.yaml
Owners: @jacobperron

velodyne: 1.6.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

psen_scan_v2: 0.1.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

teleop_twist_joy: 2.4.0-1 in 'rolling/distribution.yaml' [bloom] (#27283)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

velodyne: 1.6.1-1 in 'noetic/distribution.yaml' [bloom] (#27285)
  noetic/distribution.yaml
Owners: @sloretz

toposens: 2.1.0-1 in 'kinetic/distribution.yaml' [bloom] (#27274)
  kinetic/distribution.yaml
Owners: @tfoote

backward_ros: 0.1.7-1 in 'noetic/distribution.yaml' [bloom] (#27273)
  noetic/distribution.yaml
Owners: @sloretz

Update expected Debian sources. (#27236)
  CONTRIBUTING.md
Owners: none

seed_smartactuator_sdk: 0.0.5-1 in 'kinetic/distribution.yaml' [bloom] (#27269)
  kinetic/distribution.yaml
Owners: @tfoote

exotica: 6.0.0-1 in 'kinetic/distribution.yaml' [bloom] (#27267)
  kinetic/distribution.yaml
Owners: @tfoote

exotica: 6.0.0-1 in 'noetic/distribution.yaml' [bloom] (#27268)
  noetic/distribution.yaml
Owners: @sloretz

pointgrey_camera_driver: 0.15.0-1 in 'noetic/distribution.yaml' [bloom] (#27262)
  noetic/distribution.yaml
Owners: @sloretz

toposens: 2.1.0-1 in 'noetic/distribution.yaml' [bloom] (#27252)
  noetic/distribution.yaml
Owners: @sloretz

Add 'conan' rosdep key to be resolved using pip (#27243)
  rosdep/python.yaml
Owners: @ros/rosdeputies

core_perception: 1.14.9-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies
