Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies

dataspeed_pds: 1.0.6-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

adds yujin_lidar to documentation index for melodic
  melodic/distribution.yaml
Owners: @clalancette

ixblue_ins_stdbin_driver: 0.1.5-1 in 'melodic/distribution.yaml' [bloom] (#27332)
  melodic/distribution.yaml
Owners: @clalancette

ixblue_ins_stdbin_driver: 0.1.5-1 in 'kinetic/distribution.yaml' [bloom] (#27333)
  kinetic/distribution.yaml
Owners: @tfoote

ixblue_ins_stdbin_driver: 0.1.5-1 in 'noetic/distribution.yaml' [bloom] (#27334)
  noetic/distribution.yaml
Owners: @sloretz

xacro: 2.0.4-1 in 'dashing/distribution.yaml' [bloom] (#27337)
  dashing/distribution.yaml
Owners: @nuclearsandwich

xacro: 2.0.4-1 in 'eloquent/distribution.yaml' [bloom] (#27338)
  eloquent/distribution.yaml
Owners: @mjcarroll

dynamic-graph: 4.3.1-1 in 'melodic/distribution.yaml' [bloom] (#27342)
  melodic/distribution.yaml
Owners: @clalancette

dynamic-graph: 4.3.1-1 in 'noetic/distribution.yaml' [bloom] (#27343)
  noetic/distribution.yaml
Owners: @sloretz

dynamic-graph-python: 4.0.1-1 in 'noetic/distribution.yaml' [bloom] (#27344)
  noetic/distribution.yaml
Owners: @sloretz

dynamic-graph-python: 4.0.1-1 in 'melodic/distribution.yaml' [bloom] (#27345)
  melodic/distribution.yaml
Owners: @clalancette

rviz: 1.13.15-1 in 'melodic/distribution.yaml' [bloom] (#27346)
  melodic/distribution.yaml
Owners: @clalancette

rviz: 1.14.4-1 in 'noetic/distribution.yaml' [bloom] (#27348)
  noetic/distribution.yaml
Owners: @sloretz

dataspeed_pds: 1.0.6-1 in 'melodic/distribution.yaml' [bloom] (#27349)
  melodic/distribution.yaml
Owners: @clalancette

dataspeed_pds: 1.0.6-1 in 'noetic/distribution.yaml' [bloom] (#27350)
  noetic/distribution.yaml
Owners: @sloretz

bagger: 0.1.3-4 in 'noetic/distribution.yaml' [bloom] (#27331)
  noetic/distribution.yaml
Owners: @sloretz

openzen_sensor: 1.2.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

fastrtps: 2.0.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

pilz_robots: 0.5.20-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

volta_simulation: 1.0.0-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

Rename python-pymongo to python3-pymongo in Ubuntu focal
  rosdep/python.yaml
Owners: @ros/rosdeputies

add python3-selenium
  rosdep/python.yaml
Owners: @ros/rosdeputies

dynamic-graph: 4.3.1-3 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

exotica: 6.0.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

adding qt4-linguist-tools
  rosdep/base.yaml
Owners: @ros/rosdeputies

exotica: 6.0.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

fastrtps: 2.0.2-1 in 'foxy/distribution.yaml' [bloom] (#27353)
  foxy/distribution.yaml
Owners: @jacobperron

exotica: 6.0.1-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

sros2: 0.9.4-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

sros2: 0.9.4-1 in 'foxy/distribution.yaml' [bloom] (#27363)
  foxy/distribution.yaml
Owners: @jacobperron

Added new package 'stag_ros' to noetic
  noetic/distribution.yaml
Owners: @sloretz

volta_simulation: 1.0.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

volta: 1.0.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

robotont_nuc_description: 0.0.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

volta: 1.0.0-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

geometry2: 0.13.7-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

geometry2: 0.13.7-1 in 'foxy/distribution.yaml' [bloom] (#27369)
  foxy/distribution.yaml
Owners: @jacobperron

rclcpp: 6.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

Added source information for fmilibrary_vendor
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

flexbe: 1.3.0-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote
