Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies

vesc: 1.1.0-1 in 'melodic/distribution.yaml' [bloom] (#27756)
  melodic/distribution.yaml
Owners: @clalancette

robot_navigation: 0.3.0-1 in 'melodic/distribution.yaml' [bloom] (#27753)
  melodic/distribution.yaml
Owners: @clalancette

psen_scan_v2: 0.1.3-1 in 'noetic/distribution.yaml' [bloom] (#27699)
  noetic/distribution.yaml
Owners: @sloretz

stag_ros: 0.1.1-6 in 'kinetic/distribution.yaml' [bloom] (#27773)
  kinetic/distribution.yaml
Owners: @tfoote

plotjuggler: 3.0.5-2 in 'noetic/distribution.yaml' [bloom] (#27741)
  noetic/distribution.yaml
Owners: @sloretz

flexbe: 1.3.1-1 in 'noetic/distribution.yaml' [bloom] (#27747)
  noetic/distribution.yaml
Owners: @sloretz

iris_lama: 1.1.0-1 in 'noetic/distribution.yaml' [bloom] (#27749)
  noetic/distribution.yaml
Owners: @sloretz

fcl: 0.6.1-3 in 'noetic/distribution.yaml' [bloom] (#27750)
  noetic/distribution.yaml
Owners: @sloretz

stag_ros: 0.3.7-1 in 'noetic/distribution.yaml' [bloom] (#27769)
  noetic/distribution.yaml
Owners: @sloretz

handeye: 0.1.2-2 in 'noetic/distribution.yaml' [bloom] (#27766)
  noetic/distribution.yaml
Owners: @sloretz

image_pipeline: 1.15.3-1 in 'noetic/distribution.yaml' [bloom] (#27751)
  noetic/distribution.yaml
Owners: @sloretz

criutils: 0.1.4-2 in 'noetic/distribution.yaml' [bloom] (#27765)
  noetic/distribution.yaml
Owners: @sloretz

robot_navigation: 0.3.0-2 in 'noetic/distribution.yaml' [bloom] (#27754)
  noetic/distribution.yaml
Owners: @sloretz

mavlink: 2020.12.12-1 in 'noetic/distribution.yaml' [bloom] (#27759)
  noetic/distribution.yaml
Owners: @sloretz

rtabmap and rtabmap_ros: 0.20.7 in 'noetic/distribution.yaml' (#27762)
  noetic/distribution.yaml
Owners: @sloretz

gazebo_video_monitors: 0.6.0-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

gazebo_video_monitors: 0.6.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

Added python3-git
  rosdep/python.yaml
Owners: @ros/rosdeputies

mesh_navigation: 1.0.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Make libunwind key compatible with new Ubuntu / Debian releases.
  rosdep/base.yaml
Owners: @ros/rosdeputies

iris_lama_ros: 1.1.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

fix version config for doc and source
  melodic/distribution.yaml
Owners: @clalancette

[dep] Add python3-sh
  rosdep/python.yaml
Owners: @ros/rosdeputies

tvm_vendor: 0.7.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

Adding heifu to documentation index for distro melodic (#27698)
  melodic/distribution.yaml
Owners: @clalancette

tvm_vendor: 0.7.2-1 in 'foxy/distribution.yaml' [bloom] (#27781)
  foxy/distribution.yaml
Owners: @jacobperron

Add pathlib2 to python yaml
  rosdep/python.yaml
Owners: @ros/rosdeputies

robot_localization: 2.6.9-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

iris_lama_ros: 1.1.0-1 in 'noetic/distribution.yaml' [bloom] (#27779)
  noetic/distribution.yaml
Owners: @sloretz

robot_localization: 2.6.9-1 in 'melodic/distribution.yaml' [bloom] (#27783)
  melodic/distribution.yaml
Owners: @clalancette

mesh_navigation: 1.0.0-1 in 'melodic/distribution.yaml' [bloom] (#27777)
  melodic/distribution.yaml
Owners: @clalancette

robot_localization: 2.7.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

system_modes: 0.4.2-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

system_modes: 0.4.2-2 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

system_modes: 0.4.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

system_modes: 0.4.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

Adding fcl key to solve issues with version 0.6
  rosdep/base.yaml
Owners: @ros/rosdeputies

Update Heifu-release version.
  melodic/distribution.yaml
Owners: @clalancette

Adding tuw_multi_robot tuw_geometry and tuw_msgs
  noetic/distribution.yaml
Owners: @sloretz

Fixed alphabetic order and added fedora + gentoo.
  rosdep/python.yaml
Owners: @ros/rosdeputies
