Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

ros2cli: 0.9.8-1 in 'foxy/distribution.yaml' [bloom] (#27689)
  foxy/distribution.yaml
Owners: @jacobperron

rosidl: 1.2.0-1 in 'foxy/distribution.yaml' [bloom] (#27690)
  foxy/distribution.yaml
Owners: @jacobperron

rosidl_python: 0.9.4-1 in 'foxy/distribution.yaml' [bloom] (#27692)
  foxy/distribution.yaml
Owners: @jacobperron

interactive_markers: 2.1.3-1 in 'foxy/distribution.yaml' [bloom] (#27694)
  foxy/distribution.yaml
Owners: @jacobperron

rosidl_typesupport: 1.0.1-1 in 'foxy/distribution.yaml' [bloom] (#27696)
  foxy/distribution.yaml
Owners: @jacobperron

rosidl_typesupport_fastrtps: 1.0.2-1 in 'foxy/distribution.yaml' [bloom] (#27707)
  foxy/distribution.yaml
Owners: @jacobperron

geometry2: 0.13.9-1 in 'foxy/distribution.yaml' [bloom] (#27708)
  foxy/distribution.yaml
Owners: @jacobperron

ros1_bridge: 0.9.6-1 in 'foxy/distribution.yaml' [bloom] (#27710)
  foxy/distribution.yaml
Owners: @jacobperron

rmw_fastrtps: 1.2.4-1 in 'foxy/distribution.yaml' [bloom] (#27711)
  foxy/distribution.yaml
Owners: @jacobperron

rcl: 1.1.10-1 in 'foxy/distribution.yaml' [bloom] (#27712)
  foxy/distribution.yaml
Owners: @jacobperron

rclcpp: 2.3.0-1 in 'foxy/distribution.yaml' [bloom] (#27713)
  foxy/distribution.yaml
Owners: @jacobperron

launch_ros: 0.11.1-1 in 'foxy/distribution.yaml' [bloom] (#27714)
  foxy/distribution.yaml
Owners: @jacobperron

rviz: 8.2.1-1 in 'foxy/distribution.yaml' [bloom] (#27715)
  foxy/distribution.yaml
Owners: @jacobperron

jsk_control: 0.1.15-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

tvm_vendor: 0.7.2-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

tvm_vendor: 0.7.2-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

add python-opencv-contrib-python package for pip
  rosdep/python.yaml
Owners: @ros/rosdeputies

Remove stretch from the distribution as it is no longer supported. (#27640)
  melodic/distribution.yaml
Owners: @clalancette

ros1_bridge: 0.8.3-1 in 'eloquent/distribution.yaml' [bloom] (#27704)
  eloquent/distribution.yaml
Owners: @mjcarroll

tvm_vendor: 0.7.2-1 in 'dashing/distribution.yaml' [bloom] (#27718)
  dashing/distribution.yaml
Owners: @nuclearsandwich

tvm_vendor: 0.7.2-1 in 'melodic/distribution.yaml' [bloom] (#27717)
  melodic/distribution.yaml
Owners: @clalancette

jsk_control: 0.1.15-1 in 'melodic/distribution.yaml' [bloom] (#27716)
  melodic/distribution.yaml
Owners: @clalancette

psen_scan_v2: 0.1.3-1 in 'melodic/distribution.yaml' [bloom] (#27700)
  melodic/distribution.yaml
Owners: @clalancette

ros1_bridge: 0.10.0-1 in 'rolling/distribution.yaml' [bloom] (#27709)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rosidl_typesupport_fastrtps: 1.1.0-1 in 'rolling/distribution.yaml' [bloom] (#27703)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rosidl_typesupport: 1.1.0-1 in 'rolling/distribution.yaml' [bloom] (#27695)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

interactive_markers: 2.1.3-1 in 'rolling/distribution.yaml' [bloom] (#27693)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rosidl_python: 0.9.4-1 in 'rolling/distribution.yaml' [bloom] (#27691)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rmw_fastrtps: 4.1.0-1 in 'rolling/distribution.yaml' [bloom] (#27686)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rcl: 2.5.0-1 in 'rolling/distribution.yaml' [bloom] (#27681)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

mimick_vendor: 0.2.3-1 in 'rolling/distribution.yaml' [bloom] (#27678)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

resource_retriever: 2.4.1-1 in 'rolling/distribution.yaml' [bloom] (#27673)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

pluginlib: 4.1.2-1 in 'rolling/distribution.yaml' [bloom] (#27672)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

geometry2: 0.15.1-1 in 'rolling/distribution.yaml' [bloom] (#27666)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

launch_ros: 0.12.0-1 in 'rolling/distribution.yaml' [bloom] (#27665)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

launch: 0.14.0-1 in 'rolling/distribution.yaml' [bloom] (#27664)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rcl_logging: 2.1.0-1 in 'rolling/distribution.yaml' [bloom] (#27663)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rclpy: 1.4.0-1 in 'rolling/distribution.yaml' [bloom] (#27662)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

laser_geometry: 2.2.1-1 in 'rolling/distribution.yaml' [bloom] (#27661)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

realtime_support: 0.10.1-1 in 'rolling/distribution.yaml' [bloom] (#27660)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies
