Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies

jsk_visualization: 2.1.7-4 in 'noetic/distribution.yaml' [bloom] (#27143)
  noetic/distribution.yaml
Owners: @sloretz

Revert "proj: 5.2.0-3 in 'dashing/distribution.yaml' [bloom]" (#27142)
  dashing/distribution.yaml
Owners: @nuclearsandwich

yp-spur: 1.20.0-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

yp-spur: 1.20.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

yp-spur: 1.20.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

ixblue_ins_stdbin_driver: 0.1.4-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

ixblue_ins_stdbin_driver: 0.1.4-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

ixblue_ins_stdbin_driver: 0.1.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

rc_genicam_api: 2.4.4-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

bota_driver: 0.5.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

rc_genicam_api: 2.4.4-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

rc_genicam_api: 2.4.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

roscompile: 1.0.3-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

automotive_autonomy_msgs: 3.0.4-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

automotive_autonomy_msgs: 3.0.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

yp-spur: 1.20.0-1 in 'kinetic/distribution.yaml' [bloom] (#27144)
  kinetic/distribution.yaml
Owners: @tfoote

yp-spur: 1.20.0-1 in 'melodic/distribution.yaml' [bloom] (#27145)
  melodic/distribution.yaml
Owners: @clalancette

yp-spur: 1.20.0-1 in 'noetic/distribution.yaml' [bloom] (#27146)
  noetic/distribution.yaml
Owners: @sloretz

ixblue_ins_stdbin_driver: 0.1.4-1 in 'noetic/distribution.yaml' [bloom] (#27149)
  noetic/distribution.yaml
Owners: @sloretz

ixblue_ins_stdbin_driver: 0.1.4-1 in 'kinetic/distribution.yaml' [bloom] (#27148)
  kinetic/distribution.yaml
Owners: @tfoote

ixblue_ins_stdbin_driver: 0.1.4-1 in 'melodic/distribution.yaml' [bloom] (#27147)
  melodic/distribution.yaml
Owners: @clalancette

rc_genicam_api: 2.4.4-1 in 'kinetic/distribution.yaml' [bloom] (#27150)
  kinetic/distribution.yaml
Owners: @tfoote

bota_driver: 0.5.1-1 in 'melodic/distribution.yaml' [bloom] (#27151)
  melodic/distribution.yaml
Owners: @clalancette

rc_genicam_api: 2.4.4-1 in 'melodic/distribution.yaml' [bloom] (#27152)
  melodic/distribution.yaml
Owners: @clalancette

rc_genicam_api: 2.4.4-1 in 'noetic/distribution.yaml' [bloom] (#27153)
  noetic/distribution.yaml
Owners: @sloretz

roscompile: 1.0.3-1 in 'kinetic/distribution.yaml' [bloom] (#27154)
  kinetic/distribution.yaml
Owners: @tfoote

automotive_autonomy_msgs: 3.0.4-1 in 'melodic/distribution.yaml' [bloom] (#27155)
  melodic/distribution.yaml
Owners: @clalancette

automotive_autonomy_msgs: 3.0.4-1 in 'noetic/distribution.yaml' [bloom] (#27156)
  noetic/distribution.yaml
Owners: @sloretz

rc_genicam_api: 2.4.4-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

rc_genicam_api: 2.4.4-1 in 'dashing/distribution.yaml' [bloom] (#27157)
  dashing/distribution.yaml
Owners: @nuclearsandwich

urg_node: 0.1.15-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

urg_node: 0.1.15-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

urg_node: 0.1.15-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

rc_genicam_api: 2.4.4-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

rc_genicam_api: 2.4.4-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

Move the Foxy urdfdom repository the old location.
  foxy/distribution.yaml
Owners: @jacobperron

[dep] Add pip version of boto3.
  rosdep/python.yaml
Owners: @ros/rosdeputies

rc_genicam_api: 2.4.4-1 in 'foxy/distribution.yaml' [bloom] (#27162)
  foxy/distribution.yaml
Owners: @jacobperron

rc_genicam_api: 2.4.4-1 in 'eloquent/distribution.yaml' [bloom] (#27161)
  eloquent/distribution.yaml
Owners: @mjcarroll

urg_node: 0.1.15-1 in 'noetic/distribution.yaml' [bloom] (#27160)
  noetic/distribution.yaml
Owners: @sloretz
