Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

rcutils: 3.0.0-1 in 'rolling/distribution.yaml' [bloom] (#27568)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rosbag2: 0.5.0-1 in 'rolling/distribution.yaml' [bloom] (#27570)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

Cyclone upstream development branch 0.7 version
  dashing/distribution.yaml
Owners: @nuclearsandwich

Cyclone Dashing upstream development branch 0.7 version (#27571)
  dashing/distribution.yaml
Owners: @nuclearsandwich

moveit: 1.0.7-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Add rosdep key for python3 thriftpy (#27488)
  rosdep/python.yaml
Owners: @ros/rosdeputies

stag_ros: 0.3.6-3 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

vesc: 1.0.0-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

rviz: 7.0.7-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

Adding new repository for indexing: tb3_tools
  kinetic/distribution.yaml
Owners: @tfoote

vesc: 1.0.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Adding new repository for indexing: tb3_tools
  kinetic/distribution.yaml
Owners: @tfoote

Adding new repository for indexing: tb3_tools
  kinetic/distribution.yaml
Owners: @tfoote

Adding new repository for indexing: tb3_tools
  kinetic/distribution.yaml
Owners: @tfoote

rename pip only package
  rosdep/python.yaml
Owners: @ros/rosdeputies

add python-xmlplain-pip package
  rosdep/python.yaml
Owners: @ros/rosdeputies

tvm_vendor: 0.7.1-1 in 'dashing/distribution.yaml' [bloom] (#27544)
  dashing/distribution.yaml
Owners: @nuclearsandwich

Add rosdep key for python3 thriftpy fixes
  rosdep/python.yaml
Owners: @ros/rosdeputies

ros_controllers: 0.18.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

warehouse_ros: 2.0.0-1 in 'foxy/distribution.yaml' [bloom] (#27560)
  foxy/distribution.yaml
Owners: @jacobperron

srdfdom: 2.0.0-1 in 'foxy/distribution.yaml' [bloom] (#27563)
  foxy/distribution.yaml
Owners: @jacobperron

moveit_resources: 2.0.0-1 in 'foxy/distribution.yaml' [bloom] (#27564)
  foxy/distribution.yaml
Owners: @jacobperron

geometric_shapes: 2.0.0-1 in 'foxy/distribution.yaml' [bloom] (#27565)
  foxy/distribution.yaml
Owners: @jacobperron

stag_ros: 0.3.6-3 in 'noetic/distribution.yaml' [bloom] (#27573)
  noetic/distribution.yaml
Owners: @sloretz

ros_controllers: 0.18.1-1 in 'noetic/distribution.yaml' [bloom] (#27581)
  noetic/distribution.yaml
Owners: @sloretz

vesc: 1.0.0-1 in 'kinetic/distribution.yaml' [bloom] (#27574)
  kinetic/distribution.yaml
Owners: @tfoote

rviz: 7.0.7-1 in 'eloquent/distribution.yaml' [bloom] (#27575)
  eloquent/distribution.yaml
Owners: @mjcarroll

Add PyBullet (#27537)
  rosdep/python.yaml
Owners: @ros/rosdeputies

Add rosdep key for python3 thriftpy fixes (#27582)
  rosdep/python.yaml
Owners: @ros/rosdeputies

warehouse_ros_mongo: 2.0.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

moveit_msgs: 2.0.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

cob_manipulation: 0.7.5-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

cob_manipulation: 0.7.5-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

lvr2: 20.11.2-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

add python3-six
  rosdep/python.yaml
Owners: @ros/rosdeputies

lvr2: 20.11.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

transport_drivers: 0.0.6-4 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

remove python-xmlschema-pip tag
  rosdep/python.yaml
Owners: @ros/rosdeputies

add python3-xmlschema package
  rosdep/python.yaml
Owners: @ros/rosdeputies

fix yaml tag
  rosdep/python.yaml
Owners: @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies
