Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies

rosidl_typesupport_gurumdds: 0.7.8-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

rmw_gurumdds: 0.7.9-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

Test pull request for leo packages (noetic)
  noetic/distribution.yaml
Owners: @sloretz

warehouse_ros_mongo: 2.0.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

moveit_msgs: 2.0.0-1 in 'foxy/distribution.yaml' [bloom] (#27567)
  foxy/distribution.yaml
Owners: @jacobperron

Adding new repository for indexing: tb3_tools (#27579)
  kinetic/distribution.yaml
Owners: @tfoote

lvr2: 20.11.2-1 in 'noetic/distribution.yaml' [bloom] (#27588)
  noetic/distribution.yaml
Owners: @sloretz

Test pull request for leo packages (melodic)
  melodic/distribution.yaml
Owners: @clalancette

transport_drivers: 0.0.6-4 in 'dashing/distribution.yaml' [bloom] (#27589)
  dashing/distribution.yaml
Owners: @nuclearsandwich

rosidl_typesupport_gurumdds: 0.7.8-1 in 'dashing/distribution.yaml' [bloom] (#27590)
  dashing/distribution.yaml
Owners: @nuclearsandwich

rmw_gurumdds: 0.7.9-1 in 'dashing/distribution.yaml' [bloom] (#27591)
  dashing/distribution.yaml
Owners: @nuclearsandwich

warehouse_ros_mongo: 2.0.0-1 in 'foxy/distribution.yaml' [bloom] (#27593)
  foxy/distribution.yaml
Owners: @jacobperron

add python3-pypng
  rosdep/python.yaml
Owners: @ros/rosdeputies

exclude xenial for python3-pypng
  rosdep/python.yaml
Owners: @ros/rosdeputies

Added pyquaternion pip package to python.yaml for ubuntu and debian
  rosdep/python.yaml
Owners: @ros/rosdeputies

[dep] apt-transport-https
  rosdep/base.yaml
Owners: @ros/rosdeputies

add python-xmlschema-pip package (#27580)
  rosdep/python.yaml
Owners: @ros/rosdeputies

urdfdom_py: 0.4.5-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

urdfdom_py: 0.4.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

plotjuggler: 3.0.4-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 3.0.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

plotjuggler: 3.0.4-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

ament_lint: 0.8.2-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

pluginlib: 2.4.2-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

rclcpp: 0.8.5-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

rcl: 0.8.5-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

geometry2: 0.12.6-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

launch: 0.9.7-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

launch_ros: 0.9.6-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

ament_lint: 0.8.2-1 in 'eloquent/distribution.yaml' [bloom] (#27603)
  eloquent/distribution.yaml
Owners: @mjcarroll

pluginlib: 2.4.2-1 in 'eloquent/distribution.yaml' [bloom] (#27604)
  eloquent/distribution.yaml
Owners: @mjcarroll

rclcpp: 0.8.5-1 in 'eloquent/distribution.yaml' [bloom] (#27605)
  eloquent/distribution.yaml
Owners: @mjcarroll

rcl: 0.8.5-1 in 'eloquent/distribution.yaml' [bloom] (#27606)
  eloquent/distribution.yaml
Owners: @mjcarroll

geometry2: 0.12.6-1 in 'eloquent/distribution.yaml' [bloom] (#27607)
  eloquent/distribution.yaml
Owners: @mjcarroll

launch: 0.9.7-1 in 'eloquent/distribution.yaml' [bloom] (#27608)
  eloquent/distribution.yaml
Owners: @mjcarroll

launch_ros: 0.9.6-1 in 'eloquent/distribution.yaml' [bloom] (#27609)
  eloquent/distribution.yaml
Owners: @mjcarroll

ros2cli: 0.8.8-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

rcutils: 0.8.5-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

rosidl: 0.8.3-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

ros2cli: 0.8.8-1 in 'eloquent/distribution.yaml' [bloom] (#27610)
  eloquent/distribution.yaml
Owners: @mjcarroll
