Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @tfoote, @clalancette, @ros/rosdeputies

mavlink: 2019.2.2-0 in 'melodic/distribution.yaml' [bloom] (#20141)
  melodic/distribution.yaml
Owners: @clalancette

mavros: 0.29.0-0 in 'kinetic/distribution.yaml' [bloom] (#20142)
  kinetic/distribution.yaml
Owners: @tfoote

mavros: 0.29.0-0 in 'lunar/distribution.yaml' [bloom] (#20143)
  lunar/distribution.yaml
Owners: @clalancette

fkie_potree_rviz_plugin: 1.0.0-0 in 'kinetic/distribution.yaml' [bloom] (#20136)
  kinetic/distribution.yaml
Owners: @tfoote

py_trees_ros: 0.5.16-0 in 'kinetic/distribution.yaml' [bloom] (#20146)
  kinetic/distribution.yaml
Owners: @tfoote

py_trees_ros: 0.5.16-0 in 'melodic/distribution.yaml' [bloom] (#20147)
  melodic/distribution.yaml
Owners: @clalancette

mavros: 0.29.0-0 in 'melodic/distribution.yaml' [bloom] (#20148)
  melodic/distribution.yaml
Owners: @clalancette

rqt_tf_tree: 0.6.0-0 in 'indigo/distribution.yaml' [bloom] (#20151)
  indigo/distribution.yaml
Owners: @tfoote

rqt_tf_tree: 0.6.0-0 in 'kinetic/distribution.yaml' [bloom] (#20152)
  kinetic/distribution.yaml
Owners: @tfoote

rqt_tf_tree: 0.6.0-0 in 'melodic/distribution.yaml' [bloom] (#20153)
  melodic/distribution.yaml
Owners: @clalancette

rqt_tf_tree: 0.6.0-0 in 'lunar/distribution.yaml' [bloom] (#20154)
  lunar/distribution.yaml
Owners: @clalancette

uuv_simulator: 0.6.4-0 in 'kinetic/distribution.yaml' [bloom] (#20155)
  kinetic/distribution.yaml
Owners: @tfoote

jsk_roseus: 1.7.4-0 in 'melodic/distribution.yaml' [bloom] (#20156)
  melodic/distribution.yaml
Owners: @clalancette

jsk_roseus: 1.7.4-0 in 'lunar/distribution.yaml' [bloom] (#20157)
  lunar/distribution.yaml
Owners: @clalancette

jsk_roseus: 1.7.4-0 in 'kinetic/distribution.yaml' [bloom] (#20158)
  kinetic/distribution.yaml
Owners: @tfoote

jsk_roseus: 1.7.4-0 in 'indigo/distribution.yaml' [bloom] (#20159)
  indigo/distribution.yaml
Owners: @tfoote

nerian_stereo: 3.3.0-1 in 'melodic/distribution.yaml' [bloom] (#20163)
  melodic/distribution.yaml
Owners: @clalancette

nerian_stereo: 3.3.0-1 in 'lunar/distribution.yaml' [bloom] (#20164)
  lunar/distribution.yaml
Owners: @clalancette

nerian_stereo: 3.3.0-1 in 'kinetic/distribution.yaml' [bloom] (#20165)
  kinetic/distribution.yaml
Owners: @tfoote

rc_genicam_api: 2.1.0-0 in 'melodic/distribution.yaml' [bloom] (#20166)
  melodic/distribution.yaml
Owners: @clalancette

rc_genicam_api: 2.1.0-0 in 'kinetic/distribution.yaml' [bloom] (#20168)
  kinetic/distribution.yaml
Owners: @tfoote

rc_genicam_api: 2.1.0-0 in 'indigo/distribution.yaml' [bloom] (#20169)
  indigo/distribution.yaml
Owners: @tfoote

rc_dynamics_api: 0.7.1-0 in 'melodic/distribution.yaml' [bloom] (#20170)
  melodic/distribution.yaml
Owners: @clalancette

rc_dynamics_api: 0.7.1-0 in 'lunar/distribution.yaml' [bloom] (#20171)
  lunar/distribution.yaml
Owners: @clalancette

rc_dynamics_api: 0.7.1-0 in 'kinetic/distribution.yaml' [bloom] (#20172)
  kinetic/distribution.yaml
Owners: @tfoote

rc_dynamics_api: 0.7.1-0 in 'indigo/distribution.yaml' [bloom] (#20173)
  indigo/distribution.yaml
Owners: @tfoote

rc_genicam_api: 2.1.0-0 in 'lunar/distribution.yaml' [bloom] (#20167)
  lunar/distribution.yaml
Owners: @clalancette

rqt_graph: 1.0.0-0 in 'crystal/distribution.yaml' [bloom] (#20174)
  crystal/distribution.yaml
Owners: @nuclearsandwich

rqt: 1.0.2-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

rqt: 1.0.2-0 in 'crystal/distribution.yaml' [bloom] (#20175)
  crystal/distribution.yaml
Owners: @nuclearsandwich

lgsvl_msgs: 0.0.1-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

lgsvl_msgs: 0.0.1-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

lgsvl_msgs: 0.0.1-0 in 'indigo/distribution.yaml' [bloom]
  indigo/distribution.yaml
Owners: @tfoote

lgsvl_msgs: 0.0.1-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

lgsvl_msgs: 0.0.1-0 in 'kinetic/distribution.yaml' [bloom] (#20176)
  kinetic/distribution.yaml
Owners: @tfoote

lgsvl_msgs: 0.0.1-0 in 'indigo/distribution.yaml' [bloom] (#20178)
  indigo/distribution.yaml
Owners: @tfoote

lgsvl_msgs: 0.0.1-0 in 'melodic/distribution.yaml' [bloom] (#20177)
  melodic/distribution.yaml
Owners: @clalancette

lgsvl_msgs: 0.0.1-0 in 'lunar/distribution.yaml' [bloom] (#20179)
  lunar/distribution.yaml
Owners: @clalancette

plotjuggler: 2.0.5-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Update distribution.yaml
  melodic/distribution.yaml
Owners: @clalancette

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
rosdep/* @ros/rosdeputies
