Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

add cnpy package
  noetic/distribution.yaml
Owners: @sloretz

Updating llvm in Debian Stretch to match Ubuntu 18.04 version.
  rosdep/base.yaml
Owners: @ros/rosdeputies

pilz_robots: 0.5.21-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

xclip is a command line interface to X selections (clipboard) (#27417)
  rosdep/base.yaml
Owners: @ros/rosdeputies

Add rosdep key for owlready2 (python3 pip) (#27418)
  rosdep/python.yaml
Owners: @ros/rosdeputies

pilz_robots: 0.5.21-1 in 'melodic/distribution.yaml' [bloom] (#27433)
  melodic/distribution.yaml
Owners: @clalancette

Melodic: Update exotica to 6.0.2 to address memory exhaustion
  melodic/distribution.yaml
Owners: @clalancette

cyclonedds: 0.7.0-4 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

cyclonedds: 0.7.0-4 in 'eloquent/distribution.yaml' [bloom] (#27435)
  eloquent/distribution.yaml
Owners: @mjcarroll

add arch, gentoo, osx keys
  rosdep/python.yaml
Owners: @ros/rosdeputies

log_view: 0.1.0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

log_view: 0.1.0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

log_view: 0.1.0 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

Add new key for gurumdds-2.7.
  rosdep/base.yaml
Owners: @ros/rosdeputies

mention to check package names
  REVIEW_GUIDELINES.md
Owners: none

toposens: 2.1.1-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

add sob_layer (#27427)
  noetic/distribution.yaml
Owners: @sloretz

psen_scan_v2: 0.1.2-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Update branch name for doc and source key
  melodic/distribution.yaml
Owners: @clalancette

rosbridge_suite kinetic 0.11.11-1
  kinetic/distribution.yaml
Owners: @tfoote

rosbridge_suite melodic 0.11.11-1
  melodic/distribution.yaml
Owners: @clalancette

rosbridge_suite noetic 0.11.11-1
  noetic/distribution.yaml
Owners: @sloretz

toposens: 2.1.1-1 in 'kinetic/distribution.yaml' [bloom] (#27442)
  kinetic/distribution.yaml
Owners: @tfoote

rc_visard: 3.1.0-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

rc_visard: 3.1.0-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

rc_visard: 3.1.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

rc_genicam_driver: 0.4.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

rc_genicam_driver: 0.4.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

rc_genicam_driver: 0.4.0-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

rc_common_msgs: 0.5.3-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

rc_common_msgs: 0.5.3-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

rc_common_msgs: 0.5.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

sot-tools: 2.3.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

robot_statemachine: 1.2.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

pilz_industrial_motion: 0.4.12-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

cnpy: 0.0.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

tvm_vendor: 0.7.0-1 in 'dashing/distribution.yaml' [bloom] (#27429)
  dashing/distribution.yaml
Owners: @nuclearsandwich

rqt_bag: 1.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

[rosdep] Adding llvm-7 and llvm-7-dev keys.
  rosdep/base.yaml
Owners: @ros/rosdeputies

ament_cmake: 0.7.6-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies
