Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

Gentoo entries for gazebo11 and python3-pykdl (#27107)
  rosdep/base.yaml
  rosdep/python.yaml
Owners: @ros/rosdeputies

Updating mrpt2 to 2.1.3-2
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

Updating mrpt2 to 2.1.3-2 (#27124)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

baldor: 0.1.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

Fix indentation on baldor manual entry
  noetic/distribution.yaml
Owners: @sloretz

criutils: 0.1.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

handeye: 0.1.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

ros_numpy: 0.0.4-5 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

mcl_3dl: 0.5.1-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

mcl_3dl: 0.5.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

mcl_3dl: 0.5.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

realsense2_camera: 2.2.18-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

librealsense2: 2.39.0-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

realsense2_camera: 2.2.18-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

librealsense2: 2.39.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

contracts_lite_vendor: 0.4.1-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

contracts_lite_vendor: 0.4.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

dingo: 0.1.4-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

contracts_lite_vendor: 0.4.1-1 in 'dashing/distribution.yaml' [bloom] (#27136)
  dashing/distribution.yaml
Owners: @nuclearsandwich

baldor: 0.1.3-1 in 'noetic/distribution.yaml' [bloom] (#27125)
  noetic/distribution.yaml
Owners: @sloretz

criutils: 0.1.4-1 in 'noetic/distribution.yaml' [bloom] (#27126)
  noetic/distribution.yaml
Owners: @sloretz

handeye: 0.1.2-1 in 'noetic/distribution.yaml' [bloom] (#27127)
  noetic/distribution.yaml
Owners: @sloretz

ros_numpy: 0.0.4-5 in 'noetic/distribution.yaml' [bloom] (#27128)
  noetic/distribution.yaml
Owners: @sloretz

mcl_3dl: 0.5.1-1 in 'kinetic/distribution.yaml' [bloom] (#27129)
  kinetic/distribution.yaml
Owners: @tfoote

mcl_3dl: 0.5.1-1 in 'melodic/distribution.yaml' [bloom] (#27130)
  melodic/distribution.yaml
Owners: @clalancette

mcl_3dl: 0.5.1-1 in 'noetic/distribution.yaml' [bloom] (#27131)
  noetic/distribution.yaml
Owners: @sloretz

realsense2_camera: 2.2.18-1 in 'kinetic/distribution.yaml' [bloom] (#27132)
  kinetic/distribution.yaml
Owners: @tfoote

librealsense2: 2.39.0-1 in 'kinetic/distribution.yaml' [bloom] (#27133)
  kinetic/distribution.yaml
Owners: @tfoote

realsense2_camera: 2.2.18-1 in 'melodic/distribution.yaml' [bloom] (#27134)
  melodic/distribution.yaml
Owners: @clalancette

librealsense2: 2.39.0-1 in 'melodic/distribution.yaml' [bloom] (#27135)
  melodic/distribution.yaml
Owners: @clalancette

contracts_lite_vendor: 0.4.1-1 in 'foxy/distribution.yaml' [bloom] (#27137)
  foxy/distribution.yaml
Owners: @jacobperron

dingo: Updated branch.
  melodic/distribution.yaml
Owners: @clalancette

dingo: 0.1.4-1 in 'melodic/distribution.yaml' [bloom] (#27138)
  melodic/distribution.yaml
Owners: @clalancette

Move urdfdom back to the 'ros' organization. (#27002)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

jsk_visualization: 2.1.7-2 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

jsk_visualization: 2.1.7-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Revert "proj: 5.2.0-3 in 'dashing/distribution.yaml' [bloom]"
  dashing/distribution.yaml
Owners: @nuclearsandwich

jsk_visualization: 2.1.7-4 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

jsk_visualization: 2.1.7-2 in 'kinetic/distribution.yaml' [bloom] (#27140)
  kinetic/distribution.yaml
Owners: @tfoote

jsk_visualization: 2.1.7-2 in 'melodic/distribution.yaml' [bloom] (#27141)
  melodic/distribution.yaml
Owners: @clalancette

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies
