Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @tfoote, @clalancette, @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
rosdep/* @ros/rosdeputies

Allow source entries to be tags in some cases.
  test/test_url_validity.py
Owners: none

Add support for using commit ids as version.
  test/test_url_validity.py
Owners: none

Disable commits and pull requests explicitly.
  crystal/distribution.yaml
Owners: @nuclearsandwich

Add explaination of why source version tag must be a branch (#20286)
  CONTRIBUTING.md
Owners: none

Always clean up tempdir.
  test/test_url_validity.py
Owners: none

Only check commit id if the version matches a 40 char id string.
  test/test_url_validity.py
Owners: none

Add libusb for alpine
  rosdep/base.yaml
Owners: @ros/rosdeputies

Add bluez for alpine
  rosdep/base.yaml
  rosdep/python.yaml
Owners: @ros/rosdeputies

Add joystick for alpine
  rosdep/base.yaml
Owners: @ros/rosdeputies

Add v4l-utils for alpine
  rosdep/base.yaml
Owners: @ros/rosdeputies

robot_localization: 2.4.7-2 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

robot_localization: 2.5.6-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

robot_localization: 2.6.4-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

pilz_robots: 0.4.7-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

bfl: 0.8.0-1 in 'melodic/distribution.yaml' [bloom] (#20260)
  melodic/distribution.yaml
Owners: @clalancette

fetch_open_auto_dock: 0.1.2-0 in melodic (#20300)
  melodic/distribution.yaml
Owners: @clalancette

jsk_recognition: 1.2.7-2 in 'melodic/distribution.yaml' [bloom] (#20308)
  melodic/distribution.yaml
Owners: @clalancette

realtime_tools: 1.13.1-0 in 'melodic/distribution.yaml' [bloom] (#20310)
  melodic/distribution.yaml
Owners: @clalancette

sick_scan: 0.0.16-0 in 'melodic/distribution.yaml' [bloom] (#20312)
  melodic/distribution.yaml
Owners: @clalancette

sick_scan: 0.0.16-0 in 'lunar/distribution.yaml' [bloom] (#20314)
  lunar/distribution.yaml
Owners: @clalancette

robot_localization: 2.6.4-0 in 'melodic/distribution.yaml' [bloom] (#20321)
  melodic/distribution.yaml
Owners: @clalancette

robot_localization: 2.5.6-0 in 'lunar/distribution.yaml' [bloom] (#20320)
  lunar/distribution.yaml
Owners: @clalancette

jsk_recognition: 1.2.7-0 in 'kinetic/distribution.yaml' [bloom] (#20306)
  kinetic/distribution.yaml
Owners: @tfoote

uuv_simulator: 0.6.7-0 in 'kinetic/distribution.yaml' [bloom] (#20311)
  kinetic/distribution.yaml
Owners: @tfoote

sick_scan: 0.0.16-0 in 'kinetic/distribution.yaml' [bloom] (#20313)
  kinetic/distribution.yaml
Owners: @tfoote

robot_localization: 2.4.7-2 in 'kinetic/distribution.yaml' [bloom] (#20319)
  kinetic/distribution.yaml
Owners: @tfoote

pilz_robots: 0.4.7-0 in 'kinetic/distribution.yaml' [bloom] (#20322)
  kinetic/distribution.yaml
Owners: @tfoote

sick_scan: 0.0.16-0 in 'indigo/distribution.yaml' [bloom] (#20315)
  indigo/distribution.yaml
Owners: @tfoote

nerian_stereo: 3.3.2-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

nerian_stereo: 3.3.2-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

nerian_stereo: 3.3.2-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

jsk_recognition: 1.2.7-0 in 'indigo/distribution.yaml' [bloom] (#20305)
  indigo/distribution.yaml
Owners: @tfoote

fetch_robots: 0.8.0-1 in 'melodic/distribution.yaml' [bloom] (#20303)
  melodic/distribution.yaml
Owners: @clalancette

nerian_stereo: 3.3.2-0 in 'kinetic/distribution.yaml' [bloom] (#20325)
  kinetic/distribution.yaml
Owners: @tfoote

nerian_stereo: 3.3.2-0 in 'lunar/distribution.yaml' [bloom] (#20324)
  lunar/distribution.yaml
Owners: @clalancette

nerian_stereo: 3.3.2-0 in 'melodic/distribution.yaml' [bloom] (#20323)
  melodic/distribution.yaml
Owners: @clalancette

fixing check priority
  test/test_url_validity.py
Owners: none

fetch_robots: 0.8.1-0 in 'melodic' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

fetch_robots: 0.8.2-0 in 'melodic' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

fetch_robots: 0.8.2-0 in 'melodic' [bloom] (#20327)
  melodic/distribution.yaml
Owners: @clalancette
