Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

osrf_testing_tools_cpp: 1.2.3-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

poco_vendor: 1.2.1-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

log_view: 0.1.0 in 'kinetic/distribution.yaml' [bloom] (#27437)
  kinetic/distribution.yaml
Owners: @tfoote

rosbridge_suite kinetic 0.11.11-1 (#27444)
  kinetic/distribution.yaml
Owners: @tfoote

rc_visard: 3.1.0-1 in 'kinetic/distribution.yaml' [bloom] (#27448)
  kinetic/distribution.yaml
Owners: @tfoote

rc_genicam_driver: 0.4.0-1 in 'kinetic/distribution.yaml' [bloom] (#27452)
  kinetic/distribution.yaml
Owners: @tfoote

rc_common_msgs: 0.5.3-1 in 'kinetic/distribution.yaml' [bloom] (#27453)
  kinetic/distribution.yaml
Owners: @tfoote

Melodic: Update exotica to 6.0.2 to address memory exhaustion (#27434)
  melodic/distribution.yaml
Owners: @clalancette

log_view: 0.1.0 in 'melodic/distribution.yaml' [bloom] (#27438)
  melodic/distribution.yaml
Owners: @clalancette

psen_scan_v2: 0.1.2-1 in 'melodic/distribution.yaml' [bloom] (#27443)
  melodic/distribution.yaml
Owners: @clalancette

rosbridge_suite melodic 0.11.11-1 (#27445)
  melodic/distribution.yaml
Owners: @clalancette

rc_visard: 3.1.0-2 in 'melodic/distribution.yaml' [bloom] (#27447)
  melodic/distribution.yaml
Owners: @clalancette

rc_genicam_driver: 0.4.0-1 in 'melodic/distribution.yaml' [bloom] (#27451)
  melodic/distribution.yaml
Owners: @clalancette

rc_common_msgs: 0.5.3-1 in 'melodic/distribution.yaml' [bloom] (#27454)
  melodic/distribution.yaml
Owners: @clalancette

pilz_industrial_motion: 0.4.12-1 in 'melodic/distribution.yaml' [bloom] (#27458)
  melodic/distribution.yaml
Owners: @clalancette

robot_statemachine: 1.2.1-1 in 'melodic/distribution.yaml' [bloom] (#27457)
  melodic/distribution.yaml
Owners: @clalancette

robotont_nuc_description: 0.0.1-1 in 'melodic/distribution.yaml' [bloom] (#27367)
  melodic/distribution.yaml
Owners: @clalancette

ros1_bridge: 0.7.7-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

exotica: 6.0.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

marti_common: 3.3.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

marti_common: 3.3.2-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

marti_common: 3.3.2-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

Update exotica to 6.0.2-1 for kinetic
  kinetic/distribution.yaml
Owners: @tfoote

rosidl_typesupport_fastrtps: 0.7.2-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

rosidl_python: 0.7.11-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

rosidl: 0.7.10-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

rmw_connext: 0.7.6-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

rmw_fastrtps: 0.7.8-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

rcutils: 0.7.6-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

rclcpp: 0.7.15-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

log_view: 0.1.1-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

log_view: 0.1.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

log_view: 0.1.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

examples: 0.7.5-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

examples: 0.7.5-2 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

launch_ros: 0.8.9-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

rviz: 6.1.7-2 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

ament_cmake: 0.7.6-1 in 'dashing/distribution.yaml' [bloom] (#27461)
  dashing/distribution.yaml
Owners: @nuclearsandwich

rclcpp: 0.7.15-1 in 'dashing/distribution.yaml' [bloom] (#27476)
  dashing/distribution.yaml
Owners: @nuclearsandwich

rviz: 6.1.7-2 in 'dashing/distribution.yaml' [bloom] (#27483)
  dashing/distribution.yaml
Owners: @nuclearsandwich

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies
