Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @tfoote, @clalancette, @ros/rosdeputies

Added libxml++2.6 for bouncy
  rosdep/base.yaml
Owners: @ros/rosdeputies

cloudwatch_logger: 2.0.0-1 in 'melodic/distribution.yaml' [bloom] (#20662)
  melodic/distribution.yaml
Owners: @clalancette

Revert "lex_node: 2.0.0-0 in 'kinetic/distribution.yaml' [bloom] (#20634)"
  kinetic/distribution.yaml
Owners: @tfoote

Revert "kinesis_video_streamer: 2.0.0-0 in 'kinetic/distribution.yaml' [bloom] (#20630)"
  kinetic/distribution.yaml
Owners: @tfoote

Revert "cloudwatch_metrics_collector: 2.0.0-0 in 'kinetic/distribution.yaml' [bloom] (#20624)"
  kinetic/distribution.yaml
Owners: @tfoote

Revert "lex_node: 2.0.0-0 in 'kinetic/distribution.yaml' [bloom] (#20634)" (#20670)
  kinetic/distribution.yaml
Owners: @tfoote

Revert "kinesis_video_streamer: 2.0.0-0 in 'kinetic/distribution.yaml' [bloom] (#20630)" (#20671)
  kinetic/distribution.yaml
Owners: @tfoote

Revert "cloudwatch_metrics_collector: 2.0.0-0 in 'kinetic/distribution.yaml' [bloom] (#20624)" (#20672)
  kinetic/distribution.yaml
Owners: @tfoote

Actually reformatted
  rosdep/base.yaml
Owners: @ros/rosdeputies

md49_base_controller: 0.1.4-1 in 'melodic/distribution.yaml' [bloom] (#20660)
  melodic/distribution.yaml
Owners: @clalancette

codec_image_transport: 0.0.1-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

py_trees: 1.1.0-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

py_trees_ros_interfaces: 1.1.0-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

[py_trees_ros] repo url changes
  melodic/distribution.yaml
Owners: @clalancette

[py_trees_ros] repo url changes
  kinetic/distribution.yaml
Owners: @tfoote

plotjuggler: 2.1.8-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

ros_type_introspection: 1.3.1-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

ros_type_introspection: 1.3.1-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

plotjuggler: 2.1.8-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

ros_type_introspection: 1.3.1-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 2.1.8-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

fix release repository
  kinetic/distribution.yaml
Owners: @tfoote

fix release repository
  melodic/distribution.yaml
Owners: @clalancette

Update distribution.yaml
  crystal/distribution.yaml
Owners: @nuclearsandwich

drop py_trees_msgs and fix release branch
  crystal/distribution.yaml
Owners: @nuclearsandwich

Revert "h264_video_encoder: 1.1.1-0 in 'kinetic/distribution.yaml' [bloom] (#20628)"
  kinetic/distribution.yaml
Owners: @tfoote

Revert "health_metric_collector: 2.0.0-0 in 'kinetic/distribution.yaml' [bloom] (#20626)"
  kinetic/distribution.yaml
Owners: @tfoote

Revert "h264_video_encoder: 1.1.1-0 in 'kinetic/distribution.yaml' [bloom] (#20628)" (#20683)
  kinetic/distribution.yaml
Owners: @tfoote

Revert "health_metric_collector: 2.0.0-0 in 'kinetic/distribution.yaml' [bloom] (#20626)" (#20684)
  kinetic/distribution.yaml
Owners: @tfoote

Reverting aws_common since the coordinatred releases were not building
  kinetic/distribution.yaml
Owners: @tfoote

Reverting aws_common since the coordinatred releases were not building (#20685)
  kinetic/distribution.yaml
Owners: @tfoote

usb_cam_hardware: 0.0.4-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Update crystal/distribution.yaml for image_common
  crystal/distribution.yaml
Owners: @nuclearsandwich

revert aws_ros1_common to match other roll backs
  kinetic/distribution.yaml
Owners: @tfoote

Revert h264_encoder_core
  kinetic/distribution.yaml
Owners: @tfoote

revert aws_ros1_common to match other roll backs (#20688)
  kinetic/distribution.yaml
Owners: @tfoote

Revert "kinesis_manager: 2.0.0-0 in 'kinetic/distribution.yaml' [bloom] (#20613)"
  kinetic/distribution.yaml
Owners: @tfoote

revert cloudwatch_logger kinetic
  kinetic/distribution.yaml
Owners: @tfoote

revert cloudwatch_logger kinetic (#20691)
  kinetic/distribution.yaml
Owners: @tfoote

Revert h264_encoder_core (#20689)
  kinetic/distribution.yaml
Owners: @tfoote

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
rosdep/* @ros/rosdeputies
