Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @tfoote, @clalancette, @ros/rosdeputies

genpy: 0.6.8-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

rosconsole: 1.13.10-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

ros_tutorials: 0.9.1-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

rosconsole_bridge: 0.5.3-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

roscpp_core: 0.6.12-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

std_msgs: 0.5.12-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

rospack: 2.5.3-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

ros: 1.14.5-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

catkin: 0.7.15-0 in 'melodic/distribution.yaml' [bloom] (#20449)
  melodic/distribution.yaml
Owners: @clalancette

genmsg: 0.5.12-0 in 'melodic/distribution.yaml' [bloom] (#20450)
  melodic/distribution.yaml
Owners: @clalancette

gencpp: 0.6.1-0 in 'melodic/distribution.yaml' [bloom] (#20448)
  melodic/distribution.yaml
Owners: @clalancette

genpy: 0.6.8-0 in 'melodic/distribution.yaml' [bloom] (#20451)
  melodic/distribution.yaml
Owners: @clalancette

rosconsole: 1.13.10-0 in 'melodic/distribution.yaml' [bloom] (#20452)
  melodic/distribution.yaml
Owners: @clalancette

ros_tutorials: 0.9.1-0 in 'melodic/distribution.yaml' [bloom] (#20453)
  melodic/distribution.yaml
Owners: @clalancette

rosconsole_bridge: 0.5.3-0 in 'melodic/distribution.yaml' [bloom] (#20454)
  melodic/distribution.yaml
Owners: @clalancette

roscpp_core: 0.6.12-0 in 'melodic/distribution.yaml' [bloom] (#20455)
  melodic/distribution.yaml
Owners: @clalancette

std_msgs: 0.5.12-0 in 'melodic/distribution.yaml' [bloom] (#20456)
  melodic/distribution.yaml
Owners: @clalancette

rospack: 2.5.3-0 in 'melodic/distribution.yaml' [bloom] (#20457)
  melodic/distribution.yaml
Owners: @clalancette

ros: 1.14.5-0 in 'melodic/distribution.yaml' [bloom] (#20458)
  melodic/distribution.yaml
Owners: @clalancette

libpointmatcher: 1.3.1-0 in 'indigo/distribution.yaml' [bloom] (#20447)
  indigo/distribution.yaml
Owners: @tfoote

mir_robot: 1.0.3-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

mir_robot: 1.0.3-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Add libclang-dev
  rosdep/base.yaml
Owners: @ros/rosdeputies

mir_robot: 1.0.3-0 in 'lunar/distribution.yaml' [bloom] (#20459)
  lunar/distribution.yaml
Owners: @clalancette

mir_robot: 1.0.3-0 in 'melodic/distribution.yaml' [bloom] (#20460)
  melodic/distribution.yaml
Owners: @clalancette

Adding teleop_keyboard_omni3 to documentation index for distro
  kinetic/distribution.yaml
Owners: @tfoote

earth_rover_localization: 1.2.0-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

Added Archlinux and Fedora entries.
  rosdep/base.yaml
Owners: @ros/rosdeputies

dynamic_robot_state_publisher: 1.1.1-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

static_transform_mux: 1.1.0-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

add python-pulsectl-pip
  rosdep/python.yaml
Owners: @ros/rosdeputies

Include headers in Fedora's clang rule
  rosdep/base.yaml
Owners: @ros/rosdeputies

rqt_action: 1.0.1-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

rqt_topic: 1.0.0-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

[melodic] Add moveit_tutorials. Correct version
  melodic/distribution.yaml
Owners: @clalancette

Add libclang-dev (#20461)
  rosdep/base.yaml
Owners: @ros/rosdeputies

earth_rover_localization: 1.2.0-0 in 'kinetic/distribution.yaml' [bloom] (#20463)
  kinetic/distribution.yaml
Owners: @tfoote

dynamic_robot_state_publisher: 1.1.1-0 in 'melodic/distribution.yaml' [bloom] (#20464)
  melodic/distribution.yaml
Owners: @clalancette

static_transform_mux: 1.1.0-0 in 'melodic/distribution.yaml' [bloom] (#20465)
  melodic/distribution.yaml
Owners: @clalancette

add python-pulsectl-pip (#20466)
  rosdep/python.yaml
Owners: @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
rosdep/* @ros/rosdeputies
