Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @tfoote, @clalancette, @ros/rosdeputies

rviz: 1.13.3-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

p2os: 2.2.0-0 in 'indigo/distribution.yaml' [bloom]
  indigo/distribution.yaml
Owners: @tfoote

fetch_gazebo in indigo: enable test_pull_requests
  indigo/distribution.yaml
Owners: @tfoote

add python-backoff PyPi: https://pypi.org/project/backoff/1.8.0/#description
  rosdep/python.yaml
Owners: @ros/rosdeputies

pr2_navigation_apps: 1.0.2-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

Added Gamin
  rosdep/base.yaml
Owners: @ros/rosdeputies

system_modes: 0.1.2-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

Use ubuntu metapackage for boost-random
  rosdep/base.yaml
Owners: @ros/rosdeputies

Adds entry for boost-program-options
  rosdep/base.yaml
Owners: @ros/rosdeputies

Rename boost packages
  rosdep/base.yaml
Owners: @ros/rosdeputies

system_modes: 0.1.2-0 in 'crystal/distribution.yaml' [bloom] (#20589)
  crystal/distribution.yaml
Owners: @nuclearsandwich

add requested changes
  rosdep/python.yaml
Owners: @ros/rosdeputies

Alphabetical order
  rosdep/base.yaml
Owners: @ros/rosdeputies

versioned package names are required
  rosdep/base.yaml
Owners: @ros/rosdeputies

catkin: 0.7.17-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

gencpp: 0.6.2-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

ros: 1.14.6-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

catkin: 0.7.17-0 in 'melodic/distribution.yaml' [bloom] (#20592)
  melodic/distribution.yaml
Owners: @clalancette

gencpp: 0.6.2-0 in 'melodic/distribution.yaml' [bloom] (#20593)
  melodic/distribution.yaml
Owners: @clalancette

ros: 1.14.6-0 in 'melodic/distribution.yaml' [bloom] (#20594)
  melodic/distribution.yaml
Owners: @clalancette

rviz: 1.13.3-0 in 'melodic/distribution.yaml' [bloom] (#20583)
  melodic/distribution.yaml
Owners: @clalancette

catkin_virtualenv: 0.4.0-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

linux_networking: 1.0.14-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

Added Gamin (#20588)
  rosdep/base.yaml
Owners: @ros/rosdeputies

ur_modern_driver: add Indigo doc entry and update source.
  indigo/distribution.yaml
Owners: @tfoote

ur_modern_driver: add kinetic doc entry.
  kinetic/distribution.yaml
Owners: @tfoote

ros_canopen: 0.7.10-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

fetch_gazebo in indigo: enable test_pull_requests (#20585)
  indigo/distribution.yaml
Owners: @tfoote

p2os: 2.2.0-0 in 'indigo/distribution.yaml' [bloom] (#20584)
  indigo/distribution.yaml
Owners: @tfoote

catkin_virtualenv: 0.4.0-0 in 'melodic/distribution.yaml' [bloom] (#20595)
  melodic/distribution.yaml
Owners: @clalancette

linux_networking: 1.0.14-0 in 'kinetic/distribution.yaml' [bloom] (#20596)
  kinetic/distribution.yaml
Owners: @tfoote

ur_modern_driver: add Indigo doc entry and update source. (#20597)
  indigo/distribution.yaml
Owners: @tfoote

ros_canopen: 0.7.10-0 in 'kinetic/distribution.yaml' [bloom] (#20599)
  kinetic/distribution.yaml
Owners: @tfoote

ur_modern_driver: add kinetic doc entry. (#20598)
  kinetic/distribution.yaml
Owners: @tfoote

pr2_navigation_apps: 1.0.2-0 in 'kinetic/distribution.yaml' [bloom] (#20587)
  kinetic/distribution.yaml
Owners: @tfoote

add usb_cam_hardware to doc index for kinetic
  kinetic/distribution.yaml
Owners: @tfoote

usb_cam_hardware: 0.0.2-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

incorporating feedback by tfoote
  rosdep/base.yaml
Owners: @ros/rosdeputies

rename python-backoff to python backoff-pip
  rosdep/python.yaml
Owners: @ros/rosdeputies

behaviotree_cpp_v3: 3.0.5-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
rosdep/* @ros/rosdeputies
