Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @tfoote, @clalancette, @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
rosdep/* @ros/rosdeputies

fetch_robots: 0.8.3-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Add gstreamer1.0 for alpine
  rosdep/base.yaml
Owners: @ros/rosdeputies

Add python-gi for alpine
  rosdep/python.yaml
Owners: @ros/rosdeputies

Add libiw-dev for alpine
  rosdep/base.yaml
Owners: @ros/rosdeputies

Add festival (tts) for alpine
  rosdep/base.yaml
Owners: @ros/rosdeputies

rospilot: 1.5.4-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

open_manipulator: 2.0.1-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

open_manipulator: 2.0.1-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

jsk_visualization: 2.1.5-0 in 'indigo/distribution.yaml' [bloom]
  indigo/distribution.yaml
Owners: @tfoote

jsk_visualization: 2.1.5-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

jsk_visualization: 2.1.5-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 2.1.3-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

plotjuggler: 2.1.3-0 in 'indigo/distribution.yaml' [bloom]
  indigo/distribution.yaml
Owners: @tfoote

plotjuggler: 2.1.3-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

plotjuggler: 2.1.3-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Add wxpython key
  rosdep/python.yaml
Owners: @ros/rosdeputies

robot_navigation: 0.2.5-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

rospilot: 1.5.4-0 in 'melodic/distribution.yaml' [bloom] (#20329)
  melodic/distribution.yaml
Owners: @clalancette

open_manipulator: 2.0.1-0 in 'melodic/distribution.yaml' [bloom] (#20331)
  melodic/distribution.yaml
Owners: @clalancette

jsk_visualization: 2.1.5-0 in 'melodic/distribution.yaml' [bloom] (#20334)
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 2.1.3-0 in 'melodic/distribution.yaml' [bloom] (#20338)
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 2.1.3-0 in 'lunar/distribution.yaml' [bloom] (#20337)
  lunar/distribution.yaml
Owners: @clalancette

gripit: 0.0.3-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

rtmros_hironx: 2.1.1-0 in 'indigo/distribution.yaml' [bloom]
  indigo/distribution.yaml
Owners: @tfoote

rtmros_hironx: 2.1.1-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

py_trees_ros: 0.5.17-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

control_msgs: 1.5.0-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

control_msgs: 1.5.0-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Update url validity check with better messages and tag priority (#20287)
  test/test_url_validity.py
Owners: none

fetch_robots: 0.8.3-0 in 'melodic/distribution.yaml' [bloom] (#20328)
  melodic/distribution.yaml
Owners: @clalancette

mapviz: 1.1.0-0 in 'indigo/distribution.yaml' [bloom]
  indigo/distribution.yaml
Owners: @tfoote

mapviz: 1.1.0-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

mapviz: 1.1.0-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

mapviz: 1.1.0-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

fix fedora package name
  rosdep/base.yaml
Owners: @ros/rosdeputies

rosdep: add websocketpp
  rosdep/base.yaml
Owners: @ros/rosdeputies

updating libwebsocketpp
  rosdep/base.yaml
Owners: @ros/rosdeputies

open_manipulator: 2.0.1-1 in 'kinetic/distribution.yaml' [bloom] (#20330)
  kinetic/distribution.yaml
Owners: @tfoote

mapviz: 1.1.0-0 in 'indigo/distribution.yaml' [bloom] (#20348)
  indigo/distribution.yaml
Owners: @tfoote

mapviz: 1.1.0-0 in 'lunar/distribution.yaml' [bloom] (#20350)
  lunar/distribution.yaml
Owners: @clalancette
