Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

embree_vendor: 0.0.6-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

ueye_cam: 1.0.18-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

ueye_cam: 1.0.18-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

ueye_cam: 1.0.18-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

quaternion_operation: 0.0.4-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

color_names: 0.0.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

py_trees: 0.7.6-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

py_trees: 0.6.9-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

osqp: 0.6.2-3 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

qpoases: 3.2.1-3 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

qpoases: 3.2.1-4 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

raptor-dbw-ros: 1.0.0-3 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

core_perception: 1.14.10-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

Add other platforms.
  rosdep/base.yaml
Owners: @ros/rosdeputies

alphabetical sorting
  rosdep/base.yaml
Owners: @ros/rosdeputies

cnpy: 0.0.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

graceful_controller: 0.2.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

graceful_controller: 0.2.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

sick_safetyscanners_base: 1.0.0-2 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

sick_safetyscanners2_interfaces: 1.0.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

ueye_cam: 1.0.18-1 in 'melodic/distribution.yaml' [bloom] (#27934)
  melodic/distribution.yaml
Owners: @clalancette

py_trees: 0.7.6-2 in 'noetic/distribution.yaml' [bloom] (#27940)
  noetic/distribution.yaml
Owners: @sloretz

py_trees: 0.6.9-1 in 'melodic/distribution.yaml' [bloom] (#27941)
  melodic/distribution.yaml
Owners: @clalancette

raptor-dbw-ros: 1.0.0-3 in 'melodic/distribution.yaml' [bloom] (#27945)
  melodic/distribution.yaml
Owners: @clalancette

core_perception: 1.14.10-1 in 'noetic/distribution.yaml' [bloom] (#27946)
  noetic/distribution.yaml
Owners: @sloretz

cnpy: 0.0.5-1 in 'noetic/distribution.yaml' [bloom] (#27947)
  noetic/distribution.yaml
Owners: @sloretz

ueye_cam: 1.0.18-1 in 'noetic/distribution.yaml' [bloom] (#27936)
  noetic/distribution.yaml
Owners: @sloretz

ueye_cam: 1.0.18-1 in 'kinetic/distribution.yaml' [bloom] (#27935)
  kinetic/distribution.yaml
Owners: @tfoote

grid_map: 1.6.4-1 in 'noetic/distribution.yaml' [bloom] (#27909)
  noetic/distribution.yaml
Owners: @sloretz

variant: 0.1.6-1 in 'noetic/distribution.yaml' [bloom] (#27910)
  noetic/distribution.yaml
Owners: @sloretz

embree_vendor: 0.0.6-1 in 'foxy/distribution.yaml' [bloom] (#27933)
  foxy/distribution.yaml
Owners: @jacobperron

quaternion_operation: 0.0.4-1 in 'foxy/distribution.yaml' [bloom] (#27937)
  foxy/distribution.yaml
Owners: @jacobperron

agni_tf_tools: 0.1.5-1 in 'noetic/distribution.yaml' [bloom] (#27923)
  noetic/distribution.yaml
Owners: @sloretz

graceful_controller: 0.2.0-1 in 'melodic/distribution.yaml' [bloom] (#27948)
  melodic/distribution.yaml
Owners: @clalancette

graceful_controller: 0.2.0-1 in 'noetic/distribution.yaml' [bloom] (#27949)
  noetic/distribution.yaml
Owners: @sloretz

color_names: 0.0.1-1 in 'foxy/distribution.yaml' [bloom] (#27938)
  foxy/distribution.yaml
Owners: @jacobperron

graceful_controller: 0.2.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

graceful_controller: 0.2.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

common_msgs: 1.13.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

returned package ros2_intel_realsense
  foxy/distribution.yaml
Owners: @jacobperron

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies
