Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @tfoote, @clalancette, @ros/rosdeputies

rcutils: 0.6.2-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

rosidl: 0.6.3-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

open_manipulator_simulations: 1.1.0-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

open_manipulator_simulations: 1.1.0-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

turtlebot3_applications: 1.1.0-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

turtlebot3_autorace: 1.2.0-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

hls-lfcd-lds-driver: 1.1.0-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

open_manipulator_with_tb3_msgs: 0.3.1-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

open_manipulator_with_tb3_msgs: 0.3.1-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

open_manipulator_with_tb3_simulations: 1.1.0-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

open_manipulator_with_tb3_simulations: 1.1.0-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

nerian_stereo: 3.3.1-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

earth_rover_piksi: 1.8.2-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

nerian_stereo: 3.3.1-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

nerian_stereo: 3.3.1-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

rcl: 0.6.5-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

rclcpp: 0.6.3-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

rclpy: 0.6.2-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

ros2cli: 0.6.3-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

example_interfaces: 0.6.2-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

examples: 0.6.2-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

robotis_manipulator: 1.0.0-0 in 'kinetic/distribution.yaml' [bloom] (#20227)
  kinetic/distribution.yaml
Owners: @tfoote

dynamixel-workbench-msgs: 2.0.0-0 in 'kinetic/distribution.yaml' [bloom] (#20228)
  kinetic/distribution.yaml
Owners: @tfoote

dynamixel-workbench: 2.0.0-0 in 'kinetic/distribution.yaml' [bloom] (#20229)
  kinetic/distribution.yaml
Owners: @tfoote

open_manipulator_msgs: 1.0.0-0 in 'kinetic/distribution.yaml' [bloom] (#20231)
  kinetic/distribution.yaml
Owners: @tfoote

turtlebot3_applications: 1.1.0-0 in 'kinetic/distribution.yaml' [bloom] (#20238)
  kinetic/distribution.yaml
Owners: @tfoote

open_manipulator_simulations: 1.1.0-0 in 'kinetic/distribution.yaml' [bloom] (#20237)
  kinetic/distribution.yaml
Owners: @tfoote

turtlebot3_autorace: 1.2.0-0 in 'kinetic/distribution.yaml' [bloom] (#20239)
  kinetic/distribution.yaml
Owners: @tfoote

hls-lfcd-lds-driver: 1.1.0-0 in 'kinetic/distribution.yaml' [bloom] (#20240)
  kinetic/distribution.yaml
Owners: @tfoote

sros2: 0.6.2-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

plotjuggler: 2.1.1-0 in 'indigo/distribution.yaml' [bloom]
  indigo/distribution.yaml
Owners: @tfoote

open_manipulator_with_tb3_msgs: 0.3.1-0 in 'kinetic/distribution.yaml' [bloom] (#20241)
  kinetic/distribution.yaml
Owners: @tfoote

open_manipulator_with_tb3_simulations: 1.1.0-0 in 'kinetic/distribution.yaml' [bloom] (#20243)
  kinetic/distribution.yaml
Owners: @tfoote

nerian_stereo: 3.3.1-0 in 'lunar/distribution.yaml' [bloom] (#20246)
  lunar/distribution.yaml
Owners: @clalancette

nerian_stereo: 3.3.1-0 in 'kinetic/distribution.yaml' [bloom] (#20247)
  kinetic/distribution.yaml
Owners: @tfoote

earth_rover_piksi: 1.8.2-1 in 'kinetic/distribution.yaml' [bloom] (#20248)
  kinetic/distribution.yaml
Owners: @tfoote

plotjuggler: 2.1.1-0 in 'indigo/distribution.yaml' [bloom] (#20256)
  indigo/distribution.yaml
Owners: @tfoote

ros_workspace: 0.6.1-0 in 'crystal/distribution.yaml' [bloom] (#20232)
  crystal/distribution.yaml
Owners: @nuclearsandwich

rmw_opensplice: 0.6.3-0 in 'crystal/distribution.yaml' [bloom] (#20233)
  crystal/distribution.yaml
Owners: @nuclearsandwich

rcutils: 0.6.2-0 in 'crystal/distribution.yaml' [bloom] (#20234)
  crystal/distribution.yaml
Owners: @nuclearsandwich

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
rosdep/* @ros/rosdeputies
