Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies

Update distribution.yaml (#27912)
  foxy/distribution.yaml
Owners: @jacobperron

autoware_auto_msgs: 1.0.0-1 in 'foxy/distribution.yaml' [bloom] (#27902)
  foxy/distribution.yaml
Owners: @jacobperron

rosbag2: 0.3.6-1 in 'foxy/distribution.yaml' [bloom] (#27915)
  foxy/distribution.yaml
Owners: @jacobperron

turtlebot3: 2.1.1-2 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

turtlebot3: 2.1.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

diagnostics: 2.0.5-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

core_perception: 1.14.9-3 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

grid_map: 1.6.4-2 in 'melodic/distribution.yaml' [bloom] (#27908)
  melodic/distribution.yaml
Owners: @clalancette

variant: 0.1.6-1 in 'melodic/distribution.yaml' [bloom] (#27911)
  melodic/distribution.yaml
Owners: @clalancette

turtlebot3: 2.1.1-2 in 'dashing/distribution.yaml' [bloom] (#27916)
  dashing/distribution.yaml
Owners: @nuclearsandwich

core_perception: 1.14.9-3 in 'noetic/distribution.yaml' [bloom] (#27919)
  noetic/distribution.yaml
Owners: @sloretz

plotjuggler: 3.0.7-1 in 'melodic/distribution.yaml' [bloom] (#27898)
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 3.0.7-1 in 'noetic/distribution.yaml' [bloom] (#27899)
  noetic/distribution.yaml
Owners: @sloretz

autoware_auto_msgs: 1.0.0-1 in 'dashing/distribution.yaml' [bloom] (#27901)
  dashing/distribution.yaml
Owners: @nuclearsandwich

audio_common: 0.3.10-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

audio_common: 0.3.10-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

audio_common: 0.3.10-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

agni_tf_tools: 0.1.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

ros2_controllers: 0.1.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

Fix Doc Branch
  melodic/distribution.yaml
Owners: @clalancette

opw_kinematics: 0.3.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

Fix Doc Branch (#27925)
  melodic/distribution.yaml
Owners: @clalancette

m_explore: 2.1.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

m_explore: 2.1.4-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

turtlebot3: 2.1.1-1 in 'foxy/distribution.yaml' [bloom] (#27917)
  foxy/distribution.yaml
Owners: @jacobperron

Add python3-cffi rosdep key
  rosdep/python.yaml
Owners: @ros/rosdeputies

m_explore: 2.1.4-1 in 'melodic/distribution.yaml' [bloom] (#27928)
  melodic/distribution.yaml
Owners: @clalancette

m_explore: 2.1.4-1 in 'noetic/distribution.yaml' [bloom] (#27927)
  noetic/distribution.yaml
Owners: @sloretz

ros2_controllers: 0.1.2-1 in 'foxy/distribution.yaml' [bloom] (#27924)
  foxy/distribution.yaml
Owners: @jacobperron

audio_common: 0.3.10-1 in 'kinetic/distribution.yaml' [bloom] (#27922)
  kinetic/distribution.yaml
Owners: @tfoote

audio_common: 0.3.10-1 in 'melodic/distribution.yaml' [bloom] (#27921)
  melodic/distribution.yaml
Owners: @clalancette

audio_common: 0.3.10-1 in 'noetic/distribution.yaml' [bloom] (#27920)
  noetic/distribution.yaml
Owners: @sloretz

diagnostics: 2.0.5-1 in 'foxy/distribution.yaml' [bloom] (#27918)
  foxy/distribution.yaml
Owners: @jacobperron

Add rhel
  rosdep/python.yaml
Owners: @ros/rosdeputies

rclcpp: 6.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rclcpp: 6.2.0-1 in 'rolling/distribution.yaml' [bloom] (#27931)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

autoware_auto_msgs: 1.0.0-1 in 'rolling/distribution.yaml' [bloom] (#27903)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

taskflow: 3.0.0-3 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

add new entry for dgps_ros
  kinetic/distribution.yaml
Owners: @tfoote

modify dgps_ros entry to pass rosdistro_reformat
  kinetic/distribution.yaml
Owners: @tfoote
