Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies

open_manipulator_p: 1.0.0-5 in 'melodic/distribution.yaml' [bloom] (#26985)
  melodic/distribution.yaml
Owners: @clalancette

Fix release tags for leo_common and leo_desktop
  kinetic/distribution.yaml
Owners: @tfoote

Reformat rosdistro file
  noetic/distribution.yaml
Owners: @sloretz

leo_simulator: 0.1.2-1 in 'noetic/distribution.yaml' [bloom] (#27025)
  noetic/distribution.yaml
Owners: @sloretz

rcutils: 2.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rcl: 2.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rclpy: 1.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rcutils: 2.2.0-1 in 'rolling/distribution.yaml' [bloom] (#27033)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rcl: 2.3.0-1 in 'rolling/distribution.yaml' [bloom] (#27034)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rclpy: 1.2.0-1 in 'rolling/distribution.yaml' [bloom] (#27035)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

add python3-mechanize
  rosdep/python.yaml
Owners: @ros/rosdeputies

set null for unavailable distros
  rosdep/python.yaml
Owners: @ros/rosdeputies

Enable test_abi for Foxy: rmw_fastrtps
  foxy/distribution.yaml
Owners: @jacobperron

osqp_vendor: 0.0.1-3 in 'foxy/distribution.yaml' [bloom] (#27030)
  foxy/distribution.yaml
Owners: @jacobperron

Enable test_abi for Foxy: rmw_fastrtps (#27036)
  foxy/distribution.yaml
Owners: @jacobperron

adding influxdb-client to python.yaml
  rosdep/python.yaml
Owners: @ros/rosdeputies

Add cython3 entry
  rosdep/python.yaml
Owners: @ros/rosdeputies

psen_scan_v2: 0.1.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

rcl: 2.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

Add cython3 key for arch
  rosdep/python.yaml
Owners: @ros/rosdeputies

boost_sml: 0.1.0-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

Add cython3 entry for osx
  rosdep/osx-homebrew.yaml
Owners: @ros/rosdeputies

system_modes: 0.4.1-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

system_modes: 0.4.1-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

system_modes: 0.4.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

rviz: 1.14.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

correct alphabetic order
  rosdep/python.yaml
Owners: @ros/rosdeputies

Add leo_common and leo_desktop repositories to kinetic (#27032)
  kinetic/distribution.yaml
Owners: @tfoote

Added novatel_oem7_driver to noetic. (#27001)
  noetic/distribution.yaml
Owners: @sloretz

add python3-influxdb-client-pip (#27037)
  rosdep/python.yaml
Owners: @ros/rosdeputies

rcl: 2.4.0-1 in 'rolling/distribution.yaml' [bloom] (#27040)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

boost_sml: 0.1.0-2 in 'noetic/distribution.yaml' [bloom] (#27041)
  noetic/distribution.yaml
Owners: @sloretz

system_modes: 0.4.1-1 in 'eloquent/distribution.yaml' [bloom] (#27043)
  eloquent/distribution.yaml
Owners: @mjcarroll

rviz: 1.14.3-1 in 'noetic/distribution.yaml' [bloom] (#27045)
  noetic/distribution.yaml
Owners: @sloretz

system_modes: 0.4.1-1 in 'dashing/distribution.yaml' [bloom] (#27042)
  dashing/distribution.yaml
Owners: @nuclearsandwich

system_modes: 0.4.1-1 in 'foxy/distribution.yaml' [bloom] (#27044)
  foxy/distribution.yaml
Owners: @jacobperron

fmi_adapter_ros2: 0.1.8-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

fmi_adapter_ros2: 0.1.8-1 in 'rolling/distribution.yaml' [bloom] (#27046)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

add python3-mechanize (#27017)
  rosdep/python.yaml
Owners: @ros/rosdeputies

Add cython3 entry (#27038)
  rosdep/osx-homebrew.yaml
  rosdep/python.yaml
Owners: @ros/rosdeputies
