Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

fetch_tools: 0.3.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

googletest: 1.10.9000-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

googletest: 1.10.9000-1 in 'rolling/distribution.yaml' [bloom] (#27048)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

proj: 5.2.0-3 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

leo_desktop: 0.2.2-2 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

leo_common: 1.1.0-2 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

open_manipulator_p_simulations: 1.0.0-4 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

open_manipulator_p_simulations: 1.0.0-3 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

rmw_implementation: 1.0.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

bota_driver: 0.5.0-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

fix url link
  melodic/distribution.yaml
Owners: @clalancette

remove test_pull_request entry
  melodic/distribution.yaml
Owners: @clalancette

play_motion_builder: 1.0.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

cob_command_tools: 0.6.17-2 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

cob_command_tools: 0.6.17-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

cob_command_tools: 0.6.18-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

cob_command_tools: 0.6.18-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

cob_command_tools: 0.6.18-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

fetch_tools: 0.3.3-1 in 'noetic/distribution.yaml' [bloom] (#27047)
  noetic/distribution.yaml
Owners: @sloretz

proj: 5.2.0-3 in 'dashing/distribution.yaml' [bloom] (#27049)
  dashing/distribution.yaml
Owners: @nuclearsandwich

leo_desktop: 0.2.2-2 in 'kinetic/distribution.yaml' [bloom] (#27050)
  kinetic/distribution.yaml
Owners: @tfoote

leo_common: 1.1.0-2 in 'kinetic/distribution.yaml' [bloom] (#27051)
  kinetic/distribution.yaml
Owners: @tfoote

open_manipulator_p_simulations: 1.0.0-4 in 'kinetic/distribution.yaml' [bloom] (#27052)
  kinetic/distribution.yaml
Owners: @tfoote

open_manipulator_p_simulations: 1.0.0-3 in 'melodic/distribution.yaml' [bloom] (#27053)
  melodic/distribution.yaml
Owners: @clalancette

psen_scan_v2: 0.1.0-1 in 'melodic/distribution.yaml' [bloom] (#27039)
  melodic/distribution.yaml
Owners: @clalancette

play_motion_builder: 1.0.1-1 in 'melodic/distribution.yaml' [bloom] (#27056)
  melodic/distribution.yaml
Owners: @clalancette

cob_command_tools: 0.6.18-1 in 'kinetic/distribution.yaml' [bloom] (#27059)
  kinetic/distribution.yaml
Owners: @tfoote

cob_command_tools: 0.6.18-1 in 'melodic/distribution.yaml' [bloom] (#27061)
  melodic/distribution.yaml
Owners: @clalancette

cob_command_tools: 0.6.18-1 in 'noetic/distribution.yaml' [bloom] (#27062)
  noetic/distribution.yaml
Owners: @sloretz

cob_control: 0.7.12-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

cob_control: 0.8.12-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

cob_control: 0.7.12-1 in 'kinetic/distribution.yaml' [bloom] (#27063)
  kinetic/distribution.yaml
Owners: @tfoote

cob_control: 0.8.12-1 in 'melodic/distribution.yaml' [bloom] (#27064)
  melodic/distribution.yaml
Owners: @clalancette

cob_control: 0.8.12-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

cob_control: 0.8.12-1 in 'noetic/distribution.yaml' [bloom] (#27065)
  noetic/distribution.yaml
Owners: @sloretz

performance_test_fixture: 0.0.5-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

performance_test_fixture: 0.0.5-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

performance_test_fixture: 0.0.5-1 in 'rolling/distribution.yaml' [bloom] (#27066)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

performance_test_fixture: 0.0.5-1 in 'foxy/distribution.yaml' [bloom] (#27067)
  foxy/distribution.yaml
Owners: @jacobperron

boost_sml: 0.1.0-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies
