Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @tfoote, @clalancette, @ros/rosdeputies

rosidl: 0.6.3-0 in 'crystal/distribution.yaml' [bloom] (#20235)
  crystal/distribution.yaml
Owners: @nuclearsandwich

rcl: 0.6.5-0 in 'crystal/distribution.yaml' [bloom] (#20249)
  crystal/distribution.yaml
Owners: @nuclearsandwich

rclcpp: 0.6.3-0 in 'crystal/distribution.yaml' [bloom] (#20250)
  crystal/distribution.yaml
Owners: @nuclearsandwich

ros2cli: 0.6.3-0 in 'crystal/distribution.yaml' [bloom] (#20252)
  crystal/distribution.yaml
Owners: @nuclearsandwich

example_interfaces: 0.6.2-0 in 'crystal/distribution.yaml' [bloom] (#20253)
  crystal/distribution.yaml
Owners: @nuclearsandwich

examples: 0.6.2-0 in 'crystal/distribution.yaml' [bloom] (#20254)
  crystal/distribution.yaml
Owners: @nuclearsandwich

sros2: 0.6.2-0 in 'crystal/distribution.yaml' [bloom] (#20255)
  crystal/distribution.yaml
Owners: @nuclearsandwich

rclpy: 0.6.2-0 in 'crystal/distribution.yaml' [bloom] (#20251)
  crystal/distribution.yaml
Owners: @nuclearsandwich

teleop_twist_joy: 2.1.1-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

plotjuggler: 2.1.1-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

teleop_twist_joy: 2.1.1-0 in 'crystal/distribution.yaml' [bloom] (#20257)
  crystal/distribution.yaml
Owners: @nuclearsandwich

qt_gui_core: 1.0.4-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

qt_gui_core: 1.0.4-0 in 'crystal/distribution.yaml' [bloom] (#20259)
  crystal/distribution.yaml
Owners: @nuclearsandwich

bfl: 0.8.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

add commits_valid for check_git_remote_exists
  test/test_url_validity.py
Owners: none

ros_controllers: 0.13.5-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

ros_controllers: 0.14.3-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

open_manipulator: 2.0.0-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

Deleted the open_manipulator_with_tb3_msgs on ROS Kinetic
  kinetic/distribution.yaml
Owners: @tfoote

open_manipulator_with_tb3: 1.1.0-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

jsk_pr2eus: 0.3.14-0 in 'indigo/distribution.yaml' [bloom]
  indigo/distribution.yaml
Owners: @tfoote

jsk_pr2eus: 0.3.14-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

realtime_tools: 1.11.1-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

realtime_tools: 1.13.0-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

openhrp3: 3.1.9-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

marti_common: 2.8.0-0 in 'melodic/distribution.yaml' [bloom] (#20200)
  melodic/distribution.yaml
Owners: @clalancette

turtlebot3_applications: 1.1.0-0 in 'melodic/distribution.yaml' [bloom] (#20209)
  melodic/distribution.yaml
Owners: @clalancette

turtlebot3_autorace: 1.2.0-0 in 'melodic/distribution.yaml' [bloom] (#20211)
  melodic/distribution.yaml
Owners: @clalancette

graft: 0.2.3-2 in 'melodic/distribution.yaml' [bloom] (#20210)
  melodic/distribution.yaml
Owners: @clalancette

depthimage_to_laserscan: 1.0.8-0 in 'melodic/distribution.yaml' [bloom] (#20212)
  melodic/distribution.yaml
Owners: @clalancette

pinocchio: 2.0.0-0 in 'melodic/distribution.yaml' [bloom] (#20218)
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 2.1.1-0 in 'melodic/distribution.yaml' [bloom] (#20222)
  melodic/distribution.yaml
Owners: @clalancette

robotis_manipulator: 1.0.0-0 in 'melodic/distribution.yaml' [bloom] (#20226)
  melodic/distribution.yaml
Owners: @clalancette

open_manipulator_msgs: 1.0.0-0 in 'melodic/distribution.yaml' [bloom] (#20230)
  melodic/distribution.yaml
Owners: @clalancette

nerian_stereo: 3.3.1-0 in 'melodic/distribution.yaml' [bloom] (#20245)
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 2.1.1-0 in 'lunar/distribution.yaml' [bloom] (#20258)
  lunar/distribution.yaml
Owners: @clalancette

ros_controllers: 0.14.3-0 in 'melodic/distribution.yaml' [bloom] (#20263)
  melodic/distribution.yaml
Owners: @clalancette

realtime_tools: 1.13.0-0 in 'melodic/distribution.yaml' [bloom] (#20270)
  melodic/distribution.yaml
Owners: @clalancette

openhrp3: 3.1.9-0 in 'lunar/distribution.yaml' [bloom] (#20271)
  lunar/distribution.yaml
Owners: @clalancette

ros_controllers: 0.13.5-0 in 'kinetic/distribution.yaml' [bloom] (#20262)
  kinetic/distribution.yaml
Owners: @tfoote

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
rosdep/* @ros/rosdeputies
