Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @tfoote, @clalancette, @ros/rosdeputies

mapviz: 1.1.0-0 in 'melodic/distribution.yaml' [bloom] (#20351)
  melodic/distribution.yaml
Owners: @clalancette

control_msgs: 1.5.0-0 in 'melodic/distribution.yaml' [bloom] (#20347)
  melodic/distribution.yaml
Owners: @clalancette

rtmros_hironx: 2.1.1-0 in 'indigo/distribution.yaml' [bloom] (#20343)
  indigo/distribution.yaml
Owners: @tfoote

plotjuggler: 2.1.3-0 in 'indigo/distribution.yaml' [bloom] (#20336)
  indigo/distribution.yaml
Owners: @tfoote

jsk_visualization: 2.1.5-0 in 'indigo/distribution.yaml' [bloom] (#20332)
  indigo/distribution.yaml
Owners: @tfoote

jsk_visualization: 2.1.5-0 in 'kinetic/distribution.yaml' [bloom] (#20333)
  kinetic/distribution.yaml
Owners: @tfoote

plotjuggler: 2.1.3-0 in 'kinetic/distribution.yaml' [bloom] (#20335)
  kinetic/distribution.yaml
Owners: @tfoote

gripit: 0.0.3-0 in 'kinetic/distribution.yaml' [bloom] (#20342)
  kinetic/distribution.yaml
Owners: @tfoote

rtmros_hironx: 2.1.1-0 in 'kinetic/distribution.yaml' [bloom] (#20344)
  kinetic/distribution.yaml
Owners: @tfoote

py_trees_ros: 0.5.17-0 in 'kinetic/distribution.yaml' [bloom] (#20345)
  kinetic/distribution.yaml
Owners: @tfoote

control_msgs: 1.5.0-0 in 'kinetic/distribution.yaml' [bloom] (#20346)
  kinetic/distribution.yaml
Owners: @tfoote

mapviz: 1.1.0-0 in 'kinetic/distribution.yaml' [bloom] (#20349)
  kinetic/distribution.yaml
Owners: @tfoote

removing release version from mynt_eye_ros_wrapper due to FTBFS
  kinetic/distribution.yaml
Owners: @tfoote

remove uuv_descriptions and uuv_simulators
  kinetic/distribution.yaml
Owners: @tfoote

removing release version from mynt_eye_ros_wrapper due to FTBFS (#20352)
  kinetic/distribution.yaml
Owners: @tfoote

remove pr2_motor_diagnostic_tool from kinetic due to not building
  kinetic/distribution.yaml
Owners: @tfoote

remove mrpt_graphslam_2d as it does not build
  kinetic/distribution.yaml
Owners: @tfoote

remove pr2_motor_diagnostic_tool from kinetic due to not building (#20354)
  kinetic/distribution.yaml
Owners: @tfoote

remove uuv_descriptions and uuv_simulators (#20353)
  kinetic/distribution.yaml
Owners: @tfoote

remove mrpt_graphslam_2d as it does not build (#20355)
  kinetic/distribution.yaml
Owners: @tfoote

pilz_robots: 0.5.2-0 in melodic
  melodic/distribution.yaml
Owners: @clalancette

Bump twist_mux_msgs to 2.1.0-6
  melodic/distribution.yaml
Owners: @clalancette

Bump twist_mux to 3.1.0-1
  melodic/distribution.yaml
Owners: @clalancette

odva_ethernetip: 0.1.4-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

libnabo: 1.0.7-0 in 'indigo/distribution.yaml' [bloom]
  indigo/distribution.yaml
Owners: @tfoote

fetch_robots: 0.8.4-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Update distribution.yaml
  kinetic/distribution.yaml
Owners: @tfoote

async_comm: 0.1.1-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

async_comm: 0.1.1-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

rosdep: add websocketpp (#20339)
  rosdep/base.yaml
Owners: @ros/rosdeputies

robot_navigation: 0.2.5-1 in 'melodic/distribution.yaml' [bloom] (#20340)
  melodic/distribution.yaml
Owners: @clalancette

libnabo: 1.0.7-0 in 'indigo/distribution.yaml' [bloom] (#20360)
  indigo/distribution.yaml
Owners: @tfoote

pilz_robots: 0.5.2-0 in melodic (#20356)
  melodic/distribution.yaml
Owners: @clalancette

Bump twist_mux_msgs to 2.1.0-6 (#20357)
  melodic/distribution.yaml
Owners: @clalancette

fetch_robots: 0.8.4-0 in 'melodic/distribution.yaml' [bloom] (#20361)
  melodic/distribution.yaml
Owners: @clalancette

async_comm: 0.1.1-0 in 'lunar/distribution.yaml' [bloom] (#20363)
  lunar/distribution.yaml
Owners: @clalancette

async_comm: 0.1.1-0 in 'melodic/distribution.yaml' [bloom] (#20364)
  melodic/distribution.yaml
Owners: @clalancette

Bump twist_mux to 3.1.0-1 (#20358)
  melodic/distribution.yaml
Owners: @clalancette

Condense python-imaging rules for Fedora (#20298)
  rosdep/python.yaml
Owners: @ros/rosdeputies

ros_ethercat_eml: 0.3.1-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
rosdep/* @ros/rosdeputies
