Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @tfoote, @clalancette, @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
rosdep/* @ros/rosdeputies

web_video_server: 0.2.0-0 in 'kinetic/distribution.yaml' [bloom] (#20112)
  kinetic/distribution.yaml
Owners: @tfoote

sick_scan: 0.0.14-0 in 'indigo/distribution.yaml' [bloom] (#20127)
  indigo/distribution.yaml
Owners: @tfoote

hebi_cpp_api_ros: 2.0.2-0 in 'kinetic/distribution.yaml' [bloom] (#20108)
  kinetic/distribution.yaml
Owners: @tfoote

hebi_cpp_api_ros: 2.0.2-0 in 'melodic/distribution.yaml' [bloom] (#20109)
  melodic/distribution.yaml
Owners: @clalancette

web_video_server: 0.2.0-0 in 'melodic/distribution.yaml' [bloom] (#20113)
  melodic/distribution.yaml
Owners: @clalancette

eigenpy: 1.5.0-1 in 'melodic/distribution.yaml' [bloom] (#20114)
  melodic/distribution.yaml
Owners: @clalancette

eigenpy: 1.5.0-0 in 'kinetic/distribution.yaml' [bloom] (#20115)
  kinetic/distribution.yaml
Owners: @tfoote

imu_pipeline: 0.2.3-0 in 'indigo/distribution.yaml' [bloom] (#20116)
  indigo/distribution.yaml
Owners: @tfoote

imu_pipeline: 0.2.3-0 in 'kinetic/distribution.yaml' [bloom] (#20117)
  kinetic/distribution.yaml
Owners: @tfoote

imu_pipeline: 0.2.3-0 in 'lunar/distribution.yaml' [bloom] (#20118)
  lunar/distribution.yaml
Owners: @clalancette

imu_pipeline: 0.2.3-0 in 'melodic/distribution.yaml' [bloom] (#20119)
  melodic/distribution.yaml
Owners: @clalancette

frame_editor: 1.0.4-0 for kinetic (#20121)
  kinetic/distribution.yaml
Owners: @tfoote

heron_desktop: 0.0.3-0 in 'kinetic/distribution.yaml' [bloom] (#20122)
  kinetic/distribution.yaml
Owners: @tfoote

control_toolbox: 1.17.0-0 in 'kinetic/distribution.yaml' [bloom] (#20123)
  kinetic/distribution.yaml
Owners: @tfoote

sick_scan: 0.0.14-0 in 'lunar/distribution.yaml' [bloom] (#20124)
  lunar/distribution.yaml
Owners: @clalancette

sick_scan: 0.0.14-0 in 'kinetic/distribution.yaml' [bloom] (#20125)
  kinetic/distribution.yaml
Owners: @tfoote

control_toolbox: 1.17.0-0 in 'melodic/distribution.yaml' [bloom] (#20126)
  melodic/distribution.yaml
Owners: @clalancette

Adding new repository for indexing: indoor_localization (#20110)
  kinetic/distribution.yaml
Owners: @tfoote

Add pycryptodome
  rosdep/python.yaml
Owners: @ros/rosdeputies

rosdep: added libstdc++6 (#20106)
  rosdep/base.yaml
Owners: @ros/rosdeputies

homer_map_manager: 0.1.54-0
  kinetic/distribution.yaml
Owners: @tfoote

jsk_roseus: 1.7.3-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

jsk_roseus: 1.7.3-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

Add python3-dev rule for Fedora
  rosdep/python.yaml
Owners: @ros/rosdeputies

homer_map_manager: 0.1.54-0 (#20129)
  kinetic/distribution.yaml
Owners: @tfoote

jsk_roseus: 1.7.3-0 in 'melodic/distribution.yaml' [bloom] (#20130)
  melodic/distribution.yaml
Owners: @clalancette

jsk_roseus: 1.7.3-0 in 'kinetic/distribution.yaml' [bloom] (#20131)
  kinetic/distribution.yaml
Owners: @tfoote

Add python3-dev rule for Fedora (#20132)
  rosdep/python.yaml
Owners: @ros/rosdeputies

jsk_roseus: 1.7.3-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

jsk_roseus: 1.7.3-0 in 'indigo/distribution.yaml' [bloom]
  indigo/distribution.yaml
Owners: @tfoote

Add documentation for eigenpy
  kinetic/distribution.yaml
  melodic/distribution.yaml
Owners: @tfoote, @clalancette

Update kinetic/distribution.yaml
  kinetic/distribution.yaml
Owners: @tfoote

Update kinetic/distribution.yaml
  kinetic/distribution.yaml
Owners: @tfoote

fkie_potree_rviz_plugin: 1.0.0-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

fkie_potree_rviz_plugin: 1.0.0-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

fkie_potree_rviz_plugin: 1.0.0-0 in 'melodic/distribution.yaml' [bloom] (#20137)
  melodic/distribution.yaml
Owners: @clalancette

jsk_roseus: 1.7.3-0 in 'lunar/distribution.yaml' [bloom] (#20133)
  lunar/distribution.yaml
Owners: @clalancette

fmi_adapter_ros2: 0.1.3-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

fmi_adapter_ros2: 0.1.3-0 in 'crystal/distribution.yaml' [bloom] (#20138)
  crystal/distribution.yaml
Owners: @nuclearsandwich

Add documentation for eigenpy (#20135)
  kinetic/distribution.yaml
  melodic/distribution.yaml
Owners: @tfoote, @clalancette
