Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies

cob_command_tools: 0.6.19-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

cob_command_tools: 0.6.19-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

cob_robots: 0.7.5-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

cob_robots: 0.7.5-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

move_base_flex: 0.3.4-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

move_base_flex: 0.3.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

cob_simulation: 0.7.5-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

cob_robots: 0.7.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

pr2_mechanism: 1.8.18-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

moveit_msgs: 2.0.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

move_base_flex: 0.3.4-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

cob_simulation: 0.7.5-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

warehouse_ros: 2.0.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

random_numbers: 2.0.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

srdfdom: 2.0.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

moveit_resources: 2.0.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

geometric_shapes: 2.0.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

cob_simulation: 0.7.5-1 in 'melodic/distribution.yaml' [bloom] (#27559)
  melodic/distribution.yaml
Owners: @clalancette

move_base_flex: 0.3.4-1 in 'melodic/distribution.yaml' [bloom] (#27552)
  melodic/distribution.yaml
Owners: @clalancette

cob_robots: 0.7.5-1 in 'melodic/distribution.yaml' [bloom] (#27551)
  melodic/distribution.yaml
Owners: @clalancette

cob_command_tools: 0.6.19-1 in 'melodic/distribution.yaml' [bloom] (#27548)
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 3.0.3-1 in 'melodic/distribution.yaml' [bloom] (#27523)
  melodic/distribution.yaml
Owners: @clalancette

add python3-xmltodict-pip package (#27499)
  rosdep/python.yaml
Owners: @ros/rosdeputies

plotjuggler: 3.0.3-1 in 'noetic/distribution.yaml' [bloom] (#27524)
  noetic/distribution.yaml
Owners: @sloretz

cob_command_tools: 0.6.19-1 in 'noetic/distribution.yaml' [bloom] (#27549)
  noetic/distribution.yaml
Owners: @sloretz

move_base_flex: 0.3.4-1 in 'noetic/distribution.yaml' [bloom] (#27553)
  noetic/distribution.yaml
Owners: @sloretz

cob_robots: 0.7.5-1 in 'noetic/distribution.yaml' [bloom] (#27555)
  noetic/distribution.yaml
Owners: @sloretz

pr2_mechanism: 1.8.18-1 in 'noetic/distribution.yaml' [bloom] (#27556)
  noetic/distribution.yaml
Owners: @sloretz

use python2 pycodestyle for python-pycodestyle rosdep key (#27546)
  rosdep/python.yaml
Owners: @ros/rosdeputies

cob_command_tools: 0.6.19-1 in 'kinetic/distribution.yaml' [bloom] (#27547)
  kinetic/distribution.yaml
Owners: @tfoote

cob_robots: 0.7.5-1 in 'kinetic/distribution.yaml' [bloom] (#27550)
  kinetic/distribution.yaml
Owners: @tfoote

cob_simulation: 0.7.5-1 in 'kinetic/distribution.yaml' [bloom] (#27554)
  kinetic/distribution.yaml
Owners: @tfoote

move_base_flex: 0.3.4-1 in 'kinetic/distribution.yaml' [bloom] (#27558)
  kinetic/distribution.yaml
Owners: @tfoote

random_numbers: 2.0.0-1 in 'foxy/distribution.yaml' [bloom] (#27561)
  foxy/distribution.yaml
Owners: @jacobperron

cob_simulation: 0.7.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

cob_simulation: 0.7.5-1 in 'noetic/distribution.yaml' [bloom] (#27562)
  noetic/distribution.yaml
Owners: @sloretz

rcutils: 3.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

robot_controllers: 0.8.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

rosbag2: 0.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

robot_controllers: 0.8.1-1 in 'foxy/distribution.yaml' [bloom] (#27569)
  foxy/distribution.yaml
Owners: @jacobperron
