Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @tfoote, @clalancette, @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
rosdep/* @ros/rosdeputies

Adding teleop_keyboard_omni3 to documentation index for distro (#20462)
  kinetic/distribution.yaml
Owners: @tfoote

dynamic_robot_state_publisher: 1.1.1-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

dynamic_robot_state_publisher: 1.1.1-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

dynamic_robot_state_publisher: 1.1.1-0 in 'kinetic/distribution.yaml' [bloom] (#20469)
  kinetic/distribution.yaml
Owners: @tfoote

dynamic_robot_state_publisher: 1.1.1-0 in 'lunar/distribution.yaml' [bloom] (#20470)
  lunar/distribution.yaml
Owners: @clalancette

eml: 1.8.15-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

eml: 1.8.15-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

ffmpeg is back since wily!
  rosdep/base.yaml
Owners: @ros/rosdeputies

uuv_simulator: 0.6.10-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

Added ffmpeg-or-libav-bin key
  rosdep/base.yaml
Owners: @ros/rosdeputies

static_transform_mux: 1.1.0-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

static_transform_mux: 1.1.0-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

static_transform_mux: 1.1.0-0 in 'indigo/distribution.yaml' [bloom]
  indigo/distribution.yaml
Owners: @tfoote

Add python-bson for alpine
  rosdep/python.yaml
Owners: @ros/rosdeputies

Adding teleop_keyboard_omni3 to documentation index for kinetic
  kinetic/distribution.yaml
Owners: @tfoote

ouster: 0.1.3-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

ouster: 0.1.3-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Add python-tornado for Alpine
  rosdep/python.yaml
Owners: @ros/rosdeputies

Add python-twisted for alpine
  rosdep/python.yaml
Owners: @ros/rosdeputies

Add python-backports.ssl-match-hostname for Alpine
  rosdep/python.yaml
Owners: @ros/rosdeputies

euslisp: 9.26.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

eml: 1.8.15-0 in 'melodic/distribution.yaml' [bloom] (#20471)
  melodic/distribution.yaml
Owners: @clalancette

eml: 1.8.15-0 in 'lunar/distribution.yaml' [bloom] (#20472)
  lunar/distribution.yaml
Owners: @clalancette

uuv_simulator: 0.6.10-0 in 'kinetic/distribution.yaml' [bloom] (#20473)
  kinetic/distribution.yaml
Owners: @tfoote

static_transform_mux: 1.1.0-0 in 'kinetic/distribution.yaml' [bloom] (#20476)
  kinetic/distribution.yaml
Owners: @tfoote

static_transform_mux: 1.1.0-0 in 'lunar/distribution.yaml' [bloom] (#20477)
  lunar/distribution.yaml
Owners: @clalancette

Adding teleop_keyboard_omni3 to documentation index for kinetic (#20480)
  kinetic/distribution.yaml
Owners: @tfoote

euslisp: 9.26.0-1 in 'melodic/distribution.yaml' [bloom] (#20482)
  melodic/distribution.yaml
Owners: @clalancette

[melodic] Add moveit_tutorials. (#20419)
  melodic/distribution.yaml
Owners: @clalancette

sick_tim: 0.0.15-0 in 'indigo/distribution.yaml' [bloom] (#20428)
  indigo/distribution.yaml
Owners: @tfoote

mir_robot: 1.0.3-0 in 'indigo/distribution.yaml' [bloom] (#20433)
  indigo/distribution.yaml
Owners: @tfoote

dbw_fca_ros: 1.0.1-0 in 'indigo/distribution.yaml' [bloom] (#20440)
  indigo/distribution.yaml
Owners: @tfoote

dbw_mkz_ros: 1.1.1-0 in 'indigo/distribution.yaml' [bloom] (#20444)
  indigo/distribution.yaml
Owners: @tfoote

static_transform_mux: 1.1.0-0 in 'indigo/distribution.yaml' [bloom] (#20478)
  indigo/distribution.yaml
Owners: @tfoote

remove packages failing to build from source
  indigo/distribution.yaml
Owners: @tfoote

remove smarthome_light_msgs_java due to not building
  indigo/distribution.yaml
Owners: @tfoote

remove packages failing to build from source (#20483)
  indigo/distribution.yaml
Owners: @tfoote

jskeus: 1.2.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

mavros: 0.29.2-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

mavros: 0.29.2-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette
