Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @tfoote, @clalancette, @ros/rosdeputies

robosense: 1.0.2-0 in 'kinetic/distribution.yaml' [bloom] (#20693)
  kinetic/distribution.yaml
Owners: @tfoote

[Testing PRs] for fetch maintained repos (#20694)
  melodic/distribution.yaml
Owners: @clalancette

cloudwatch_metrics_collector: 2.0.0-1 in 'kinetic/distribution.yaml' [bloom] (#20696)
  kinetic/distribution.yaml
Owners: @tfoote

health_metric_collector: 2.0.0-1 in 'kinetic/distribution.yaml' [bloom] (#20697)
  kinetic/distribution.yaml
Owners: @tfoote

h264_video_encoder: 1.1.1-1 in 'kinetic/distribution.yaml' [bloom] (#20698)
  kinetic/distribution.yaml
Owners: @tfoote

ridgeback: 0.2.2-0 in 'kinetic/distribution.yaml' [bloom] (#20699)
  kinetic/distribution.yaml
Owners: @tfoote

kinesis_video_streamer: 2.0.0-1 in 'kinetic/distribution.yaml' [bloom] (#20700)
  kinetic/distribution.yaml
Owners: @tfoote

husky: 0.3.2-0 in 'kinetic/distribution.yaml' [bloom] (#20702)
  kinetic/distribution.yaml
Owners: @tfoote

lex_node: 2.0.0-1 in 'kinetic/distribution.yaml' [bloom] (#20701)
  kinetic/distribution.yaml
Owners: @tfoote

Revert "Reverting aws_common since the coordinatred releases were not building (#20685)" (#20703)
  kinetic/distribution.yaml
Owners: @tfoote

Revert "revert aws_ros1_common to match other roll backs (#20688)" (#20704)
  kinetic/distribution.yaml
Owners: @tfoote

Revert "Revert "kinesis_manager: 2.0.0-0 in 'kinetic/distribution.yaml' [bloom] (#20613)" (#20690)" (#20705)
  kinetic/distribution.yaml
Owners: @tfoote

Revert "Revert h264_encoder_core (#20689)" (#20706)
  kinetic/distribution.yaml
Owners: @tfoote

Revert "revert cloudwatch_logger kinetic (#20691)" (#20707)
  kinetic/distribution.yaml
Owners: @tfoote

plotjuggler: 2.1.9-0 in 'kinetic/distribution.yaml' [bloom] (#20709)
  kinetic/distribution.yaml
Owners: @tfoote

plotjuggler: 2.1.9-0 in 'lunar/distribution.yaml' [bloom] (#20710)
  lunar/distribution.yaml
Owners: @clalancette

plotjuggler: 2.1.9-0 in 'melodic/distribution.yaml' [bloom] (#20708)
  melodic/distribution.yaml
Owners: @clalancette

add debian target for python-selenium-pip (#20642)
  rosdep/python.yaml
Owners: @ros/rosdeputies

Adding doosan-robotics to documentation index for distro
  kinetic/distribution.yaml
Owners: @tfoote

Update base.yaml
  rosdep/base.yaml
Owners: @ros/rosdeputies

Update base.yaml
  rosdep/base.yaml
Owners: @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
rosdep/* @ros/rosdeputies
