Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @tfoote, @clalancette, @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
rosdep/* @ros/rosdeputies

movie_publisher: 1.2.2-1 in 'kinetic/distribution.yaml' [bloom] (#20493)
  kinetic/distribution.yaml
Owners: @tfoote

remove smarthome_light_msgs_java due to not building (#20484)
  indigo/distribution.yaml
Owners: @tfoote

movie_publisher: 1.1.2-1 in 'indigo/distribution.yaml' [bloom] (#20494)
  indigo/distribution.yaml
Owners: @tfoote

linux_networking: 1.0.13-2 in 'melodic/distribution.yaml' [bloom] (#20495)
  melodic/distribution.yaml
Owners: @clalancette

velodyne_simulator: 1.0.9-0 in 'melodic/distribution.yaml' [bloom] (#20514)
  melodic/distribution.yaml
Owners: @clalancette

calibration: 0.10.14-0 in 'melodic/distribution.yaml' [bloom] (#20496)
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 2.1.6-0 in 'melodic/distribution.yaml' [bloom] (#20497)
  melodic/distribution.yaml
Owners: @clalancette

mavros: 0.29.2-0 in 'lunar/distribution.yaml' [bloom] (#20487)
  lunar/distribution.yaml
Owners: @clalancette

mavros: 0.29.2-0 in 'melodic/distribution.yaml' [bloom] (#20488)
  melodic/distribution.yaml
Owners: @clalancette

Add industrial_robot_status_controller entry. (#20498)
  kinetic/distribution.yaml
Owners: @tfoote

tf_remapper_cpp: 1.1.1-0 in 'melodic/distribution.yaml' [bloom] (#20499)
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 2.1.6-0 in 'lunar/distribution.yaml' [bloom] (#20500)
  lunar/distribution.yaml
Owners: @clalancette

Adding teleop_keyboard_omni3 to documentation index for melodic (#20502)
  melodic/distribution.yaml
Owners: @clalancette

Adding teleop_keyboard_omni3 to documentation index for indigo (#20503)
  indigo/distribution.yaml
Owners: @tfoote

Adding teleop_keyboard_omni3 to documentation index for lunar (#20504)
  lunar/distribution.yaml
Owners: @clalancette

add log4cplus for ubuntu (#20506)
  rosdep/base.yaml
Owners: @ros/rosdeputies

plotjuggler: 2.1.6-0 in 'kinetic/distribution.yaml' [bloom] (#20507)
  kinetic/distribution.yaml
Owners: @tfoote

velodyne_simulator: 1.0.9-0 in 'kinetic/distribution.yaml' [bloom] (#20509)
  kinetic/distribution.yaml
Owners: @tfoote

velodyne_simulator: 1.0.9-0 in 'lunar/distribution.yaml' [bloom] (#20510)
  lunar/distribution.yaml
Owners: @clalancette

acado: 1.2.2-1 in 'melodic/distribution.yaml' [bloom] (#20511)
  melodic/distribution.yaml
Owners: @clalancette

eml: 1.8.15-2 in 'melodic/distribution.yaml' [bloom] (#20512)
  melodic/distribution.yaml
Owners: @clalancette

eml: 1.8.15-2 in 'lunar/distribution.yaml' [bloom] (#20513)
  lunar/distribution.yaml
Owners: @clalancette

Added python-imageio (#20492)
  rosdep/python.yaml
Owners: @ros/rosdeputies

Simplify libbullet-dev with wildcard syntax (#20515)
  rosdep/base.yaml
Owners: @ros/rosdeputies

Update crystal/distribution.yaml
  crystal/distribution.yaml
Owners: @nuclearsandwich

Update crystal/distribution.yaml
  crystal/distribution.yaml
Owners: @nuclearsandwich

rqt_action: 1.0.1-0 in 'crystal/distribution.yaml' [bloom] (#20467)
  crystal/distribution.yaml
Owners: @nuclearsandwich

rqt_topic: 1.0.0-0 in 'crystal/distribution.yaml' [bloom] (#20468)
  crystal/distribution.yaml
Owners: @nuclearsandwich

moveit: 1.0.1-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

pr2_self_test: 1.0.12-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

rviz: 1.13.2-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

rviz: 1.12.17-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

ament_cmake: 0.6.1-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

ament_lint: 0.6.4-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

rcl_logging: 0.2.0-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

rosidl_typesupport: 0.6.3-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

rosidl_python: 0.6.3-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

rcl_interfaces: 0.6.3-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

rclpy: 0.6.3-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

rclpy: 0.6.3-1 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich
