Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @tfoote, @clalancette, @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
rosdep/* @ros/rosdeputies

cloudwatch_metrics_collector: 2.0.0-0 in 'melodic/distribution.yaml' [bloom] (#20625)
  melodic/distribution.yaml
Owners: @clalancette

h264_video_encoder: 1.1.1-0 in 'melodic/distribution.yaml' [bloom] (#20629)
  melodic/distribution.yaml
Owners: @clalancette

cloudwatch_common: 1.0.1-0 in 'melodic/distribution.yaml' [bloom] (#20637)
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 2.1.7-0 in 'melodic/distribution.yaml' [bloom] (#20644)
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 2.1.7-0 in 'lunar/distribution.yaml' [bloom] (#20647)
  lunar/distribution.yaml
Owners: @clalancette

h264_encoder_core: 2.0.0-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

cloudwatch_common: 1.0.1-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

aws_ros1_common: 2.0.0-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

aws_ros1_common: 2.0.0-1 in 'kinetic/distribution.yaml' [bloom] (#20650)
  kinetic/distribution.yaml
Owners: @tfoote

Update distribution.yaml
  kinetic/distribution.yaml
Owners: @tfoote

h264_encoder_core: 2.0.0-1 in 'kinetic/distribution.yaml' [bloom] (#20648)
  kinetic/distribution.yaml
Owners: @tfoote

cloudwatch_common: 1.0.1-1 in 'kinetic/distribution.yaml' [bloom] (#20649)
  kinetic/distribution.yaml
Owners: @tfoote

ddynamic_reconfigure: 0.2.0-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

rosbag_pandas: 0.5.3-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

aws_common: 2.0.0-2 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

aws_common: 2.0.0-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

ml_classifiers: 0.4.1-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

ml_classifiers: 0.4.1-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

Modernized libflann ubuntu rule
  rosdep/base.yaml
Owners: @ros/rosdeputies

ml_classifiers: 0.4.1-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

robosense: 1.0.1-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

robosense: 1.0.1-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

add debian target for python-selenium-pip
  rosdep/python.yaml
Owners: @ros/rosdeputies

aws_common: 2.0.0-2 in 'melodic/distribution.yaml' [bloom] (#20654)
  melodic/distribution.yaml
Owners: @clalancette

ml_classifiers: 0.4.1-0 in 'lunar/distribution.yaml' [bloom] (#20656)
  lunar/distribution.yaml
Owners: @clalancette

ml_classifiers: 0.4.1-0 in 'melodic/distribution.yaml' [bloom] (#20657)
  melodic/distribution.yaml
Owners: @clalancette

md49_base_controller: 0.1.4-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

cloudwatch_logger: 2.0.0-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

cloudwatch_logger: 2.0.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

novatel_gps_driver: 3.7.0-0 in 'indigo/distribution.yaml' [bloom]
  indigo/distribution.yaml
Owners: @tfoote

novatel_gps_driver: 3.7.0-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

novatel_gps_driver: 3.7.0-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

novatel_gps_driver: 3.7.0-0 in 'melodic/distribution.yaml' [bloom] (#20665)
  melodic/distribution.yaml
Owners: @clalancette

add lark-parser for debian via pip
  rosdep/python.yaml
Owners: @ros/rosdeputies

py_trees_ros: 0.5.18-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Revert "p2os: 2.2.0-1 in 'indigo/distribution.yaml' [bloom] (#20645)"
  indigo/distribution.yaml
Owners: @tfoote

aws_common: 2.0.0-2 in 'kinetic/distribution.yaml' [bloom] (#20653)
  kinetic/distribution.yaml
Owners: @tfoote

py_trees_ros: 0.5.18-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

cloudwatch_logger: 2.0.0-1 in 'kinetic/distribution.yaml' [bloom] (#20661)
  kinetic/distribution.yaml
Owners: @tfoote

Revert "p2os: 2.2.0-1 in 'indigo/distribution.yaml' [bloom] (#20645)" (#20668)
  indigo/distribution.yaml
Owners: @tfoote
