Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @tfoote, @clalancette, @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
rosdep/* @ros/rosdeputies

jsk_pr2eus: 0.3.14-0 in 'indigo/distribution.yaml' [bloom] (#20267)
  indigo/distribution.yaml
Owners: @tfoote

jsk_pr2eus: 0.3.14-0 in 'kinetic/distribution.yaml' [bloom] (#20268)
  kinetic/distribution.yaml
Owners: @tfoote

realtime_tools: 1.11.1-0 in 'kinetic/distribution.yaml' [bloom] (#20269)
  kinetic/distribution.yaml
Owners: @tfoote

eigen_stl_containers: 1.0.0-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Owners: @nuclearsandwich

teraranger: 2.0.1-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

Use https url for release repository.
  crystal/distribution.yaml
Owners: @nuclearsandwich

eigen_stl_containers: 1.0.0-0 in 'crystal/distribution.yaml' [bloom] (#20272)
  crystal/distribution.yaml
Owners: @nuclearsandwich

open_manipulator_simulations: 1.1.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

open_manipulator_with_tb3: 1.1.0-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

open_manipulator_with_tb3_simulations: 1.1.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Add ROS2 CI for diagnostics
  crystal/distribution.yaml
Owners: @nuclearsandwich

Update distribution.yaml
  crystal/distribution.yaml
Owners: @nuclearsandwich

open_manipulator_simulations: 1.1.0-1 in 'melodic/distribution.yaml' [bloom] (#20274)
  melodic/distribution.yaml
Owners: @clalancette

Branch is delimited with - not _.
  crystal/distribution.yaml
Owners: @nuclearsandwich

open_manipulator_with_tb3: 1.1.0-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

open_manipulator_with_tb3_simulations: 1.1.0-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

remove source section
  melodic/distribution.yaml
Owners: @clalancette

jsk_model_tools: 0.4.3-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

fcl_catkin: 0.5.96-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

fcl_catkin: 0.5.96-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

Add ROS2 CI for diagnostics (#20277)
  crystal/distribution.yaml
Owners: @nuclearsandwich

robot_navigation: 0.2.5-0 in 'indigo/distribution.yaml' [bloom]
  indigo/distribution.yaml
Owners: @tfoote

Add explaination of why source version tag must be a branch
  CONTRIBUTING.md
Owners: none

Add comment about the tag priority
  CONTRIBUTING.md
Owners: none

Update url validity check with better messages and tag priority
  test/test_url_validity.py
Owners: none

Deleted the open_manipulator_with_tb3_msgs on ROS Kinetic (#20265)
  kinetic/distribution.yaml
Owners: @tfoote

open_manipulator: 2.0.0-0 in 'kinetic/distribution.yaml' [bloom] (#20264)
  kinetic/distribution.yaml
Owners: @tfoote

open_manipulator_with_tb3: 1.1.0-0 in 'kinetic/distribution.yaml' [bloom] (#20266)
  kinetic/distribution.yaml
Owners: @tfoote

teraranger: 2.0.1-0 in 'kinetic/distribution.yaml' [bloom] (#20273)
  kinetic/distribution.yaml
Owners: @tfoote

open_manipulator_with_tb3: 1.1.0-2 in 'melodic/distribution.yaml' [bloom] (#20278)
  melodic/distribution.yaml
Owners: @clalancette

jsk_model_tools: 0.4.3-0 in 'lunar/distribution.yaml' [bloom] (#20280)
  lunar/distribution.yaml
Owners: @clalancette

fcl_catkin: 0.5.96-0 in 'melodic/distribution.yaml' [bloom] (#20281)
  melodic/distribution.yaml
Owners: @clalancette

fcl_catkin: 0.5.96-0 in 'kinetic/distribution.yaml' [bloom] (#20282)
  kinetic/distribution.yaml
Owners: @tfoote

robot_navigation: 0.2.5-0 in 'indigo/distribution.yaml' [bloom] (#20285)
  indigo/distribution.yaml
Owners: @tfoote

uuv_simulator: 0.6.6-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

industrial_core: 0.7.0-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

uuv_simulator: 0.6.6-0 in 'kinetic/distribution.yaml' [bloom] (#20288)
  kinetic/distribution.yaml
Owners: @tfoote

industrial_core: 0.7.0-0 in 'melodic/distribution.yaml' [bloom] (#20289)
  melodic/distribution.yaml
Owners: @clalancette

open_manipulator_with_tb3_simulations: 1.1.0-2 in 'melodic/distribution.yaml' [bloom] (#20279)
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 2.1.2-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette
