Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

rcpputils: 2.0.3-1 in 'rolling/distribution.yaml' [bloom] (#27659)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rmw_connext: 3.5.0-1 in 'rolling/distribution.yaml' [bloom] (#27658)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

ros2cli: 0.10.1-1 in 'rolling/distribution.yaml' [bloom] (#27657)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rosidl: 2.0.2-1 in 'rolling/distribution.yaml' [bloom] (#27656)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

spdlog_vendor: 1.2.0-1 in 'rolling/distribution.yaml' [bloom] (#27655)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rviz: 8.3.0-1 in 'rolling/distribution.yaml' [bloom] (#27654)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

unique_identifier_msgs: 2.2.0-1 in 'rolling/distribution.yaml' [bloom] (#27653)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

tinyxml_vendor: 0.8.1-1 in 'rolling/distribution.yaml' [bloom] (#27652)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

tlsf: 0.5.1-1 in 'rolling/distribution.yaml' [bloom] (#27651)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

osrf_pycommon: 0.2.0-1 in 'rolling/distribution.yaml' [bloom] (#27647)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

google_benchmark_vendor: 0.0.4-1 in 'rolling/distribution.yaml' [bloom] (#27646)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

ament_package: 0.10.0-1 in 'rolling/distribution.yaml' [bloom] (#27645)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

ament_cmake: 1.0.2-1 in 'rolling/distribution.yaml' [bloom] (#27644)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

urdf: 2.5.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rmw_implementation: 2.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rmw_dds_common: 1.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rmw_implementation: 2.1.0-1 in 'rolling/distribution.yaml' [bloom] (#27721)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

urdf: 2.5.1-1 in 'rolling/distribution.yaml' [bloom] (#27720)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rmw: 2.2.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rmw_fastrtps: 4.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

changes python to python3
  rosdep/python.yaml
Owners: @ros/rosdeputies

rclcpp: 6.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

pybind11_vendor: 2.2.6-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

message_filters: 3.2.5-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

message_filters: 3.2.5-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

examples: 0.10.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

demos: 0.11.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

console_bridge_vendor: 1.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

common_interfaces: 2.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

turtlesim: 1.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rmw: 2.2.1-1 in 'rolling/distribution.yaml' [bloom] (#27723)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rmw_fastrtps: 4.2.0-1 in 'rolling/distribution.yaml' [bloom] (#27724)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rclcpp: 6.1.0-1 in 'rolling/distribution.yaml' [bloom] (#27725)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

pybind11_vendor: 2.2.6-1 in 'rolling/distribution.yaml' [bloom] (#27726)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

message_filters: 3.2.5-1 in 'rolling/distribution.yaml' [bloom] (#27727)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

examples: 0.10.1-1 in 'rolling/distribution.yaml' [bloom] (#27729)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

demos: 0.11.0-1 in 'rolling/distribution.yaml' [bloom] (#27730)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

console_bridge_vendor: 1.3.0-1 in 'rolling/distribution.yaml' [bloom] (#27731)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

common_interfaces: 2.2.0-1 in 'rolling/distribution.yaml' [bloom] (#27732)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

turtlesim: 1.3.1-1 in 'rolling/distribution.yaml' [bloom] (#27733)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies
