Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies

any_node: 0.5.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Add Gentoo entries for gazebo11
  rosdep/base.yaml
Owners: @ros/rosdeputies

Add Gentoo entry for python3-pykdl
  rosdep/python.yaml
Owners: @ros/rosdeputies

mapviz: 1.4.1-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

mapviz: 1.4.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

mapviz: 1.4.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

mapviz: 2.1.0-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

mrpt2: 2.1.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

mapviz: 2.1.0-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

mapviz: 2.1.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

mapviz: 1.4.1-1 in 'kinetic/distribution.yaml' [bloom] (#27108)
  kinetic/distribution.yaml
Owners: @tfoote

mapviz: 1.4.1-1 in 'melodic/distribution.yaml' [bloom] (#27109)
  melodic/distribution.yaml
Owners: @clalancette

mapviz: 1.4.1-1 in 'noetic/distribution.yaml' [bloom] (#27110)
  noetic/distribution.yaml
Owners: @sloretz

mapviz: 2.1.0-1 in 'dashing/distribution.yaml' [bloom] (#27111)
  dashing/distribution.yaml
Owners: @nuclearsandwich

mapviz: 2.1.0-1 in 'eloquent/distribution.yaml' [bloom] (#27113)
  eloquent/distribution.yaml
Owners: @mjcarroll

mapviz: 2.1.0-1 in 'foxy/distribution.yaml' [bloom] (#27114)
  foxy/distribution.yaml
Owners: @jacobperron

mrpt2: 2.1.3-1 in 'rolling/distribution.yaml' [bloom] (#27112)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

psen_scan: 1.0.8-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Update status of psen_scan in distribution.yaml
  melodic/distribution.yaml
Owners: @clalancette

Fix formatting
  melodic/distribution.yaml
Owners: @clalancette

anybotics_message_logger: 0.2.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

add correct url
  melodic/distribution.yaml
Owners: @clalancette

change version of source
  melodic/distribution.yaml
Owners: @clalancette

rmw_fastrtps: 4.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

anybotics_any_node: 0.5.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

psen_scan: 1.0.8-1 in 'melodic/distribution.yaml' [bloom] (#27115)
  melodic/distribution.yaml
Owners: @clalancette

rmw_fastrtps: 4.0.0-1 in 'rolling/distribution.yaml' [bloom] (#27117)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

fastcdr: 1.0.13-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

Fixed branch of Dashing sources of fmi_adapter.
  dashing/distribution.yaml
Owners: @nuclearsandwich

Fixed branch of Eloquent sources of fmi_adapter.
  eloquent/distribution.yaml
Owners: @mjcarroll

Fixed branch of Dashing doc of fmi_adapter.
  dashing/distribution.yaml
Owners: @nuclearsandwich

Fixed branch of Eloquent doc of fmi_adapter.
  eloquent/distribution.yaml
Owners: @mjcarroll

fastrtps: 1.8.4-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

Fixed branch of Dashing and Eloquent sources of fmi_adapter. (#27120)
  dashing/distribution.yaml
  eloquent/distribution.yaml
Owners: @nuclearsandwich, @mjcarroll

boost_sml: 0.1.0-3 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

boost_sml: 0.1.0-3 in 'melodic/distribution.yaml' [bloom] (#27122)
  melodic/distribution.yaml
Owners: @clalancette

fastcdr: 1.0.13-1 in 'dashing/distribution.yaml' [bloom] (#27119)
  dashing/distribution.yaml
Owners: @nuclearsandwich

fastrtps: 1.8.4-1 in 'dashing/distribution.yaml' [bloom] (#27121)
  dashing/distribution.yaml
Owners: @nuclearsandwich

Unrelease ros_numpy from Noetic
  noetic/distribution.yaml
Owners: @sloretz

Unrelease ros_numpy from Noetic (#27123)
  noetic/distribution.yaml
Owners: @sloretz
