Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies

Order alphabetically
  rosdep/python.yaml
Owners: @ros/rosdeputies

industrial_core: 0.7.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

grasping_msgs: 0.3.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

move_base_flex: 0.3.3-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

move_base_flex: 0.3.3-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

navigation2: 0.4.5-1 in 'foxy/distribution.yaml' [bloom] (#27251)
  foxy/distribution.yaml
Owners: @jacobperron

move_base_flex: 0.3.3-1 in 'kinetic/distribution.yaml' [bloom] (#27256)
  kinetic/distribution.yaml
Owners: @tfoote

Add python_systemd (#27206)
  rosdep/python.yaml
Owners: @ros/rosdeputies

Add pypthon3-six to rosdep (#27227)
  rosdep/python.yaml
Owners: @ros/rosdeputies

bota_driver: 0.5.6-1 in 'kinetic/distribution.yaml' [bloom] (#27231)
  kinetic/distribution.yaml
Owners: @tfoote

fadecandy_ros: 0.1.3-1 in 'melodic/distribution.yaml' [bloom] (#27232)
  melodic/distribution.yaml
Owners: @clalancette

fadecandy_ros: 0.1.3-1 in 'noetic/distribution.yaml' [bloom] (#27233)
  noetic/distribution.yaml
Owners: @sloretz

autoware_msgs: 1.14.0-1 in 'noetic/distribution.yaml' [bloom] (#27235)
  noetic/distribution.yaml
Owners: @sloretz

cyclonedds: 0.7.0-3 in 'eloquent/distribution.yaml' [bloom] (#27238)
  eloquent/distribution.yaml
Owners: @mjcarroll

rmw_cyclonedds: 0.7.0-1 in 'eloquent/distribution.yaml' [bloom] (#27237)
  eloquent/distribution.yaml
Owners: @mjcarroll

bota_driver: 0.5.7-1 in 'noetic/distribution.yaml' [bloom] (#27247)
  noetic/distribution.yaml
Owners: @sloretz

industrial_core: 0.7.1-1 in 'noetic/distribution.yaml' [bloom] (#27253)
  noetic/distribution.yaml
Owners: @sloretz

grasping_msgs: 0.3.1-1 in 'noetic/distribution.yaml' [bloom] (#27254)
  noetic/distribution.yaml
Owners: @sloretz

bond_core: 2.0.0-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

bond_core: 2.0.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

bond_core: 2.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

bond_core: 2.0.0-1 in 'dashing/distribution.yaml' [bloom] (#27257)
  dashing/distribution.yaml
Owners: @nuclearsandwich

Adding llvm and llvm-dev to rosdep. (#27250)
  rosdep/base.yaml
Owners: @ros/rosdeputies

industrial_robot_status_controller: 0.1.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

bond_core: 2.0.0-1 in 'foxy/distribution.yaml' [bloom] (#27258)
  foxy/distribution.yaml
Owners: @jacobperron

bond_core: 2.0.0-1 in 'rolling/distribution.yaml' [bloom] (#27259)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

industrial_robot_status_controller: 0.1.2-1 in 'noetic/distribution.yaml' [bloom] (#27260)
  noetic/distribution.yaml
Owners: @sloretz

py_trees: 2.1.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

pointgrey_camera_driver: 0.15.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

pointgrey_camera_driver: Fixed version in 'noetic/distribution.yaml'
  noetic/distribution.yaml
Owners: @sloretz

py_trees: 2.1.2-1 in 'foxy/distribution.yaml' [bloom] (#27261)
  foxy/distribution.yaml
Owners: @jacobperron

v4l2_camera: 0.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

Update distribution.yaml
  foxy/distribution.yaml
Owners: @jacobperron

sros2: 0.10.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

exotica: 6.0.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

exotica: 6.0.0-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

exotica: 6.0.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

seed_smartactuator_sdk: 0.0.5-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

rospy_message_converter: 0.5.5-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

rospy_message_converter: 0.5.5-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette
