Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

urg_node: 0.1.15-1 in 'melodic/distribution.yaml' [bloom] (#27159)
  melodic/distribution.yaml
Owners: @clalancette

roscompile: 1.0.3-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Move the Foxy urdfdom repository the old location. (#27163)
  foxy/distribution.yaml
Owners: @jacobperron

rviz: 7.0.6-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

roscompile: 1.0.3-1 in 'melodic/distribution.yaml' [bloom] (#27165)
  melodic/distribution.yaml
Owners: @clalancette

rviz: 7.0.6-1 in 'eloquent/distribution.yaml' [bloom] (#27166)
  eloquent/distribution.yaml
Owners: @mjcarroll

ddynamic_reconfigure: 0.3.2-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

ddynamic_reconfigure: 0.3.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

rc_visard: 3.0.5-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

rc_visard: 3.0.5-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Move dashing urdfdom to the ros organization.
  dashing/distribution.yaml
Owners: @nuclearsandwich

rclpy: 1.2.1-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rc_visard: 3.0.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

ros_babel_fish: 0.9.0-2 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

ros_babel_fish: 0.9.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

ros_babel_fish: 0.9.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

geometry2: 0.13.6-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

geometry2: 0.13.6-1 in 'foxy/distribution.yaml' [bloom] (#27177)
  foxy/distribution.yaml
Owners: @jacobperron

launch_ros: 0.11.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

rclpy: 1.2.1-2 in 'rolling/distribution.yaml' [bloom] (#27172)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

Move dashing urdfdom to the ros organization. (#27171)
  dashing/distribution.yaml
Owners: @nuclearsandwich

ddynamic_reconfigure: 0.3.2-1 in 'melodic/distribution.yaml' [bloom] (#27167)
  melodic/distribution.yaml
Owners: @clalancette

ddynamic_reconfigure: 0.3.2-1 in 'noetic/distribution.yaml' [bloom] (#27168)
  noetic/distribution.yaml
Owners: @sloretz

rc_visard: 3.0.5-1 in 'melodic/distribution.yaml' [bloom] (#27170)
  melodic/distribution.yaml
Owners: @clalancette

rc_visard: 3.0.5-1 in 'noetic/distribution.yaml' [bloom] (#27173)
  noetic/distribution.yaml
Owners: @sloretz

ros_babel_fish: 0.9.0-1 in 'melodic/distribution.yaml' [bloom] (#27175)
  melodic/distribution.yaml
Owners: @clalancette

ros_babel_fish: 0.9.0-1 in 'noetic/distribution.yaml' [bloom] (#27176)
  noetic/distribution.yaml
Owners: @sloretz

launch_ros: 0.11.0-1 in 'foxy/distribution.yaml' [bloom] (#27178)
  foxy/distribution.yaml
Owners: @jacobperron

Move urdfdom back into the ros organization for eloquent.
  eloquent/distribution.yaml
Owners: @mjcarroll

Update gazebo_ros_pkgs developement branch for Foxy
  foxy/distribution.yaml
Owners: @jacobperron

boost_sml: 0.1.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

omnibase: 1.0.2-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

teleop_tools: 1.2.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

bota_driver: 0.5.2-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

ros_babel_fish: 0.9.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

urdfdom_py: 0.4.4-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

urdfdom_py: 0.4.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

Add python3-cantools-pip
  rosdep/python.yaml
Owners: @ros/rosdeputies

Adding shadow repos to documentation index for distro
  melodic/distribution.yaml
Owners: @clalancette

Adding shadow robot to documentation index for distro
  kinetic/distribution.yaml
Owners: @tfoote

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies
