Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies

ros2cli: 0.9.8-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

rosidl: 1.2.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

rosidl_python: 0.9.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rosidl_python: 0.9.4-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

interactive_markers: 2.1.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

interactive_markers: 2.1.3-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

rosidl_typesupport: 1.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rosidl_typesupport: 1.0.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

simple_launch: 1.0.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

psen_scan_v2: 0.1.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

psen_scan_v2: 0.1.3-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Add rosdep key for flawfinder
  rosdep/base.yaml
Owners: @ros/rosdeputies

add flask-restplus from pip
  rosdep/python.yaml
Owners: @ros/rosdeputies

rosidl_typesupport_fastrtps: 1.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

Added wget for purpose of micro-ROS install
  rosdep/base.yaml
  rosdep/python.yaml
Owners: @ros/rosdeputies

ros1_bridge: 0.8.3-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

ros1_bridge: 0.7.8-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

rosidl_typesupport_fastrtps: 1.0.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

ros1_bridge: 0.7.8-1 in 'dashing/distribution.yaml' [bloom] (#27705)
  dashing/distribution.yaml
Owners: @nuclearsandwich

geometry2: 0.13.9-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

ros1_bridge: 0.10.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

ros1_bridge: 0.9.6-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

rmw_fastrtps: 1.2.4-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

rcl: 1.1.10-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

simple_launch: 1.0.2-1 in 'foxy/distribution.yaml' [bloom] (#27697)
  foxy/distribution.yaml
Owners: @jacobperron

raspimouse2: 1.0.2-1 in 'foxy/distribution.yaml' [bloom] (#27650)
  foxy/distribution.yaml
Owners: @jacobperron

rclcpp: 2.3.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

launch_ros: 0.11.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

rviz: 8.2.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

ament_lint: 0.9.6-1 in 'foxy/distribution.yaml' [bloom] (#27642)
  foxy/distribution.yaml
Owners: @jacobperron

ament_package: 0.9.3-1 in 'foxy/distribution.yaml' [bloom] (#27643)
  foxy/distribution.yaml
Owners: @jacobperron

pluginlib: 2.5.3-1 in 'foxy/distribution.yaml' [bloom] (#27670)
  foxy/distribution.yaml
Owners: @jacobperron

resource_retriever: 2.3.4-1 in 'foxy/distribution.yaml' [bloom] (#27671)
  foxy/distribution.yaml
Owners: @jacobperron

console_bridge_vendor: 1.2.3-1 in 'foxy/distribution.yaml' [bloom] (#27674)
  foxy/distribution.yaml
Owners: @jacobperron

examples: 0.9.4-1 in 'foxy/distribution.yaml' [bloom] (#27675)
  foxy/distribution.yaml
Owners: @jacobperron

launch: 0.10.4-1 in 'foxy/distribution.yaml' [bloom] (#27677)
  foxy/distribution.yaml
Owners: @jacobperron

mimick_vendor: 0.2.3-1 in 'foxy/distribution.yaml' [bloom] (#27680)
  foxy/distribution.yaml
Owners: @jacobperron

rcutils: 1.1.2-1 in 'foxy/distribution.yaml' [bloom] (#27683)
  foxy/distribution.yaml
Owners: @jacobperron

rmw_connext: 1.0.3-1 in 'foxy/distribution.yaml' [bloom] (#27684)
  foxy/distribution.yaml
Owners: @jacobperron

rmw_cyclonedds: 0.7.6-1 in 'foxy/distribution.yaml' [bloom] (#27685)
  foxy/distribution.yaml
Owners: @jacobperron
