Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @tfoote, @clalancette, @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
rosdep/* @ros/rosdeputies

behaviotree_cpp_v3: 3.0.6-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

Added librealsense2 and librealsense2-dev
  rosdep/base.yaml
Owners: @ros/rosdeputies

behaviotree_cpp_v3: 3.0.6-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

behaviotree_cpp_v3: 3.0.6-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

rosdep: add python-typing
  rosdep/python.yaml
Owners: @ros/rosdeputies

add usb_cam_hardware to doc index for kinetic (#20601)
  kinetic/distribution.yaml
Owners: @tfoote

behaviotree_cpp_v3: 3.0.6-0 in 'kinetic/distribution.yaml' [bloom] (#20604)
  kinetic/distribution.yaml
Owners: @tfoote

behaviotree_cpp_v3: 3.0.6-0 in 'lunar/distribution.yaml' [bloom] (#20605)
  lunar/distribution.yaml
Owners: @clalancette

behaviotree_cpp_v3: 3.0.6-0 in 'melodic/distribution.yaml' [bloom] (#20607)
  melodic/distribution.yaml
Owners: @clalancette

usb_cam_hardware: 0.0.2-0 in 'kinetic/distribution.yaml' [bloom] (#20602)
  kinetic/distribution.yaml
Owners: @tfoote

rosdep: add python-typing (#20608)
  rosdep/python.yaml
Owners: @ros/rosdeputies

cmake_modules: 0.4.2-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

ros_monitoring_msgs: 1.0.0-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

cmake_modules: 0.4.2-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

cmake_modules: 0.4.2-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

kinesis_manager: 2.0.0-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

aws_common: 2.0.0-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

aws_common: 2.0.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

kinesis_manager: 2.0.0-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

h264_encoder_core: 2.0.0-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

h264_encoder_core: 2.0.0-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Revert "p2os: 2.2.0-0 in 'indigo/distribution.yaml' [bloom] (#20584)"
  indigo/distribution.yaml
Owners: @tfoote

Revert "p2os: 2.2.0-0 in 'indigo/distribution.yaml' [bloom] (#20584)" (#20619)
  indigo/distribution.yaml
Owners: @tfoote

cmake_modules: 0.4.2-0 in 'kinetic/distribution.yaml' [bloom] (#20609)
  kinetic/distribution.yaml
Owners: @tfoote

ros_monitoring_msgs: 1.0.0-0 in 'melodic/distribution.yaml' [bloom] (#20610)
  melodic/distribution.yaml
Owners: @clalancette

cmake_modules: 0.4.2-0 in 'lunar/distribution.yaml' [bloom] (#20611)
  lunar/distribution.yaml
Owners: @clalancette

cmake_modules: 0.4.2-0 in 'melodic/distribution.yaml' [bloom] (#20612)
  melodic/distribution.yaml
Owners: @clalancette

kinesis_manager: 2.0.0-0 in 'kinetic/distribution.yaml' [bloom] (#20613)
  kinetic/distribution.yaml
Owners: @tfoote

aws_common: 2.0.0-1 in 'kinetic/distribution.yaml' [bloom] (#20614)
  kinetic/distribution.yaml
Owners: @tfoote

aws_common: 2.0.0-1 in 'melodic/distribution.yaml' [bloom] (#20615)
  melodic/distribution.yaml
Owners: @clalancette

kinesis_manager: 2.0.0-0 in 'melodic/distribution.yaml' [bloom] (#20616)
  melodic/distribution.yaml
Owners: @clalancette

h264_encoder_core: 2.0.0-0 in 'kinetic/distribution.yaml' [bloom] (#20617)
  kinetic/distribution.yaml
Owners: @tfoote

h264_encoder_core: 2.0.0-0 in 'melodic/distribution.yaml' [bloom] (#20618)
  melodic/distribution.yaml
Owners: @clalancette

aws_ros1_common: 2.0.0-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

aws_ros1_common: 2.0.0-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

cloudwatch_logger: 2.0.0-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

aws_ros1_common: 2.0.0-0 in 'kinetic/distribution.yaml' [bloom] (#20620)
  kinetic/distribution.yaml
Owners: @tfoote

cloudwatch_logger: 2.0.0-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

cloudwatch_metrics_collector: 2.0.0-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

cloudwatch_metrics_collector: 2.0.0-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette
