Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

flexbe: 1.3.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

flexbe: 1.3.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

librealsense2: 2.40.0-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

librealsense2: 2.40.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Fix python-rpi.gpio install's on Ubuntu Bionic
  rosdep/python.yaml
Owners: @ros/rosdeputies

volta: 1.1.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

volta: 1.0.0-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

Removed pull request testing
  melodic/distribution.yaml
Owners: @clalancette

realsense2_camera: 2.2.20-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

realsense2_camera: 2.2.20-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

volta_simulation: 1.0.0-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

volta_simulation: 1.1.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

marti_messages: 0.10.0-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

marti_messages: 0.10.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

marti_messages: 0.10.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

marti_messages: 1.2.0-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

marti_messages: 1.2.0-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

marti_messages: 1.2.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

roscompile: 1.1.0-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

roscompile: 1.1.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Update distribution.yaml
  melodic/distribution.yaml
Owners: @clalancette

roscompile: 1.1.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

ansys_vrxperience: 1.0.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

marti_messages: 1.2.0-1 in 'foxy/distribution.yaml' [bloom] (#27389)
  foxy/distribution.yaml
Owners: @jacobperron

roscompile: 1.1.0-1 in 'kinetic/distribution.yaml' [bloom] (#27391)
  kinetic/distribution.yaml
Owners: @tfoote

exotica: 6.0.1-1 in 'kinetic/distribution.yaml' [bloom] (#27362)
  kinetic/distribution.yaml
Owners: @tfoote

flexbe: 1.3.0-1 in 'kinetic/distribution.yaml' [bloom] (#27372)
  kinetic/distribution.yaml
Owners: @tfoote

librealsense2: 2.40.0-1 in 'kinetic/distribution.yaml' [bloom] (#27375)
  kinetic/distribution.yaml
Owners: @tfoote

realsense2_camera: 2.2.20-1 in 'kinetic/distribution.yaml' [bloom] (#27380)
  kinetic/distribution.yaml
Owners: @tfoote

marti_messages: 0.10.0-1 in 'kinetic/distribution.yaml' [bloom] (#27384)
  kinetic/distribution.yaml
Owners: @tfoote

volta: 1.0.0-1 in 'kinetic/distribution.yaml' [bloom] (#27379)
  kinetic/distribution.yaml
Owners: @tfoote

fix bad merge
  kinetic/distribution.yaml
Owners: @tfoote

strip trailing tab
  kinetic/distribution.yaml
Owners: @tfoote

Add touchegg to rosdep base.yaml
  rosdep/base.yaml
Owners: @ros/rosdeputies

Update distribution.yaml
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

Update distribution.yaml (#27396)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rclcpp: 6.0.0-1 in 'rolling/distribution.yaml' [bloom] (#27370)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

ansys_vrxperience: 1.0.0-1 in 'foxy/distribution.yaml' [bloom] (#27394)
  foxy/distribution.yaml
Owners: @jacobperron

roscompile: 1.1.1-1 in 'noetic/distribution.yaml' [bloom] (#27393)
  noetic/distribution.yaml
Owners: @sloretz

roscompile: 1.1.0-1 in 'melodic/distribution.yaml' [bloom] (#27392)
  melodic/distribution.yaml
Owners: @clalancette

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies
