Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

pilz_common: 0.6.0-1 in 'melodic/distribution.yaml'
  melodic/distribution.yaml
Owners: @clalancette

cob_android: 0.1.8-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

cob_android: 0.1.8-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

cob_android: 0.1.8-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

Revert "moveit: 1.1.1-1 in 'noetic/distribution.yaml' [bloom] (#26938)"
  noetic/distribution.yaml
Owners: @sloretz

Revert "ros_controllers: 0.18.0-1 in 'noetic/distribution.yaml' [bloom] (#26904)"
  noetic/distribution.yaml
Owners: @sloretz

tvm_vendor: 0.7.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

performance_test_fixture to 0.0.6
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

performance_test_fixture: 0.0.6-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

performance_test_fixture: 0.0.6-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

performance_test_fixture: 0.0.6-1 in 'rolling/distribution.yaml' [bloom] (#27405)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

volta_simulation: 1.0.0-1 in 'kinetic/distribution.yaml' [bloom] (#27382)
  kinetic/distribution.yaml
Owners: @tfoote

cob_android: 0.1.8-1 in 'kinetic/distribution.yaml' [bloom] (#27398)
  kinetic/distribution.yaml
Owners: @tfoote

performance_test_fixture: 0.0.6-1 in 'foxy/distribution.yaml' [bloom] (#27406)
  foxy/distribution.yaml
Owners: @jacobperron

cob_common: 0.7.4-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

marti_messages: 0.10.0-1 in 'noetic/distribution.yaml' [bloom] (#27386)
  noetic/distribution.yaml
Owners: @sloretz

openzen_sensor: 1.2.0-1 in 'melodic/distribution.yaml' [bloom] (#27352)
  melodic/distribution.yaml
Owners: @clalancette

pilz_robots: 0.5.20-1 in 'melodic/distribution.yaml' [bloom] (#27354)
  melodic/distribution.yaml
Owners: @clalancette

dynamic-graph: 4.3.1-3 in 'melodic/distribution.yaml' [bloom] (#27357)
  melodic/distribution.yaml
Owners: @clalancette

exotica: 6.0.1-1 in 'melodic/distribution.yaml' [bloom] (#27361)
  melodic/distribution.yaml
Owners: @clalancette

flexbe: 1.3.0-1 in 'melodic/distribution.yaml' [bloom] (#27373)
  melodic/distribution.yaml
Owners: @clalancette

realsense2_camera: 2.2.20-1 in 'melodic/distribution.yaml' [bloom] (#27381)
  melodic/distribution.yaml
Owners: @clalancette

marti_messages: 0.10.0-1 in 'melodic/distribution.yaml' [bloom] (#27385)
  melodic/distribution.yaml
Owners: @clalancette

cob_android: 0.1.8-1 in 'melodic/distribution.yaml' [bloom] (#27399)
  melodic/distribution.yaml
Owners: @clalancette

pilz_common: 0.6.0-1 in 'melodic/distribution.yaml' (#27397)
  melodic/distribution.yaml
Owners: @clalancette

cob_common: 0.7.4-1 in 'kinetic/distribution.yaml' [bloom] (#27407)
  kinetic/distribution.yaml
Owners: @tfoote

cob_common: 0.7.4-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

volta: 1.1.0-1 in 'melodic/distribution.yaml' [bloom] (#27378)
  melodic/distribution.yaml
Owners: @clalancette

volta_simulation: 1.1.0-1 in 'melodic/distribution.yaml' [bloom] (#27383)
  melodic/distribution.yaml
Owners: @clalancette

cob_common: 0.7.4-1 in 'melodic/distribution.yaml' [bloom] (#27408)
  melodic/distribution.yaml
Owners: @clalancette

cob_android: 0.1.8-1 in 'noetic/distribution.yaml' [bloom] (#27400)
  noetic/distribution.yaml
Owners: @sloretz

exotica: 6.0.1-1 in 'noetic/distribution.yaml' [bloom] (#27360)
  noetic/distribution.yaml
Owners: @sloretz

cob_common: 0.7.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

librealsense2: 2.40.0-1 in 'melodic/distribution.yaml' [bloom] (#27376)
  melodic/distribution.yaml
Owners: @clalancette

cob_common: 0.7.4-1 in 'noetic/distribution.yaml' [bloom] (#27409)
  noetic/distribution.yaml
Owners: @sloretz

adds yujin_lidar to documentation index for melodic (#27351)
  melodic/distribution.yaml
Owners: @clalancette

Add rosdep key ruby-backports (#27336)
  rosdep/ruby.yaml
Owners: @ros/rosdeputies

nodl: 0.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

nodl: 0.3.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

nodl: 0.3.1-1 in 'foxy/distribution.yaml' [bloom] (#27411)
  foxy/distribution.yaml
Owners: @jacobperron

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies
