Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies

cob_hand: 0.6.9-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

cob_hand: 0.6.9-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

cob_calibration_data: 0.6.15-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

cob_calibration_data: 0.6.15-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

cob_calibration_data: 0.6.15-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

jsk_visualization: 2.1.7-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

rviz: 1.13.14-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

rviz: 1.14.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

leo_robot: 1.1.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

leo_desktop: 0.2.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

leo_simulator: 0.1.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

toposens: 2.0.4-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

Update distribution.yaml
  melodic/distribution.yaml
Owners: @clalancette

Update distribution.yaml
  foxy/distribution.yaml
Owners: @jacobperron

Update distribution.yaml
  eloquent/distribution.yaml
Owners: @mjcarroll

seed_smartactuator_sdk: 0.0.5-3 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

osqp_vendor: 0.0.1-3 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

system_modes: 0.4.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

system_modes: 0.4.1-1 in 'rolling/distribution.yaml' [bloom] (#27031)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

Update distribution.yaml (#27027)
  foxy/distribution.yaml
Owners: @jacobperron

Update distribution.yaml (#27028)
  eloquent/distribution.yaml
Owners: @mjcarroll

leo_desktop: 0.2.2-1 in 'noetic/distribution.yaml' [bloom] (#27024)
  noetic/distribution.yaml
Owners: @sloretz

rviz: 1.14.2-1 in 'noetic/distribution.yaml' [bloom] (#27021)
  noetic/distribution.yaml
Owners: @sloretz

cob_calibration_data: 0.6.15-1 in 'noetic/distribution.yaml' [bloom] (#27018)
  noetic/distribution.yaml
Owners: @sloretz

cob_hand: 0.6.9-1 in 'noetic/distribution.yaml' [bloom] (#27014)
  noetic/distribution.yaml
Owners: @sloretz

cob_substitute: 0.6.10-1 in 'noetic/distribution.yaml' [bloom] (#27011)
  noetic/distribution.yaml
Owners: @sloretz

Add leo_common and leo_desktop repositories to kinetic
  kinetic/distribution.yaml
Owners: @tfoote

seed_smartactuator_sdk: 0.0.5-3 in 'melodic/distribution.yaml' [bloom] (#27029)
  melodic/distribution.yaml
Owners: @clalancette

leo_robot: 1.1.1-1 in 'melodic/distribution.yaml' [bloom] (#27022)
  melodic/distribution.yaml
Owners: @clalancette

rviz: 1.13.14-1 in 'melodic/distribution.yaml' [bloom] (#27020)
  melodic/distribution.yaml
Owners: @clalancette

cob_calibration_data: 0.6.15-1 in 'melodic/distribution.yaml' [bloom] (#27016)
  melodic/distribution.yaml
Owners: @clalancette

cob_hand: 0.6.9-1 in 'melodic/distribution.yaml' [bloom] (#27013)
  melodic/distribution.yaml
Owners: @clalancette

cob_substitute: 0.6.10-1 in 'melodic/distribution.yaml' [bloom] (#27010)
  melodic/distribution.yaml
Owners: @clalancette

jsk_visualization: 2.1.7-1 in 'melodic/distribution.yaml' [bloom] (#27005)
  melodic/distribution.yaml
Owners: @clalancette

toposens: 2.0.4-1 in 'kinetic/distribution.yaml' [bloom] (#27026)
  kinetic/distribution.yaml
Owners: @tfoote

jsk_visualization: 2.1.7-1 in 'kinetic/distribution.yaml' [bloom] (#27019)
  kinetic/distribution.yaml
Owners: @tfoote

cob_calibration_data: 0.6.15-1 in 'kinetic/distribution.yaml' [bloom] (#27015)
  kinetic/distribution.yaml
Owners: @tfoote

cob_hand: 0.6.9-1 in 'kinetic/distribution.yaml' [bloom] (#27012)
  kinetic/distribution.yaml
Owners: @tfoote

cob_substitute: 0.6.10-1 in 'kinetic/distribution.yaml' [bloom] (#27009)
  kinetic/distribution.yaml
Owners: @tfoote

open_manipulator_p: 1.0.0-1 in 'kinetic/distribution.yaml' [bloom] (#26969)
  kinetic/distribution.yaml
Owners: @tfoote
