Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

add native package
  rosdep/python.yaml
Owners: @ros/rosdeputies

(foxy) add PR testing for robot_controllers
  foxy/distribution.yaml
Owners: @jacobperron

fix problem in xmlschema and xmlplain package lists
  rosdep/python.yaml
Owners: @ros/rosdeputies

claenup yaml
  rosdep/python.yaml
Owners: @ros/rosdeputies

add native package
  rosdep/python.yaml
Owners: @ros/rosdeputies

remove arch package
  rosdep/python.yaml
Owners: @ros/rosdeputies

fix package order
  rosdep/python.yaml
Owners: @ros/rosdeputies

add python3-zmq
  rosdep/python.yaml
Owners: @ros/rosdeputies

Add entry for python3-pymongo
  rosdep/python.yaml
Owners: @ros/rosdeputies

Fix alphabetical order in PR #27356
  rosdep/python.yaml
Owners: @ros/rosdeputies

add python3-qrcode
  rosdep/python.yaml
Owners: @ros/rosdeputies

carla_msgs: 1.2.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

carla_msgs: 1.2.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

pilz_common: 0.7.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

Add touchegg to rosdep base.yaml (#27395)
  rosdep/base.yaml
Owners: @ros/rosdeputies

marti_common: 3.3.2-1 in 'foxy/distribution.yaml' [bloom] (#27466)
  foxy/distribution.yaml
Owners: @jacobperron

marti_common: 3.3.2-1 in 'eloquent/distribution.yaml' [bloom] (#27467)
  eloquent/distribution.yaml
Owners: @mjcarroll

plotjuggler: 3.0.3-1 in 'foxy/distribution.yaml' [bloom] (#27525)
  foxy/distribution.yaml
Owners: @jacobperron

ament_cmake: 0.8.3-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

(foxy) add PR testing for robot_controllers (#27526)
  foxy/distribution.yaml
Owners: @jacobperron

ament_cmake: 0.9.8-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

pilz_common: 0.7.0-1 in 'noetic/distribution.yaml' [bloom] (#27531)
  noetic/distribution.yaml
Owners: @sloretz

carla_msgs: 1.2.0-1 in 'noetic/distribution.yaml' [bloom] (#27530)
  noetic/distribution.yaml
Owners: @sloretz

sot-core: 4.11.3-2 in 'noetic/distribution.yaml' [bloom] (#27509)
  noetic/distribution.yaml
Owners: @sloretz

tsid: 1.4.2-1 in 'noetic/distribution.yaml' [bloom] (#27508)
  noetic/distribution.yaml
Owners: @sloretz

log_view: 0.1.2-1 in 'noetic/distribution.yaml' [bloom] (#27506)
  noetic/distribution.yaml
Owners: @sloretz

librealsense2: 2.40.0-2 in 'noetic/distribution.yaml' [bloom] (#27501)
  noetic/distribution.yaml
Owners: @sloretz

ompl: 1.5.1-1 in 'noetic/distribution.yaml' [bloom] (#27497)
  noetic/distribution.yaml
Owners: @sloretz

sob_layer: 0.1.0-1 in noetic/distribution.yaml - manual release (#27484)
  noetic/distribution.yaml
Owners: @sloretz

exotica: 6.0.2-1 in 'noetic/distribution.yaml' [bloom] (#27465)
  noetic/distribution.yaml
Owners: @sloretz

rc_genicam_driver: 0.4.0-1 in 'noetic/distribution.yaml' [bloom] (#27450)
  noetic/distribution.yaml
Owners: @sloretz

cnpy: 0.0.1-1 in 'noetic/distribution.yaml' [bloom] (#27436)
  noetic/distribution.yaml
Owners: @sloretz

rc_visard: 3.1.0-1 in 'noetic/distribution.yaml' [bloom] (#27449)
  noetic/distribution.yaml
Owners: @sloretz

flexbe: 1.3.0-1 in 'noetic/distribution.yaml' [bloom] (#27374)
  noetic/distribution.yaml
Owners: @sloretz

carla_msgs: 1.2.0-1 in 'melodic/distribution.yaml' [bloom] (#27529)
  melodic/distribution.yaml
Owners: @clalancette

ament_cmake: 0.8.3-1 in 'eloquent/distribution.yaml' [bloom] (#27532)
  eloquent/distribution.yaml
Owners: @mjcarroll

cnpy: 0.0.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

ament_cmake: 0.9.8-1 in 'foxy/distribution.yaml' [bloom] (#27533)
  foxy/distribution.yaml
Owners: @jacobperron

rt_usb_9axisimu_driver: 2.0.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

Update distribution.yaml
  noetic/distribution.yaml
Owners: @sloretz

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies
