Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @mjcarroll, @jacobperron, @tfoote, @clalancette, @sloretz, @cottsay, @ros/rosdeputies

rmw_fastrtps: 1.2.3-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

rosdep: add libcgroup-dev (#27278)
  rosdep/base.yaml
Owners: @ros/rosdeputies

open_karto: 1.2.3-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

rmw_fastrtps: 1.2.3-1 in 'foxy/distribution.yaml' [bloom] (#27288)
  foxy/distribution.yaml
Owners: @jacobperron

robotont_description: 0.0.7-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

pal_statistics: 1.4.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

bota_driver: 0.5.7-1 in 'melodic/distribution.yaml' [bloom] (#27245)
  melodic/distribution.yaml
Owners: @clalancette

move_base_flex: 0.3.3-1 in 'melodic/distribution.yaml' [bloom] (#27255)
  melodic/distribution.yaml
Owners: @clalancette

exotica: 6.0.0-1 in 'melodic/distribution.yaml' [bloom] (#27266)
  melodic/distribution.yaml
Owners: @clalancette

psen_scan_v2: 0.1.1-1 in 'melodic/distribution.yaml' [bloom] (#27286)
  melodic/distribution.yaml
Owners: @clalancette

open_karto: 1.2.3-1 in 'melodic/distribution.yaml' [bloom] (#27289)
  melodic/distribution.yaml
Owners: @clalancette

robotont_description: 0.0.7-1 in 'melodic/distribution.yaml' [bloom] (#27290)
  melodic/distribution.yaml
Owners: @clalancette

rostest_node_interface_validation: 0.2.0-1 in 'melodic/distribution.yaml' [bloom] (#27248)
  melodic/distribution.yaml
Owners: @clalancette

sick_safetyscanners: 1.0.7-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

sick_safetyscanners: 1.0.7-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

mavros: 1.5.0-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

sick_safetyscanners: 1.0.7-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

mavros: 1.5.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

move_base_flex: 0.3.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

mavros: 1.5.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

mavlink: 2020.11.11-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

lvr2: 20.11.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Align with melodic entry
  noetic/distribution.yaml
Owners: @sloretz

aws-robomaker-simulation-ros-pkgs: 1.1.1-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

mavlink: 2020.11.11-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

rmw_dds_common: 1.0.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

mavlink: 2020.11.11-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

mavlink: 2020.11.11-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Owners: @mjcarroll

aws-robomaker-simulation-ros-pkgs: 1.1.1-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

mesh_tools: 1.0.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

aws-robomaker-simulation-ros-pkgs: 1.2.1-1 in 'dashing/distribution.yaml' [bloom]
  dashing/distribution.yaml
Owners: @nuclearsandwich

rmw_dds_common: 1.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

mavlink: 2020.11.11-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Owners: @jacobperron

neonavigation: 0.10.4-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

neonavigation: 0.10.4-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

neonavigation: 0.10.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

mavlink: 2020.11.11-1 in 'foxy/distribution.yaml' [bloom] (#27311)
  foxy/distribution.yaml
Owners: @jacobperron

rmw_dds_common: 1.0.2-1 in 'foxy/distribution.yaml' [bloom] (#27304)
  foxy/distribution.yaml
Owners: @jacobperron

rmw_dds_common: 1.1.0-1 in 'rolling/distribution.yaml' [bloom] (#27310)
  rolling/distribution.yaml
Owners: @cottsay, @nuclearsandwich

rqt_bag: 0.5.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Owners: @sloretz

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @jacobperron
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
noetic/* @sloretz
rolling/* @cottsay @nuclearsandwich
rosdep/* @ros/rosdeputies
