Repository ros/rosdistro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuclearsandwich, @tfoote, @clalancette, @ros/rosdeputies

plotjuggler: 2.0.5-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

plotjuggler: 2.0.5-0 in 'lunar/distribution.yaml' [bloom] (#20183)
  lunar/distribution.yaml
Owners: @clalancette

plotjuggler: 2.0.5-0 in 'melodic/distribution.yaml' [bloom] (#20181)
  melodic/distribution.yaml
Owners: @clalancette

pilz_industrial_motion: 0.3.5-0 in 'kinetic/distribution.yaml'
  kinetic/distribution.yaml
Owners: @tfoote

pilz_industrial_motion: 0.3.5-0 in 'kinetic/distribution.yaml' (#20186)
  kinetic/distribution.yaml
Owners: @tfoote

earth_rover_piksi: 1.8.2-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

Fix source version
  kinetic/distribution.yaml
Owners: @tfoote

plotjuggler: 2.1.0-1 in 'indigo/distribution.yaml' [bloom]
  indigo/distribution.yaml
Owners: @tfoote

Added python-ftdi1
  rosdep/python.yaml
Owners: @ros/rosdeputies

plotjuggler: 2.1.0-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

plotjuggler: 2.0.7-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

marti_common: 2.8.0-0 in 'indigo/distribution.yaml' [bloom]
  indigo/distribution.yaml
Owners: @tfoote

plotjuggler: 2.0.7-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

marti_common: 2.8.0-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

rc_visard: 2.5.0-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

[crystal] Update source and doc branch for demos.
  crystal/distribution.yaml
Owners: @nuclearsandwich

rc_visard: 2.5.0-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

rc_visard: 2.5.0-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

rc_visard: 2.5.0-0 in 'indigo/distribution.yaml' [bloom]
  indigo/distribution.yaml
Owners: @tfoote

earth_rover_piksi: 1.8.2-0 in 'kinetic/distribution.yaml' [bloom] (#20187)
  kinetic/distribution.yaml
Owners: @tfoote

[crystal] Update source and doc branch for demos. (#20195)
  crystal/distribution.yaml
Owners: @nuclearsandwich

plotjuggler: 2.0.7-0 in 'lunar/distribution.yaml' [bloom] (#20190)
  lunar/distribution.yaml
Owners: @clalancette

marti_common: 2.8.0-0 in 'indigo/distribution.yaml' [bloom] (#20191)
  indigo/distribution.yaml
Owners: @tfoote

plotjuggler: 2.0.7-0 in 'melodic/distribution.yaml' [bloom] (#20192)
  melodic/distribution.yaml
Owners: @clalancette

marti_common: 2.8.0-0 in 'kinetic/distribution.yaml' [bloom] (#20193)
  kinetic/distribution.yaml
Owners: @tfoote

rc_visard: 2.5.0-0 in 'melodic/distribution.yaml' [bloom] (#20194)
  melodic/distribution.yaml
Owners: @clalancette

rc_visard: 2.5.0-0 in 'lunar/distribution.yaml' [bloom] (#20196)
  lunar/distribution.yaml
Owners: @clalancette

rc_visard: 2.5.0-0 in 'kinetic/distribution.yaml' [bloom] (#20197)
  kinetic/distribution.yaml
Owners: @tfoote

rc_visard: 2.5.0-0 in 'indigo/distribution.yaml' [bloom] (#20198)
  indigo/distribution.yaml
Owners: @tfoote

marti_common: 2.8.0-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

marti_common: 2.8.0-0 in 'lunar/distribution.yaml' [bloom] (#20199)
  lunar/distribution.yaml
Owners: @clalancette

marti_common: 2.8.0-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

Added python-ftdi1 (#20185)
  rosdep/python.yaml
Owners: @ros/rosdeputies

plotjuggler: 2.1.0-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

plotjuggler: 2.1.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

rosbash_params: 1.0.2-0 in 'indigo/distribution.yaml' [bloom]
  indigo/distribution.yaml
Owners: @tfoote

rosbash_params: 1.0.2-0 in 'lunar/distribution.yaml' [bloom]
  lunar/distribution.yaml
Owners: @clalancette

rosbash_params: 1.0.2-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Owners: @tfoote

rosbash_params: 1.0.2-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Owners: @clalancette

movie_publisher: 1.1.1-1 in 'indigo/distribution.yaml' [bloom]
  indigo/distribution.yaml
Owners: @tfoote

.github/CODEOWNERS:

# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
indigo/* @tfoote
kinetic/* @tfoote
lunar/* @clalancette
melodic/* @clalancette
rosdep/* @ros/rosdeputies
