Repository ros/rosdistro, pull requests merged in 2019-10, with the labels that each got.

#22488 add gl_dependency, qwt_dependency, rosconsole_bridge, webkit_dependency for Noetic
  noetic/distribution.yaml
Labels: noetic

#22528 use dashing-devel branch for rqt_publisher
  dashing/distribution.yaml
  eloquent/distribution.yaml
Labels: eloquent

#22568 ament_cmake: 0.8.0-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Labels: eloquent

#22567 ament_package: 0.8.1-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Labels: eloquent

#22553 ros: 1.14.7-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#22548 roscpp_core: 0.6.13-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#22569 Add some rules for RHEL 8 for existing keys
  rosdep/python.yaml
Labels: rosdep

#22620 osrf_pycommon: 0.1.9-2 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Labels: eloquent

#22625 rqt_reconfigure: 1.0.4-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Labels: eloquent

#22684 Add Noetic source entry for robot_state_publisher
  noetic/distribution.yaml
Labels: noetic

#22607 Added zenity rosdep rule.
  rosdep/base.yaml
Labels: rosdep

#21906 Add apparmor
  rosdep/base.yaml
Labels: rosdep

#22729 rqt_reconfigure: 0.5.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#22731 rqt_reconfigure: 0.5.0-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Labels: kinetic

#22740 qt_gui_core: 0.3.15-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#22796 add python3-pytest-timeout
  rosdep/python.yaml
Labels: rosdep

#22804 rqt_reconfigure: 0.5.1-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Labels: kinetic

#22820 Add python-cython-pip
  rosdep/python.yaml
Labels: rosdep

#22735 Add python-astor-pip
  rosdep/python.yaml
Labels: rosdep
