Repository ros/rosdistro, pull requests merged in 2019-09, with the labels that each got.

#22028 Add python3-qt5-bindings rule for RHEL
  rosdep/python.yaml
Labels: rosdep

#22264 add python-jsonpickle
  rosdep/python.yaml
Labels: rosdep

#22263 Add python3-docker package
  rosdep/python.yaml
Labels: rosdep

#22310 add python3-websocket
  rosdep/python.yaml
Labels: rosdep

#22348 test_interface_files: 0.8.0-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Labels: eloquent

#22371 Change repo name to urdfdom_py
  noetic/distribution.yaml
Labels: noetic

#22384 Add rosbag_migration_rule Noetic source entry
  noetic/distribution.yaml
Labels: noetic

#22449 add python_qt_binding and qt_gui_core for Noetic
  noetic/distribution.yaml
Labels: noetic

#22462 add rqt for Noetic
  noetic/distribution.yaml
Labels: noetic
