Repository ros/rosdistro, pull requests merged in 2019-01, with the labels that each got.

#19906 removing force_torque_sensor and ati_force_torque
  kinetic/distribution.yaml
Labels: in progress, kinetic

#19929 uncrustify_vendor: 1.1.0-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Labels: in progress

#19923 rcl_interfaces: 0.6.2-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Labels: in progress

#19922 rcl: 0.6.4-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Labels: in progress

#19924 rosidl_typesupport: 0.6.2-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Labels: in progress

#19925 rosidl_python: 0.6.2-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Labels: in progress

#19926 rosidl_typesupport_connext: 0.6.4-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Labels: in progress

#19927 rosidl_typesupport_fastrtps: 0.6.1-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Labels: in progress

#19928 rosidl_typesupport_opensplice: 0.6.2-0 in 'crystal/distribution.yaml' [bloom]
  crystal/distribution.yaml
Labels: in progress

#19965 add libopencv-contrib-dev to rosdep
  rosdep/base.yaml
Labels: rosdep

#19976 Add ninja-build rosdep key
  rosdep/base.yaml
Labels: rosdep

#19944 Added numpy-quaternion to python.yaml
  rosdep/python.yaml
Labels: rosdep

#19914 Added pip packages: breathe and exhale
  rosdep/python.yaml
Labels: rosdep

#19868 update rosdeps for libmongo-client-dev python-netowrkx and python-ujson
  rosdep/base.yaml
  rosdep/python.yaml
Labels: rosdep

#19994 Some frameworks for django
  rosdep/python.yaml
Labels: rosdep

#20025 Add xenial python3-lark-parser
  rosdep/python.yaml
Labels: rosdep

#20023 Python3 Django packages
  rosdep/python.yaml
Labels: rosdep

#20099 Add speech-dispatcher
  rosdep/base.yaml
Labels: rosdep

#20009 yujin_ocs: 0.8.2-0 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: merge conflict
