Repository ros/rosdistro, pull requests merged in 2019-11, with the labels that each got.

#22883 add rqt_bag for Noetic
  noetic/distribution.yaml
Labels: noetic

#22803 rqt_reconfigure: 0.5.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#22969 Centos updates
  rosdep/base.yaml
  rosdep/python.yaml
Labels: rosdep

#23018 cyclonedds: 0.1.0-5 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Labels: eloquent

#23034 cyclonedds: 0.1.0-6 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Labels: eloquent

#23044 test pull request for robot_calibration
  melodic/distribution.yaml
Labels: melodic

#23089 add python(3)-rosdep-modules and python-catkin-pkg-modules
  rosdep/python.yaml
Labels: rosdep

#23106 rqt_tf_tree: 1.0.0-1 in 'eloquent/distribution.yaml' [bloom]
  eloquent/distribution.yaml
Labels: eloquent

#23117 added boost chrono, iostreams and thread
  rosdep/base.yaml
Labels: rosdep

#23126 Added libunwind for newer Ubuntu distributions
  rosdep/base.yaml
Labels: rosdep

#22822 Add python-setproctitle
  rosdep/python.yaml
Labels: rosdep

#22725 Added Qt5 XML module and image formats plugin
  rosdep/base.yaml
Labels: rosdep

#23060 wireless-tools
  rosdep/base.yaml
Labels: rosdep
