Repository ros/rosdistro, pull requests merged in 2019-02, with the labels that each got.

#20299 Fix Fedora's rule for python-opengl
  rosdep/python.yaml
Labels: rosdep

#20354 remove pr2_motor_diagnostic_tool from kinetic due to not building
  kinetic/distribution.yaml
Labels: kinetic

#20353 remove uuv_descriptions and uuv_simulators
  kinetic/distribution.yaml
Labels: kinetic

#20355 remove mrpt_graphslam_2d from kinetic as it does not build
  kinetic/distribution.yaml
Labels: kinetic

#20339 rosdep: add websocketpp
  rosdep/base.yaml
Labels: rosdep

#20360 libnabo: 1.0.7-0 in 'indigo/distribution.yaml' [bloom]
  indigo/distribution.yaml
Labels: indigo

#20298 Condense python-imaging rules for Fedora
  rosdep/python.yaml
Labels: rosdep

#20359 odva_ethernetip: 0.1.4-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Labels: kinetic

#20362 async_comm: 0.1.1-0 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Labels: kinetic

#20002 Add python-geocoder-pip
  rosdep/python.yaml
Labels: rosdep
