Repository ros/rosdistro, pull requests merged in 2020-12, with the labels that each got.

#27460 [rosdep] Adding llvm-7 and llvm-7-dev keys.
  rosdep/base.yaml
Labels: rosdep

#27498 Feature/python3 bs4
  rosdep/python.yaml
Labels: rosdep

#27499 add python3-xmltodict-pip package
  rosdep/python.yaml
Labels: rosdep

#27488 Add rosdep key for python3 thriftpy
  rosdep/python.yaml
Labels: rosdep

#27537 Add PyBullet
  rosdep/python.yaml
Labels: rosdep

#27582 Fix rosdep key for python3 thriftpy
  rosdep/python.yaml
Labels: rosdep

#27580 add python-xmlschema-pip package
  rosdep/python.yaml
Labels: rosdep

#27572 moveit: 1.0.7-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: held for sync

#27577 vesc: 1.0.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: held for sync

#27585 cob_manipulation: 0.7.5-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: held for sync

#27586 lvr2: 20.11.2-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: held for sync

#27587 add python3-six
  rosdep/python.yaml
Labels: rosdep

#27584 cob_manipulation: 0.7.5-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Labels: held for sync

#27596 [dep] apt-transport-https
  rosdep/base.yaml
Labels: rosdep

#27583 add python3-pypng
  rosdep/python.yaml
Labels: rosdep

#27623 rosdep: update and add new OpenEmbedded mappings
  rosdep/base.yaml
  rosdep/python.yaml
Labels: rosdep

#27390 adding qt4-linguist-tools rosdep key
  rosdep/base.yaml
Labels: rosdep

#27629 Remove gazebo_video_monitor_plugins
  melodic/distribution.yaml
  noetic/distribution.yaml
Labels: held for sync, melodic, noetic

#27669 rosbridge_suite noetic 0.11.13
  noetic/distribution.yaml
Labels: held for sync, noetic

#27679 octomap_mapping: 0.6.6-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: held for sync, noetic

#27699 psen_scan_v2: 0.1.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: held for sync, noetic

#27780 [dep] Add python3-sh
  rosdep/python.yaml
Labels: rosdep

#27702 add flask-restplus from pip
  rosdep/python.yaml
Labels: rosdep

#27701 Add flawfinder to rosdep
  rosdep/base.yaml
Labels: rosdep

#27778 Make libunwind key compatible with new Ubuntu / Debian releases.
  rosdep/base.yaml
Labels: rosdep

#27792 add python3-prettytable
  rosdep/python.yaml
Labels: rosdep

#27800 Add RHEL rule for python3-cairo
  rosdep/python.yaml
Labels: rosdep

#27801 mesh_navigation: 1.0.0-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: held for sync

#27806 leo_robot: 1.1.3-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: held for sync

#27807 leo_desktop: 0.2.3-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: held for sync

#27809 leo_common: 1.2.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: held for sync

#27810 leo_simulator: 0.2.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: held for sync

#27816 novatel_oem7_driver: 2.0.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: held for sync

#27818 Fix laser_geometry source branch in Noetic
  noetic/distribution.yaml
Labels: noetic

#27799 Update the axis_camera release for Melodic and Kinetic to 0.3.1-1
  kinetic/distribution.yaml
  melodic/distribution.yaml
Labels: held for sync

#27815 novatel_oem7_driver: 2.0.0-1 in 'kinetic/distribution.yaml'
  kinetic/distribution.yaml
Labels: held for sync

#27641 [dep] python3-git.
  rosdep/python.yaml
Labels: rosdep

#27819 Add rosdep rules for python3-websockets package
  rosdep/python.yaml
Labels: rosdep
