Repository ros/rosdistro, pull requests merged in 2020-06, with the labels that each got.

#25204 Add rosdep rule for python3-argcomplete
  rosdep/python.yaml
Labels: rosdep

#25054 Python3 markdown
  rosdep/python.yaml
Labels: rosdep

#25188 [dep] gitk
  rosdep/base.yaml
Labels: rosdep

#25206 Use 'rhel' instead of 'centos' in rosdep rules
  rosdep/python.yaml
Labels: rosdep

#25173 Add python3-usb rosdep entry
  rosdep/python.yaml
Labels: rosdep

#25170 Add rosdep key 'python3-interpreter'
  rosdep/python.yaml
Labels: rosdep

#25296 added python3-jsonpickle for ubuntu focal / ros noetic
  rosdep/python.yaml
Labels: rosdep

#25257 add libopenvdb -> libopenvdb6.2 for ubuntu focal
  rosdep/base.yaml
Labels: rosdep

#25354 [dep] inotify-simple pip pkg
  rosdep/python.yaml
Labels: rosdep

#25192 Update pyhton.yaml. Add python-pypcd-pip.
  rosdep/python.yaml
Labels: rosdep

#25263 add rosdep key for python-pyassimp3
  rosdep/python.yaml
Labels: rosdep

#25418 Add wildcard libjsoncpp rosdep for Ubuntu
  rosdep/base.yaml
Labels: rosdep

#25442 rqt_reconfigure: 0.5.3-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#25443 rqt_reconfigure: 0.5.3-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Labels: kinetic

#25441 rqt_reconfigure: 0.5.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#25369 add rosdep key for python3-shapely
  rosdep/python.yaml
Labels: rosdep

#25370 add rosdep key for python3-tilestache
  rosdep/python.yaml
Labels: rosdep

#25417 Add rosdep key for python3-pika
  rosdep/python.yaml
Labels: rosdep

#25368 add rosdep key for python3-werkzeug
  rosdep/python.yaml
Labels: rosdep

#25140 add focal / libcollada-dom
  rosdep/base.yaml
Labels: rosdep

#25466 ipython3 rosdep key
  rosdep/python.yaml
Labels: rosdep

#25055 Python3 catkin lint
  rosdep/python.yaml
Labels: rosdep

#25377 add rosdep key for python3-simplejson
  rosdep/python.yaml
Labels: rosdep

#24934 rosdep: add Ignition Citadel
  rosdep/base.yaml
Labels: rosdep

#25529 Add RHEL rule for benchmark
  rosdep/base.yaml
Labels: rosdep

#25120 Simplify python-sip
  rosdep/python.yaml
Labels: rosdep

#25553 Add rosdep key for OpenMP
  rosdep/base.yaml
Labels: rosdep

#25541 Add python3 key for importlib-metadata.
  rosdep/python.yaml
Labels: rosdep

#25574 Fix 'benchmark' rules for Fedora and RHEL
  rosdep/base.yaml
Labels: rosdep

#25533 Add python3-collada
  rosdep/python.yaml
Labels: rosdep

#25567 Added collectd and collect-utils rule
  rosdep/base.yaml
Labels: rosdep

#25503 Added rosdep rule to for python package pycpd under Ubuntu.
  rosdep/python.yaml
Labels: rosdep

#25556 Update python.yaml add pyswarms
  rosdep/python.yaml
Labels: rosdep
