Repository ros/rosdistro, pull requests merged in 2020-11, with the labels that each got.

#27243 Add 'conan' rosdep key to be resolved using pip
  rosdep/python.yaml
Labels: rosdep

#27278 rosdep: add libcgroup-dev
  rosdep/base.yaml
Labels: rosdep

#27245 bota_driver: 0.5.7-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: held for sync, melodic

#27255 move_base_flex: 0.3.3-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: held for sync, melodic

#27266 exotica: 6.0.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: held for sync, melodic

#27286 psen_scan_v2: 0.1.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: held for sync, melodic

#27248 rostest_node_interface_validation: 0.2.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: held for sync, melodic

#27242 robot_statemachine: 1.2.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#27330 Update New Package rules with must/should
  REVIEW_GUIDELINES.md
Labels: documentation

#27402 Rollbacks to fix ROS Noetic November 2020 Regressions
  noetic/distribution.yaml
Labels: noetic

#27395 Add touchegg to rosdep base.yaml
  rosdep/base.yaml
Labels: rosdep
