Repository ros/rosdistro, pull requests merged in 2020-01, with the labels that each got.

#23346 Add fmt to base.yaml
  rosdep/base.yaml
Labels: rosdep

#23400 use noetic branch of ros_environment
  noetic/distribution.yaml
Labels: noetic

#23401 add libgpgme-dev, log4cxx, lz4 for Focal
  rosdep/base.yaml
Labels: noetic, rosdep

#23421 Release Catkin 0.7.20 to Noetic
  noetic/distribution.yaml
Labels: noetic

#23504 Target Fedora 32 in Noetic
  noetic/distribution.yaml
Labels: noetic

#23532 Add python3-distutils key
  rosdep/python.yaml
Labels: rosdep

#23470 Add openai gym to rosdep/python.yaml
  rosdep/python.yaml
Labels: rosdep

#23525 Add python3-kitchen rosdep key
  rosdep/python.yaml
Labels: rosdep

#23497 add key for python-fcl-pip
  rosdep/python.yaml
Labels: rosdep

#23620 add libboost-regex-dev key
  rosdep/base.yaml
Labels: rosdep

#23528 Add google-glog and lua52 for Arch Linux
  rosdep/base.yaml
Labels: rosdep
