Repository ros/rosdistro, pull requests merged in 2020-10, with the labels that each got.

#26769 add python3-h5py
  rosdep/python.yaml
Labels: rosdep

#26781 Added Qml Module QtGraphicalEffects
  rosdep/base.yaml
Labels: rosdep

#26794 python-psutil for focal
  rosdep/python.yaml
Labels: rosdep

#26777 Added python pip rule for PySimpleGUI27.
  rosdep/python.yaml
Labels: rosdep

#26767 add python-numpy for focal
  rosdep/python.yaml
Labels: rosdep

#26683 add key for python-twilio-pip
  rosdep/python.yaml
Labels: rosdep

#26574 added rosdep rule for fastnumbers pip package
  rosdep/python.yaml
Labels: rosdep

#26754 Added base rule for gphoto2 CLI under Ubuntu.
  rosdep/base.yaml
Labels: rosdep

#26814 base: add libtiff-dev for focal
  rosdep/base.yaml
Labels: rosdep

#26778 add python3-docopt
  rosdep/python.yaml
Labels: rosdep

#26779 Add yamllint for focal and others
  rosdep/base.yaml
Labels: rosdep

#26858 p2os uses main instead of master
  noetic/distribution.yaml
Labels: noetic

#26826 Add whichcraft python package
  rosdep/python.yaml
Labels: rosdep

#26850 fix not existing branch of DroidAITech/xbot
  kinetic/distribution.yaml
Labels: kinetic

#26877 [dep] filezilla
  rosdep/base.yaml
Labels: rosdep

#26768 add python-progressbar for focal
  rosdep/python.yaml
Labels: rosdep

#26953 Add gpac to rosdep/base.yaml
  rosdep/base.yaml
Labels: rosdep

#26922 Added libqt5-websockets-dev
  rosdep/base.yaml
Labels: rosdep

#26939 Add netcdf4 to python.yaml
  rosdep/python.yaml
Labels: rosdep

#26942 Add siphon to python.yaml
  rosdep/python.yaml
Labels: rosdep

#27037 add python3-influxdb-client-pip
  rosdep/python.yaml
Labels: rosdep

#27017 add python3-mechanize
  rosdep/python.yaml
Labels: rosdep

#27038 Add cython3 entry
  rosdep/osx-homebrew.yaml
  rosdep/python.yaml
Labels: rosdep

#27189 Add python3-cantools-pip
  rosdep/python.yaml
Labels: rosdep
