Repository ros/rosdistro, pull requests merged in 2020-07, with the labels that each got.

#25662 Add yamale to python.yaml
  rosdep/python.yaml
Labels: rosdep

#25617 Add additional python3 keys
  rosdep/base.yaml
  rosdep/python.yaml
Labels: rosdep

#25738 fix Eloquent/Foxy/Rolling branch of rqt_publisher
  eloquent/distribution.yaml
  foxy/distribution.yaml
  rolling/distribution.yaml
Labels: eloquent

#25689 Add connexion to python.yaml
  rosdep/python.yaml
Labels: rosdep

#25761 Add "Include What You Use (IWYU)"
  rosdep/base.yaml
Labels: rosdep

#25776 Alpine Linux ROS2 Foxy ros_base remaining dependencies
  rosdep/base.yaml
  rosdep/python.yaml
Labels: rosdep

#25805 add python3-requests-oauthlib
  rosdep/python.yaml
Labels: rosdep

#25867 Fix python3-importlib-metadata rules for Fedora/RHEL
  rosdep/python.yaml
Labels: rosdep

#25610 Add python3 rosdep for msgpack
  rosdep/python.yaml
Labels: rosdep

#25482 [dep] Update python*-rosinstall-generator.
  rosdep/python.yaml
Labels: rosdep

#25905 Remove packages which are not building on any platform
  kinetic/distribution.yaml
Labels: kinetic

#25863 rosdep for python-httplib on new distributions
  rosdep/python.yaml
Labels: rosdep

#25859 add catkin_tools for python3
  rosdep/python.yaml
Labels: rosdep

#25736 Add lcm to rosdep rules
  rosdep/base.yaml
Labels: rosdep

#25718 Add libpqxx rosdeps for focal
  rosdep/base.yaml
Labels: rosdep

#25596 Add python rosdep for grpcio, grpcio-reflection and parameterized
  rosdep/python.yaml
Labels: rosdep

#25891 Add libXext-devel to Fedora rule for python3-qt5-bindings
  rosdep/python.yaml
Labels: rosdep

#25892 PyPy sense-hat sense-emu x Raspberry Pi Sense HAT
  rosdep/python.yaml
Labels: rosdep

#25900 [rosdep] Add gurumdds-2.6.
  rosdep/base.yaml
Labels: rosdep
