Repository ros/rosdistro, pull requests merged in 2021-04, with the labels that each got.

#28946 Add 'acl' rule for RHEL
  rosdep/base.yaml
Labels: rosdep

#28940 abb_robot_driver_interfaces: 0.5.3-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Labels: held for sync

#28956 exotica: 6.1.1-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Labels: held for sync, kinetic

#29012 Update 'acl' rules for Fedora and RHEL
  rosdep/base.yaml
Labels: rosdep

#29030 Add rosdep rule for 'libatomic'
  rosdep/base.yaml
Labels: rosdep

#28830 added smbus2 python key
  rosdep/python.yaml
Labels: rosdep

#29115 genpy: 0.6.15-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#29136 jderobot_drones: 1.3.8-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#29133 razor_imu_9dof: 1.3.0-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#29132 razor_imu_9dof: 1.3.0-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#29128 slam_toolbox: 1.5.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#29091 opw_kinematics: 0.4.1-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#29090 picovoice-ros: 0.0.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#29082 rviz: 1.14.7-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#29080 rviz: 1.13.17-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#29068 tesseract: 0.3.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#29064 ros_industrial_cmake_boilerplate: 0.2.9-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#29063 moveit: 1.1.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#29060 imu_tools: 1.2.3-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#29061 imu_tools: 1.2.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#29059 phidgets_drivers: 0.7.11-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#29058 phidgets_drivers: 0.7.11-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Labels: kinetic

#29135 New version Nerian ROS node, including first version for ROS2
  foxy/distribution.yaml
  kinetic/distribution.yaml
  melodic/distribution.yaml
  noetic/distribution.yaml
Labels: kinetic, melodic, noetic

#29112 python_qt_binding: 0.3.8-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Labels: kinetic

#29113 qt_gui_core: 0.3.18-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Labels: kinetic

#29131 razor_imu_9dof: 1.3.0-2 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Labels: kinetic

#29114 genpy: 0.6.15-1 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Labels: kinetic

#28331 scan_tools: 0.3.3-1 in 'melodic/distribution.yaml' [non-bloom]
  melodic/distribution.yaml
Labels: changes requested, melodic

#29081 Add libgpiod-dev key.
  rosdep/base.yaml
Labels: rosdep

#29123 Update python.yaml
  rosdep/python.yaml
Labels: rosdep

#28672 Add python3-dlib-pip
  rosdep/python.yaml
Labels: changes requested
