Repository ros/rosdistro, pull requests merged in 2021-09, with the labels that each got.

#30474 Add python3-mediapipe-pip
  rosdep/python.yaml
Labels: rosdep

#30586 add libqt5-serialport-dev key to provide build headers
  rosdep/base.yaml
Labels: rosdep

#30589 nixos: Add some missing packages
  rosdep/base.yaml
Labels: rosdep

#30590 nixos: Add python3-pip
  rosdep/python.yaml
Labels: rosdep

#30575 Add astropy to python.yaml
  rosdep/python.yaml
Labels: rosdep

#30576 Add weasyprint to python.yaml
  rosdep/python.yaml
Labels: rosdep

#30577 Add fil_finder to python.yaml
  rosdep/python.yaml
Labels: rosdep

#30612 rosdep: add rhel package for clang
  rosdep/base.yaml
Labels: rosdep

#30574 Add filetype to python.yaml
  rosdep/python.yaml
Labels: rosdep

#30601 qb_move: 2.2.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: held for sync

#30662 audio_common: 0.3.12-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: held for sync

#30682 locator_ros_bridge: 1.0.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: held for sync

#30693 xacro: 1.14.9-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: held for sync

#30722 eigenpy: 2.6.8-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: held for sync

#30726 plotjuggler: 3.3.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: held for sync

#30736 rospy_message_converter: 0.5.7-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: held for sync

#30737 microstrain_inertial: 2.0.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: held for sync

#30734 rmf_battery: 0.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync

#30731 rmf_utils: 1.3.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: merge conflict

#30680 rosdep: add libmnl-dev
  rosdep/base.yaml
Labels: rosdep

#30730 nixos: Add missing packages
  rosdep/base.yaml
  rosdep/python.yaml
Labels: rosdep

#30756 Add python3-pytest-asyncio to rosdep
  rosdep/python.yaml
Labels: rosdep

#30716 rqt_runtime_monitor: 0.5.8-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync

#30717 rmf_traffic: 1.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync

#30720 zenoh_bridge_dds: 0.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync

#30729 keyboard_handler: 0.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync

#30742 marti_common: 3.3.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync

#30746 rmf_demos: 1.3.0-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync

#30755 mavlink: 2021.9.9-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync

#30664 qb_device: 2.2.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: merge conflict

#30751 Add python3 falcon
  rosdep/python.yaml
Labels: rosdep

#30766 qb_chain: 2.2.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: more information needed

#30814 rosdep: add google-cloud-storage to rosdep pip
  rosdep/python.yaml
Labels: rosdep

#30761 Add libwebsockets-dev to base.yaml
  rosdep/base.yaml
Labels: rosdep

#30860 python-itsdangerous is not available since Bionic
  rosdep/python.yaml
Labels: rosdep

#30763 Adding python2 and 3 J1939 library
  rosdep/python.yaml
Labels: rosdep

#30830 dbw_mkz_ros: 1.4.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: held for sync

#30829 dbw_fca_ros: 1.2.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: held for sync

#30833 dbw_polaris_ros: 1.0.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: held for sync

#30841 marti_messages: 0.10.0-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: held for sync

#30687 Adding amr_interop_bridge to documentation index for melodic
  melodic/distribution.yaml
  noetic/distribution.yaml
Labels: melodic, noetic, held for sync

#30871 Add rosdep key for libboost-numpy-dev
  rosdep/base.yaml
Labels: rosdep

#30864 Updating boost key for opensuse
  rosdep/base.yaml
Labels: rosdep

#30863 Update python-numpy key for opensuse
  rosdep/python.yaml
Labels: rosdep

#30856 Add python3-pygments to rosdep
  rosdep/osx-homebrew.yaml
  rosdep/python.yaml
Labels: rosdep

#30865 Update python-qt5-bindings key for opensuse
  rosdep/python.yaml
Labels: rosdep

#30394 Add python3-gdal rosdep rule.
  rosdep/python.yaml
Labels: rosdep
