Repository ros/rosdistro, pull requests merged in 2021-05, with the labels that each got.

#29405 Adds stable-baselines3 pip package rule
  rosdep/python.yaml
Labels: rosdep

#29400 Add python3-collada rule for RHEL
  rosdep/python.yaml
Labels: rosdep

#29356 add pip package environs in 'rosdep/python.yaml'
  rosdep/python.yaml
Labels: rosdep

#29318 Update python.yaml added python-is-python3
  rosdep/python.yaml
Labels: rosdep

#29316 Fix libav rosdep on Ubuntu
  rosdep/base.yaml
Labels: rosdep

#29380 Fix opende rule for Fedora
  rosdep/base.yaml
Labels: rosdep

#29379 Add flann rules for RHEL
  rosdep/base.yaml
Labels: rosdep

#29049 darknet_ros: 1.1.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#29070 Add many Nix/NixOS packages.
  .github/pull_request_template.md
  CONTRIBUTING.md
  rosdep/base.yaml
  rosdep/python.yaml
  rosdep/ruby.yaml
Labels: rosdep

#29187 add python-albumentations-pip
  rosdep/python.yaml
Labels: rosdep

#29237 adding qml-module-qtquick-extras rosdep key
  rosdep/base.yaml
Labels: rosdep

#29381 Add python3-pyside2.qtuitools
  rosdep/python.yaml
Labels: rosdep

#28952 rosdep: OpenEmbedded updates
  rosdep/base.yaml
  rosdep/python.yaml
Labels: in progress, rosdep

#29431 Adds pygit2 python package rule
  rosdep/python.yaml
Labels: rosdep

#29426 [rosdep] Adding jupyros
  rosdep/python.yaml
Labels: rosdep

#29423 [rosdep] Adding aio-pika to rosdep
  rosdep/python.yaml
Labels: rosdep

#29458 Boost for OpenSUSE
  rosdep/base.yaml
Labels: rosdep

#29459 Gstreamer
  rosdep/base.yaml
Labels: rosdep

#29508 Add flake8 plugins to python.yaml
  rosdep/python.yaml
Labels: rosdep

#29490 dingo: 0.1.8-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: held for sync

#29189 cpr_common_core: 0.1.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: held for sync

#29559 clover: 0.21.2-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: held for sync

#29562 mocap_optitrack: 0.1.3-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: held for sync

#29553 locator_ros_bridge: 2.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: changes requested

#29571 add haproxy to rosdep/base.yaml
  rosdep/base.yaml
Labels: rosdep

#29578 Update default gazebo version on debian buster to 11
  rosdep/base.yaml
Labels: rosdep

#29496 nixos: replace deprecated aliases
  rosdep/base.yaml
Labels: rosdep

#29598 Add python3-zmq rule for RHEL
  rosdep/python.yaml
Labels: rosdep

#29601 Add geographiclib rules for RHEL
  rosdep/base.yaml
Labels: rosdep

#29514 Add python3-mlflow to rosdep
  rosdep/python.yaml
Labels: rosdep

#29494 base.yaml updates for openSUSE (1 of 6)
  rosdep/base.yaml
Labels: rosdep

#29623 phidgets_drivers: 2.2.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: held for sync

#29640 base.yaml updates for openSUSE (2 of 6)
  rosdep/base.yaml
Labels: rosdep

#29641 base.yaml updates for openSUSE (3 of 6)
  rosdep/base.yaml
Labels: rosdep

#29619 Add glpk
  rosdep/base.yaml
Labels: rosdep

#29620 Add mpfr
  rosdep/base.yaml
Labels: rosdep

#29642 base.yaml updates for openSUSE (4 of 6)
  rosdep/base.yaml
Labels: rosdep

#29665 base.yaml updates for openSUSE (6 of 6)
  rosdep/base.yaml
Labels: rosdep

#28902 Mechanism to check rosdep rules against package repositories
  .github/workflows/build_test.yaml
  test/rosdep_repo_check/README.md
  test/rosdep_repo_check/__init__.py
  test/rosdep_repo_check/__main__.py
  test/rosdep_repo_check/config.py
  test/rosdep_repo_check/config.yaml
  test/rosdep_repo_check/deb.py
  test/rosdep_repo_check/rpm.py
  test/rosdep_repo_check/suggest.py
  test/rosdep_repo_check/test_rosdep_repo_check.py
  test/rosdep_repo_check/verify.py
  test/rosdep_repo_check/yaml.py
Labels: rosdep

#29661 ur_msgs: 1.3.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: held for sync
