Repository ros/rosdistro, pull requests merged in 2021-02, with the labels that each got.

#28152 adding qml-module-qtquick-window2 rosdep key
  rosdep/base.yaml
Labels: rosdep

#28160 Add python-nose rosdep entry for ubuntu focal
  rosdep/python.yaml
Labels: rosdep

#28148 add key for GStreamer plugins for GL
  rosdep/base.yaml
Labels: rosdep

#28041 Added vl53l1x_ros for melodic and noetic
  melodic/distribution.yaml
  noetic/distribution.yaml
Labels: held for sync, noetic

#27768 update vtk dependencies
  rosdep/base.yaml
Labels: rosdep

#27990 rosdep: add qtpy as qtpy-pip
  rosdep/python.yaml
Labels: rosdep

#27852 Add pystemd
  rosdep/python.yaml
Labels: rosdep

#28277 Add RHEL rule for python3-requests
  rosdep/python.yaml
Labels: rosdep

#28275 Add RHEL rule for python3-pytest-mock
  rosdep/python.yaml
Labels: rosdep

#28263 knowledge_representation: 0.9.3-1 in 'noetic/distribution.yaml'
  noetic/distribution.yaml
Labels: noetic

#28280 Added python packages gputil and jetson-stats
  rosdep/python.yaml
Labels: more information needed, rosdep

#28282 python3-psycopg2 for ubuntu focal
  rosdep/python.yaml
Labels: changes requested, rosdep

#28279 Add RHEL rules for libboost-python, libboost-python-dev
  rosdep/base.yaml
Labels: rosdep

#28287 Add RHEL rule for python3-tk
  rosdep/python.yaml
Labels: rosdep

#28288 Add RHEL rule for libjpeg
  rosdep/base.yaml
Labels: rosdep

#28289 Add RHEL rule for libudev-dev
  rosdep/base.yaml
Labels: rosdep

#28290 Add RHEL rule for wx-common
  rosdep/base.yaml
Labels: rosdep

#28291 Add RHEL 8 rule for python3-pandas
  rosdep/python.yaml
Labels: rosdep

#28292 Add RHEL 8 rule for python3-serial
  rosdep/python.yaml
Labels: rosdep

#28295 Drop python3-requests-oauthlib from RHEL 7
  rosdep/python.yaml
Labels: rosdep

#28303 toposens: 2.2.0-3 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Labels: kinetic

#28299 mir_robot: 1.0.7-2 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Labels: kinetic

#28307 moveit_python: 0.4.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#28306 moveit_python: 0.4.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#28261 bota_driver: 0.5.9-2 in 'kinetic/distribution.yaml' [bloom]
  kinetic/distribution.yaml
Labels: kinetic

#28312 Fix RHEL rule for python3-pytest-mock
  rosdep/python.yaml
Labels: rosdep

#28319 Added rosdep key for python3-nose-parameterized
  rosdep/python.yaml
Labels: rosdep

#28285 Add libuvc-dev
  rosdep/base.yaml
Labels: rosdep

#28296 Add rosdep rules for python decorator
  rosdep/python.yaml
Labels: rosdep

#28283 Add rosdep key for python3-ezdxf
  rosdep/python.yaml
Labels: rosdep

#28293 Fix boost-python rules for Fedora
  rosdep/base.yaml
Labels: rosdep

#28294 Drop cwiid rules for Fedora
  rosdep/base.yaml
  rosdep/python.yaml
Labels: rosdep

#27597 [dep] gpg-agent
  rosdep/base.yaml
Labels: rosdep

#28155 Update ruby rosdep key facets for Focal, and add new keys metaruby and utilrb
  rosdep/ruby.yaml
Labels: rosdep

#28286 add python-tensorboard-pip
  rosdep/python.yaml
Labels: rosdep

#28352 Added python3 for open3d (python3-open3d-pip) at python.yaml
  rosdep/python.yaml
Labels: rosdep

#28415 Test pull requests for python_qt_binding
  melodic/distribution.yaml
  noetic/distribution.yaml
Labels: melodic, noetic

#28269 rosdep: OpenEmbedded
  rosdep/base.yaml
  rosdep/python.yaml
Labels: rosdep

#28338 Add rosdep rules for python-crcmod and python3-crcmod
  rosdep/python.yaml
Labels: rosdep
