Repository ros/rosdistro, pull requests merged in 2021-01, with the labels that each got.

#27826 rosdep: update OpenEmbedded mapping for python*-websocket and add python-pyudev
  rosdep/python.yaml
Labels: rosdep

#28001 Add rules for python3-importlib-resources
  rosdep/python.yaml
Labels: rosdep

#27881 Rosdep rule for python3-sympy
  rosdep/python.yaml
Labels: rosdep

#27195 Add libgmock-dev to Buster & Focal.
  rosdep/base.yaml
Labels: rosdep

#27930 Add python3-cffi rosdep key
  rosdep/python.yaml
Labels: rosdep

#27964 Add castxml
  rosdep/base.yaml
Labels: rosdep

#27976 rosdep: add ansible-runner as python-ansible-runner-pip
  rosdep/python.yaml
Labels: rosdep

#28034 [rosdep] python3-dbus
  rosdep/python.yaml
Labels: rosdep

#28036 [rosdep] python3: watchdog, tabulate, jsonschema, flask
  rosdep/python.yaml
Labels: rosdep

#27984 [rosdep] file
  rosdep/base.yaml
Labels: rosdep

#27970 libmpg123-dev
  rosdep/base.yaml
Labels: rosdep

#27782 Add pathlib2 to python yaml
  rosdep/python.yaml
Labels: rosdep

#28056 update rosdep python-construct
  rosdep/python.yaml
Labels: rosdep

#28053 rosdep: add python3-bitarray
  rosdep/python.yaml
Labels: rosdep

#28065 add embree to rosdep
  rosdep/base.yaml
Labels: rosdep

#28021 Added teleop_legged_robots for noetic
  noetic/distribution.yaml
Labels: noetic

#28058 Adding new repositories for indexing
  kinetic/distribution.yaml
  melodic/distribution.yaml
Labels: held for sync

#28019 Add teleop_legged_robots for melodic
  melodic/distribution.yaml
Labels: held for sync

#27983 rx_service_tools: 1.0.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: held for sync

#28045 Add RHEL rules for java and maven
  rosdep/base.yaml
Labels: rosdep

#28049 Add RHEL 7 rule for sdformat
  rosdep/base.yaml
Labels: rosdep

#27986 [rosdep] python3-numpy-stl
  rosdep/python.yaml
Labels: rosdep
