Repository ros/rosdistro, pull requests merged in 2021-12, with the labels that each got.

#31355 rmf_simulation: 1.3.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: held for sync

#31347 psen_scan_v2: 0.20.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: held for sync

#31344 rmf_demos: 1.3.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: held for sync

#31341 rmw_gurumdds: 1.1.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: held for sync

#31338 raptor_dbw_ros2: 1.2.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: held for sync

#31322 libfranka: 0.8.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: held for sync

#31312 mrt_cmake_modules: 1.0.9-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: held for sync

#31307 navigation_2d: 0.4.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: held for sync

#31335 sr_hand_detector: 0.0.8-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: held for sync

#31339 avt_vimba_camera: 1.0.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: held for sync

#31342 jskeus: 1.2.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: held for sync

#31334 tesseract: 0.6.9-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: held for sync

#31349 qwt_dependency: 1.1.1-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: held for sync

#31354 Add jq rule for RHEL
  rosdep/base.yaml
Labels: rosdep

#31353 Add sqlite3 rule for RHEL
  rosdep/base.yaml
Labels: rosdep

#31293 Clean up missing RHEL packages
  rosdep/base.yaml
  rosdep/python.yaml
Labels: rosdep

#31393 add ply for python
  rosdep/python.yaml
Labels: changes requested

#30967 add pylibdmtx
  rosdep/python.yaml
Labels: rosdep

#31388 Add urdfdom-tools rule for RHEL
  rosdep/base.yaml
Labels: rosdep

#31300 Misc fixes for Fedora rules
  rosdep/base.yaml
  rosdep/python.yaml
Labels: rosdep

#31423 domain_bridge: 0.4.0-2 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31124 add python-google api bionic, focal support
  rosdep/python.yaml
Labels: rosdep

#31348 added python3-pytrinamic-pip to /rosdep/python.yaml
  rosdep/python.yaml
Labels: rosdep

#31394 add gnutls
  rosdep/base.yaml
Labels: rosdep, changes requested

#31475 Update two keys which are no longer present in Focal or Bullseye.
  rosdep/python.yaml
Labels: rosdep

#31432 add python-dt-apriltags-pip dependency for ubuntu
  rosdep/python.yaml
Labels: rosdep

#31452 Add python3-pyqt5.qtquick
  rosdep/python.yaml
Labels: rosdep

#31453 Add qml-module-qt-labs-folderlistmodel
  rosdep/base.yaml
Labels: rosdep

#31455 Add nuscenes-devkit
  rosdep/python.yaml
Labels: rosdep

#31488 Adding OpenVDB to rhel for Galactic release of STVL
  rosdep/base.yaml
Labels: rosdep

#31489 Update to CycloneDDS 0.8.x release branch in Galactic
  galactic/distribution.yaml
Labels: galactic

#31454 Add qml-module-qt-labs-settings
  rosdep/base.yaml
Labels: rosdep

#31402 Add pip keys for: cvxpy, gurobipy, glpk
  rosdep/python.yaml
Labels: rosdep

#31346 mia_hand_ros_pkgs: 1.0.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: changes requested

#31412 Add python3-dubins-pip
  rosdep/python.yaml
Labels: rosdep

#31522 psen_scan_v2: 0.3.4-1 in 'melodic/distribution.yaml'
  melodic/distribution.yaml
Labels: held for sync

#31558 Revert "sick_safetyscanners2: 1.0.3-1 in 'galactic/distribution.yaml' [bloom] (#31542)"
  galactic/distribution.yaml
Labels: galactic

#31551 Update mongodb and mongodb-dev keys.
  rosdep/base.yaml
Labels: rosdep

#31552 Update python-numpy key.
  rosdep/python.yaml
Labels: rosdep

#31553 Update python3-flask-cors key.
  rosdep/python.yaml
Labels: rosdep

#31554 Update python-lxml key.
  rosdep/python.yaml
Labels: rosdep

#31564 Add tesseract-ocr-jpn language package
  rosdep/base.yaml
Labels: rosdep

#31485 add debian:bullseye to python3-opencv
  rosdep/python.yaml
Labels: rosdep

#31484 add debian:bullseye to boost
  rosdep/base.yaml
Labels: rosdep

#31563 Update rosdep_repo_check targets.
  test/rosdep_repo_check/config.yaml
Labels: rosdep

#31613 Temporarily redefine some keys for Xenial.
  rosdep/base.yaml
  rosdep/python.yaml
Labels: rosdep

#31543 ros_babel_fish: 0.9.2-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#31545 microstrain_inertial: 2.3.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#31594 octomap_mapping: 0.6.7-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#31606 rtabmap_ros: 0.20.16-1 in 'melodic/distribution.yaml'
  melodic/distribution.yaml
Labels: melodic

#31530 octomap_rviz_plugins: 0.2.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31544 ros_babel_fish: 0.9.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31546 microstrain_inertial: 2.3.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31567 cob_manipulation: 0.7.6-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31568 cob_navigation: 0.6.12-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31571 cob_calibration_data: 0.6.16-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31572 cob_perception_common: 0.6.18-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31573 cob_command_tools: 0.6.26-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31574 cob_driver: 0.7.10-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31575 cob_substitute: 0.6.11-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31576 cob_control: 0.8.17-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31577 cob_gazebo_plugins: 0.7.6-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31578 cob_common: 0.7.7-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31579 cob_robots: 0.7.6-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31596 octomap_mapping: 0.6.7-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31607 rtabmap_ros: 0.20.16-1 in 'noetic/distribution.yaml'
  noetic/distribution.yaml
Labels: noetic

#31614 mapviz: 1.4.1-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31617 grepros: 0.4.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31618 leo_common: 2.0.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31619 leo_robot: 2.0.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31532 octomap_rviz_plugins: 2.0.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31538 sick_safetyscanners_base: 1.0.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31541 sick_safetyscanners2: 1.0.3-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31547 microstrain_inertial: 2.3.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31557 common_interfaces: 2.0.5-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31581 quaternion_operation: 0.0.7-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31585 webots_ros2: 1.2.0-2 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31590 geometric_shapes: 2.1.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31598 visp: 3.4.0-2 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31602 openvslam: 0.2.4-2 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31608 rtabmap_ros: 0.20.16-2 in 'foxy/distribution.yaml'
  foxy/distribution.yaml
Labels: foxy

#31610 velodyne_simulator: 2.0.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31582 quaternion_operation: 0.0.7-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31586 webots_ros2: 1.2.0-2 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31589 geometric_shapes: 2.1.2-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31566 sick_safetyscanners2: 1.0.3-2 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31528 mapviz: 2.2.0-3 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31595 octomap_rviz_plugins: 2.0.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31599 moveit: 2.3.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31603 openvslam: 0.2.4-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31604 visp: 3.4.0-2 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31609 rtabmap_ros: 0.20.16-2 in 'galactic/distribution.yaml'
  galactic/distribution.yaml
Labels: galactic

#31611 velodyne_simulator: 2.0.2-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31549 microstrain_inertial: 2.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31556 common_interfaces: 4.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31583 quaternion_operation: 0.0.7-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31588 geometric_shapes: 2.1.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31593 webots_ros2: 1.2.0-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31597 octomap_rviz_plugins: 2.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31600 moveit: 2.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31622 ros2_control: 2.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31421 mrt_cmake_modules: 1.0.9-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: changes requested, rolling

#31467 avt_vimba_camera: 2001.1.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31469 avt_vimba_camera: 2001.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31483 grpc: 0.0.10-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31392 add meson
  rosdep/python.yaml
Labels: rosdep

#31638 plotjuggler: 3.3.4-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31626 ros2_controllers: 1.2.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31627 ros2_controllers: 1.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31628 grepros: 0.4.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31591 Ignition Fortress rosdep keys
  rosdep/base.yaml
Labels: rosdep
