Repository ros/rosdistro, pull requests merged in 2021-07, with the labels that each got.

#30112 rosdep: add opencascade
  rosdep/base.yaml
Labels: rosdep

#30176 add python3-google-cloud-texttospeech-pip key
  rosdep/python.yaml
Labels: rosdep

#30170 Added python3 joblib as a rosdep
  rosdep/python.yaml
Labels: rosdep

#30118 rmf_battery: 0.1.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: held for sync

#30121 rmf_traffic_editor: 1.3.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: held for sync

#30122 ros2_planning_system: 2.0.0-3 in 'galactic/distribution.yaml' [manual]
  galactic/distribution.yaml
Labels: held for sync

#30131 rosidl_typesupport_gurumdds: 2.0.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: held for sync

#30141 rosbag2: 0.9.1-3 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: held for sync

#30152 librealsense2: 2.48.0-2 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: held for sync

#30166 moveit: 2.2.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: held for sync

#30186 image_transport_plugins: 2.3.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: held for sync

#30209 backward_ros: 1.0.1-2 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: held for sync

#30212 filters: 2.1.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: held for sync

#30226 rcdiscover: 1.1.4-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: held for sync

#30193 rmw_gurumdds: 3.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync

#30201 backward_ros: 1.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync

#30213 filters: 2.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync

#30147 color_names: 0.0.2-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: held for sync

#30155 quaternion_operation: 0.0.6-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: held for sync

#30197 embree_vendor: 0.1.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: held for sync

#30229 launch: 0.19.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync

#30214 Add libdw-dev rule for RHEL
  rosdep/base.yaml
Labels: rosdep

#30037 alpine: deps for galactic - patch 1
  rosdep/base.yaml
  rosdep/python.yaml
Labels: rosdep

#30301 ros: 1.15.8-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: held for sync, noetic

#30303 view_controller_msgs: 0.2.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: held for sync, noetic

#30313 locator_ros_bridge: 1.0.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: held for sync, noetic

#30315 web_video_server: 0.2.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: held for sync, noetic

#30317 exotica: 6.2.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: held for sync, noetic

#30324 robot_localization: 2.7.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: held for sync, noetic

#30325 Add python3-flask rule for RHEL
  rosdep/python.yaml
Labels: rosdep

#30255 Add libomp-dev rule for RHEL 8
  rosdep/base.yaml
Labels: rosdep

#30254 Add flex rule for RHEL
  rosdep/base.yaml
Labels: rosdep

#30253 Add libfcl-dev rule for RHEL 8
  rosdep/base.yaml
Labels: rosdep

#30319 added yolov5 to rosdep python.yaml
  rosdep/python.yaml
Labels: rosdep

#30310 Add roslibpy-pip
  rosdep/python.yaml
Labels: rosdep

#30206 rosdep: OpenEmbedded updates
  rosdep/base.yaml
Labels: rosdep

#30259 nao_lola: 0.0.2-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: changes requested

#30314 Added python3-smbus rosdep
  rosdep/python.yaml
Labels: rosdep
