Repository ros/rosdistro, pull requests merged in 2021-11, with the labels that each got.

#30990 Add rosdep rules for python3-fiona
  rosdep/python.yaml
Labels: rosdep

#31114 webots_ros2: 1.1.2-3 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: held for sync

#31115 realtime_tools: 2.2.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: held for sync

#31120 micro_ros_diagnostics: 0.2.0-4 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: held for sync

#31128 mavros: 2.0.4-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: held for sync

#31127 mavros: 1.10.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: held for sync

#31110 pinocchio: 2.6.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: held for sync

#31101 turtlebot3_autorace_2020: 1.1.1-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: held for sync

#31126 mavros: 1.10.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: held for sync

#31131 jderobot_drones: 1.3.10-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: held for sync

#31132 Add python3-sip-devel RPM to python3-qt-bindings
  rosdep/python.yaml
Labels: rosdep

#31148 Add vosk package for indexing
  noetic/distribution.yaml
Labels: noetic

#30975 Fix some macOS dependencies
  rosdep/base.yaml
  rosdep/osx-homebrew.yaml
  rosdep/python.yaml
Labels: rosdep

#31150 Disable source builds for MoveIt
  noetic/distribution.yaml
Labels: noetic

#31151 add libext2fs-dev package
  rosdep/base.yaml
Labels: rosdep

#31154 Added libtins-dev as rosdep key
  rosdep/base.yaml
Labels: rosdep

#31193 rclc: 2.0.5-2 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: held for sync

#31182 behaviortree_cpp: 3.6.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: held for sync

#31174 pal_statistics: 2.1.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: held for sync, galactic

#31164 rtabmap: 0.20.15-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: held for sync, galactic

#31159 webots_ros2: 1.1.2-2 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: held for sync, galactic

#31135 ros2_control: 1.2.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: held for sync, galactic

#31099 Adding sciurus17 to documentation index for noetic
  noetic/distribution.yaml
Labels: noetic

#31100 Adding crane_x7 to documentation index for noetic
  noetic/distribution.yaml
Labels: noetic

#31190 Add python3-adafruit-circuitpython-bno055-pip key
  rosdep/python.yaml
Labels: rosdep

#31200 Igintion gazebo plugins key
  rosdep/base.yaml
Labels: rosdep

#31189 Add Azure rosdep pip keys
  rosdep/python.yaml
Labels: rosdep

#31204 [dep] deepdiff-pip for Python3
  rosdep/python.yaml
Labels: rosdep

#31201 Add python3-qwt
  rosdep/python.yaml
Labels: rosdep, changes requested

#31258 Updates for the current Fedora releases
  noetic/distribution.yaml
  rosdep/base.yaml
  rosdep/python.yaml
  test/rosdep_repo_check/config.yaml
Labels: rosdep, noetic

#31287 Add tango-icon-theme rule for RHEL 8+
  rosdep/base.yaml
Labels: rosdep

#31294 Drop Fedora rules for retired packages
  rosdep/base.yaml
Labels: rosdep

#31295 Mass removal of retired Python 2 packages from Fedora
  rosdep/python.yaml
Labels: rosdep

#31301 Add rules for libcurl{,-dev}
  rosdep/base.yaml
Labels: rosdep
