Repository ros/rosdistro, pull requests merged in 2022-07, with the labels that each got.

#33771 maliput_multilane: 0.1.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33770 maliput_dragway: 0.1.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33769 maliput_malidrive: 0.1.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33718 Enable test_pull_requests for pointcloud_to_laserscan.
  rolling/distribution.yaml
Labels: rolling

#33720 mavlink: 2022.6.27-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33723 mavros: 2.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33738 geometry2: 0.26.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33772 ros2_control: 2.11.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33773 ros2_controllers: 2.7.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33774 ros2_control: 2.11.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33775 ros2_controllers: 2.7.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33776 nerian_stereo_ros2: 1.1.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33779 nerian_stereo_ros2: 1.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33787 twist_stamper: 0.0.2-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33789 neonavigation: 0.11.5-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#33795 bag2_to_image: 0.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33784 gazebo_ros2_control: 0.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33788 Adds liblmdb-dev and librtaudio-dev entries to rosdep
  rosdep/base.yaml
  rosdep/osx-homebrew.yaml
Labels: rosdep

#33783 Add python3-river-pip
  rosdep/python.yaml
Labels: rosdep

#33780 log_view: 0.2.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33777 vrpn: 7.35.0-8 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33781 magic_enum: 0.8.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#33785 ros_industrial_cmake_boilerplate: 0.3.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#33786 opw_kinematics: 0.5.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#33792 tesseract: 0.10.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#33798 camera_aravis: 4.0.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33800 velodyne: 1.7.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33799 clpe_sdk: 0.1.0-6 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33801 velodyne: 2.3.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33802 velodyne: 2.3.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33803 velodyne: 2.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33793 aruco_opencv: 0.1.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#33796 log_view: 0.2.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33797 soccer_vision_3d_rviz_markers: 0.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33763 performance_test: 1.2.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33764 performance_test: 1.2.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33765 performance_test: 1.2.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33804 fix doc tags for performance tests
  foxy/distribution.yaml
  galactic/distribution.yaml
  humble/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, galactic, foxy, humble

#33806 ros2_controllers: 2.8.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33807 ros2_control: 2.12.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33808 ros2_controllers: 2.8.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33809 ros2_control: 2.12.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33815 ament_cmake: 1.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33814 angles: 1.12.5-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33819 angles: 1.12.6-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33822 Change branch for Humble in upstream repository
  humble/distribution.yaml
Labels: humble

#33821 angles: 1.16.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33820 angles: 1.14.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33826 plotjuggler: 3.5.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#33827 plotjuggler: 3.5.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33828 plotjuggler: 3.5.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33829 plotjuggler: 3.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33834 depthai: 2.17.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33835 depthai: 2.17.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33836 depthai: 2.17.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33838 turtlebot4: 0.1.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33842 image_common: 3.2.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33840 image_common: 2.4.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33841 image_common: 2.5.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33844 eigenpy: 2.7.6-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33843 eigenpy: 2.7.6-3 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#33810 add freetype-dev
  rosdep/base.yaml
Labels: rosdep

#33849 jsk_common: 2.2.12-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33824 Update libjsoncpp version for Ubuntu Jammy in rosdep/base.yaml
  rosdep/base.yaml
Labels: rosdep

#33851 ros2_control: 2.12.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33853 ros2_controllers: 2.9.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33856 imu_tools: 2.0.3-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33857 imu_tools: 2.0.3-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33859 imu_tools: 2.1.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33860 maliput_full: 0.1.0-2 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33833 hri_rviz: 0.3.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33726 Add aiortc
  rosdep/python.yaml
Labels: rosdep

#33864 [galactic] Update ros2_control and ros2_controllers branch names
  galactic/distribution.yaml
Labels: galactic

#33863 jsk_model_tools: 0.4.4-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33865 fkie_multimaster: 1.3.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33862 raspimouse_description: 1.0.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33866 fkie_multimaster: 1.3.0-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33867 Update the branches for image_pipeline.
  foxy/distribution.yaml
  galactic/distribution.yaml
  humble/distribution.yaml
Labels: galactic, foxy, humble

#33870 foxglove_msgs: 2.0.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33871 foxglove_msgs: 2.0.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33874 fkie_multimaster: 1.3.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33869 foxglove_msgs: 2.0.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33875 rqt_console: 1.1.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33816 affordance_primitives: 0.1.0-3 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#33817 fogros2: 0.1.7-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#33823 angles: 1.15.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#33830 plotjuggler: 3.5.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#33831 pyhri: 0.1.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33837 depthai: 2.17.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#33839 marvelmind_ros2_msgs: 1.0.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#33846 sick_safetyscanners_base: 1.0.1-3 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#33854 ros2_controllers: 2.9.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#33858 imu_tools: 2.1.1-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#33872 foxglove_msgs: 2.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#33812 ros2_planning_system: 2.0.9-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#33878 fkie_multimaster: 1.3.2-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33880 mrpt2: 2.5.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#33881 mrpt2: 2.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33882 mrpt2: 2.5.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33883 mrpt2: 2.5.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33885 sick_safetyscanners2_interfaces: 1.0.0-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33890 plotjuggler_ros: 1.7.1-3 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33887 qb_device: 3.0.4-3 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#33888 qb_device: 3.0.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33892 eigenpy: 2.7.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: changes requested, humble

#33891 eigenpy: 2.7.6-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: changes requested, galactic

#33899 eigenpy: 2.7.7-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33909 rviz_visual_tools: 4.1.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33908 rviz_visual_tools: 4.1.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33906 moveit_resources: 2.0.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33905 ur_robot_driver: 2.2.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33898 eigenpy: 2.7.7-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33896 sick_safetyscanners_base: 1.0.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33876 disable devel build for vrpn package
  foxy/distribution.yaml
Labels: foxy

#33913 hri_msgs: 0.7.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33914 marvelmind_ros2_release: 1.0.2-3 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33915 rclc: 4.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33912 hri_msgs: 0.7.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#33911 neonavigation: 0.11.6-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33910 neonavigation: 0.11.6-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#33904 lsc_ros_driver: 1.0.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33850 Add gnuplot-iostream to rosdep base
  rosdep/base.yaml
Labels: rosdep

#33928 ros_image_to_qimage: 0.2.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33927 ros_image_to_qimage: 0.1.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33926 Update distribution.yaml
  noetic/distribution.yaml
Labels: noetic

#33925 rcss3d_nao: 0.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33923 nao_lola: 0.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33922 nao_lola: 0.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33921 nao_lola: 0.0.5-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33877 nixos: use pythonPackages.pybind11 instead of pybind11
  rosdep/base.yaml
Labels: rosdep

#33855 Unify key formatting in rosdep/base.yaml
  rosdep/base.yaml
Labels: rosdep

#33919 ess_imu_ros1_uart_driver: 1.3.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33932 rosbag2_storage_mcap: 0.1.6-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33930 rosbag2_storage_mcap: 0.1.6-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33931 rosbag2_storage_mcap: 0.1.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33933 rosbag2_storage_mcap: 0.1.6-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33945 eigenpy: 2.7.8-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33951 hpp-fcl: 2.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33946 eigenpy: 2.7.8-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33944 eigenpy: 2.7.8-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33934 ament_cmake: 0.9.10-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33935 class_loader: 2.0.3-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33936 ament_lint: 0.9.7-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33937 ros_environment: 2.5.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33938 turtlesim: 1.2.6-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33943 eigenpy: 2.7.8-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33948 neonavigation_rviz_plugins: 0.11.6-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33942 eigenpy: 2.7.8-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33940 executive_smach_visualization: 4.0.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33947 neonavigation_rviz_plugins: 0.11.6-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic
