Repository ros/rosdistro, pull requests merged in 2022-01, with the labels that each got.

#31659 Switch the branch for velodyne in foxy to 'foxy-devel'.
  foxy/distribution.yaml
Labels: foxy

#31635 plotjuggler: 3.3.4-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#31420 serial: 1.2.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31634 plotjuggler: 3.3.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31643 ros_ign: 0.111.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31646 moveit: 1.1.7-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31647 diagnostics: 1.11.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31641 moveit: 2.3.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31651 rosbridge_suite: 1.1.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31645 ros_ign: 0.244.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31653 rosbridge_suite: 1.1.2-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31652 rosbridge_suite: 1.1.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31644 ros_ign: 0.233.3-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31642 moveit: 2.3.2-2 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31663 ros_ign: 0.244.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31661 plotjuggler: 3.3.5-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31660 plotjuggler: 3.3.5-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#31648 nmea_hardware_interface: 0.0.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31649 nmea_hardware_interface: 0.0.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31650 nmea_hardware_interface: 0.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31677 leo_robot: 2.0.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31676 mavlink: 2022.1.5-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31675 mavlink: 2022.1.5-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31674 mavlink: 2022.1.5-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31673 mavlink: 2022.1.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31671 mavlink: 2022.1.5-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#31672 mavros: 1.12.2-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31678 rclcpp: 14.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31669 rmw_gurumdds: 2.2.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31668 rmw_gurumdds: 3.1.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31667 rosidl_typesupport_gurumdds: 2.1.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31666 rosidl_typesupport_gurumdds: 3.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31665 rosidl_typesupport_gurumdds: 1.1.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31664 rmw_gurumdds: 1.1.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31654 Update openvdb rosdep key version for Buster
  rosdep/base.yaml
Labels: rosdep

#31615 Add RHEL 8 rule for lcov
  rosdep/base.yaml
Labels: rosdep

#31612 velodyne_simulator: 2.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31605 visp: 3.4.0-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31584 Update geographiclib key.
  rosdep/base.yaml
Labels: rosdep

#31550 ntrip_client: 1.0.0-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31511 add msr-tools dep
  rosdep/base.yaml
Labels: rosdep

#31534 Drop rules for EOL Fedora 33
  rosdep/base.yaml
Labels: rosdep

#31679 microstrain_inertial: 2.4.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#31680 microstrain_inertial: 2.4.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31681 microstrain_inertial: 2.4.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31682 microstrain_inertial: 2.4.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31683 microstrain_inertial: 2.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31688 Switch the depthimage_to_laserscan Rolling branch to 'ros2'.
  rolling/distribution.yaml
Labels: rolling

#31685 octomap_mapping: 2.0.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31686 octomap_mapping: 2.0.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31687 octomap_mapping: 2.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31657 libnabo: 1.0.7-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31424 Adding quori_ros to documentation index for distro
  noetic/distribution.yaml
Labels: noetic, changes requested

#31632 Add definition for libpthread-stubs0-dev.
  rosdep/base.yaml
Labels: rosdep

#31692 libpointmatcher: 1.3.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31693 microstrain_inertial: 2.4.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31691 microstrain_inertial: 2.4.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#31658 libnabo: 1.0.7-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#31656 libnabo: 1.0.7-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31495 libnabo: 1.0.7-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31655 libnabo: 1.0.7-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31562 Update yaml-cpp-dev key.
  rosdep/base.yaml
Labels: rosdep

#31559 Update boost keys for Debian and Ubuntu.
  rosdep/base.yaml
Labels: rosdep

#31694 ros_comm: 1.15.14-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31561 Updates to libpcl keys
  rosdep/base.yaml
Labels: rosdep

#31708 ign_ros2_control: 0.1.1-2 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31707 rcpputils: 2.2.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31616 Add Fedora and RHEL rules for nlohmann-json-dev
  rosdep/base.yaml
Labels: rosdep

#31404 Add open_vins
  galactic/distribution.yaml
  melodic/distribution.yaml
  noetic/distribution.yaml
Labels: melodic, noetic, changes requested, galactic

#31695 Update release repositories for ROS 2 releases from tier4.
  foxy/distribution.yaml
  galactic/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, galactic, foxy

#31701 libpointmatcher: 1.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31700 libpointmatcher: 1.3.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31702 libpointmatcher: 1.3.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#31703 libpointmatcher: 1.3.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31704 ros_image_to_qimage: 0.0.2-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31705 ros_image_to_qimage: 0.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31706 soccer_object_msgs: 1.0.1-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31709 add libiio-dev to base.yaml
  rosdep/base.yaml
Labels: rosdep

#31697 Update gurumdds rosdep keys.
  rosdep/base.yaml
Labels: rosdep

#31721 webots_ros: 5.0.1-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#31718 moveit: 1.0.9-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#31724 webots_ros2: 1.2.1-3 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31723 webots_ros2: 1.2.1-3 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31722 webots_ros: 5.0.1-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31715 rm_controllers: 0.1.2-1 in 'noetic/distribution.yaml'
  noetic/distribution.yaml
Labels: noetic

#31726 moveit: 2.2.3-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31713 rqt_image_overlay: 0.0.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31725 webots_ros2: 1.2.1-3 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31698 Update python3-opencv key.
  rosdep/python.yaml
Labels: rosdep

#31716 Unrelease openvslam
  foxy/distribution.yaml
  galactic/distribution.yaml
Labels: galactic, foxy

#31733 tork_moveit_tutorial: 0.1.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#31730 ros2_controllers: 1.3.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31729 ros2_controllers: 0.6.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31728 jsk_visualization: 2.1.8-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31727 jsk_visualization: 2.1.8-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#31710 soccer_object_msgs: 1.0.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31711 soccer_object_msgs: 1.0.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31720 rslidar_sdk: 1.3.0-3 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31696 Update release repositories for ROS 2 from microstrain.
  foxy/distribution.yaml
  galactic/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, galactic, foxy

#31732 ros2_control: 2.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31731 ros2_controllers: 1.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31714 rqt_image_overlay: 0.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31712 soccer_visualization: 0.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31737 aws-robomaker-small-warehouse-world: 1.0.5-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31738 aws-robomaker-small-warehouse-world: 1.0.5-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31736 common_interfaces: 2.2.4-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31739 soccer_visualization: 0.0.2-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31741 cob_control: 0.8.18-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31742 cob_driver: 0.7.11-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31743 pointgrey_camera_driver: 0.14.2-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#31623 Add python3-googleapi Rule
  rosdep/python.yaml
Labels: rosdep

#31744 launch: 0.10.8-2 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31745 pointgrey_camera_driver: 0.15.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31746 ridgeback: 0.3.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#31747 mavros: 1.13.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#31748 rosidl_typesupport_gurumdds: 3.1.0-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31749 rosidl_typesupport_gurumdds: 2.1.0-2 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31750 mavros: 1.13.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31751 rslidar_sdk: 1.3.0-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#31752 clober_msgs: 0.1.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31789 rqt_plot: 1.1.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31788 rqt_plot: 1.1.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31784 rqt_action: 2.0.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31780 husky: 0.4.11-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#31755 ridgeback: 0.3.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31765 marti_messages: 0.10.0-3 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#31769 moveit_python: 0.4.3-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#31786 rqt_graph: 1.2.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31760 sros2: 0.10.3-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31771 moveit_python: 0.4.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31768 ipcamera_driver: 0.1.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31767 rmw_gurumdds: 2.2.0-2 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31754 urdf: 2.5.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31759 sros2: 0.10.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31762 rviz: 9.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31756 rosidl_typesupport_fastrtps: 2.0.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31757 rosidl_typesupport: 1.4.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31758 rosidl_python: 0.14.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31761 rosidl: 3.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31763 ros_testing: 0.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31811 ros2cli: 0.16.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31809 rmw_implementation: 2.7.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31807 rmw_fastrtps: 6.1.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31806 rmw_dds_common: 1.4.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31805 rmw_cyclonedds: 1.1.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31808 rmw_connextdds: 0.8.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31804 realtime_support: 0.12.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31803 rcutils: 5.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31810 rcpputils: 2.3.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31797 rclpy: 3.2.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling
