Repository ros/rosdistro, pull requests merged in 2022-08, with the labels that each got.

#34028 ur_robot_driver: 2.0.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34029 rviz: 1.13.26-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34031 hpp-fcl: 2.1.2-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34030 rviz: 1.14.15-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34032 hpp-fcl: 2.1.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34020 log_view: 0.2.2-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34027 ur_robot_driver: 2.1.2-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34033 hpp-fcl: 2.1.2-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34021 ros2_controllers: 2.10.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34022 control_msgs: 4.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34025 ur_robot_driver: 2.2.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34035 hpp-fcl: 2.1.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34023 ros2_controllers: 2.10.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34026 ur_robot_driver: 2.2.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34024 control_msgs: 4.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33791 fix python-dateutil for ubuntu jammy
  rosdep/python.yaml
Labels: rosdep

#34040 rolling: Update eigenpy to 2.7.10-2 to include pythonpath fix
  rolling/distribution.yaml
Labels: rolling

#34042 galactic: Update eigenpy for pythonpath patch
  galactic/distribution.yaml
Labels: galactic

#34043 humble: Update eigenpy for pythonpath fix
  humble/distribution.yaml
Labels: humble

#34039 executive_smach_visualization: 4.0.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34038 executive_smach_visualization: 4.0.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34044 foxy: Update eigenpy for pythonpath patch
  foxy/distribution.yaml
Labels: foxy

#34052 ros2_control: 1.6.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34060 rqt_publisher: 1.6.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34049 rqt_publisher: 1.3.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34050 rqt_publisher: 1.5.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34048 rosbag_snapshot: 1.0.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34061 mrpt2: 2.5.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34064 ess_imu_ros1_uart_driver: 1.3.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34071 marti_messages: 0.11.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34055 ros2_control: 0.11.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34057 ros2_controllers: 0.8.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34063 mrpt2: 2.5.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34047 rosbag_snapshot: 1.0.4-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34062 mrpt2: 2.5.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34069 ess_imu_ros1_uart_driver: 1.3.2-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34070 marti_messages: 0.11.0-3 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34053 ros2_control: 2.13.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34068 ros2_controllers: 2.11.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34054 ros2_control: 2.13.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34066 generate_parameter_library: 0.2.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34065 generate_parameter_library: 0.2.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34067 ros2_controllers: 2.11.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33987 Adding python3 can-j1939 library
  rosdep/python.yaml
Labels: rosdep

#34079 plotjuggler: 3.5.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34081 orocos_kdl_vendor: 0.2.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34073 generate_parameter_library: 0.2.3-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34074 generate_parameter_library: 0.2.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34091 kdl_parser: 2.6.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34090 geometry2: 0.25.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34083 rqt_image_overlay: 0.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34097 r2r_spl: 0.0.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34103 ros_workspace: 1.0.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34104 Update Humble development branch for image_transport_plugins
  humble/distribution.yaml
Labels: humble

#34107 Revert "plotjuggler_ros: 1.7.1-3 in 'humble/distribution.yaml' [bloom]"
  humble/distribution.yaml
Labels: humble

#34059 Update rqt_publisher to use galactic branch
  galactic/distribution.yaml
Labels: held for sync, galactic

#34056 ros2_controllers: 1.5.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: held for sync, galactic

#34075 neonavigation: 0.11.7-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34077 plotjuggler: 3.5.2-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34078 plotjuggler: 3.5.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34080 plotjuggler: 3.5.2-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34082 rqt_image_overlay: 0.2.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34084 rqt_image_overlay: 0.0.7-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34086 mavlink: 2022.8.8-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34089 robot_localization: 2.6.12-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34087 mavlink: 2022.8.8-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34088 mavlink: 2022.8.8-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34051 rolling: Update eigenpy for standard Python layout
  rolling/distribution.yaml
Labels: rolling

#34058 rolling: Update hpp-fcl to include standard Python layout
  rolling/distribution.yaml
Labels: rolling

#34106 leo_robot: 1.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34102 ign_ros2_control: 0.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34101 gazebo_ros2_control: 0.4.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34100 gazebo_ros2_control: 0.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34099 rviz: 1.14.16-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34098 rviz: 1.13.27-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34096 r2r_spl: 1.0.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34095 r2r_spl: 2.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34094 r2r_spl: 3.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33988 Adding python3 bitstring
  rosdep/python.yaml
Labels: rosdep

#34072 ign_ros_control: 0.0.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34109 mavlink: 2022.8.8-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34110 mavlink: 2022.8.8-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34111 mavlink: 2022.8.8-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34112 mqtt_client: 1.0.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33996 add python-gobject
  rosdep/python.yaml
Labels: rosdep

#34085 Ijnek ogre 1.12
  rosdep/base.yaml
Labels: rosdep

#33017 Add python3 google-auth-*-pip, python3-oauth2client
  rosdep/python.yaml
Labels: rosdep

#34113 Add python3-polling2-pip to rosdep/python.yaml
  rosdep/python.yaml
Labels: rosdep

#34114 Add python3-stonesoup-pip to rosdep/python.yaml
  rosdep/python.yaml
Labels: rosdep

#34115 rosbag2: 0.17.0-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34116 ntrip_client: 1.2.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34117 ntrip_client: 1.2.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34118 ntrip_client: 1.2.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34119 ntrip_client: 1.2.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34121 ntrip_client: 1.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34122 depthai-ros: 2.5.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34123 depthai-ros: 2.5.3-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34124 depthai-ros: 2.5.3-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34128 rviz: 1.13.29-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34093 Added statistics and sbp modules
  rosdep/python.yaml
Labels: rosdep

#34148 geometry2: 0.26.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34147 Change the branches for pointcloud_to_laserscan in Humble.
  humble/distribution.yaml
Labels: humble

#34143 pinocchio: 2.6.9-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34146 image_common: 4.0.0-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34131 pinocchio: 2.6.9-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34135 eigenpy: 2.7.11-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34145 rviz: 1.14.19-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34136 eigenpy: 2.7.11-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34134 eigenpy: 2.7.11-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34132 pinocchio: 2.6.9-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34130 Added python3-pytest-timeout dependency for nixos
  rosdep/python.yaml
Labels: rosdep

#34133 eigenpy: 2.7.11-2 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34137 eigenpy: 2.7.11-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34139 hpp-fcl: 2.1.2-2 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34141 hpp-fcl: 2.1.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34142 pinocchio: 2.6.9-2 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34149 simple_actions: 0.2.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34152 simple_actions: 0.2.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34155 plotjuggler: 3.6.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34156 rosbag2_storage_mcap: 0.1.7-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34157 rosbag2_storage_mcap: 0.1.7-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34154 Add RHEL 9+ rule for python3-mypy
  rosdep/python.yaml
Labels: rosdep

#34163 image_transport_plugins: 2.6.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34150 qt_gui_core: 2.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34153 [dep] Adding yarn
  rosdep/base.yaml
Labels: rosdep

#34159 rosbag2_storage_mcap: 0.1.7-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34160 simple_actions: 0.2.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34161 raspimouse_ros2_examples: 1.0.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34164 plotjuggler: 3.6.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34162 pinocchio: 2.6.9-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34168 plotjuggler: 3.6.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34167 plotjuggler: 3.6.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34166 simple_actions: 0.2.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34169 maliput: 1.0.6-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34175 maliput_object: 0.1.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34176 maliput_integration: 0.1.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34171 rosbridge_suite: 1.3.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34172 rosbridge_suite: 1.3.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34158 rosbag2_storage_mcap: 0.1.7-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#34174 rosbridge_suite: 1.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34182 panda_moveit_config: 0.7.6-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34179 audio_common: 0.3.14-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34180 audio_common: 0.3.14-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34183 pinocchio: 2.6.9-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34185 twist_mux: 3.1.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34184 twist_mux: 3.1.2-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34120 ntrip_client: 1.2.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34125 depthai-ros: 2.5.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34138 eigenpy: 2.7.11-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34140 hpp-fcl: 2.1.2-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble
