Repository ros/rosdistro, pull requests merged in 2022-05, with the labels that each got.

#32995 simple_launch: 1.3.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32997 imu_tools: 2.0.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33004 Add mir_robot doc + source to foxy
  foxy/distribution.yaml
Labels: foxy

#32470 Update gurumdds rosdep key for jammy
  rosdep/base.yaml
Labels: rosdep

#32965 eigen3_cmake_module: 0.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32966 demos: 0.21.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32967 example_interfaces: 0.10.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32968 launch: 1.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32970 geometry2: 0.26.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32971 examples: 0.16.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32972 launch_ros: 0.20.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32973 libyaml_vendor: 1.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32974 message_filters: 4.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32975 mimick_vendor: 0.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32976 orocos_kdl_vendor: 0.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32977 rcl: 5.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32978 rcl_interfaces: 1.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32979 rcl_logging: 2.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32988 ros_testing: 0.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32987 ros2cli: 0.19.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32986 ros2cli_common_extensions: 0.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32985 rmw_implementation: 2.9.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32984 rmw: 6.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32982 rcutils: 5.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32981 rclpy: 3.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32980 rclcpp: 16.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32989 cob_simulation: 0.7.5-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32991 mrpt_navigation: 1.0.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32992 septentrio_gnss_driver: 1.2.0-4 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32969 example_interfaces: 0.10.0-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32993 euslime: 1.1.2-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32994 euslime: 1.1.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32998 imu_tools: 2.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32999 imu_tools: 2.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33005 Add mir_robot doc + source to galactic
  galactic/distribution.yaml
Labels: galactic

#33006 Add mir_robot doc + source to humble
  humble/distribution.yaml
Labels: humble

#33007 Add mir_robot doc + source to rolling
  rolling/distribution.yaml
Labels: rolling

#33008 simple_launch: 1.3.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33009 simple_launch: 1.3.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#32915 Add nxt-python pip package
  rosdep/python.yaml
Labels: rosdep

#32911 Add python fastkml
  rosdep/python.yaml
Labels: rosdep

#32910 Add odrive pip package
  rosdep/python.yaml
Labels: rosdep

#33010 Update foxy and galactic branches for variants
  foxy/distribution.yaml
  galactic/distribution.yaml
Labels: galactic, foxy

#33000 Add rospy_message_converter doc + source to foxy
  foxy/distribution.yaml
Labels: foxy

#33002 Add rospy_message_converter doc + source to humble
  humble/distribution.yaml
Labels: humble

#33003 Add rospy_message_converter doc + source to rolling
  rolling/distribution.yaml
Labels: rolling

#33026 turtlebot4: 0.1.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32898 Add python3-sysv-ipc package
  rosdep/python.yaml
Labels: rosdep

#33013 slider_publisher: 2.1.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33012 slider_publisher: 2.1.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33038 rclpy: 3.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33037 rclcpp: 16.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33016 mrpt_bridge: 1.0.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#33036 ros2_planning_system: 2.0.6-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33011 fogros2: 0.1.2-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33028 Remove orocos_kinematics_dynamics from Rolling and Humble.
  humble/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble

#33020 ur_robot_driver: 2.1.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33021 septentrio_gnss_driver: 1.2.0-5 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33024 septentrio_gnss_driver: 1.1.0-8 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#33029 rmw: 6.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33030 rmw_dds_common: 1.7.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33031 rmw_fastrtps: 6.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33032 rmw_cyclonedds: 1.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33034 rmw_connextdds: 0.12.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33033 image_pipeline: 3.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33035 turtlebot4_desktop: 0.1.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33042 Update branches for tracetools_analysis @ humble & galactic
  galactic/distribution.yaml
  humble/distribution.yaml
Labels: galactic, humble

#33025 pf_lidar_ros_driver: 1.2.0-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#33043 pose_cov_ops: 0.3.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#33045 ros2_planning_system: 2.0.7-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33051 turtlebot4_simulator: 0.1.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32949 rmf_api_msgs: 0.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: changes requested, rolling

#33046 hri_msgs: 0.5.2-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#33049 Add libtool system dependency for ubuntu jammy
  rosdep/base.yaml
Labels: rosdep

#33052 rosidl: 3.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33054 rosidl_dds: 0.9.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33055 rosidl_defaults: 1.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33056 rosidl_python: 0.15.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33057 rosidl_runtime_py: 0.10.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33058 rosidl_typesupport: 2.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33059 rosidl_typesupport_fastrtps: 2.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33060 rpyutils: 0.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33061 spdlog_vendor: 1.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33062 test_interface_files: 0.10.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33063 tinyxml_vendor: 0.9.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33064 tinyxml2_vendor: 0.8.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33065 tlsf: 0.8.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33066 unique_identifier_msgs: 2.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33068 libyaml_vendor: 1.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33069 ros_environment: 3.2.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33015 mrpt_bridge: 1.0.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#33018 dynamic_robot_state_publisher: 1.2.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#33023 septentrio_gnss_driver: 1.1.0-7 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#33047 hri_msgs: 0.5.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33044 pose_cov_ops: 0.3.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33048 camera_aravis: 4.0.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, changes requested

#33084 mrpt2: 2.4.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33083 mrpt2: 2.4.4-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#33082 mrpt2: 2.4.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33078 console_bridge_vendor: 1.5.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32944 Two new packages to add to index: move_base_swp and lsm_localization
  melodic/distribution.yaml
  noetic/distribution.yaml
Labels: melodic, noetic, held for sync

#32990 mrpt_navigation: 1.0.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#33041 ros2_ouster_drivers: 0.4.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33040 ros2_ouster_drivers: 0.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33076 Remove rqt_top from Rolling and Humble.
  humble/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble

#33077 rcpputils: 2.5.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33080 slider_publisher: 2.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33074 Renaming galactic branch for robot_localization
  galactic/distribution.yaml
Labels: held for sync, galactic

#33079 ur_robot_driver: 2.1.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: held for sync, galactic

#33089 Index package pose_cov_ops in rolling
  rolling/distribution.yaml
Labels: rolling

#33088 septentrio_gnss_driver: 1.2.0-6 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33087 care-o-bot: 0.7.8-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33086 mocap_nokov:0.0.1-1 in in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33092 navigation2: 1.0.9-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33095 rosidl_typesupport_gurumdds: 3.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33096 rosidl_typesupport_gurumdds: 4.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33097 rosidl_typesupport_gurumdds: 3.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33098 rosidl_typesupport_gurumdds: 2.1.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33099 rosidl_typesupport_gurumdds: 1.1.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33100 pf_lidar_ros_driver: 1.2.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33101 rmw_gurumdds: 1.2.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33102 rmw_gurumdds: 2.3.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33105 srdfdom: 2.0.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33107 eigenpy: 2.7.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33109 eigenpy: 2.7.4-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33111 warehouse_ros_sqlite: 0.9.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33112 warehouse_ros_sqlite: 0.9.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#33108 eigenpy: 2.7.4-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#33085 depthai
  galactic/distribution.yaml
Labels: held for sync, galactic

#33113 navigation2: 1.0.10-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33114 turtlebot4_simulator: 0.1.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33115 jackal: 0.8.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33116 ament_lint: 0.13.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33117 ament_lint: 0.12.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#32942 Update link to fedora packages
  CONTRIBUTING.md
Labels: documentation

#33118 pose_cov_ops: 0.3.2-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#33119 pose_cov_ops: 0.3.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33122 fogros2: 0.1.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33126 warehouse_ros: 0.9.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33125 warehouse_ros: 0.9.5-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#33132 depthai: 1.5.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33157 osrf_pycommon: 2.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33156 image_common: 3.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33155 tango_icons_vendor: 0.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33146 rqt_msg: 1.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33154 rqt_topic: 1.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33143 rqt: 1.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33151 rqt_service_caller: 1.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33142 rqt_action: 2.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33148 rqt_publisher: 1.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling
