Repository ros/rosdistro, pull requests merged in 2022-10, with the labels that each got.

#34720 kobuki_velocity_smoother: 0.15.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34721 kobuki_velocity_smoother: 0.15.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34722 kobuki_velocity_smoother: 0.15.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34723 kobuki_velocity_smoother: 0.15.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34711 webots_ros2: 2022.1.0-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34718 mvsim: 0.4.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34719 mvsim: 0.4.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34703 Add pip packages that mycroft requires to python.yaml
  rosdep/python.yaml
Labels: rosdep

#34725 rtabmap: 0.20.21-4 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34726 rtabmap: 0.20.21-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34727 rtabmap_ros: 0.20.20-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34728 rtabmap_ros: 0.20.20-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34730 rtabmap: 0.20.21-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34731 rtabmap: 0.20.21-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34732 rtabmap_ros: 0.20.20-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34733 rtabmap_ros: 0.20.20-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34735 rtabmap_ros: 0.20.20-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34736 pinocchio: 2.6.10-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34737 cpp_polyfills: 1.0.2-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34738 cpp_polyfills: 1.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34740 slider_publisher: 2.2.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34741 slider_publisher: 2.2.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34742 slider_publisher: 2.2.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34743 vision_opencv: 1.13.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34744 vision_opencv: 1.16.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34745 vision_opencv: 3.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34746 rqt_image_overlay: 0.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34734 rtabmap: 0.20.21-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34747 rmf_traffic: 3.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34749 rmf_simulation: 2.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34253 add colcon-meson
  rosdep/python.yaml
Labels: rosdep, more information needed

#34748 rmf_traffic: 3.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34750 rmf_ros2: 2.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34751 rmf_api_msgs: 0.0.1-4 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34754 rmf_visualization: 2.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34755 eigenpy: 2.7.14-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34757 rtabmap_ros: 0.20.20-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34752 rmf_api_msgs: 0.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34758 Add ack rules for Fedora and RHEL
  rosdep/base.yaml
Labels: rosdep

#34760 Add fakeroot rules for Fedora and RHEL
  rosdep/base.yaml
Labels: rosdep

#34761 Add fswebcam rules for Fedora and RHEL
  rosdep/base.yaml
Labels: rosdep

#34762 Add libcap-ng-dev rules for Fedora and RHEL
  rosdep/base.yaml
Labels: rosdep

#34763 Add libconfig++-dev rules for Fedora and RHEL
  rosdep/base.yaml
Labels: rosdep

#34764 Add libdpkg-dev rules for Fedora and RHEL
  rosdep/base.yaml
Labels: rosdep

#34765 Add libgdal-dev rules for Fedora and RHEL
  rosdep/base.yaml
Labels: rosdep

#34767 Add python3-gitlab rules for Fedora and RHEL
  rosdep/python.yaml
Labels: rosdep

#34768 Add python3-msgpack rules for Fedora and RHEL
  rosdep/python.yaml
Labels: rosdep

#34769 Add python3-paho-mqtt rules for Fedora and RHEL
  rosdep/python.yaml
Labels: rosdep

#34770 Add python3-pexpect rules for Fedora and RHEL
  rosdep/python.yaml
Labels: rosdep

#34771 Add python3-pika rules for Fedora and RHEL
  rosdep/python.yaml
Labels: rosdep

#34773 Add python3-systemd rules for Fedora and RHEL
  rosdep/python.yaml
Labels: rosdep

#34775 pybind11_json_vendor: 0.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34777 dynamic-graph-tutorial: 1.3.5-3 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34779 tsid: 1.6.2-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34780 sot-tools: 2.3.5-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34781 rmf_demos: 2.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34782 rmf_demos: 2.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34783 rmf_simulation: 2.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34784 nlohmann_json_schema_validator_vendor: 0.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34785 nlohmann_json_schema_validator_vendor: 0.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34790 ur_client_library: 1.2.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34789 ur_client_library: 1.2.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34788 ur_client_library: 1.2.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34787 ur_client_library: 1.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34792 Add create_robot to Noetic index
  noetic/distribution.yaml
Labels: noetic

#34793 Add create_robot to Melodic index
  melodic/distribution.yaml
Labels: melodic

#34791 Add create_robot and libcreate to Foxy index
  foxy/distribution.yaml
Labels: foxy

#34795 rsl: 0.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34794 rsl: 0.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34809 message_filters: 4.6.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34772 Add python3-pystemd rules for Fedora and RHEL
  rosdep/python.yaml
Labels: rosdep

#34800 ros2_control: 3.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34805 ros2_controllers: 2.13.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34807 rmf_traffic_editor: 1.6.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34802 paho-mqtt-c: 1.3.11-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34803 paho-mqtt-c: 1.3.11-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34808 sot-dynamic-pinocchio: 3.6.5-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34798 rsl: 0.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34799 rsl: 0.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34797 range-v3 for rhel
  rosdep/base.yaml
Labels: rosdep

#34810 nlohmann_json_schema_validator_vendor: 0.1.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34812 Add python3-catkin-lint rule for RHEL
  rosdep/python.yaml
Labels: rosdep

#34813 Add python3-djangorestframework rules for Fedora and RHEL
  rosdep/python.yaml
Labels: rosdep

#34815 Add python3-prometheus-client rules for Fedora and RHEL
  rosdep/python.yaml
Labels: rosdep

#34816 Add python3-pyee rule for Fedora
  rosdep/python.yaml
Labels: rosdep

#34819 Add python3-sysv-ipc rules for Fedora and RHEL
  rosdep/python.yaml
Labels: rosdep

#34824 Add at-spi2-core rule for RHEL
  rosdep/base.yaml
Labels: rosdep

#34825 Add atlas rule for RHEL
  rosdep/base.yaml
Labels: rosdep

#34826 Add bullet-extras rule for RHEL, fix Fedora
  rosdep/base.yaml
Labels: rosdep

#34827 Add ca-certificates rule for RHEL
  rosdep/base.yaml
Labels: rosdep

#34829 Add jansson-devel rules for Fedora and RHEL
  rosdep/base.yaml
Labels: rosdep

#34832 Add source and doc entries for mrpt_{navigation,sensors} [rolling]
  rolling/distribution.yaml
Labels: rolling

#34839 hri_msgs: 0.8.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34840 libhri: 0.5.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34841 libhri: 0.5.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34820 Add ipython3 rule for RHEL
  rosdep/python.yaml
Labels: rosdep

#34851 simple_launch: 1.6.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34852 nlohmann_json_schema_validator_vendor: 0.1.3-3 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34850 simple_launch: 1.6.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34847 rmf_internal_msgs: 3.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34846 rmf_internal_msgs: 3.0.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34857 rosbag2_storage_mcap: 0.4.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34858 rosbag2_storage_mcap: 0.4.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34855 rosbridge_suite: 0.11.15-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34854 rosbridge_suite: 0.11.15-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34856 rosbag2_storage_mcap: 0.4.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34859 rosbag2_storage_mcap: 0.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34865 cras_ros_utils: 2.0.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34866 cras_ros_utils: 2.0.3-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34867 mqtt_client: 1.0.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34869 ur_robot_driver: 2.2.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34870 nlohmann_json_schema_validator_vendor: 0.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34872 v4l2_camera: 0.6.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34873 nlohmann_json_schema_validator_vendor: 0.2.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34834 rmf_task: 2.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34874 leo_simulator: 1.1.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34879 ur_client_library: 0.4.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34876 simple_launch: 1.6.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34875 simple_launch: 1.6.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34880 rmf_demos: 2.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34877 simple_launch: 1.6.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34881 rmf_demos: 2.0.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34878 ur_client_library: 0.4.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34871 Add doc and source entries for Fuse to ROS Rolling
  rolling/distribution.yaml
Labels: rolling

#34882 rmf_ros2: 2.1.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34796 nixos: Add missing packages
  rosdep/base.yaml
  rosdep/python.yaml
Labels: rosdep

#34821 Add python3-vcstool rule for RHEL
  rosdep/python.yaml
Labels: rosdep

#34831 Add python-dev rules for RHEL
  rosdep/base.yaml
Labels: rosdep

#34853 Add apt pkg libespeak-ng1
  rosdep/base.yaml
Labels: rosdep

#34888 rmf_task: 2.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34893 webots_ros2: 2022.1.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34894 webots_ros2: 2022.1.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34895 webots_ros2: 2022.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34897 webots_ros2: 2022.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34900 behaviortree_cpp: 3.8.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34901 behaviortree_cpp: 3.8.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34902 behaviortree_cpp: 3.8.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34903 behaviotree_cpp_v3: 3.8.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34889 nlohmann_json_schema_validator_vendor: 0.2.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34887 rmf_task: 2.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34883 rmf_ros2: 2.1.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34885 Add libfreetype6 for ubuntu and debian
  rosdep/base.yaml
Labels: rosdep

#34884 Don't use hdf5 virtual package use native one.
  rosdep/base.yaml
Labels: rosdep

#34818 Add python3-ruamel.yaml rules for Fedora and RHEL
  rosdep/python.yaml
Labels: rosdep

#34886 libtiff-dev exists in the generic on all supported platforms
  rosdep/base.yaml
Labels: rosdep

#34913 Revert "realtime_tools: 2.3.0-1 in 'galactic/distribution.yaml' [bloom]"
  galactic/distribution.yaml
Labels: galactic

#34916 rclpy: 1.0.11-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34915 launch: 0.10.10-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34917 Revert vision_opencv
  galactic/distribution.yaml
Labels: galactic

#34433 Update cookiecutter for jammy and bionic python3
  rosdep/python.yaml
Labels: rosdep, changes requested
