Repository ros/rosdistro, pull requests merged in 2022-06, with the labels that each got.

#33376 leo_examples: 0.1.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, changes requested

#33397 gazebo_ros2_control: 0.2.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33402 gazebo_ros2_control: 0.3.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33422 ros2_control: 1.5.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33428 pose_cov_ops: 0.3.4-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33429 pose_cov_ops: 0.3.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33421 Add robotraconteur package source to humble/distribution.yaml
  humble/distribution.yaml
Labels: humble

#33396 gazebo_ros2_control: 0.1.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33430 moveit: 2.5.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33432 Update bond galactic branch for humble divergence
  galactic/distribution.yaml
Labels: galactic

#33405 add libopen3d-dev
  rosdep/base.yaml
Labels: rosdep

#33403 Add libfreeimage keys.
  rosdep/base.yaml
Labels: rosdep

#33423 Add black
  rosdep/python.yaml
Labels: rosdep

#33368 deptha-ros: 2.5.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: changes requested, humble

#33442 grpc: 0.0.11-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33441 mir_robot: 1.1.6-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33440 Added humble branches for fmi_adapter and fmilibrary_vendor.
  humble/distribution.yaml
Labels: humble

#33449 depthai-ros: 2.5.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33446 depthai: 2.15.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33453 depthai-ros: 2.5.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33451 depthai: 2.15.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33452 depthai-ros: 2.5.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33444 depthai: 2.15.5-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33435 webots_ros2: 1.2.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33433 webots_ros2: 1.2.3-2 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: held for sync, foxy

#33436 webots_ros2: 1.2.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33461 joint_state_publisher: 2.3.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33465 foxglove_msgs: 1.2.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33471 system_modes: 0.9.0-3 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33469 system_modes: 0.9.0-6 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33466 foxglove_msgs: 1.2.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33463 foxglove_msgs: 1.2.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33457 mqtt_client: 1.0.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, changes requested

#33456 rosee_msg: 0.0.2-2 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33478 tvm_vendor: 0.8.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33476 tvm_vendor: 0.8.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33464 foxglove_msgs: 1.2.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: held for sync, galactic

#33481 ign_ros2_control: 0.4.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33477 tvm_vendor: 0.8.2-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33470 system_modes: 0.9.0-3 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: held for sync, galactic

#33450 depthai-ros: 2.5.2-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: held for sync, galactic

#33448 depthai: 2.15.5-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: held for sync, galactic

#33439 ament_black: 0.1.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: held for sync, galactic

#33434 webots_ros2: 1.2.3-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: held for sync, galactic

#33479 tvm_vendor: 0.8.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33462 slam_toolbox: 2.6.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33460 navigation2: 1.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33486 maliput: 1.0.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33485 rmw_connextdds: 0.11.1-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33490 ethercat_grant: 0.3.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33488 jsk_common: 2.2.12-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#33437 Add python3-depthai-pip dependency
  rosdep/python.yaml
Labels: rosdep

#33438 Add python3-playsound-pip
  rosdep/python.yaml
Labels: rosdep

#33492 ethercat_grant: 0.3.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33484 slam_toolbox: 2.6.0-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33491 fluent_rviz: 0.0.2-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33482 mrpt_msgs: 0.4.3-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33475 ros_amr_interop: 1.0.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33506 simple_launch: 1.4.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33503 ubnt_airos_tools: 1.1.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33502 mikrotik_swos_tools: 1.1.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33500 tf2_server: 1.1.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33499 movie_publisher: 1.4.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33496 mrpt2: 2.4.9-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33495 mrpt2: 2.4.9-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33494 mrpt2: 2.4.9-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#33521 pose_cov_ops: 0.3.5-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33520 pose_cov_ops: 0.3.5-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33530 maliput_drake: 0.1.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33517 orocos_kdl_vendor: 0.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#33523 pose_cov_ops: 0.3.5-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#33509 perception_open3d: 0.1.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#33498 mrpt2: 2.4.9-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#33501 Adding clpe_sdk release section
  foxy/distribution.yaml
Labels: foxy

#33526 diagnostics: 3.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33532 Revert mrpt msgs
  melodic/distribution.yaml
Labels: melodic

#33533 Revert pose_cov_ops to 0.2.1 in melodic
  melodic/distribution.yaml
Labels: melodic

#33534 Back to the last known working version 2.4.3
  melodic/distribution.yaml
Labels: melodic

#33518 orocos_kdl_vendor: 0.2.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#33515 fogros2: 0.1.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#33510 perception_open3d: 0.2.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#33508 release robot_controllers into humble
  humble/distribution.yaml
Labels: humble

#33504 simple_launch: 1.4.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#33497 mrpt2: 2.4.9-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#33443 performance_test-release: 1.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, changes requested, humble

#33529 rm_control: 0.1.11-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33528 rm_controllers: 0.1.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33527 diagnostics: 3.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33525 tf2_server: 1.1.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33522 pose_cov_ops: 0.3.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33519 clpe: 0.1.0-2 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33535 Revert "clpe: 0.1.0-2 in 'foxy/distribution.yaml' [bloom] (#33519)"
  foxy/distribution.yaml
Labels: foxy

#33540 mrpt_msgs: 0.4.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33552 rm_control: 0.1.13-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33507 Adding tensorflow_ros_cpp (doc + source) to noetic
  noetic/distribution.yaml
Labels: noetic

#33561 maliput_malidrive: 0.1.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33562 maliput: 1.0.4-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33563 maliput_drake: 0.1.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33566 Update maliput_drake release repository url.
  foxy/distribution.yaml
Labels: foxy

#33571 foxglove_msgs: 1.2.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33565 gazebo_ros_pkgs: 3.7.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33568 foxglove_msgs: 1.2.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33569 foxglove_msgs: 1.2.2-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33545 mrpt_msgs: 0.4.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33572 locator_ros_bridge: 2.1.6-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33573 locator_ros_bridge: 2.0.7-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33581 rcss3d_agent: 0.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33584 rqt_image_overlay: 0.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33559 rosbridge_suite: 0.11.14-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33553 openhrp3: 3.1.10-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33546 pose_cov_ops: 0.3.6-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33560 rosbridge_suite: 0.11.14-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#33547 pose_cov_ops: 0.3.6-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#33578 ros_image_to_qimage: 0.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33600 maliput_multilane: 0.1.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33601 maliput_py: 0.1.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33602 maliput_py: 0.1.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33603 maliput_dragway: 0.1.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33593 gscam: 2.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33604 husky: 0.6.4-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33619 graceful_controller: 0.4.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#33594 mrpt2: 2.4.9-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#33595 robot_calibration: 0.7.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#33618 graceful_controller: 0.4.3-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#33538 clpe_sdk: 0.1.0-2 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33542 mrpt_msgs: 0.4.4-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33548 pose_cov_ops: 0.3.6-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33590 gscam: 2.0.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33543 mrpt_msgs: 0.4.4-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33549 pose_cov_ops: 0.3.6-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33576 ros_image_to_qimage: 0.1.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33579 rcss3d_agent: 0.1.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33582 rqt_image_overlay: 0.0.6-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#33558 fastrtps: 2.6.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33564 gazebo_ros_pkgs: 3.7.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33570 foxglove_msgs: 1.2.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33574 soccer_interfaces: 0.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33592 gscam: 2.0.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33613 aws-robomaker-small-warehouse-world: 1.0.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33614 ros2_control: 2.10.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33615 ros2_controllers: 2.6.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33624 message_filters: 4.3.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#33612 aws-robomaker-small-warehouse-world: 1.0.5-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33616 ros2_control: 2.10.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33617 ros2_controllers: 2.6.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33623 message_filters: 4.4.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#33489 Add rosdep key for `libbsd-dev`
  rosdep/base.yaml
Labels: rosdep

#33641 maliput_object: 0.1.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33642 maliput_object_py: 0.1.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#33643 maliput_dragway: 0.1.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy
