Repository ros/rosdistro, pull requests merged in 2022-02, with the labels that each got.

#31998 sros2: 0.9.5-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31997 rosidl_python: 0.9.5-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31996 ros2cli: 0.9.11-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31994 rmw_implementation: 1.0.3-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31993 rclpy: 1.0.8-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31992 rclcpp: 2.4.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31991 launch_ros: 0.11.6-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31990 geometry2: 0.13.13-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31989 pluginlib: 2.5.4-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31988 rqt_graph: 1.1.3-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31987 rcl: 1.1.12-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31986 leo_simulator: 1.0.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31985 leo_simulator: update melodic devel branch
  melodic/distribution.yaml
Labels: melodic

#31984 leo_common: 2.1.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31981 plotjuggler_ros: 1.7.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31980 plotjuggler_ros: 1.7.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#31979 moveit: 1.1.8-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31977 srdfdom: 0.6.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31974 ros_industrial_cmake_boilerplate: 0.2.15-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31973 ros_industrial_cmake_boilerplate: 0.2.15-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#31972 rtabmap_ros: 0.20.18-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31969 rtabmap: 0.20.18-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31970 rtabmap: 0.20.18-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31971 rtabmap_ros: 0.20.18-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31967 rtabmap: 0.20.18-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31968 rtabmap_ros: 0.20.18-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31965 rtabmap: 0.20.18-3 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#31966 rtabmap_ros: 0.20.18-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#31964 rslidar_sdk: 1.3.0-3 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31962 plotjuggler: 3.4.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31961 plotjuggler: 3.4.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#31959 plotjuggler: 3.4.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32005 leo_simulator: 1.0.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32001 micro_ros_diagnostics: 0.3.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32000 micro_ros_diagnostics: 0.3.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#31983 ridgeback_simulator: 0.2.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, changes requested

#31982 warthog_simulator: 0.2.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, changes requested

#31929 Add python3-geographiclib to python.yaml
  rosdep/python.yaml
Labels: rosdep

#32014 eigenpy: 2.6.10-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32020 mavros: 2.1.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32021 mavros: 2.1.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32017 mavlink: 2022.2.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32018 mavlink: 2022.2.2-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32007 osrf_pycommon: 2.0.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#31978 Removing non-working packages jderobot_camviz and jderobot_carviz to avoid failure emails from ros buildfarm
  melodic/distribution.yaml
Labels: melodic

#31999 ros2_controllers: 2.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#32003 micro_ros_diagnostics: 0.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32008 tensorrt_cmake_module: 0.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32009 tensorrt_cmake_module: 0.0.2-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32026 simple_launch: 1.3.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32031 rmw_fastrtps: 1.3.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32033 rcss3d_agent: 0.0.6-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32034 velodyne: 2.1.1-2 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32027 simple_launch: 1.3.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32041 rosbag2: 0.3.9-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32042 rcl: 1.1.13-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32043 rmw_cyclonedds: 0.7.8-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32044 rviz: 8.2.6-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32024 Update EigenPy with fixed patch
  foxy/distribution.yaml
Labels: foxy

#32040 yaml_cpp_vendor: 8.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#31914 mia_hand_ros_pkgs: 1.0.0-14 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: question, noetic

#32002 Add python3-gi-cairo
  rosdep/python.yaml
Labels: rosdep

#32011 Add json-rpc-cxx library
  rosdep/base.yaml
Labels: rosdep

#32012 eigenpy: 2.6.10-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32013 eigenpy: 2.6.10-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32015 mavlink: 2022.2.2-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32016 mavlink: 2022.2.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32019 mavlink: 2022.2.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32022 mavros: 2.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32039 ros2_planning_system: 2.0.1-3 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32028 ur_client_library: 1.0.0-3 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32054 plotjuggler: 3.4.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32050 Update libgpgme-dev key.
  rosdep/base.yaml
Labels: rosdep

#32049 Update libpng-dev key.
  rosdep/base.yaml
Labels: rosdep

#32046 Update libjpeg key.
  rosdep/base.yaml
Labels: rosdep

#32060 dingo_simulator: 0.1.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32045 Add rti-connext-dds-6.0.1 which is now in the ROS bootstrap repositories
  rosdep/base.yaml
Labels: rosdep

#32068 ros_ign: 0.233.4-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32069 python_qt_binding: 1.0.6-2 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32070 tango_icons_vendor: 0.1.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32078 moveit: 2.3.4-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32088 ros2_socketcan: 1.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32065 Update release repository url for acado_vendor.
  rolling/distribution.yaml
Labels: rolling

#32081 Update teleop_tools release repository.
  rolling/distribution.yaml
Labels: rolling

#32075 Update mrpt2 release repository.
  rolling/distribution.yaml
Labels: rolling

#32077 Update roboception release repositories.
  rolling/distribution.yaml
Labels: rolling

#31932 Add python3-pyside2.qtquick to python.yaml
  rosdep/python.yaml
Labels: rosdep

#32004 Add python3-xdot
  rosdep/python.yaml
Labels: rosdep

#32053 plotjuggler: 3.4.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32100 rc_reason_clients: 0.3.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32102 rc_visard: 3.3.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32066 Update release repositories for apex_containers and apex_test_tools.
  rolling/distribution.yaml
Labels: rolling

#32067 Update release repository for async_web_server_cpp.
  rolling/distribution.yaml
Labels: rolling

#32071 Update autoware_auto_msgs release repository.
  rolling/distribution.yaml
Labels: rolling

#32072 Update release repository for grbl_msgs.
  rolling/distribution.yaml
Labels: rolling

#32076 Update octomap_msgs release repository.
  rolling/distribution.yaml
Labels: rolling

#32080 Update ros_canopen release repository.
  rolling/distribution.yaml
Labels: rolling

#32082 Update transport_drivers release repository.
  rolling/distribution.yaml
Labels: rolling

#32083 Update ublox release repository.
  rolling/distribution.yaml
Labels: rolling

#32073 Update iceoryx release repository.
  rolling/distribution.yaml
Labels: rolling

#32084 Update udp_msgs release repository.
  rolling/distribution.yaml
Labels: rolling

#32085 Update vision_msgs release repository.
  foxy/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, foxy

#32092 Update tvm_vendor release repository.
  foxy/distribution.yaml
  galactic/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, galactic, foxy

#32104 Update velodyne_simulator release repository.
  foxy/distribution.yaml
  galactic/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, galactic, foxy

#32063 lusb: 2.0.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32086 ros2_socketcan: 1.1.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32089 velodyne: 2.1.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32093 foonathan_memory_vendor: 1.2.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32096 rc_reason_clients: 0.3.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32106 perception_pcl: 1.7.4-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32111 euslisp: 9.29.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32036 Prepare Rolling for platform transition.
  rolling/distribution.yaml
Labels: rolling

#32127 ament_cmake: 1.2.1-3 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32037 nao_lola: 0.0.4-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32056 rqt_bag: 1.1.2-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32087 ros2_socketcan: 1.1.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32090 velodyne: 2.2.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32091 Add python3-wrapt to python.yaml
  rosdep/python.yaml
Labels: rosdep

#32097 rc_reason_clients: 0.3.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32117 quaternion_operation: 0.0.11-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32122 ntrip_client: 1.0.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32123 ntrip_client: 1.0.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32124 ntrip_client: 1.0.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32125 ntrip_client: 1.0.2-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32129 ros_workspace: 1.0.2-3 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32130 rmw_connextdds: 0.8.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32137 iceoryx: 1.0.2-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32145 xacro: 1.14.13-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32143 rviz: 1.14.14-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32148 fastrtps: 2.3.4-3 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32152 rmw_connextdds: 0.8.3-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32150 rmw_implementation: 2.7.1-3 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32153 mimick_vendor: 0.2.7-3 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32154 Revert "fastrtps: 2.3.4-3 in 'rolling/distribution.yaml' [bloom]"
  rolling/distribution.yaml
Labels: rolling

#32131 plotjuggler_ros: 1.7.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32132 plotjuggler_ros: 1.7.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32134 nmea_hardware_interface: 0.0.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32135 nmea_hardware_interface: 0.0.2-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32136 realsense_hardware_interface: 0.0.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32142 rviz: 1.13.24-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32144 xacro: 1.13.17-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32149 plotjuggler: 3.4.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32151 plotjuggler: 3.4.2-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32155 plotjuggler: 3.4.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32157 gscam: 2.0.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32158 gscam: 2.0.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32146 plotjuggler: 3.4.2-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32161 Change teleop_twist_joy branch to rolling.
  rolling/distribution.yaml
Labels: rolling

#32162 plotjuggler_ros: 1.7.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32010 Add python-modbus-pip to python.yaml
  rosdep/python.yaml
Labels: rosdep
