Repository ros/rosdistro, pull requests merged in 2022-03, with the labels that each got.

#32320 nerian_stereo: 3.9.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32321 nerian_stereo_ros2: 1.0.3-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32318 mrpt2: 2.4.3-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32316 mrpt2: 2.4.3-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32314 jskeus: 1.2.5-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32315 euslisp: 9.29.0-6 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32307 Add onnxruntime and onnxruntime-gpu pip targets
  rosdep/python.yaml
Labels: rosdep

#31624 Add pip Installation for fastapi and uvicorn
  rosdep/python.yaml
Labels: rosdep, changes requested

#32353 Add 'file' package to RHEL.
  rosdep/base.yaml
Labels: rosdep

#32323 urdf: 2.6.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32324 rmw: 6.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32325 tlsf: 0.7.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32326 rviz: 11.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32327 rpyutils: 0.2.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32328 rosidl_typesupport_fastrtps: 2.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32330 rosidl_python: 0.14.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32331 rosidl: 3.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32332 ros2cli: 0.18.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32334 rmw_dds_common: 1.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32336 realtime_support: 0.13.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32338 rclpy: 3.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32339 rcl_logging: 2.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32340 rclcpp: 15.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32341 rcl_interfaces: 1.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32342 rcutils: 5.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32343 rcl: 5.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32344 python_cmake_module: 0.10.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32345 geometry2: 0.22.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32346 message_filters: 4.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32347 rmw_connextdds: 0.9.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32348 launch: 0.21.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32349 launch_ros: 0.18.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32351 examples: 0.15.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32352 demos: 0.20.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32355 qt_gui_core: 2.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32357 resource_retriever: 3.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32358 laser_geometry: 2.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32359 uncrustify_vendor: 2.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32361 ament_lint: 0.12.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32306 fix: update libgmock-dev key for bullseye, jammy
  rosdep/base.yaml
Labels: rosdep

#32371 mavlink: 2022.3.3-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32317 mrpt2: 2.4.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#32319 nerian_stereo: 3.9.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#32372 mavlink: 2022.3.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32373 mavros: 2.1.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32374 mavlink: 2022.3.3-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32375 mavros: 2.1.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32376 mavlink: 2022.3.3-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32379 rospy_message_converter: 0.5.8-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32378 mrpt_msgs: 0.1.23-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32377 bno055: 0.3.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32365 rqt_image_overlay: 0.0.4-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32367 robot_localization: 3.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#32368 ur_client_library: 1.0.0-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#32383 cnpy: 0.0.8-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32382 rtabmap: 0.20.18-3 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32381 rtabmap: 0.20.18-4 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32386 urg_node: 0.1.17-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32385 urg_node: 0.1.17-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32387 mrpt_bridge: 1.0.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32389 leo_robot: 2.1.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32391 mvsim: 0.3.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32390 pose_cov_ops: 0.3.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32407 behaviortree_cpp: 3.6.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32393 novatel_oem7_driver: 4.0.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32396 mrpt_msgs: 0.2.0-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32397 mrpt_msgs: 0.2.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32399 moveit: 1.1.9-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32400 plotjuggler_msgs: 0.2.3-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32401 plotjuggler: 3.4.3-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32402 plotjuggler: 3.4.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32403 plotjuggler: 3.4.3-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32404 moveit: 1.0.10-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32405 behaviotree_cpp_v3: 3.6.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32406 behaviortree_cpp: 3.6.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32408 navigation_experimental: 0.3.5-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32409 navigation_experimental: 0.4.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32410 libhri: 0.4.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32411 libhri: 0.4.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32415 leo_robot: 2.1.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32414 leo_common: 1.0.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32416 moose: 0.1.2-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32419 Switch the google_benchmark_vendor branches for Foxy and Galactic.
  foxy/distribution.yaml
  galactic/distribution.yaml
Labels: galactic, foxy

#32423 fix mrpt branches failing in CI
  melodic/distribution.yaml
Labels: melodic

#32448 rqt_image_overlay: 0.0.5-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32436 apriltag: 3.2.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32429 rslidar_sdk: 1.3.2-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32420 jackal: 0.7.9-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32426 rslidar_sdk: 1.3.2-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32431 euslime: 1.1.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32435 apriltag: 3.2.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32438 apriltag_ros: 3.2.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32446 graceful_controller: 0.4.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32442 fath_pivot_mount_description: 0.1.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32452 Add OpenNI rules for RHEL
  rosdep/base.yaml
Labels: rosdep

#32384 add rosdep key for python3-schema
  rosdep/python.yaml
Labels: rosdep

#32370 Add RHEL rule for libfreenect-dev
  rosdep/base.yaml
Labels: rosdep

#32369 Add Fedora and RHEL rules for python3-rtree
  rosdep/python.yaml
Labels: rosdep

#32462 rqt_robot_monitor: 1.0.5-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32463 rqt_robot_monitor: 1.0.5-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32465 rclc: 1.1.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32464 rqt_robot_monitor: 1.0.5-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32449 rqt_image_overlay: 0.0.5-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#32437 apriltag: 3.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#32380 python-transitions is not available past bionic
  rosdep/python.yaml
Labels: rosdep

#32450 magic_enum: 0.7.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32457 cob_command_tools: 0.6.28-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32458 cob_driver: 0.7.12-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32461 rqt_robot_monitor: 0.5.14-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32444 Removed lockmount_description.
  noetic/distribution.yaml
Labels: noetic, held for sync

#32443 fath_pivot_mount_description: 0.1.1-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#32421 jackal: 0.8.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32424 ubiquity_motor: 0.14.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32427 rslidar_sdk: 1.3.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32434 apriltag: 3.2.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32439 apriltag_ros: 3.2.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32447 graceful_controller: 0.4.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32394 mrpt2: 2.4.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#32475 grepros: 0.4.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32474 plotjuggler_ros: 1.7.3-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32473 realsense2_camera: 4.0.3-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32460 rqt_robot_monitor: 0.5.14-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic, held for sync

#32478 slider_publisher: 2.1.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#32477 ign_ros2_control: 0.4.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32482 fastcdr: 1.0.24-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32483 fastrtps: 2.6.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32432 euslime: 1.1.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32445 flir_camera_driver: 0.2.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32451 magic_enum: 0.7.3-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32455 frame_editor: 1.1.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32456 frame_editor: 1.1.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32468 Add ensenso_driver package to noetic/distribution.yaml
  noetic/distribution.yaml
Labels: noetic

#32479 slider_publisher: 2.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32480 slider_publisher: 2.1.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32498 flir_camera_driver: 0.2.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32497 leo_robot: 2.2.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32494 steering_functions: 0.1.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32492 transport_drivers: 1.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32486 realsense2_camera: 4.0.4-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32491 transport_drivers: 1.1.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32488 vision_msgs: 3.0.2-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32484 rosee_msg: 1.0.2-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#32441 topic_tools: 1.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32440 topic_tools: 1.0.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#32501 ament_package: 0.14.0-3 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32500 ament_cmake: 1.3.0-3 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32502 ros_workspace: 1.0.2-4 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#32506 Update Pinocchio to 2.6.6 to include HPP-FCL support & build with Clang
  noetic/distribution.yaml
Labels: noetic

#32504 hpp-fcl: 1.8.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#32507 robotraconteur: 0.15.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic
