Repository ros/rosdistro, pull requests merged in 2022-12, with the labels that each got.

#35480 ur_client_library: 1.3.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#35414 rm_control: 0.1.16-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#35451 gps_umd: 0.3.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#35452 rqt_human_radar: 0.2.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#35456 webots_ros: 2023.0.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#35459 maliput_osm: 0.1.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35463 foxglove_msgs: 2.1.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#35473 rmw_gurumdds: 1.3.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35474 rmw_gurumdds: 4.1.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35475 rmw_gurumdds: 3.3.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35476 Adding new repository for indexing: laser_segmentation, sicks300_2, slg_msgs
  galactic/distribution.yaml
  humble/distribution.yaml
Labels: galactic, humble

#35477 leo_robot: 1.2.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35478 pmb2_simulation: 4.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35479 tiago_simulation: 4.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35481 ur_client_library: 1.3.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#35482 ur_client_library: 1.3.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35483 ur_client_library: 1.3.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35470 Added novatel_oem7_driver Humble branch to Humble distribution
  humble/distribution.yaml
Labels: humble

#35484 ur_client_library: 1.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35485 webots_ros2: 2023.0.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35486 webots_ros2: 2023.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35487 webots_ros2: 2023.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35400 dynamixel_hardware: 0.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35492 phidgets_drivers: 1.0.6-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35493 fastrtps: 2.6.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35495 foxglove_bridge: 0.2.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#35496 foxglove_bridge: 0.2.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35498 foxglove_bridge: 0.2.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#35499 foxglove_bridge: 0.2.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35512 Revert "foxglove_bridge: 0.2.0-1 in 'melodic/distribution.yaml' [bloom]"
  melodic/distribution.yaml
Labels: melodic

#35513 Revert "foxglove_bridge: 0.2.0-1 in 'noetic/distribution.yaml' [bloom]"
  noetic/distribution.yaml
Labels: noetic

#35515 Revert "foxglove_bridge: 0.2.0-1 in 'humble/distribution.yaml' [bloom]"
  humble/distribution.yaml
Labels: humble

#35514 Revert "foxglove_bridge: 0.2.0-1 in 'galactic/distribution.yaml' [bloom]"
  galactic/distribution.yaml
Labels: galactic

#35501 dataspeed_ulc_ros: 0.1.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#35502 dbw_fca_ros: 1.3.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#35503 dataspeed_ulc_ros: 0.1.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35504 dbw_mkz_ros: 1.6.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#35505 dbw_fca_ros: 1.3.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35506 dbw_polaris_ros: 1.1.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#35507 dbw_mkz_ros: 1.6.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35508 dbw_polaris_ros: 1.1.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35509 dbw_ros: 2.1.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35510 lusb: 2.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35520 foxglove_bridge: 0.2.0-3 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#35521 foxglove_bridge: 0.2.0-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35522 foxglove_bridge: 0.2.0-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35523 foxglove_bridge: 0.2.0-4 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35524 foxglove_bridge: 0.2.0-3 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#35528 rosbridge_suite: 0.11.16-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35525 dataspeed_can: 2.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35534 velodyne_simulator: 2.0.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35539 ros_environment: 3.1.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#35540 ament_cmake: 1.1.6-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#35541 launch: 0.17.2-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#35542 rosidl: 2.2.3-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#35537 marti_common: 3.5.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#35538 Galactic: Update upstream development ref for Fast-CDR
  galactic/distribution.yaml
Labels: galactic

#35532 velodyne_simulator: 2.0.3-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#35543 rcutils: 4.0.4-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#35544 rcpputils: 2.2.2-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#35545 rviz: 8.5.2-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#35546 rcl_logging: 2.1.5-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#35547 pluginlib: 5.0.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#35548 rcl: 3.1.4-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#35549 rosidl_python: 0.11.4-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#35550 rmw_cyclonedds: 0.22.6-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#35551 ros2cli: 0.13.5-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#35552 launch_ros: 0.14.4-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#35553 geometry2: 0.17.5-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#35557 image_pipeline: 3.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35529 velodyne_simulator: 1.0.13-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#35531 velodyne_simulator: 2.0.3-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35533 velodyne_simulator: 2.0.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35536 marti_common: 3.5.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35554 ros2_control: 2.18.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35565 ros2_controllers: 2.15.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35566 ros2_controllers: 2.15.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35558 foxglove_bridge: 0.2.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#35561 foxglove_bridge: 0.2.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35562 foxglove_bridge: 0.2.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35563 rcl: 5.6.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35535 dbw_ros: 2.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35560 foxglove_bridge: 0.2.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#35570 pybind11_vendor: 2.2.7-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35567 pybind11_vendor: 3.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35568 pybind11_vendor: 2.4.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35569 pybind11_vendor: 2.2.7-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#35573 rclpy: 1.9.3-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#35571 demos: 0.14.4-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#35574 pybind11_json_vendor: 0.2.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35581 eigenpy: 2.8.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35580 eigenpy: 2.8.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35578 eigenpy: 2.8.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35577 eigenpy: 2.8.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35576 eigenpy: 2.8.0-3 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#35497 simple_term_menu_vendor: 1.5.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35590 launch_ros: 0.14.5-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#35582 imu_tools: 2.1.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35583 imu_tools: 2.1.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35584 eigenpy: 2.8.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#35585 eigenpy: 2.8.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35586 eigenpy: 2.8.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35588 eigenpy: 2.8.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35587 eigenpy: 2.8.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35589 Add missing source stanza for ros2cli_common_extensions
  galactic/distribution.yaml
Labels: galactic

#35596 actionlib: 1.14.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35595 rename ros2 to rolling branch in image_transport_plugins
  rolling/distribution.yaml
Labels: rolling

#35598 simple_term_menu_vendor: 1.5.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35604 rtabmap: 0.20.22-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#35605 rtabmap: 0.20.22-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35607 rtabmap: 0.20.22-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35608 rtabmap: 0.20.22-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35610 rtabmap_ros: 0.20.22-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35611 rtabmap_ros: 0.20.22-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35612 rtabmap_ros: 0.20.22-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35616 find_object_2d: 0.7.0-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#35617 find_object_2d: 0.7.0-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35618 ur_robot_driver: 2.0.2-2 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35624 magic_enum: 0.8.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35622 hpp-fcl: 2.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35621 hpp-fcl: 2.2.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35620 hpp-fcl: 2.2.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35619 hpp-fcl: 2.2.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#35597 Add transforms3d for Jammy
  rosdep/python.yaml
Labels: rosdep

#35603 boost_plugin_loader: 0.2.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35630 foxglove_bridge: 0.2.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35627 aruco_opencv: 1.0.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35629 aruco_opencv: 4.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35631 foxglove_bridge: 0.2.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35632 foxglove_bridge: 0.2.2-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#35633 foxglove_bridge: 0.2.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35634 maliput_sparse: 0.2.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35635 maliput_dragway: 0.1.4-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35636 maliput_multilane: 0.1.4-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35638 turbojpeg_compressed_image_transport: 0.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35648 mapviz: 1.4.2-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#35649 mapviz: 1.4.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35650 rqt_human_radar: 0.2.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35646 maliput_integration: 0.1.4-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35643 turbojpeg_compressed_image_transport: 0.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35642 maliput_malidrive: 0.1.4-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35640 maliput_osm: 0.2.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35639 aruco_opencv: 4.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35626 find_object_2d: 0.7.0-3 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35665 lsc_ros2_driver: 1.0.0-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35660 pal_gripper: 3.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35659 pmb2_navigation: 4.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35658 tiago_navigation: 4.0.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35655 find_object_2d: 0.7.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35644 turbojpeg_compressed_image_transport: 0.1.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble
