Repository ros/rosdistro, pull requests merged in 2022-09, with the labels that each got.

#34281 abb_driver: 1.4.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34254 Add libnl-route-3 to libnl-3
  rosdep/base.yaml
Labels: rosdep, changes requested

#34296 iris_lama_ros: 1.3.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34295 iris_lama: 1.3.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34294 ros2_controllers: 2.12.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34292 ros2_controllers: 2.12.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34301 rplidar_ros: 2.0.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34300 rplidar_ros: 2.0.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34299 rplidar_ros: 2.0.3-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34298 iris_lama_ros: 1.3.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34290 panda_moveit_config: 0.8.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34291 Add postfix to base.yaml
  rosdep/base.yaml
Labels: rosdep

#34306 rclpy: 1.0.9-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34305 marti_common: 2.15.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34304 bond_core: 3.0.2-3 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34302 bond_core: 4.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34307 menge_vendor: 1.0.0-4 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34308 clpe_sdk: 0.1.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34309 clpe_ros: 0.1.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34312 iris_lama: 1.3.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34310 rm_control: 0.1.15-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34177 Add gz keys for Gazebo Citadel and Fortress
  rosdep/base.yaml
  rosdep/python.yaml
Labels: in progress, rosdep

#34315 v4l2_camera: 0.5.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34316 v4l2_camera: 0.6.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34317 v4l2_camera: 0.6.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34318 pal_statistics: 2.1.2-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34320 leo_common: 1.1.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34322 pal_statistics: 2.0.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34326 depthai: 2.17.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34325 depthai: 2.17.3-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34324 depthai: 2.17.3-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34323 depthai: 2.17.3-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34342 mocap_nokov: 0.0.3-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34336 pose_cov_ops: 0.3.8-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34329 mrpt2: 2.5.3-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34303 marti_common: 2.15.2-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic, held for sync

#34341 mocap_nokov: 0.0.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34335 pose_cov_ops: 0.3.8-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34328 mrpt2: 2.5.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34337 pose_cov_ops: 0.3.8-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34330 mrpt2: 2.5.3-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34314 Split off humble branch for vision_opencv
  foxy/distribution.yaml
  galactic/distribution.yaml
  humble/distribution.yaml
Labels: galactic, foxy, humble

#34340 pose_cov_ops: 0.3.8-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34339 pose_cov_ops: 0.3.8-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34338 pose_cov_ops: 0.3.8-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34334 mrpt2: 2.5.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34333 mrpt2: 2.5.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34331 mrpt2: 2.5.3-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34321 pal_statistics: 2.1.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34344 rplidar_ros: 2.1.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34346 rplidar_ros: 2.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34343 vision_opencv: 1.16.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34327 Add awscli from rhel
  rosdep/base.yaml
Labels: rosdep

#34372 naoqi_driver: 0.5.12-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34370 qb_device: 3.0.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34369 qb_device: 3.0.5-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34367 librealsense2: 2.51.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34366 sot-dynamic-pinocchio: 3.6.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34365 sot-tools: 2.3.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34364 sot-dynamic-pinocchio: 3.6.5-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34363 sot-tools: 2.3.5-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34362 sot-core: 4.11.8-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34361 sot-core: 4.11.8-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34360 aruco_opencv: 0.2.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34358 dynamic-graph-tutorial: 1.3.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34357 eiquadprog: 1.2.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34356 dynamic-graph-tutorial: 1.3.5-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34354 dynamic-graph-python: 4.0.9-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34353 dynamic-graph-python: 4.0.9-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34352 dynamic-graph: 4.4.3-2 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34351 dynamic-graph: 4.4.3-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34350 dynamic-graph: 4.4.3-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34349 pal_statistics: 2.1.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34374 pepper_meshes: 0.2.5-0 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34348 pr2_common: 1.13.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34347 pr2_common: 1.13.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34313 Add aravis-0.8 for ubuntu 22.04 "jammy"
  rosdep/base.yaml
Labels: rosdep

#34293 Add typeguard-pip to python.yaml
  rosdep/python.yaml
Labels: rosdep

#34368 naoqi_bridge_msgs: 0.0.9-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, changes requested

#34273 adding xsimd to rosdistro
  rosdep/base.yaml
Labels: rosdep

#34384 Update the geometry_tutorials release repository.
  foxy/distribution.yaml
  galactic/distribution.yaml
Labels: galactic, foxy

#34386 geometry_tutorials: 0.3.5-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34387 geometry_tutorials: 0.3.5-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34396 rcl: 5.3.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34393 eigenpy: 2.7.13-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34392 eigenpy: 2.7.13-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34391 eigenpy: 2.7.13-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34390 eigenpy: 2.7.13-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34378 locator_ros_bridge: 2.0.8-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34377 locator_ros_bridge: 1.0.7-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34381 franka_ros: 0.10.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34380 franka_ros: 0.10.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34399 naoqi_libqi: 2.9.7-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34403 iris_lama_ros: 1.3.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34402 mocap_nokov: 0.0.4-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34400 naoqi_libqi: 2.9.7-0 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34375 naoqi_libqi: 2.9.7-0 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34398 rosidl_core: 0.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#34397 rosidl: 3.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#34389 geometry_tutorials: 0.3.5-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34379 locator_ros_bridge: 2.1.7-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34405 system_fingerprint: 0.5.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34404 Removed ros_ign - it should be rename to ros_gz
  humble/distribution.yaml
Labels: humble

#34395 eigenpy: 2.7.13-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34388 geometry_tutorials: 0.3.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34345 rplidar_ros: 2.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#34407 unique_identifier_msgs: 2.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34408 rcl_interfaces: 1.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34406 rosidl_defaults: 1.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34243 Add python3 pyside2 key
  rosdep/python.yaml
Labels: rosdep

#34441 magic_enum: 0.8.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34440 rospy_message_converter: 0.5.9-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34439 rospy_message_converter: 0.5.9-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34438 magic_enum: 0.8.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34432 rtcm_msgs: 1.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34431 rtcm_msgs: 1.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34430 rtcm_msgs: 1.1.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34429 rtcm_msgs: 1.1.0-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34428 eigenpy: 2.7.14-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34427 eigenpy: 2.7.14-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#34426 eigenpy: 2.7.14-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34425 eigenpy: 2.7.14-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34423 eigenpy: 2.7.14-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34421 panda_moveit_config: 0.7.8-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#34420 panda_moveit_config: 0.8.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34419 librealsense2: 2.51.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34416 rm_controllers: 0.1.7-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34415 pepper_meshes: 2.0.0-0 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34414 pepper_meshes: 2.0.0-0 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34413 naoqi_libqi: 2.9.7-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34412 naoqi_libqi: 2.9.7-2 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34411 naoqi_libqicore: 2.9.7-0 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34410 naoqi_libqicore: 2.9.7-0 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34409 naoqi_libqicore: 2.9.7-0 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#34434 rospy_message_converter: 2.0.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34444 ros2cli: 0.9.12-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34446 rmw_cyclonedds: 0.7.10-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34449 launch: 0.10.9-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34447 rclpy: 1.0.10-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34453 pepper_meshes: 2.0.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34454 pepper_meshes: 2.0.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34445 rviz: 11.2.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34465 realsense2_camera: 4.51.1-1 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34464 realsense2_camera: 4.51.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34460 librealsense2: 2.51.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34457 grid_map: 2.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#34456 naoqi_bridge_msgs: 2.0.0-0 in 'galactic/distribution.yaml' [bloom]
  galactic/distribution.yaml
Labels: galactic

#34455 naoqi_bridge_msgs: 2.0.0-0 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#34452 Update rqt_action source branch for Galactic
  galactic/distribution.yaml
Labels: galactic

#34451 Update source branches for rqt_console
  foxy/distribution.yaml
  galactic/distribution.yaml
Labels: galactic, foxy
