Repository ros/rosdistro, pull requests merged in 2023-04, with the labels that each got.

#36617 mrpt_navigation: 1.0.4-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic, held for coordinated release

#36661 Revert "Revert "mrpt2: 2.7.0-1 in melodic""
  melodic/distribution.yaml
Labels: melodic

#36663 geometric_shapes: 0.6.5-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#36667 foxglove_bridge: 0.5.3-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#36668 foxglove_bridge: 0.5.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36673 pose_cov_ops: 0.3.9-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36674 pose_cov_ops: 0.3.9-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#36675 pose_cov_ops: 0.3.9-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#36677 pose_cov_ops: 0.3.9-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36676 pose_cov_ops: 0.3.9-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36678 camera_ros: 0.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36679 apriltag_ros: 3.1.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36680 control_msgs: 4.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36681 ros2_control: 3.12.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36682 ros2_controllers: 3.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36683 ros2_control: 2.25.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36684 libcamera: 0.0.4-4 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36686 usb_cam: 0.6.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36687 usb_cam: 0.6.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#36688 depthai: 2.21.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36693 fastrtps: 2.10.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36689 depthai: 2.21.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36710 Update the Fast-DDS branches in Rolling to 2.10.x.
  rolling/distribution.yaml
Labels: rolling

#36717 cyclonedds: 0.10.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36704 Add more dependencies of ceres-solver for Fedora/RHEL
  rosdep/base.yaml
Labels: rosdep

#36706 control_toolbox: 3.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36695 swri_console: 2.0.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36713 depthai: 2.21.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36702 gps_umd: 2.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36698 hpp-fcl: 2.3.0-4 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36715 skyway: 0.0.2-3 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#36716 skyway: 0.0.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36712 depthai: 2.21.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36697 swri_console: 1.1.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36696 swri_console: 2.0.4-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#36705 gps_umd: 1.0.8-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#36709 polygon_ros: 1.0.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#36711 depthai: 2.21.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#36707 [Foxy] Update control_toolbox branches
  foxy/distribution.yaml
Labels: foxy

#36718 depthai-ros: 2.7.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36720 cartographer: 2.0.9002-4 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36745 fuse: 1.0.1-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36743 polygon_ros: 1.0.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36744 polygon_ros: 1.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36741 rtabmap: 0.21.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36739 rtabmap: 0.21.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#36737 rtabmap: 0.21.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36736 rtabmap: 0.21.1-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36742 rtabmap_ros: 0.21.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36740 rtabmap_ros: 0.21.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#36735 cras_ros_utils: 2.2.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#36734 cras_ros_utils: 2.2.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36730 mrpt2: 2.8.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36731 mrpt2: 2.8.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36732 mrpt2: 2.8.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36733 mrpt2: 2.8.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#36729 genmypy: 0.3.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36727 pose_cov_ops: 0.3.10-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#36725 pose_cov_ops: 0.3.10-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36722 pose_cov_ops: 0.3.10-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#36721 pose_cov_ops: 0.3.10-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36723 mrpt_slam: 0.1.13-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#36728 Add libclang-dev rule for RHEL
  rosdep/base.yaml
Labels: rosdep

#36748 libcamera: 0.0.4-6 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36749 Fix libturbojpeg rules for Fedora and RHEL
  rosdep/base.yaml
Labels: rosdep

#36785 rosidl_dynamic_typesupport: 0.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#36786 osrf_testing_tools_cpp: 1.5.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#36783 rcl_interfaces: 1.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#36782 rosidl_runtime_py: 0.12.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#36781 rosidl_python: 0.18.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#36780 ros2cli: 0.24.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#36779 rcutils: 6.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#36777 launch_ros: 0.24.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#36776 launch: 2.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#36775 geometry2: 0.31.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#36773 pybind11_vendor: 3.0.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#36772 spdlog_vendor: 1.4.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#36770 examples: 0.18.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#36769 common_interfaces: 5.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#36768 robot_state_publisher: 3.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#36766 rqt_plot: 1.2.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#36765 rqt_bag: 1.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#36764 rqt: 1.3.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#36759 ament_cmake: 2.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#36758 googletest: 1.10.9005-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#36760 ignition_cmake2_vendor: 0.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#36756 ament_lint: 0.14.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#36757 ament_package: 0.15.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#36793 ament_cmake: 2.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36790 rosidl: 4.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#36792 rmw_dds_common: 2.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#36789 demos: 0.26.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#36787 sros2: 0.11.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#36788 ros_environment: 4.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#36791 rviz: 12.3.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#36794 rcl_logging: 2.5.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36795 actuator_msgs: 0.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36803 ament_cmake: 2.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36805 rosidl_dynamic_typesupport: 0.0.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36806 geometry2: 0.31.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36807 launch: 2.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36808 rqt_reconfigure: 1.3.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36821 rosidl_typesupport_fastrtps: 3.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36823 rmw: 7.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36824 rmw_cyclonedds: 1.6.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36825 rmw_connextdds: 0.14.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36826 rmw_fastrtps: 7.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36804 geometric_shapes: 0.7.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36818 robot_body_filter: 1.3.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36829 rcl: 6.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36830 ros2_tracing: 6.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36817 webots_ros2: 2023.0.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36827 generate_parameter_library: 0.3.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36833 ros2cli: 0.24.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36831 rmw_fastrtps: 7.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36832 rclpy: 4.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36841 rosbag2: 0.21.0-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36692 pal_navigation_cfg_public: 3.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: changes requested, humble

#36746 Added libomp-dev for osx
  rosdep/osx-homebrew.yaml
Labels: rosdep

#36847 cartographer_ros: 2.0.9001-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36834 urdfdom: 3.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36851 ros2_tracing: 6.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36852 rclcpp: 20.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36837 message_tf_frame_transformer: 1.0.0-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36755 Cleanup rosdep rules for long EOL Ubuntu and Debian distros
  CONTRIBUTING.md
  rosdep/base.yaml
  rosdep/python.yaml
  rosdep/ruby.yaml
Labels: rosdep

#36754 camera_ros: 0.1.0-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36809 geometric_shapes: 0.6.6-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#36812 pyhri: 0.4.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36864 Revert "pyhri: 0.4.0-1 in 'noetic/distribution.yaml' [bloom]"
  noetic/distribution.yaml
Labels: noetic

#36842 maliput_dragway: 0.1.5-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#36843 maliput_multilane: 0.1.5-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#36815 libhri: 0.6.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#36816 webots_ros2: 2023.0.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36819 robot_body_filter: 1.3.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#36838 message_tf_frame_transformer: 1.0.0-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36854 generate_parameter_library: 0.3.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36848 maliput_integration: 0.1.6-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#36845 maliput_osm: 0.2.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#36844 maliput_drake: 0.1.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#36858 pal_statistics: 2.1.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36859 pmb2_navigation: 4.0.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36860 ros2_control: 3.12.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36861 ros2_control: 2.25.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36862 ros2_controllers: 3.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36863 ros2_controllers: 2.17.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36453 stcamera_ros2: 1.0.1
  humble/distribution.yaml
Labels: changes requested, humble

#36853 rtabmap_ros: 0.21.1-3 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#36866 rtabmap_ros: 0.21.1-4 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36870 mikrotik_swos_tools: 1.1.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#36873 mrpt2: 2.8.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy
