Repository ros/rosdistro, pull requests merged in 2023-03, with the labels that each got.

#36354 tiago_simulation: 4.0.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36353 tiago_robot: 4.0.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36352 turtlebot4_setup: 1.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36355 rviz: 12.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36359 examples: 0.17.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36361 pluginlib: 5.2.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36340 xacro: 1.13.19-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic, held for sync

#36345 neonavigation: 0.12.2-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic, held for sync

#36371 gazebo_ros2_control: 0.4.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36365 behaviortree_cpp_v3: 3.8.3-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36364 behaviortree_cpp_v3: 3.8.3-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36373 ros2cli: 0.23.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36374 ros2_tracing: 5.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36360 demos: 0.25.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#36356 rclpy: 3.10.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#36357 rcl: 5.9.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#36358 rclcpp: 19.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#36267 libstatistics_collector: 1.3.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#36377 novatel_oem7_driver: 4.1.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#36376 novatel_oem7_driver: 4.1.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36370 openni2_camera: 2.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36369 openni2_camera: 2.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36351 schunk_svh_ros_driver: 2.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36381 tf2_2d: 1.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36387 Remove Debian Buster from Noetic distribution.yaml
  noetic/distribution.yaml
Labels: noetic

#36276 aruco_opencv: 0.3.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#36281 depthai: 2.20.2-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#36282 depthai-ros: 2.6.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#36284 moveit_task_constructor: 0.1.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#36322 graceful_controller: 0.4.7-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#36334 witmotion_ros-release: 1.2.27-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#36341 xacro: 1.14.15-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#36346 neonavigation: 0.12.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#36366 behaviortree_cpp_v3: 3.8.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#36372 phidgets_drivers: 1.0.7-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#36261 Update libpoco-dev rule for RHEL
  rosdep/base.yaml
Labels: rosdep

#36264 Add python3-protobuf rule for RHEL
  rosdep/python.yaml
Labels: rosdep

#36265 Add python3-venv rule for RHEL
  rosdep/python.yaml
Labels: rosdep

#36262 Add python3-construct rule for RHEL
  rosdep/python.yaml
Labels: rosdep

#36308 Added coinor lib's packages for nixos
  rosdep/base.yaml
Labels: rosdep

#36324 Add python3-ultralytics
  rosdep/python.yaml
Labels: rosdep

#36266 Add pyqt5-dev-tools rule for RHEL
  rosdep/python.yaml
Labels: rosdep

#36290 Adding python3-ntplib
  rosdep/python.yaml
Labels: rosdep

#36331 depthai-ros: 2.6.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#36379 openni2_camera: 2.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36380 openni2_camera: 2.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36382 phidgets_drivers: 2.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36383 phidgets_drivers: 2.3.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36384 tesseract: 0.15.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36386 tesseract: 0.15.0-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36385 ur_robot_driver: 2.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36389 mrpt2: 2.7.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36390 mrpt2: 2.7.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#36391 mrpt2: 2.7.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#36392 mrpt2: 2.7.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36394 mvsim: 0.6.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36396 mvsim: 0.6.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#36395 mvsim: 0.6.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#36397 mvsim: 0.6.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36398 mvsim: 0.6.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36399 feat: add source entries for tinyspline_vendor
  humble/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble

#36403 ament_lint: 0.9.8-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#36405 moveit_task_constructor: 0.1.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36404 interactive_marker_twist_server: 2.1.0-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36400 odom_to_tf_ros2: 1.0.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#36401 odom_to_tf_ros2: 1.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36402 odom_to_tf_ros2: 1.0.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36411 rmw_gurumdds: 4.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36409 smacc2: 2.1.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#36418 Change osrf_testing_tools_cpp branch to humble
  humble/distribution.yaml
Labels: humble

#36421 foxglove_bridge: 0.5.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36407 graceful_controller: 0.4.8-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#36420 foxglove_bridge: 0.5.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#36416 ros2_controllers: 2.17.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36415 rmw_gurumdds: 1.4.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#36414 rmw_gurumdds: 3.4.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36410 graceful_controller: 0.4.8-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36412 ros2_controllers: 0.9.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#36426 ros2_control: 2.24.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36432 foxglove_bridge: 0.5.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36431 foxglove_bridge: 0.5.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36430 foxglove_bridge: 0.5.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#36429 taskflow: 3.5.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36436 Revert "swri_console: 2.0.3-2 in 'humble/distribution.yaml' [bloom]"
  humble/distribution.yaml
Labels: humble

#36435 husky: 0.6.7-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36437 rc_genicam_api: 2.6.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36438 rc_genicam_api: 2.6.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#36440 rc_genicam_api: 2.6.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36439 rc_genicam_api: 2.6.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#36445 maliput: 1.1.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#36417 Segno has to be added as a pip package for focal and bionic
  rosdep/python.yaml
Labels: rosdep

#36447 maliput_viz: 0.1.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#36444 tiago_robot: 4.0.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#36449 Add libtins-dev rule for RHEL 9
  rosdep/base.yaml
Labels: rosdep

#36450 Add simde entry for RHEL
  rosdep/base.yaml
Labels: rosdep

#36451 Add matio entry for RHEL
  rosdep/base.yaml
Labels: rosdep

#36448 maliput_py: 0.1.5-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#36349 schunk_svh_ros_driver: 2.0.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#36454 rqt_image_view: 0.4.17-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#36458 mrpt2: Do not build develop branch in melodic anymore
  melodic/distribution.yaml
Labels: melodic

#36459 rc_genicam_driver: 0.7.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#36461 rcdiscover: 1.1.6-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#36473 novatel_oem7_driver: 4.2.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#36455 rqt_image_view: 0.4.17-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36460 rc_genicam_driver: 0.7.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36462 rcdiscover: 1.1.6-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36472 novatel_oem7_driver: 4.2.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36464 rcdiscover: 1.1.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36467 rc_genicam_driver: 0.3.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36470 tinyspline_vendor: 0.6.0-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36476 Noetic fixed witmotion_ros release entry
  noetic/distribution.yaml
Labels: noetic

#36475 tesseract: 0.15.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36478 Fixing fast-dds setup in foxy
  foxy/distribution.yaml
Labels: foxy

#36479 Reverting swri_console to stable v2.0.1-1
  foxy/distribution.yaml
Labels: foxy

#36481 tesseract: 0.15.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36477 Fixed redundant ubuntu os_versions for python3-numba
  rosdep/python.yaml
Labels: rosdep

#36469 Update python-bottle definition for ubuntu focal
  rosdep/python.yaml
Labels: rosdep

#36474 Add libvtk9-dev rule
  rosdep/base.yaml
Labels: rosdep

#36494 libstatistics_collector: 1.0.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: held for sync, foxy, held for coordinated release

#36491 geometry2: 0.13.14-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy, held for coordinated release

#36490 rclpy: 1.0.12-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy, held for coordinated release

#36489 rcutils: 1.1.5-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy, held for coordinated release

#36486 rosidl_python: 0.9.7-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy, held for coordinated release

#36482 rqt_action: 1.0.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy, held for coordinated release

#36488 rmw: 1.0.4-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy, held for coordinated release

#36487 ros2cli: 0.9.13-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy, held for coordinated release

#36485 rviz: 8.2.8-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy, held for coordinated release

#36484 orocos_kinematics_dynamics: 3.3.5-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy, held for coordinated release

#36483 rqt_msg: 1.1.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy, held for coordinated release

#36325 feat: add source entries for proxsuite
  humble/distribution.yaml
  rolling/distribution.yaml
Labels: held for sync, rolling, humble

#36413 ros2_controllers: 3.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#36419 Change osrf_testing_tools_cpp branch to 'rolling'
  rolling/distribution.yaml
Labels: held for sync, rolling

#36425 ros2_control: 3.9.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#36433 foxglove_bridge: 0.5.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#36434 irobot_create_msgs: 2.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#36441 rc_genicam_api: 2.6.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#36463 rcdiscover: 1.1.6-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: held for sync, foxy

#36465 rcdiscover: 1.1.6-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#36466 rc_genicam_driver: 0.3.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: held for sync, foxy

#36468 rc_genicam_driver: 0.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#36492 ur_robot_driver: 2.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#36502 hpp-fcl: 2.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36452 proxsuite: 0.3.5-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#36499 ros2_control: 3.10.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36505 pal_gripper: 3.0.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36506 pmb2_robot: 5.0.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36496 diagnostics: 3.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36500 hpp-fcl: 2.3.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36497 Use PySide/Shiboken for RHEL 9 instead of PyQt/sip
  rosdep/python.yaml
Labels: rosdep

#36504 rosbag2: 0.3.10-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy, held for coordinated release
