Repository ros/rosdistro, pull requests merged in 2023-01, with the labels that each got.

#35732 schunk_svh_ros_driver: 0.1.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35731 schunk_svh_ros_driver: 0.1.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#35730 mvsim: update the source and doc branch name
  foxy/distribution.yaml
  humble/distribution.yaml
  melodic/distribution.yaml
  noetic/distribution.yaml
  rolling/distribution.yaml
Labels: melodic, noetic, rolling, foxy, humble

#35688 Add python3-parse
  rosdep/python.yaml
Labels: rosdep

#35774 ign_ros2_control: 0.6.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35773 gazebo_ros2_control: 0.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35772 webots_ros2: 2023.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35761 [rolling] Update source branch for realtime_tools
  rolling/distribution.yaml
Labels: rolling

#35749 foxglove_bridge: 0.3.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35748 foxglove_bridge: 0.3.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35747 foxglove_bridge: 0.3.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#35746 cob_simulation: 0.7.7-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35745 care-o-bot: 0.7.10-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35744 cob_navigation: 0.6.14-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35743 cob_robots: 0.7.9-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35741 cob_control: 0.8.21-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35740 cob_command_tools: 0.6.31-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35739 mcl_3dl: 0.6.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35738 mcl_3dl: 0.6.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#35737 neonavigation: 0.11.8-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35736 neonavigation: 0.11.8-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#35733 Change doc and source branch of image_transport_plugins in melodic
  melodic/distribution.yaml
Labels: melodic

#35657 Add python3-transformers-pip
  rosdep/python.yaml
Labels: rosdep

#35751 maliput_sparse: 0.2.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35757 hri_msgs: 0.8.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#35756 libhri: 0.6.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#35755 libhri: 0.6.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35777 maliput_sparse: 0.2.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35778 flir_camera_driver: 0.2.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35775 ros2_control: 2.19.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35771 webots_ros2: 2023.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35770 webots_ros2: 2023.0.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35769 marti_messages: 1.4.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35768 marti_messages: 1.4.0-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35766 schunk_svh_ros_driver: 0.1.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35765 schunk_svh_ros_driver: 0.1.2-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#35764 rviz_visual_tools: 4.1.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35762 rviz_visual_tools: 3.9.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35742 cob_manipulation: 0.7.8-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35735 moveit_python: 0.4.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35807 rclpy: 3.3.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35802 demos: 0.20.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35811 yaml_cpp_vendor: 8.0.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35812 rviz: 11.2.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35808 rmw_implementation: 2.8.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35813 kdl_parser: 2.6.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35804 geometry2: 0.25.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35806 rclcpp: 16.0.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35801 console_bridge_vendor: 1.4.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35796 mvsim: 0.5.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35790 qb_device: 3.0.5-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#35791 qb_hand: 3.0.2-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#35792 qb_move: 3.0.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#35799 behaviortree_cpp: 3.8.2-1 in 'melodic/distribution.yaml' [manual]
  melodic/distribution.yaml
Labels: melodic

#35794 mvsim: 0.5.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35798 behaviortree_cpp: 3.8.2-1 in 'noetic/distribution.yaml' [manual]
  noetic/distribution.yaml
Labels: noetic

#35816 navigation: 1.17.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35817 ruckig: 0.9.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35797 mvsim: 0.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35787 ros2_control: 3.5.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35784 mrpt2: 2.5.8-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35767 Migrate release repos into ros2-gbp
  humble/distribution.yaml
  rolling/distribution.yaml
Labels: held for sync, rolling, humble

#35750 foxglove_bridge: 0.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: changes requested, rolling

#35591 pick_ik: 1.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#35763 rviz_visual_tools: 4.1.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35818 ruckig: 0.9.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35814 resource_retriever: 3.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35810 spdlog_vendor: 1.3.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35793 common_interfaces: 4.2.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35786 [humble] Update source branch for realtime_tools
  humble/distribution.yaml
Labels: humble

#35782 mrpt2: 2.5.8-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35780 [humble] update branch for ros2_control and ros2_controllers
  humble/distribution.yaml
Labels: humble

#35758 behaviortree_cpp: 3.8.2-1 in 'foxy/distribution.yaml' [manual]
  foxy/distribution.yaml
Labels: foxy

#35788 maliput_osm: 0.2.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35795 mvsim: 0.5.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35826 leo_robot: 1.3.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35824 nerian_stereo: 3.11.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35823 nerian_stereo_ros2: 1.2.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35831 ruckig: 0.9.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35830 ruckig: 0.9.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#35828 ruckig: 0.9.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35836 microstrain_inertial: 3.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35829 Remove rosbag2_storage_mcap
  humble/distribution.yaml
Labels: humble

#35835 microstrain_inertial: 3.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35834 microstrain_inertial: 3.0.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35820 fastrtps: 2.9.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#35833 microstrain_inertial: 3.0.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35832 microstrain_inertial: 3.0.0-2 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#35837 rosbag2: 0.15.4-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35842 ament_lint: 0.12.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35841 ros2_control: 2.20.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35848 mrpt2: 2.6.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35847 mrpt2: 2.6.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35846 mrpt2: 2.6.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35845 mrpt2: 2.6.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35849 rclpy: 3.3.7-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35850 Remove rosbag2_storage_mcap
  rolling/distribution.yaml
Labels: rolling

#35851 rosbag2: 0.19.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35839 ros2_control: 3.6.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35843 warthog: 0.1.6-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#35844 warthog: 0.1.6-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35853 bno055: 0.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35854 bno055: 0.4.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35862 plotjuggler_ros: 1.7.3-1 in 'rolling/distribution.yaml' [manual]
  rolling/distribution.yaml
Labels: rolling

#35860 plotjuggler_ros: 1.7.3-1 in 'humble/distribution.yaml' [manual]
  humble/distribution.yaml
Labels: humble

#35859 plotjuggler_ros: 1.7.3-1 in 'foxy/distribution.yaml' [manual]
  foxy/distribution.yaml
Labels: foxy

#35856 usb_cam: 0.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35857 usb_cam: 0.5.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35858 usb_cam: 0.5.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35865 bno055: 0.4.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35864 bno055: 0.4.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35868 husky: 0.6.6-3 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35870 ompl: 1.6.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35872 ruckig: 0.9.2-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35873 ruckig: 0.9.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35866 bno055: 0.4.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35874 ruckig: 0.9.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35875 ruckig: 0.9.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35877 fastrtps: 2.6.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35871 ompl: 1.6.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35863 mod: 1.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35760 add 'apriltag_msgs' and 'apriltag_ros' to 'humble' and 'rolling'
  humble/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble

#35838 Added package python-mistune
  rosdep/python.yaml
Labels: rosdep

#35785 Set test_pull_requests to true for image_transport_plugins in melodic
  melodic/distribution.yaml
Labels: melodic

#35708 Added openai python
  rosdep/python.yaml
Labels: rosdep

#35879 marti_common: 3.5.1-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35885 apriltag_msgs: 2.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35887 apriltag_ros: 3.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35888 ros2_controllers: 3.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35889 fastrtps: 2.9.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35894 mir_robot: 1.1.7-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35895 orocos_kdl_vendor: 0.2.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35925 simple_launch: 1.6.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35922 simple_launch: 1.6.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35915 rtabmap: 0.20.23-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35918 rtabmap_ros: 0.20.23-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35910 rtabmap: 0.20.23-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#35914 rtabmap_ros: 0.20.23-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#35911 rtabmap: 0.20.23-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35916 rtabmap_ros: 0.20.23-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35913 rtabmap_ros: 0.20.23-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35917 rtabmap: 0.20.23-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35912 rtabmap: 0.20.23-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35909 pinocchio: 2.6.14-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#35902 pinocchio: 2.6.14-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#35901 pinocchio: 2.6.14-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#35900 pinocchio: 2.6.14-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#35899 pinocchio: 2.6.14-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#35896 eigenpy: 2.9.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#35924 ur_robot_driver: 2.1.2-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic
