Repository ros/rosdistro, pull requests merged in 2023-12, with the labels that each got.

#38933 Add rosdep key for python3-pyinotify
  rosdep/python.yaml
Labels: rosdep

#39114 ros2_control: 4.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39120 ros2_controllers: 4.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39076 add flir_camera_driver repo to iron
  iron/distribution.yaml
Labels: iron

#39049 rosdep: nixos: Add pyqt5-dev-tools
  rosdep/python.yaml
Labels: rosdep

#39089 [base.yaml] add protobuf-compiler-grpc
  rosdep/base.yaml
Labels: rosdep

#39125 Adding ess_imu_driver2 to documentation index for humble
  humble/distribution.yaml
Labels: humble

#39122 mqtt_client: 2.2.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39121 mqtt_client: 2.2.0-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39118 sick_scan_xd: 3.1.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39010 rosdep: nixos: Add transforms3d packages
  rosdep/python.yaml
Labels: rosdep, changes requested

#39140 pinocchio: 2.6.21-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39137 hpp-fcl: 2.4.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39134 eigenpy: 3.1.4-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39119 ros2_controllers: 3.19.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#39050 Update distribution.yaml with multidim_rrt_planner
  iron/distribution.yaml
Labels: iron

#39001 add new packages ffmpeg_image_transport, ffmpeg_image_transport_msgs
  humble/distribution.yaml
  iron/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, iron

#39143 iceoryx: 2.0.5-3 in 'rolling/distribution.yaml'
  rolling/distribution.yaml
Labels: rolling

#39142 pinocchio: 2.6.21-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39139 hpp-fcl: 2.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39138 hpp-fcl: 2.4.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39136 eigenpy: 3.1.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39135 eigenpy: 3.1.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39133 eiquadprog: 1.2.8-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39132 pinocchio: 2.6.21-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39128 flir_camera_driver: 2.0.8-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39105 sick_safevisionary_ros2: 1.0.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39144 rsl: 1.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39145 etsi_its_messages: 1.0.0-2 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39146 jsk_planning: 0.1.14-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39148 usb_cam: 0.8.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39149 usb_cam: 0.8.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39150 mvsim: 0.8.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39152 mvsim: 0.8.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39154 iceoryx: 2.0.5-1 in 'iron/distribution.yaml'
  iron/distribution.yaml
Labels: iron

#39155 mvsim: 0.8.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39158 naoqi_driver: 2.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39159 naoqi_driver: 2.1.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39115 ess_imu_driver: 1.0.1-3 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39108 Add adi_tmcl to noetic index
  noetic/distribution.yaml
Labels: noetic

#39093 register sick_visionary_ros node
  noetic/distribution.yaml
Labels: noetic

#39073 Adding 'rosbag_rviz_panel' to the index
  noetic/distribution.yaml
Labels: noetic

#39112 Update distribution.yaml
  humble/distribution.yaml
Labels: humble

#38990 fields2cover: 1.2.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39160 rsl: 1.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39127 udp_msgs: 0.0.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, needs-package-name-review

#39165 phidgets_drivers: 1.0.8-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39161 ros2_controllers: 2.29.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39167 ur_robot_driver: 2.3.5-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39168 rsl: 1.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39169 rsl: 1.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39170 rsl: 1.0.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39173 phidgets_drivers: Use dedicated branches
  humble/distribution.yaml
  iron/distribution.yaml
Labels: humble, iron

#39172 Switch the RHEL-9 python3-qt5-bindings key to SIP.
  rosdep/python.yaml
Labels: rosdep

#39178 clearpath_simulator: 0.2.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39174 Remove the python-omniorb key.
  rosdep/osx-homebrew.yaml
  rosdep/python.yaml
Labels: rosdep

#39179 nao_lola: 1.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39184 clearpath_simulator: 0.2.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39185 foxglove_msgs: 2.3.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39177 Add python3-inflection
  rosdep/python.yaml
Labels: rosdep

#39183 rosbag_rviz_panel: 0.1.9-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39202 Revert "aerostack2: 1.0.5-1 in 'humble/distribution.yaml' [bloom]"
  humble/distribution.yaml
Labels: humble

#39201 ros2_control: 4.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39200 point_cloud_transport_plugins: 1.0.9-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39199 ros2_controllers: 4.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39198 point_cloud_transport_plugins: 2.0.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39197 point_cloud_transport_plugins: 3.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39196 point_cloud_transport: 1.0.15-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39195 point_cloud_transport: 2.0.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39194 point_cloud_transport: 3.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39193 ros2_controllers: 3.19.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39192 ros2_control: 2.36.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39190 control_toolbox: 3.2.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39189 Adding sick_scan_xd to documentation index for distro humble
  humble/distribution.yaml
Labels: humble

#39188 control_toolbox: 3.2.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39187 robot_localization: 2.7.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39182 robotont_driver to rosdistro
  humble/distribution.yaml
Labels: humble

#39180 add cuDNN
  rosdep/base.yaml
Labels: rosdep

#38926 Update distribution.yaml
  humble/distribution.yaml
  noetic/distribution.yaml
Labels: noetic, changes requested, humble

#39181 add Pangolin to humble and rolling
  humble/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble

#39204 aerostack2: 1.0.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39205 ur_description: 2.1.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39206 ur_description: 2.1.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39216 plotjuggler: 3.8.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39219 plotjuggler_ros: 2.0.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39217 plotjuggler_ros: 2.0.0-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39218 plotjuggler: 3.8.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39210 Add mp2p_icp for indexing
  rolling/distribution.yaml
Labels: rolling

#39221 change status to "unmaintained" for ess_imu_ros1_uart_driver (superceded by ess_imu_driver)
  noetic/distribution.yaml
Labels: noetic

#39235 foxglove_bridge: 0.7.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39229 mrpt2: 2.11.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39239 slider_publisher: 2.3.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39237 foxglove_msgs: 2.3.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39233 foxglove_bridge: 0.7.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39227 mrpt2: 2.11.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39225 mrpt2: 2.11.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39224 sick_visionary_ros: 1.1.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39222 Add caret repository
  humble/distribution.yaml
Labels: held for sync, humble

#39220 ros_gz: 0.244.12-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#39213 plotjuggler_ros: 2.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#39212 plotjuggler: 3.8.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#39203 rosdep: nixos: Add OpenCV cxxdev output
  rosdep/base.yaml
Labels: rosdep

#39214 plotjuggler: 3.8.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#39215 plotjuggler_ros: 2.0.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#39228 mrpt2: 2.11.4-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#39234 foxglove_bridge: 0.7.4-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#39238 foxglove_msgs: 2.3.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#39240 slider_publisher: 2.3.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39242 event_camera_codecs: 1.2.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39247 pick_ik: 1.1.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39266 ur_robot_driver: 2.1.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39264 tiago_moveit_config: 3.0.7-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39263 tiago_simulation: 4.0.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39262 pmb2_robot: 5.0.15-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39261 play_motion2: 0.0.13-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39260 tiago_robot: 4.0.27-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39259 pal_gazebo_worlds: 4.0.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39258 pmb2_navigation: 4.0.9-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39257 pmb2_simulation: 4.0.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39255 pal_gripper: 3.0.7-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39254 tiago_navigation: 4.0.9-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39253 universal_robots: 1.3.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39252 launch_pal: 0.0.14-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39251 pal_gazebo_plugins: 4.0.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39250 pal_navigation_cfg_public: 3.0.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39249 aruco_ros: 5.0.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39248 urdf_test: 2.0.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39244 event_camera_codecs: 1.0.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39243 grasping_msgs: 0.4.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39241 event_camera_codecs: 1.1.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39246 pick_ik: 1.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39245 pick_ik: 1.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39288 behaviortree_cpp_v4: 4.4.3-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39287 behaviortree_cpp_v4: 4.4.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39286 behaviortree_cpp_v4: 4.4.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39285 behaviortree_cpp_v4: 4.4.3-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39282 rmf_task: 2.1.7-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39280 rmf_task: 2.3.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39279 rmf_ros2: 2.1.8-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39278 rmf_ros2: 2.2.4-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39276 behaviortree_cpp_v3: 3.8.6-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39275 behaviortree_cpp_v3: 3.8.6-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39274 behaviortree_cpp_v3: 3.8.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39273 rmf_ros2: 2.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39272 rmf_internal_msgs: 3.0.4 in humble/distribution.yaml
  humble/distribution.yaml
Labels: humble

#39271 rmf_internal_msgs: 3.1.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39270 rmf_internal_msgs: 3.2.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39232 Add python3-cvxopt
  rosdep/python.yaml
Labels: rosdep

#39290 boeing_gazebo_model_attachment_plugin: 1.0.2-5 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39296 rmf_simulation: 2.2.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling
