Repository ros/rosdistro, pull requests merged in 2023-05, with the labels that each got.

#36906 foxglove_msgs: 2.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#36939 rig_reconfigure: 1.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36940 Fix tuw_geometry development branch
  rolling/distribution.yaml
Labels: rolling

#36965 vrpn_mocap: 1.0.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36972 openni2_camera: 2.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36978 rot_conv_lib: 1.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37009 geographic_info: 1.0.5-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37077 control_msgs: 5.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37081 nao_lola: 0.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37087 ros2_controllers: 3.6.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37090 ros2_control: 3.12.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37092 control_toolbox: 3.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37096 v4l2_camera: 0.7.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37010 geographic_info: 1.0.5-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#36975 rot_conv_lib: 1.0.12-2 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#37082 nao_lola: 0.2.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#36934 simple_grasping: 0.4.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36942 depthai-ros: 2.7.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36943 fkie_potree_rviz_plugin: 2.0.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37084 cob_command_tools: 0.6.32-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37085 cob_control: 0.8.22-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36931 smacc2: 2.1.21-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#36944 depthai-ros: 2.7.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#36963 gc_spl: 0.0.2-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#36966 vrpn_mocap: 1.0.4-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#37097 wireless: 1.0.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#37101 urdf_parser_py: 1.2.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37102 urdf_parser_py: 1.2.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#37114 Revert "tuw_geometry: 0.0.8-3 in 'humble/distribution.yaml' [bloom]"
  humble/distribution.yaml
Labels: humble

#37113 sick_tim: 0.0.18-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36935 novatel_oem7_driver: 20.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#37093 add rt-tests key
  rosdep/base.yaml
Labels: rosdep

#37007 add fluidsynth
  rosdep/base.yaml
Labels: rosdep

#37117 ros2_controllers: 2.19.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37115 v4l2_camera: 0.6.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#37112 pal_navigation_cfg_public: 3.0.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#37110 tiago_robot: 4.0.7-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#37109 pmb2_simulation: 4.0.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#37108 pmb2_navigation: 4.0.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#37106 pal_gazebo_worlds: 4.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#37105 pmb2_robot: 5.0.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#37104 libcamera: 0.0.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#37103 urdf_parser_py: 1.2.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#37091 control_toolbox: 3.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#37089 ros2_control: 2.25.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#37083 nao_lola: 0.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#37078 control_msgs: 4.4.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#36971 openni2_camera: 2.0.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#36938 rig_reconfigure: 1.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#37116 ros2_controllers: 3.7.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#36941 Adding the Carla install to python.yaml
  rosdep/python.yaml
Labels: rosdep

#37120 ridgeback: 0.3.3-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37122 jackal: 0.8.7-3 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37121 dingo: 0.3.1-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#36893 Updates to python-attrs after cleanup introduced an oddity.
  rosdep/python.yaml
Labels: rosdep

#37098 wireless: 1.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36964 vrpn_mocap: 1.0.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37119 [iron] Switch source version to iron for core repos
  iron/distribution.yaml
Labels: iron

#36947 aerostack2: 1.0.0-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37095 add stress-ng key
  rosdep/base.yaml
Labels: rosdep, changes requested

#37094 add sysbench key
  rosdep/base.yaml
Labels: rosdep, changes requested

#36970 Adding flatbuffers
  rosdep/python.yaml
Labels: rosdep, changes requested

#36912 add python3-influxdb to python.yaml
  rosdep/python.yaml
Labels: rosdep

#37124 marti_messages: 1.4.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36752 Added range-v3 to OSX
  rosdep/base.yaml
Labels: rosdep, changes requested

#36948 Add autoconf-archive to rosdep base.yaml
  rosdep/base.yaml
Labels: rosdep, changes requested

#37123 wireless: 1.0.1-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37127 ros_gz: 0.244.10-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37129 cras_msgs: 1.1.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37128 cras_msgs: 1.1.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#37130 teleop_tools: 0.5.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37133 foxglove_bridge: 0.6.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37132 foxglove_bridge: 0.6.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37131 foxglove_bridge: 0.6.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37144 mavros: 1.16.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37141 foxglove_bridge: 0.6.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37140 foxglove_bridge: 0.6.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37136 husky: 0.6.8-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37145 proxsuite: 0.3.6-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37154 image_transport_plugins: 3.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37153 image_transport_plugins: 3.1.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#37152 mavlink: 2023.5.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37151 mavlink: 2023.5.5-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#37146 foxglove_bridge: 0.6.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37148 mavlink: 2023.5.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37149 mavros: 2.5.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37137 proxsuite: 0.3.6-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37138 Add rodep key for libgrpc
  rosdep/base.yaml
Labels: rosdep

#37156 create_robot: 2.0.0-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#37157 create_robot: 2.0.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37155 cpr_onav_description: 0.1.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37118 Adding rose2 to documentation index for distro
  noetic/distribution.yaml
Labels: noetic

#37172 foonathan_memory_vendor: 1.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37185 rqt_bag: 1.4.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37207 turtlesim: 1.7.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37204 rmw_fastrtps: 7.2.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37206 rcl: 6.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37202 rviz: 12.5.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37201 libstatistics_collector: 1.6.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37199 ros2cli: 0.26.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37197 ros2_tracing: 6.4.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37208 ament_package: 0.16.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37191 geometry2: 0.32.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37193 rclcpp: 21.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37189 demos: 0.28.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37183 rqt_graph: 1.5.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37162 pybind11_vendor: 3.1.0-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37211 Make the turtlesim iron branch 'iron'
  iron/distribution.yaml
Labels: iron

#37210 rclcpp: 21.0.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#37200 ros2cli: 0.25.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#37198 ros2_tracing: 6.3.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#37196 rmw_connextdds: 0.14.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#37192 geometry2: 0.31.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#37190 demos: 0.27.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#37188 rqt_plot: 1.2.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#37186 rqt_bag: 1.3.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#37184 rqt_graph: 1.4.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#37174 Remove toposens from kinetic/melodic/noetic distributions
  melodic/distribution.yaml
  noetic/distribution.yaml
Labels: melodic, noetic

#37178 Release ros_gz for rolling
  rolling/distribution.yaml
Labels: rolling

#37177 lanelet2: 1.2.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37176 lanelet2: 1.2.1-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#37168 khi_robot: 1.4.0-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37163 pybind11_vendor: 3.0.3-3 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#37161 libcreate: 3.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37160 libcreate: 3.1.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#37219 grpc: 0.0.12-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37215 foxglove_bridge: 0.6.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37213 foxglove_bridge: 0.6.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37216 foxglove_bridge: 0.6.2-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#37214 foxglove_bridge: 0.6.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37220 ament_package: 0.16.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37225 moveit_msgs: 2.2.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#37224 moveit_msgs: 2.2.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37223 moveit_msgs: 2.2.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37222 depthai-ros: 2.7.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37221 depthai-ros: 2.7.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37240 magic_enum: 0.8.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#37237 ros2_controllers: 3.8.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37236 ros2_controllers: 2.20.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37235 create_robot: 3.0.0-1 in 'foxy/distribution.yaml' [bloom]
  foxy/distribution.yaml
Labels: foxy

#37233 srdfdom: 0.6.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37229 static_transform_mux: 1.1.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37228 static_transform_mux: 1.1.1-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic

#37239 cras_ros_utils: 2.2.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: more information needed, noetic

#37238 cras_ros_utils: 2.2.2-1 in 'melodic/distribution.yaml' [bloom]
  melodic/distribution.yaml
Labels: melodic, more information needed

#37241 tuw_geometry: 0.0.9-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#36747 Adding Python3 to OSX
  rosdep/osx-homebrew.yaml
  rosdep/python.yaml
Labels: rosdep, changes requested

#36714 Add debian bookworm packages
  rosdep/base.yaml
Labels: rosdep, changes requested

#36753 Adding libdw to osx
  rosdep/base.yaml
Labels: rosdep

#36840 Adding gpgme to OSX
  rosdep/base.yaml
Labels: rosdep
