Repository ros/rosdistro, pull requests merged in 2023-09, with the labels that each got.

#38393 nmea_navsat_driver: 2.0.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38392 nmea_navsat_driver: 2.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38391 nmea_navsat_driver: 2.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38389 clearpath_config: 0.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38388 behaviortree_cpp_v4: 4.3.6-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38387 behaviortree_cpp_v4: 4.3.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38385 behaviortree_cpp_v4: 4.3.6-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38380 usb_cam: 0.7.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38381 usb_cam: 0.7.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38382 usb_cam: 0.7.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38386 behaviortree_cpp_v4: 4.3.6-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38376 mvsim: 0.7.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38372 openzen_sensor: 1.3.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38371 neonavigation: 0.15.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38368 cras_relative_positional_controller: 2.0.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38367 gazebo_custom_sensor_preloader: 1.1.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38397 rig_reconfigure: 1.3.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38396 rig_reconfigure: 1.3.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38395 rig_reconfigure: 1.3.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38408 ros_controllers: 0.21.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38403 mola: 0.2.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38402 mola: 0.2.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38400 mvsim: 0.8.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38399 mvsim: 0.8.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38398 mvsim: 0.8.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38420 ur_client_library: 1.3.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38418 topic_based_ros2_control: 0.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38411 fastrtps: 2.11.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#38405 rcss3d_nao: 1.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#38404 mola: 0.2.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#38401 mvsim: 0.8.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#38410 nmea_msgs: 2.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#38429 depthai-ros: 2.8.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38425 gps_umd: 2.0.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38417 topic_based_ros2_control: 0.2.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38437 rosidl: 4.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38427 boost_plugin_loader: 0.2.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38432 depthai-ros: 2.8.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38428 reach: 1.5.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38438 rcpputils: 2.8.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38439 rmw_fastrtps: 7.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38440 rcutils: 6.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38441 rclpy: 5.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38442 rclcpp: 22.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38443 rcl_logging: 2.7.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38423 ur_client_library: 1.3.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38409 Update Rolling source branch for micro_ros_msgs
  rolling/distribution.yaml
Labels: held for sync, rolling

#38445 rcl: 7.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38446 launch_ros: 0.26.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38447 launch: 3.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38448 geometry2: 0.33.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38449 demos: 0.31.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38451 ros_tutorials: 1.7.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38452 rqt_reconfigure: 1.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38453 rqt_py_console: 1.2.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38455 ament_cmake: 2.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38459 rviz: 13.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38477 rosidl_dynamic_typesupport: 0.0.4-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38466 ament_lint: 0.14.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38472 ros2cli: 0.25.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38471 rclpy: 4.1.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38470 rclcpp: 21.0.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38469 rcl: 6.0.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38468 geometry2: 0.31.5-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38467 rqt_bag: 1.3.4-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38481 Revert "depthai-ros: 2.8.0-1 in 'humble/distribution.yaml' [bloom]"
  humble/distribution.yaml
Labels: humble

#38485 rclpy: 5.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38486 launch: 3.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38478 mola: 0.2.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38463 mvsim: 0.8.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38487 rclcpp: 23.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38394 rosdep: nixos: Add few missing rules
  rosdep/base.yaml
  rosdep/python.yaml
Labels: rosdep

#38407 rosdep: nixos: Update wxGTK to wxGTK32
  rosdep/base.yaml
Labels: rosdep

#38503 rmf_visualization: 2.1.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38502 rosbag2: 0.22.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38504 rmf_ros2: 2.2.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38422 Added source entry for: point_cloud_transport, point_cloud_transport_plugins and point_cloud_transport_tutorial
  rolling/distribution.yaml
Labels: rolling

#38491 mavlink: 2023.9.9-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38495 mavros: 2.6.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38496 moveit: 2.8.0-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38499 moveit_msgs: 2.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38505 ur_description: 2.2.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38513 marti_common: 3.6.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38514 marti_messages: 1.5.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38458 reach_ros: 1.1.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38460 mvsim: 0.8.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38464 rosdoc_lite: 0.2.11-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38465 reach: 1.5.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38482 cpr_onav_description: 0.1.7-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38483 rosbag_snapshot: 1.0.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38488 mavlink: 2023.9.9-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38492 mavros: 1.17.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38512 marti_common: 3.6.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#38508 ur_description: 2.1.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#38501 navigation2: 1.2.2-2 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#38498 moveit_msgs: 2.3.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#38497 moveit: 2.8.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#38494 mavros: 2.6.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#38490 mavlink: 2023.9.9-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#38479 mola: 0.2.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#38462 mvsim: 0.8.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#38435 depthai-ros: 2.8.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#38434 urdf_launch: 0.1.1-1 in humble/iron/rolling [manual]
  humble/distribution.yaml
  iron/distribution.yaml
  rolling/distribution.yaml
Labels: held for sync, rolling, humble, iron

#38426 gps_umd: 2.0.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#38421 ur_client_library: 1.3.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#38419 topic_based_ros2_control: 0.2.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#38511 marti_common: 3.6.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#38516 weight_scale_interfaces: 0.0.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38506 ros2_control: 2.31.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#38500 moveit: 2.5.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#38493 mavros: 2.6.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#38484 metro_nav: 0.2.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#38489 mavlink: 2023.9.9-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#38480 mola: 0.2.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#38461 mvsim: 0.8.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#38457 reach: 1.5.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#38475 crane_plus: 2.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#38431 network_interface: 2003.1.1-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#38416 aandd_ekew_driver_py: 0.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#38406 rosdep: Add libfyaml-dev
  rosdep/base.yaml
Labels: rosdep, changes requested

#38524 behaviortree_cpp_v4: 4.3.7-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38523 behaviortree_cpp_v4: 4.3.7-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38522 behaviortree_cpp_v4: 4.3.7-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38521 foxglove_bridge: 0.7.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38520 foxglove_bridge: 0.7.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38519 foxglove_bridge: 0.7.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38123 Add hebi_cpp_api to humble.yaml
  humble/distribution.yaml
Labels: more information needed, humble

#38525 classic_bags: 0.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38531 reach: 1.5.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38532 reach_ros: 1.3.1-3 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38533 depthai-ros: 2.8.1-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38535 depthai-ros: 2.8.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#38542 Add gurumdds-3.0
  rosdep/base.yaml
Labels: rosdep

#38541 ecal: 5.12.0-3 in 'humble/distribution.yaml'
  humble/distribution.yaml
Labels: humble

#38547 reach_ros: 1.3.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38544 weight_scale_interfaces: 0.0.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38539 nixos: Use generic python3Packages instead of specific python versions
  rosdep/python.yaml
Labels: rosdep

#38540 Update a number of flake8 keys.
  rosdep/python.yaml
Labels: rosdep

#38551 dbw_ros: 2.1.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38552 ecal: 5.12.0-3 in 'iron/distribution.yaml'
  iron/distribution.yaml
Labels: iron

#38553 ecal: 5.12.0-3 in 'rolling/distribution.yaml'
  rolling/distribution.yaml
Labels: rolling

#38555 depthai-ros: 2.8.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38557 clearpath_nav2_demos: 0.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38518 foxglove_bridge: 0.7.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#38548 dbw_fca_ros: 1.3.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#38549 dbw_mkz_ros: 1.6.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#38550 dbw_polaris_ros: 1.1.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#38558 mlx90640_thermal_camera: 1.0.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#38570 mqtt_client: 2.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38569 mqtt_client: 2.1.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron
