Repository ros/rosdistro, pull requests merged in 2023-10, with the labels that each got.

#38665 Set correct branches for Fast CDR and Fast DDS
  rolling/distribution.yaml
Labels: rolling

#38643 openhrp3: 3.1.10-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38644 rosbridge_suite: 0.11.17-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38646 rosbridge_suite: 1.3.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38647 rosbridge_suite: 1.3.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38648 rosbridge_suite: 1.3.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#38649 aws_sdk_cpp_vendor: 0.2.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38650 aws_sdk_cpp_vendor: 0.2.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38651 aws_sdk_cpp_vendor: 0.2.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38653 navigation2: 1.2.4-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38655 urdf_tutorial: 1.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38656 rosmon: 2.5.1-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38657 cpr_onav_description: 0.1.9-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38659 rqt_moveit: 0.5.11-1 in 'noetic/distribution.yaml'
  noetic/distribution.yaml
Labels: noetic

#38660 rqt_robot_monitor: 0.5.15-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38661 rqt_runtime_monitor: 0.5.10-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38662 rqt_console: 0.4.12-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38663 rqt_logger_level: 0.4.12-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38664 rqt_tf_tree: 0.6.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38666 play_motion2: 0.0.10-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38667 simple_launch: 1.7.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38668 simple_launch: 1.7.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38669 simple_launch: 1.7.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38671 clearpath_config: 0.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38672 fadecandy_ros: 1.0.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38673 clearpath_common: 0.1.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38670 metrics_msgs: 0.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38677 urdf_tutorial: 1.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38678 urdf_tutorial: 1.1.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38674 rtsprofile: 2.0.0-3 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38676 aruco_ros: 5.0.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38642 rosdep: nixos: Use tbb_2021_8
  rosdep/base.yaml
Labels: rosdep

#38654 Added libhpptools-dev
  rosdep/base.yaml
Labels: rosdep

#38680 Add urdf_sim_tutorial source repo to humble
  humble/distribution.yaml
Labels: humble

#38681 ros2_control: 3.19.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38682 ros2_control: 3.19.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38683 ros2_controllers: 2.26.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38684 ros2_control: 2.32.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38685 flir_camera_driver: 2.0.7-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38686 ros2_control: 3.19.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38687 rviz: 13.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38689 rosidl_typesupport_fastrtps: 3.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38692 ros2cli: 0.29.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38694 rmw_fastrtps: 7.6.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38675 rtctree: 3.0.1-3 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38695 rmw_cyclonedds: 1.10.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38696 rmw_connextdds: 0.18.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38697 rcutils: 6.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38700 rcl_interfaces: 2.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38701 rcl: 7.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38702 launch: 3.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38703 geometry2: 0.33.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38704 ros_tutorials: 1.7.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38705 rqt_reconfigure: 1.6.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38706 interactive_markers: 2.5.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38707 ament_lint: 0.16.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38709 reach_ros: 1.4.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38710 clearpath_simulator: 0.1.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38708 ros2_control: 3.19.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38722 mrpt2: 2.10.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38717 point_cloud_transport_plugins: 2.0.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38723 mrpt2: 2.10.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38720 clearpath_desktop: 0.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38719 point_cloud_transport_plugins: 1.0.8-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38718 point_cloud_transport: 1.0.14-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38715 point_cloud_transport: 3.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38714 point_cloud_transport_plugins: 3.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38711 navigation2: 1.1.12-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38712 navigation2: 1.2.5-2 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38724 mrpt2: 2.10.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38716 point_cloud_transport: 2.0.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38713 urdf_sim_tutorial: 1.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38725 mrpt2: 2.10.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38726 cras_ros_utils: 2.3.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38735 behaviortree_cpp_v4: 4.3.8-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38734 behaviortree_cpp_v4: 4.3.8-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38733 behaviortree_cpp_v4: 4.3.8-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38731 mvsim: 0.8.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38730 mvsim: 0.8.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38729 mvsim: 0.8.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38728 mvsim: 0.8.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38727 cras_ros_utils: 2.3.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38738 rcl: 7.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38740 rclcpp: 23.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38741 rviz: 13.1.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38744 rqt_reconfigure: 1.6.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38746 rclpy: 5.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38743 rmw_dds_common: 2.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38736 ament_black: 0.2.0-1 in 'iron/distribution.yaml'
  iron/distribution.yaml
Labels: iron

#38745 urdf_sim_tutorial: 1.0.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38749 joystick_drivers: 3.2.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38752 ament_black: 0.2.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38751 ros2_control: 2.33.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38750 joystick_drivers: 3.2.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#38739 andino: 0.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#38758 ublox_dgnss: 0.5.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38747 Adding vizanti to documentation index for humble
  humble/distribution.yaml
Labels: humble

#38755 Split off iron branch for vision_opencv
  iron/distribution.yaml
Labels: iron

#38754 Add uvloop to python rosdep index
  rosdep/python.yaml
Labels: rosdep

#38761 ament_black: 0.2.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38760 ament_black: 0.2.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38763 geometry2: 0.7.7-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38764 clearpath_desktop: 0.1.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38759 ublox_dgnss: 0.5.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38748 joystick_drivers: 3.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38765 Add leo_simulator repository
  humble/distribution.yaml
Labels: humble

#38770 behaviortree_cpp_v4: 4.4.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38768 behaviortree_cpp_v4: 4.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38737 point_cloud_transport_tutorial: 0.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38773 depthai-ros: 2.8.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38772 depthai-ros: 2.8.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38779 hri_rviz: 0.4.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38777 libstatistics_collector: 1.6.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38776 sick_safevisionary_ros1: 1.0.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38766 Update distribution.yaml
  noetic/distribution.yaml
Labels: noetic, changes requested

#38780 interactive_marker_twist_server: 2.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38771 Adding sick_scan_xd to documentation index for distro noetic
  noetic/distribution.yaml
Labels: noetic

#38774 depthai-ros: 2.8.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38781 interactive_marker_twist_server: 2.1.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38793 clearpath_msgs: 0.9.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38792 catch_ros2: 0.2.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38791 catch_ros2: 0.2.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38790 catch_ros2: 0.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38789 hri_msgs: 0.9.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38788 locator_ros_bridge: 1.0.10-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38787 paho-mqtt-c: 1.3.13-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38778 Remove apex containers from rolling
  rolling/distribution.yaml
Labels: more information needed, rolling

#38784 mrpt2: 2.11.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38783 mrpt2: 2.11.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38782 mrpt2: 2.11.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38785 mrpt2: 2.11.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38775 sick_safevisionary_base: 1.0.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38786 gnsstk: 14.0.0-7 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38795 gnsstk: 14.0.0-8 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38796 Remove apex_containers from Iron
  iron/distribution.yaml
Labels: iron

#38794 Add gazebo_video_monitors in humble and iron
  humble/distribution.yaml
  iron/distribution.yaml
  noetic/distribution.yaml
Labels: noetic, humble, iron

#38799 mrpt2: 2.11.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38800 mrpt2: 2.11.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38798 mrpt2: 2.11.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38797 mrpt2: 2.11.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38803 Revert "openzen_sensor: 1.3.2-1 in 'noetic/distribution.yaml' [bloom]"
  noetic/distribution.yaml
Labels: noetic

#38815 rosbag2: 0.22.4-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38802 clearpath_onav_examples: 0.0.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38804 cras_ros_utils: 2.3.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38805 mrpt2: 2.11.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38806 openni2_camera: 1.6.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38808 foxglove_bridge: 0.7.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38820 ros_control: 0.20.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38822 leo_common: 2.3.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38809 mrpt2: 2.11.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron
