Repository ros/rosdistro, pull requests merged in 2023-07, with the labels that each got.

#37866 libhri: 0.6.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37867 pyhri: 0.4.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37864 fkie_potree_rviz_plugin: 2.0.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37854 electronic-io: 1.0.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37849 mrpt2: 2.9.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37848 tesseract: 0.18.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37847 naoqi_driver: 0.6.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37861 behaviortree_cpp_v4: 4.3.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37855 twist_mux_msgs: 3.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37852 mrpt2: 2.9.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37865 tiago_robot: 4.0.12-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37862 behaviortree_cpp_v4: 4.3.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37859 clearpath_common: 0.0.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37850 mrpt2: 2.9.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37863 behaviortree_cpp_v4: 4.3.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#37853 realsense2_camera: 4.54.1-2 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#37851 mrpt2: 2.9.4-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#37868 hri_rviz: 0.4.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37823 submit flexbe for ROS 2 naming review prior to creating release repos
  humble/distribution.yaml
  noetic/distribution.yaml
Labels: noetic, humble

#37872 play_motion2: 0.0.9-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37869 clearpath_common: 0.0.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37870 clearpath_desktop: 0.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37860 add python3-pynmeagps-pip
  rosdep/python.yaml
Labels: rosdep

#37857 add ros2_robotiq_gripper src entries for naming review
  humble/distribution.yaml
  iron/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, iron

#37856 Add ros_kortex src to Noetic
  noetic/distribution.yaml
Labels: noetic

#37824 Add liblttng-ctl-dev
  rosdep/base.yaml
Labels: rosdep

#37651 Add zsh to rosdep/base.yaml
  rosdep/base.yaml
Labels: rosdep

#37726 Add helyos_agent_sdk to rosdep database
  rosdep/python.yaml
Labels: rosdep

#37874 clearpath_simulator: 0.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37879 twist_mux_msgs: 3.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37878 twist_mux_msgs: 3.0.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#37877 foxglove_bridge: 0.6.4-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#37876 foxglove_bridge: 0.6.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37880 fastrtps: 2.11.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37888 clearpath_common: 0.0.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37886 fastrtps: update doc branch in 'rolling/distribution.yaml'
  rolling/distribution.yaml
Labels: rolling

#37884 neonavigation: 0.14.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37882 clearpath_desktop: 0.0.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37881 clearpath_config: 0.0.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37883 septentrio_gnss_driver: 1.3.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37900 rosmon: 2.5.0-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37889 mrpt2: 2.10.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37898 launch_pal: 0.0.8-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37896 ros2_control: 2.29.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37894 ros2_control: 3.16.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37892 mrpt2: 2.10.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37902 rosbag_fancy: 1.0.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37893 Add ros2_kortex src to Humble
  humble/distribution.yaml
Labels: humble

#37899 Add ros2_kortex src to Rolling
  rolling/distribution.yaml
Labels: rolling

#37910 tiago_robot: 4.0.13-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37911 pmb2_robot: 5.0.7-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37906 webots_ros2: 2023.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37904 rosbag_fancy: 1.0.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37916 spdlog_vendor: 1.5.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37917 rosidl_dynamic_typesupport: 0.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37918 pybind11_vendor: 3.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37919 orocos_kdl_vendor: 0.4.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37920 mimick_vendor: 0.4.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37921 yaml_cpp_vendor: 8.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37922 libyaml_vendor: 1.6.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37923 console_bridge_vendor: 1.7.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37924 uncrustify_vendor: 2.2.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37925 resource_retriever: 3.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37926 ament_lint: 0.15.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37928 osrf_pycommon: 2.1.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37929 launch: 2.2.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37930 rosidl: 4.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37932 rmw_connextdds: 0.16.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37933 rcl: 7.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37934 rclpy: 5.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37935 rclcpp: 22.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37936 launch_ros: 0.26.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37937 geometry2: 0.32.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37940 ros2cli: 0.28.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37938 message_filters: 4.9.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37939 interactive_markers: 2.5.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37941 rviz: 12.7.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37942 examples: 0.19.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37943 demos: 0.30.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#37635 Add REACH to rosdistro
  humble/distribution.yaml
  noetic/distribution.yaml
  rolling/distribution.yaml
Labels: noetic, rolling, humble

#37948 foxglove_bridge: 0.7.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37947 foxglove_bridge: 0.7.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37946 clearpath_common: 0.0.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37944 cras_ros_utils: 2.3.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37913 picknik_controllers: 0.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37908 Add python3-insightface-pip
  rosdep/python.yaml
Labels: rosdep

#37969 rviz: 12.4.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#37968 rosidl_typesupport_fastrtps: 3.0.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#37966 rosidl_typesupport: 3.0.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#37965 rosidl: 4.0.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#37961 ros2cli: 0.25.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#37960 rclpy: 4.1.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#37959 rclcpp: 21.0.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#37957 geometry2: 0.31.4-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#37956 rqt_bag: 1.3.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#37958 launch: 2.0.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#37954 clearpath_simulator: 0.0.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37955 clearpath_common: 0.0.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37964 ur_client_library: 1.3.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37962 ur_client_library: 1.3.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37963 grepros: 1.0.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37953 cras_ros_utils: 2.3.0-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37972 rosbag2: 0.22.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#37974 cras_ros_utils: 2.3.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37975 robot_body_filter: 1.3.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37976 robot_upstart: 1.0.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37977 smach: 3.0.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#37978 smach: 3.0.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37980 picknik_controllers: 0.0.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37984 popf: 0.0.15-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#37983 cascade_lifecycle: 1.0.4-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#37981 picknik_controllers: 0.0.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#37967 ur_client_library: 1.3.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#37949 foxglove_bridge: 0.7.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#37909 webots_ros2: 2023.1.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#37897 Add ros2_kortex src to Iron
  iron/distribution.yaml
Labels: held for sync, iron

#37895 ros2_control: 3.16.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#37891 mrpt2: 2.10.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#37995 Revert "webots_ros2: 2023.1.1-1 in 'humble/distribution.yaml' [bloom]"
  humble/distribution.yaml
Labels: humble

#38009 webots_ros2: 2023.1.1-2 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#37985 libcamera: 0.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38023 ros2_controllers: 3.12.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38022 ros2_controllers: 3.12.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38021 rosidl: 3.1.5-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38020 rviz: 11.2.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38018 rosidl_typesupport_fastrtps: 2.2.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38017 rosidl_typesupport: 2.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38016 ros2cli: 0.18.6-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38015 rmw_fastrtps: 6.2.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38014 rcl: 5.3.4-3 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38013 rclpy: 3.3.9-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38012 rclcpp: 16.0.5-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38011 geometry2: 0.25.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38005 septentrio_gnss_driver: 1.3.1-3 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38003 septentrio_gnss_driver: 1.3.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38000 ament_lint: 0.12.7-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37999 launch_ros: 0.19.5-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37997 ros2_robotiq_gripper: 0.0.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#37996 ros2_robotiq_gripper: 0.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37993 dingo_simulator: 0.1.2-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37992 clearpath_config: 0.0.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37991 ros2_planning_system: 2.0.10-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#37990 clearpath_nav2_demos: 0.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#37987 ros_industrial_cmake_boilerplate: 0.4.8-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#37994 Revert "Add ros_kortex src to Noetic (#37856)"
  noetic/distribution.yaml
Labels: noetic

#38001 Add python3-pip to alpine
  rosdep/python.yaml
Labels: rosdep

#37970 ur_client_library: 1.3.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#38035 depthimage_to_laserscan: 2.5.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38010 webots_ros2: 2023.1.1-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#37979 smach: 3.0.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling
