Repository ros/rosdistro, pull requests merged in 2023-08, with the labels that each got.

#38096 clearpath_config: 0.0.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38097 clearpath_common: 0.0.9-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38100 generate_parameter_library: 0.3.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38105 laser_filters: 2.0.7-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38094 event_camera_msgs: 1.1.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38101 generate_parameter_library: 0.3.6-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38106 laser_filters: 2.0.7-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38102 generate_parameter_library: 0.3.6-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38099 neonavigation: 0.14.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38095 moveit: 1.1.13-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38109 flir_camera_driver: 2.0.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38112 mrpt_slam: 0.1.15-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38113 add flexbe_behavior_engine to iron and rolling distribution.yaml prior to bloom
  iron/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, iron

#38111 metavision_driver: 1.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38110 flexbe_behavior_engine: 2.3.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38108 crane_plus: 2.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38098 sick_safetyscanners2_interfaces: 1.0.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38121 ros2_planning_system: 2.0.11-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38117 split off iron branch in nao_lola
  iron/distribution.yaml
Labels: iron

#38116 split off iron branch in nao_interfaces
  humble/distribution.yaml
  iron/distribution.yaml
Labels: humble, iron

#38141 event_camera_msgs: 1.1.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38140 event_camera_msgs: 1.1.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38135 metavision_driver: 1.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38134 metavision_driver: 1.0.1-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38131 sick_safetyscanners_base: 1.0.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38130 nao_lola: 1.1.0-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38129 rcss3d_nao: 1.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38128 nao_button_sim: 1.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38127 Split off iron branch in nao_button_sim and rcss3d_nao
  humble/distribution.yaml
  iron/distribution.yaml
Labels: humble, iron

#38147 sick_safetyscanners2: 1.0.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38146 raspimouse_ros2_examples: 2.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38151 metavision_driver: 1.0.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38150 metavision_driver: 1.0.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38136 rosdep: nixos: Add qt5-svg library package
  rosdep/base.yaml
Labels: rosdep, more information needed

#38133 add python3-mccabe entry
  rosdep/python.yaml
Labels: rosdep

#38119 add python3-sqlmodel-pip to rosdep/python.yaml
  rosdep/python.yaml
Labels: rosdep

#38159 joint_state_publisher: 2.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38160 joint_state_publisher: 2.4.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38158 navigation2: 1.2.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38157 ros2_controllers: 3.13.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38155 slam_toolbox: 2.7.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38161 joint_state_publisher: 2.4.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38156 ros2_controllers: 3.13.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38154 slam_toolbox: 2.6.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38142 Add in a set of pyside2 rosdep keys.
  rosdep/python.yaml
Labels: rosdep

#38163 rtabmap: 0.21.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38162 navigation2: 1.1.9-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38164 rtabmap_ros: 0.21.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38170 fastrtps: 2.6.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38169 raspimouse_slam_navigation_ros2: 2.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38165 feat: add source entry for aws_sdk_cpp_vendor
  humble/distribution.yaml
  iron/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, iron

#38177 metavision_driver: 1.1.6-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38174 ros2_controllers: 2.24.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38173 ros2_control: 3.17.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38172 ros2_control: 3.17.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38171 Unrelease qb_softhand_industry qb_softhand_industry_control qb_softhand_industry_hardware_interface
  noetic/distribution.yaml
Labels: noetic

#38178 rosdep: nixos: Add xtensor and libopencv-imgproc-dev library package
  rosdep/base.yaml
Labels: rosdep

#38088 Add catch2 to rosdep rules
  rosdep/base.yaml
  rosdep/osx-homebrew.yaml
Labels: rosdep

#38181 metavision_driver: 1.1.7-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38183 rosdep: nixos: Use correct package for python-bson
  rosdep/python.yaml
Labels: rosdep

#38184 fix: nixos: add xsimd package
  rosdep/base.yaml
Labels: rosdep

#38192 rmf_ros2: 2.1.7-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38196 rmf_traffic_editor: 1.6.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38204 depthai-ros: 2.7.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38205 depthai-ros: 2.7.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38185 Add python3-waitress
  rosdep/python.yaml
Labels: rosdep

#38207 flexbe_behavior_engine: 2.3.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38209 flir_camera_driver: 2.0.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38208 flexbe_behavior_engine: 2.3.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#38189 ros2_kortex: 0.2.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#38193 rmf_ros2: 2.2.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38195 rmf_task: 2.2.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38197 rmf_traffic_editor: 1.7.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38212 depthai-ros: 2.7.5-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38214 aws_sdk_cpp_vendor: 0.1.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38215 aws_sdk_cpp_vendor: 0.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38210 cpr_onav_description: 0.1.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38216 witmotion_ros: 1.3.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38218 rig_reconfigure: 1.2.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38203 Add tshark base dependency
  rosdep/base.yaml
Labels: rosdep

#38219 rig_reconfigure: 1.2.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38221 flir_camera_driver: 2.0.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38231 aws_sdk_cpp_vendor: 0.1.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38222 mvsim: 0.7.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38224 mvsim: 0.7.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38223 mvsim: 0.7.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38226 flir_camera_driver: 2.0.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38232 aws_sdk_cpp_vendor: 0.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38233 behaviortree_cpp_v3: 3.8.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38234 behaviortree_cpp_v3: 3.8.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38235 behaviortree_cpp_v3: 3.8.5-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38238 behaviortree_cpp_v4: 4.3.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38247 ros2_control: 2.30.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38249 marti_common: 3.5.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38246 social_nav_ros: 0.1.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38248 marti_common: 3.5.4-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38251 marti_messages: 0.12.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38265 clearpath_simulator: 0.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38264 clearpath_common: 0.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38261 aerostack2: 1.0.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38257 heaphook: 0.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38250 rplidar_ros: 2.1.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#38179 feat: add source entry for ecal
  humble/distribution.yaml
  iron/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, iron

#38182 metavision_driver: 1.0.6-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38186 ros2_kortex: 0.2.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#38190 classic_bags: 0.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38191 urdf_launch: 0.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#38198 rmf_ros2: 2.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38199 pybind11_json_vendor: 0.4.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38200 rmf_traffic_editor: 1.8.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38201 rmf_task: 2.3.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38213 aws_sdk_cpp_vendor: 0.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38220 rig_reconfigure: 1.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38225 mvsim: 0.7.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38255 heaphook: 0.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38259 ros2_controllers: 3.14.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38262 ros2_control: 3.18.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38180 adding python3-nmcli-pip to python
  rosdep/python.yaml
Labels: rosdep

#38228 feat: add gnu octave to rosdep
  rosdep/base.yaml
Labels: rosdep

#38230 aws_sdk_cpp_vendor: 0.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38253 ouster-ros: 0.10.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38258 ros2_controllers: 3.14.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38263 ros2_control: 3.18.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38266 Add package mrpt_navigation to humble for indexing
  humble/distribution.yaml
Labels: humble

#38267 fastrtps: 2.10.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#38269 Add two MetroRobots src repos to humble
  humble/distribution.yaml
Labels: humble

#38270 marti_messages: 0.12.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#38276 tinyxml2_vendor: 0.9.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38277 rpyutils: 0.4.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38278 rosidl_python: 0.20.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38279 rosidl: 4.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38280 ros2cli: 0.29.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38281 rmw_fastrtps: 7.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38282 rmw_cyclonedds: 1.9.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38283 rclpy: 5.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38284 rmw_connextdds: 0.17.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38285 rclcpp: 22.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38286 rcl: 7.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38287 mimick_vendor: 0.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38289 launch_ros: 0.26.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38290 launch: 3.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38291 geometry2: 0.33.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38294 qt_gui_core: 2.7.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38295 image_common: 4.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38296 osrf_pycommon: 2.1.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38297 ament_index: 1.7.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38298 ament_cmake: 2.2.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38300 rviz: 13.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38299 lanelet2: 1.2.1-4 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#38301 rviz: 12.4.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron
