Repository ros/rosdistro, pull requests merged in 2024-04, with the labels that each got.

#40425 gnsstk: 14.3.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#40420 ros2_controllers: 2.34.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40426 mola_test_datasets: 0.3.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40427 mola_test_datasets: 0.3.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40428 mola_test_datasets: 0.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40424 xacro: 2.0.11-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40239 hri: 2.3.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40433 microstrain_inertial: 4.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40436 bcr_bot: 1.0.2-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40434 aruco_opencv: 2.2.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40431 microstrain_inertial: 4.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40435 aruco_opencv: 5.1.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40432 microstrain_inertial: 4.1.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40430 microstrain_inertial: 4.1.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#40440 gz_dartsim_vendor: 0.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40467 ur_description: 2.1.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40461 cascade_lifecycle: 2.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40460 mola: 1.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40458 mola: 1.0.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40457 add ffmpeg_image_transport_tools to rolling
  rolling/distribution.yaml
Labels: rolling

#40456 generate_parameter_library: 0.3.8-3 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40454 generate_parameter_library: 0.3.8-3 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40438 gazebo_set_joint_positions_plugin: 1.0.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40201 add python3-orjson key to rosdep/python.yaml
  rosdep/python.yaml
Labels: rosdep

#40449 Add grid_map_geo source entry to humble distro
  humble/distribution.yaml
Labels: humble

#40441 openrtm_aist_python: 1.1.0-5 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#40488 aruco_opencv: 4.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40485 mrpt2: 2.12.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40481 microstrain_inertial: 4.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40475 perception_pcl: 2.6.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40472 geographic_info: 1.0.6-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40471 ur_robot_driver: 2.4.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40470 ur_description: 2.2.5-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40490 fields2cover: 2.0.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40486 navigation2: 1.2.7-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40480 microstrain_inertial: 4.2.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40474 geographic_info: 1.0.6-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40476 perception_pcl: 2.5.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40455 generate_parameter_library: 0.3.8-3 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40494 rviz: 14.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40489 fields2cover: 2.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40487 navigation2: 1.1.14-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40483 mrpt2: 2.12.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40484 mrpt2: 2.12.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40479 microstrain_inertial: 4.2.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40477 perception_pcl: 2.4.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40473 geographic_info: 1.0.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40463 cascade_lifecycle: 1.0.5-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40459 mola: 1.0.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40466 ur_description: 2.1.4-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40491 fields2cover: 2.0.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#40482 mrpt2: 2.12.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#40478 microstrain_inertial: 4.2.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#40468 static_transform_mux: 1.1.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#40419 Add more libboost and libxtensor keys for noble
  rosdep/base.yaml
Labels: rosdep

#40495 perception_pcl: 2.6.1-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40513 clearpath_common: 0.2.7-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40512 clearpath_config: 0.2.7-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40509 webots_ros2: 2023.1.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40502 ur_robot_driver: 2.2.11-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40500 ur_client_library: 1.3.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40498 ur_client_library: 1.3.6-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40506 gz_ogre_next_vendor: 0.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40508 gz_cmake_vendor: 0.0.5-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40511 gz_common_vendor: 0.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40507 webots_ros2: 2023.1.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40510 webots_ros2: 2023.1.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40499 ur_client_library: 1.3.6-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#40504 universal_robots: 1.3.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#40505 ur_robot_driver: 2.1.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#40523 control_msgs: 5.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40521 rmw_connextdds: 0.22.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40520 rmw_cyclonedds: 2.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40519 rmw_fastrtps: 8.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40517 gz_plugin_vendor: 0.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40516 ros_gz: 0.254.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40515 ros_gz: 0.244.14-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39798 Drop old stable debian release from Humble.
  humble/distribution.yaml
Labels: humble

#40524 openrtm_aist: 1.1.2-5 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#40532 sdformat_vendor: 0.0.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40533 gz_msgs_vendor: 0.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40531 gz_ros2_control: 1.1.6-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40530 ign_ros2_control: 0.7.7-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40535 gz_transport_vendor: 0.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40550 common_interfaces: 5.3.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40549 gz_plugin_vendor: 0.0.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40548 gz_tools_vendor: 0.0.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40547 gz_math_vendor: 0.0.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40546 gz_common_vendor: 0.0.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40545 gz_cmake_vendor: 0.0.6-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40544 gz_rendering_vendor: 0.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40542 gz_utils_vendor: 0.0.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40541 gz_physics_vendor: 0.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40540 geometry2: 0.36.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40529 Add python3-pynput apt package for debian and ubuntu
  rosdep/python.yaml
Labels: rosdep

#40551 yp-spur: 1.22.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#40554 gz_sensors_vendor: 0.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40555 gz_gui_vendor: 0.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40556 wireless: 1.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40562 gz_transport_vendor: 0.0.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40563 gz_sim_vendor: 0.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40566 gz_launch_vendor: 0.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40565 trac_ik: 2.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40567 Revert "mola: 1.0.2-1 in 'humble/distribution.yaml' [bloom]"
  humble/distribution.yaml
Labels: humble

#40575 nao_lola: 1.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40576 nao_lola: 0.2.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40577 nao_lola: 0.1.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40574 image_transport_plugins: 4.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40598 ffmpeg_image_transport_tools: 1.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40597 ffmpeg_image_transport_tools: 1.2.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40596 ffmpeg_image_transport_tools: 1.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40569 vision_opencv: 3.5.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40580 r2r_spl: 3.1.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40582 rcss3d_nao: 1.2.0-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40581 rcss3d_agent: 0.2.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40584 soccer_interfaces: 0.3.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40525 ortools_vendor: 9.9.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40526 ortools_vendor: 9.9.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40527 ortools_vendor: 9.9.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40568 vision_opencv: 4.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40585 soccer_interfaces: 1.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40586 soccer_vision_3d_rviz_markers: 0.1.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40587 soccer_vision_3d_rviz_markers: 1.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40600 turtlebot4_simulator: 1.0.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40594 omni_base_robot: 2.0.9-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40588 Update vision_msgs_layers branch for iron
  iron/distribution.yaml
Labels: iron

#40595 omni_base_navigation: 2.0.7-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40603 Revert "perception_pcl: 2.4.3-1 in 'humble/distribution.yaml' [bloom]"
  humble/distribution.yaml
Labels: humble

#40644 rclcpp: 28.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40643 rqt_shell: 1.2.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40642 ros2_tracing: 8.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40641 rosidl: 4.6.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40640 navigation_msgs: 2.4.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40639 rviz: 14.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40638 spdlog_vendor: 1.6.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40637 ros2cli: 0.32.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40636 rosidl_typesupport_fastrtps: 3.6.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40635 rosidl_python: 0.22.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40634 rcutils: 6.7.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40633 rcpputils: 2.11.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40629 robot_localization: 3.6.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40628 rcl_interfaces: 2.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40626 rclpy: 7.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40625 rcl: 9.2.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40624 pybind11_vendor: 3.1.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40623 message_filters: 4.11.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40622 libyaml_vendor: 1.6.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40620 examples: 0.19.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40621 launch: 3.4.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40619 common_interfaces: 5.3.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling
