Repository ros/rosdistro, pull requests merged in 2024-11, with the labels that each got.

#43334 openni2_camera: 2.2.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43335 openni2_camera: 2.2.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43331 Adding vizanti to documentation index for jazzy
  jazzy/distribution.yaml
Labels: jazzy

#43330 cras_ros_utils: 2.4.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#43329 ros2_controllers: 3.27.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43328 ros2_control: 3.29.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43300 Add boost_sml_vendor
  jazzy/distribution.yaml
Labels: jazzy

#43178 Add dh_python to rosdep/base.yaml
  rosdep/base.yaml
Labels: rosdep

#43276 eiquadprog: 1.2.9-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43332 openni2_camera: 2.0.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#43337 realtime_tools: 2.8.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43338 realtime_tools: 2.8.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43339 realtime_tools: 2.8.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43340 realtime_tools: 2.8.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43341 adi_tmcl: 2.0.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43342 rmf_traffic_editor: 1.6.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43343 rmw_gurumdds: 5.0.0-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43344 rmw_gurumdds: 5.0.0-2 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43345 mrpt_ros: 2.14.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#43346 mrpt_ros: 2.14.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43347 mrpt_ros: 2.14.5-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43349 mrpt_ros: 2.14.5-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43350 python_mrpt_ros: 2.14.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#43351 python_mrpt_ros: 2.14.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43352 python_mrpt_ros: 2.14.5-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43353 python_mrpt_ros: 2.14.5-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43355 realtime_tools: 2.8.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43356 realtime_tools: 2.8.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43357 realtime_tools: 2.8.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43358 realtime_tools: 2.8.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43354 python_mrpt_ros: 2.14.5-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43253 python3-piexif: added python3 dependency
  rosdep/python.yaml
Labels: rosdep

#43362 sdformat_vendor: 0.2.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43361 kinematics_interface: 1.2.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43360 kinematics_interface: 1.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43373 spatio_temporal_voxel_layer: 2.5.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43369 teleop_tools: 1.7.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43370 teleop_tools: 1.7.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43371 teleop_tools: 1.7.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43366 ros2_planning_system: 2.0.13-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43374 kinematics_interface: 1.2.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43384 microstrain_inertial: 4.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43383 microstrain_inertial: 4.5.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43382 microstrain_inertial: 4.5.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43381 microstrain_inertial: 4.5.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43380 microstrain_inertial: 4.5.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#43379 depthai-ros: 2.10.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43378 backward_ros: 1.0.6-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43377 backward_ros: 1.0.6-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43376 backward_ros: 1.0.6-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43375 backward_ros: 1.0.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43408 gz_sim_vendor: 0.0.6-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43407 novatel_gps_driver: 4.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43406 novatel_gps_driver: 4.2.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43405 novatel_gps_driver: 4.2.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43403 novatel_gps_driver: 4.2.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43402 octomap_msgs: 2.0.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43401 octomap_msgs: 2.0.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43400 octomap_msgs: 2.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43399 octomap_msgs: 2.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43398 leo_simulator: 1.1.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43397 leo_simulator: 1.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43396 ros_gz: 1.0.7-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43394 leo_common: 3.0.4-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43393 leo_common: 2.0.4-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43392 leo_common: 1.2.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43390 ros2_control: 4.20.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43389 ros2_controllers: 4.16.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43388 ros2_control: 4.20.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43387 ros2_controllers: 4.16.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43385 neonavigation: 0.17.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#43368 Add JSONWebToken rosdep rule for Python3
  rosdep/python.yaml
Labels: rosdep

#43367 Add `cli11` rosdep rule
  rosdep/base.yaml
Labels: rosdep

#43411 libstatistics_collector: 1.5.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43410 cyclonedds: 0.10.5-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43409 ament_cmake: 2.0.7-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43426 robot_calibration: 0.8.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43425 gz_rendering_vendor: 0.0.5-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43423 rclcpp: 21.0.8-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43422 rclpy: 4.1.7-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43418 rcl: 6.0.7-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43416 examples: 0.18.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43415 robot_calibration: 0.9.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43414 launch_ros: 0.24.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43413 robot_calibration: 0.9.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43412 robot_calibration: 0.9.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43421 migrate grasping_msgs to ros2-gbp (jazzy)
  jazzy/distribution.yaml
Labels: jazzy

#43420 migrate grasping_msgs to ros2-gbp (iron)
  iron/distribution.yaml
Labels: iron

#43419 migrate grasping_msgs to ros2-gbp (humble)
  humble/distribution.yaml
Labels: humble

#43427 ros2cli: 0.25.8-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43431 navigation2: 1.3.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43429 navigation2: 1.1.17-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43428 rviz: 12.4.9-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43430 grasping_msgs: 0.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43432 simple_grasping: 0.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43433 simple_grasping: 0.5.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43434 simple_grasping: 0.5.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43435 simple_grasping: 0.5.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43436 ros2_control: 2.44.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43437 ros2_controllers: 2.38.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43438 [noetic] fix source branch for cmake_modules
  noetic/distribution.yaml
Labels: noetic

#43459 kinematics_interface: 1.2.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43457 kinematics_interface: 1.2.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43453 kinematics_interface: 1.2.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43458 mp2p_icp: 1.6.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43456 mp2p_icp: 1.6.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43439 adi_tmcl: 4.0.2-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#43440 pal_gripper: 3.4.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43441 pmb2_robot: 5.4.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43442 pal_maps: 0.0.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43443 pmb2_simulation: 4.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43445 pmb2_navigation: 4.5.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43446 tiago_moveit_config: 3.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43447 tiago_robot: 4.7.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43449 tiago_simulation: 4.3.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43451 locator_ros_bridge: 1.0.13-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#43452 locator_ros_bridge: 2.1.13-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43460 rosbag2: 0.22.8-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43473 gz_physics_vendor: 0.0.5-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43472 gz_sensors_vendor: 0.0.5-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43471 gz_msgs_vendor: 0.0.5-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43470 ros2_control: 3.30.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43468 perception_pcl: 2.6.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43386 Add rosdep key for rich
  rosdep/python.yaml
Labels: rosdep

#43474 gz_cmake_vendor: 0.2.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43365 added dual_laser_merger
  humble/distribution.yaml
  jazzy/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, jazzy

#43491 scenario_execution: 1.2.0-5 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43477 laser_filters: 2.0.8-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43476 laser_filters: 2.0.8-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43465 slg_msgs: 3.9.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43480 rmf_simulation: 2.4.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43481 rmf_internal_msgs: 3.4.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43450 add clips_vendor to index of current distros
  humble/distribution.yaml
  jazzy/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, jazzy

#43464 laser_segmentation: 3.0.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43492 jacro: 0.2.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43497 adi_tmcl: 2.0.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43483 raspimouse2: 2.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43507 sdformat_vendor: 0.2.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43499 depthai-ros: 2.10.5-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43503 ur_robot_driver: 2.3.12-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43505 fastrtps: 2.10.6-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43508 rmf_ros2: 2.2.7-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41583 Add netft_utils source for Iron
  iron/distribution.yaml
Labels: changes requested, iron, persistent

#43510 gz_common_vendor: 0.2.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43509 gz_common_vendor: 0.0.6-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43498 adi_tmcl: 2.0.3-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43479 gz_math_vendor: 0.0.7-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43478 laser_filters: 2.0.8-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43326 dep: `libwebp-tools`
  rosdep/base.yaml
Labels: rosdep

#43461 rosdep: Add libexif and libexif-dev
  rosdep/base.yaml
Labels: rosdep
