Repository ros/rosdistro, pull requests merged in 2024-06, with the labels that each got.

#41452 rmf_utils: 1.6.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41449 event_camera_py: 1.2.6-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41448 event_camera_py: 1.1.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41444 rmf_internal_msgs: 3.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41443 Bump rmf_api_msgs to 0.3.0
  rolling/distribution.yaml
Labels: rolling

#41464 ur_client_library: 1.3.7-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41462 ur_client_library: 1.3.7-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41461 ur_client_library: 1.3.7-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#41460 ur_client_library: 1.3.7-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41458 etsi_its_messages: 2.0.2-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#41457 etsi_its_messages: 2.0.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41456 etsi_its_messages: 2.0.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41451 rmf_traffic_editor: 1.9.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41450 rmf_simulation: 2.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41447 event_camera_py: 1.3.6-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41446 event_camera_py: 1.0.6-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41459 etsi_its_messages: 2.0.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41426 autoware_internal_msgs: 1.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41425 autoware_internal_msgs: 1.0.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41424 autoware_internal_msgs: 1.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41422 openeb_vendor: 1.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41421 openeb_vendor: 1.3.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41420 openeb_vendor: 1.2.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41419 openeb_vendor: 1.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41467 bond_core: 4.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41468 Switch the humble bond_core branch to galactic.
  humble/distribution.yaml
Labels: humble

#41465 openeb_vendor: 1.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41431 steering_functions: 0.3.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41430 rviz_satellite: 4.0.0-1 in 'jazzy/distribution.yaml' [bloom]
  humble/distribution.yaml
  iron/distribution.yaml
  jazzy/distribution.yaml
Labels: humble, iron, jazzy

#41479 Add in rosdep key for python3-semver on RHEL.
  rosdep/python.yaml
Labels: rosdep

#41480 image_pipeline: 6.0.0-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41473 Update branches for autoware_adapi_msgs
  humble/distribution.yaml
  jazzy/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, jazzy

#41470 openeb_vendor: 1.3.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41469 opennav_docking: 0.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41475 Update branches for autoware_cmake
  humble/distribution.yaml
  jazzy/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, jazzy

#41471 off_highway_sensor_drivers: 0.6.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41476 Update branches for autoware_utils
  humble/distribution.yaml
  jazzy/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, jazzy

#41472 openeb_vendor: 1.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41474 openeb_vendor: 1.2.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41477 Update branches for autoware_lanelet2_extension
  humble/distribution.yaml
  jazzy/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, jazzy

#41478 Update branches for autoware_internal_msgs
  humble/distribution.yaml
  jazzy/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, jazzy

#41481 fields2cover: 2.0.0-9 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41483 fields2cover: 2.0.0-10 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41484 fields2cover: 2.0.0-11 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41485 fields2cover: 2.0.0-4 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#41494 mrpt_slam: 0.1.17-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#41507 ros2_controllers: 4.9.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41499 mrpt2: 2.13.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41489 aruco_opencv: 6.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41496 mrpt2: 2.13.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#41492 aruco_opencv: 2.3.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41497 mrpt2: 2.13.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41501 locator_ros_bridge: 2.1.11-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41503 opennav_docking: 0.0.2-4 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41498 mrpt2: 2.13.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41502 perception_pcl: 2.5.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41495 gtsam: 4.2.0-2 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41500 mrpt2: 2.13.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41506 ros2_controllers: 4.9.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41509 Revert "depthai: 2.26.0-1 in 'humble/distribution.yaml' [bloom]"
  humble/distribution.yaml
Labels: humble

#41515 sophus: 1.22.9101-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41516 sophus: 1.22.9101-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41517 sophus: 1.22.9101-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41523 sophus: 1.22.9102-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41307 add supervision pip dependency to python.yaml
  rosdep/python.yaml
Labels: rosdep

#41525 sophus: 1.22.9102-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41527 gz_transport_vendor: 0.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41522 mavlink: 2024.6.6-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41508 rmf_visualization: 2.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41490 aruco_opencv: 6.0.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41530 sophus: 1.22.9102-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41534 sophus: 1.22.9102-2 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41535 sophus: 1.22.9102-2 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41529 flexbe_behavior_engine: 3.0.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41531 message_tf_frame_transformer: 1.1.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41532 flexbe_behavior_engine: 3.0.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41533 flexbe_behavior_engine: 3.0.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41528 perception_pcl: 2.5.4-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41543 mavros: 2.8.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41547 rc_genicam_driver: 0.3.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41558 eigenpy: 3.6.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41563 hpp-fcl: 2.4.4-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41554 proxsuite: 0.6.5-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41559 eigenpy: 3.6.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41564 hpp-fcl: 2.4.4-3 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41544 mavros: 2.8.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41548 rc_genicam_driver: 0.3.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41539 mavlink: 2024.6.6-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41545 mavros: 2.8.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41549 rc_genicam_driver: 0.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41552 proxsuite: 0.6.5-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41556 eigenpy: 3.6.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41561 hpp-fcl: 2.4.4-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41440 depthai: 2.26.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41510 nav2_minimal_turtlebot_simulation: 1.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41511 nav2_minimal_turtlebot_simulation: 1.0.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41541 add qml_ros2_plugin to rosdistro
  jazzy/distribution.yaml
Labels: jazzy

#41520 mavlink: 2024.6.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#41536 sophus: 1.22.9102-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#41542 mavros: 2.8.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#41546 rc_genicam_driver: 0.3.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#41551 proxsuite: 0.6.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#41557 eigenpy: 3.6.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#41562 hpp-fcl: 2.4.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#41432 Add `python3-icecream` as a python dependency
  rosdep/python.yaml
Labels: rosdep

#41565 apriltag_ros: 3.2.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41566 apriltag_ros: 3.2.2-3 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41567 apriltag_ros: 3.2.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41487 Update distribution.yaml
  noetic/distribution.yaml
Labels: noetic

#41488 aruco_opencv: 0.4.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#41513 mavlink: 2024.6.6-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#41518 mavros: 1.19.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#41555 eigenpy: 3.6.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#41560 hpp-fcl: 2.4.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#41575 ortools_vendor: 9.9.0-12 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41580 control_msgs: 5.2.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41568 geometric_shapes: 2.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41571 moveit_msgs: 2.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41573 ortools_vendor: 9.9.0-9 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41582 control_msgs: 5.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41584 rmf_ros2: 2.7.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41493 Add autoware_msgs to humble, jazzy, and rolling indices
  humble/distribution.yaml
  jazzy/distribution.yaml
  noetic/distribution.yaml
  rolling/distribution.yaml
Labels: noetic, rolling, humble, jazzy

#41570 moveit_msgs: 2.5.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41574 ortools_vendor: 9.9.0-7 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41579 control_msgs: 4.6.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41581 control_msgs: 5.2.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41585 ortools_vendor: 9.9.0-6 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41586 mp2p_icp: 1.4.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41587 mp2p_icp: 1.4.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41588 mp2p_icp: 1.4.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41589 mp2p_icp: 1.4.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41538 Add in rosdep key for fastjsonschema.
  rosdep/python.yaml
Labels: rosdep

#41537 Add in rosdep key for python3-pydantic on RHEL.
  rosdep/python.yaml
Labels: rosdep

#41591 Set clang-format key to clang-tools-extra on RHEL
  rosdep/base.yaml
Labels: rosdep

#41592 rmf_simulation: 2.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40804 Add graph_reasoning to rosdistro
  humble/distribution.yaml
  iron/distribution.yaml
Labels: held for sync, humble, iron

#40806 Add graph_wrapper to rosdistro
  humble/distribution.yaml
  iron/distribution.yaml
Labels: held for sync, humble, iron

#40800 Add lidar_s_graphs to humble and iron distributions
  humble/distribution.yaml
  iron/distribution.yaml
Labels: held for sync, humble, iron

#41504 Adding slg_msgs and laser_segmentation
  humble/distribution.yaml
  rolling/distribution.yaml
Labels: changes requested, rolling, humble

#41577 Add libvorbis-dev to base.yaml
  rosdep/base.yaml
Labels: rosdep

#41578 feat: add python3-pygnssutils-pip to python.yaml
  rosdep/python.yaml
Labels: rosdep

#41593 ecl_lite: 1.2.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
  iron/distribution.yaml
  jazzy/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, iron, jazzy

#41590 added flex_sync to humble/iron/jazzy/rolling
  humble/distribution.yaml
  iron/distribution.yaml
  jazzy/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, iron, jazzy

#41576 Add network_bridge to rosdistro
  jazzy/distribution.yaml
Labels: jazzy

#41466 Update python.yaml for flask packages for OpenEmbedded
  rosdep/python.yaml
Labels: rosdep

#41445 Added customtkinter pip dependency to python.yaml
  rosdep/python.yaml
Labels: rosdep

#41519 Add libflatbuffers to rosdep/base.yaml
  rosdep/base.yaml
Labels: rosdep, changes requested

#41605 eigenpy: 3.7.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41604 eigenpy: 3.7.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41603 eigenpy: 3.7.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble
