Repository ros/rosdistro, pull requests merged in 2024-02, with the labels that each got.

#39762 update humble branch for openni2_camera
  humble/distribution.yaml
Labels: humble

#39761 update iron branch for openni2_camera
  iron/distribution.yaml
Labels: iron

#39760 data_tamer: 0.9.3-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39759 odri_master_board: 1.0.6-3 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39755 ros2_control: 3.23.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39754 camera_aravis: 4.0.5-3 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39753 ros2_control: 4.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39752 ros2_controllers: 4.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39751 hri_msgs: 2.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39749 caret_trace: 0.5.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39750 fastrtps: 2.10.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39748 caret_analyze_cpp_impl: 0.5.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39758 Add python3-wand to python.yaml
  rosdep/python.yaml
Labels: rosdep

#39790 event_camera_renderer: 1.2.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39787 event_camera_py: 1.2.4-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39784 event_camera_codecs: 1.2.4-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39779 plotjuggler_ros: 2.1.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39778 plotjuggler: 3.9.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39788 event_camera_renderer: 1.0.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39786 event_camera_py: 1.1.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39785 event_camera_py: 1.0.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39781 plotjuggler_ros: 2.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39797 caret_trace: 0.5.0-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39796 ros2caret: 0.5.0-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39801 novatel_oem7_driver: 4.3.0-5 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39802 Drop debian bullseye from Rolling distribution.
  rolling/distribution.yaml
Labels: rolling

#39805 ament_cmake: 2.0.4-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39807 ament_lint: 0.14.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39808 image_common: 4.2.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39809 python_qt_binding: 1.2.4-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39810 qt_gui_core: 2.4.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39812 robot_state_publisher: 3.2.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39816 launch_ros: 0.24.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39817 rcl: 6.0.5-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39818 rclcpp: 21.0.5-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39819 rmw_fastrtps: 7.1.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39820 ros2cli: 0.25.5-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39821 rviz: 12.4.6-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39806 mrpt2: 2.11.8-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39815 mp2p_icp: 1.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39813 mp2p_icp: 1.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39803 mrpt2: 2.11.8-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39773 aerostack2: 1.0.7-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39825 rosidl: 4.5.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39844 rqt_graph: 1.5.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39845 rqt_console: 2.2.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39838 rqt_reconfigure: 1.6.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39837 rqt_service_caller: 1.2.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39839 python_qt_binding: 2.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39835 rqt_srv: 1.2.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39834 rqt_topic: 1.7.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39832 geometry2: 0.36.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39833 demos: 0.33.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39828 rcpputils: 2.10.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39823 rosidl_python: 0.21.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39848 ament_lint: 0.16.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39849 osrf_testing_tools_cpp: 2.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39842 rqt_plot: 1.3.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39847 qt_gui_core: 2.7.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39846 rqt_bag: 1.5.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39822 sros2: 0.13.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39824 rosidl_dds: 0.11.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39830 rclcpp: 27.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39843 rqt_msg: 1.5.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39836 rqt_shell: 1.2.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39826 ros2cli: 0.31.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39827 rcutils: 6.5.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39829 rclpy: 7.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39831 launch: 3.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39791 fix: rename libqt5-charts key to libqt5-charts-dev to match the other Qt5 -dev packages
  rosdep/base.yaml
Labels: rosdep

#39853 rosbag2: 0.22.6-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39799 Drop debian bullseye from Iron distribution.
  iron/distribution.yaml
Labels: iron

#39769 Index mola for src & doc
  iron/distribution.yaml
Labels: iron

#39792 azure-iot-sdk-c: 1.12.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39795 multidim_rrt_planner: 0.0.7-3 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39804 mrpt2: 2.11.8-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39814 mp2p_icp: 1.1.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39850 vrpn_mocap: 1.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39851 vrpn_mocap: 1.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39852 vrpn_mocap: 1.1.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39855 phidgets_drivers: Use dedicated source branches
  humble/distribution.yaml
  iron/distribution.yaml
Labels: humble, iron

#39856 imu_pipeline: 0.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39858 Add sqlite-utils pip source
  rosdep/python.yaml
Labels: rosdep

#39861 Add off_highway_sensor_drivers
  humble/distribution.yaml
Labels: humble

#39854 sick_visionary_ros: 1.1.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39871 mrpt2: 2.11.9-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39865 apriltag_detector: 1.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39877 Revert "ros2_control: 2.38.0-1 in 'humble/distribution.yaml' [bloom]"
  humble/distribution.yaml
Labels: humble

#39869 mrpt2: 2.11.9-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39866 apriltag_detector: 1.2.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39867 multidim_rrt_planner: 0.0.8-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39872 mrpt2: 2.11.9-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39879 ros2_controllers: 3.22.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39864 apriltag_detector: 1.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39873 mrpt2: 2.11.9-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39875 ros2_control: 4.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39876 ros2_controllers: 4.6.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39870 libdbus-dev on RHEL
  rosdep/base.yaml
Labels: rosdep

#39868 Add rosdep key for playsound alpine
  rosdep/python.yaml
Labels: rosdep

#39881 Fix ffmpeg rules for Fedora, add RHEL 9 rules
  rosdep/base.yaml
Labels: rosdep

#39880 Add opende rule for RHEL 8
  rosdep/base.yaml
Labels: rosdep

#39887 rcpputils: 2.6.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39891 leo_common: 3.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39890 leo_common: 2.0.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39900 jackal: 0.8.9-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39898 openni2_camera: 2.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39896 point_cloud_transport: 2.0.4-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39903 perception_pcl: 2.4.0-5 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39907 rqt: 1.3.4-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39904 Use 1.0.x branch of Fast-CDR for source builds
  humble/distribution.yaml
  iron/distribution.yaml
Labels: humble, iron

#39915 mp2p_icp: 1.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39914 mp2p_icp: 1.2.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39912 [rolling] Upgrade fastrtps to 2.13.x
  rolling/distribution.yaml
Labels: rolling

#39911 fastrtps: 2.13.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39918 data_tamer: 0.9.4-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39926 rcutils: 5.1.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39925 rcpputils: 2.4.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39924 rqt: 1.1.7-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39923 rqt_console: 2.0.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39922 rclpy: 3.3.12-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39921 launch: 1.0.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39919 ros2cli: 0.18.9-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#39917 geometry2: 0.25.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble, held for coordinated release

#39916 ament_cmake: 1.3.8-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble, held for coordinated release

#39913 mp2p_icp: 1.2.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39909 perception_pcl: 2.4.0-6 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble, held for coordinated release

#39901 ros2_control: 2.39.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#39889 leo_common: 1.2.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#39886 sick_scan_xd: 3.1.11-3 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#39883 caret_analyze_cpp_impl: 0.5.0-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#39882 caret_trace: 0.5.0-6 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#39927 rviz: 11.2.11-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39897 psdk_ros2: 1.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#39910 rosdep: nixos: Add python3-lttng package
  rosdep/python.yaml
Labels: rosdep

#39964 rqt_gauges: 0.0.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39963 rqt_gauges: 0.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39928 bno055: 0.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39929 bno055: 0.5.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39958 care-o-bot: 0.7.11-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39957 cob_android: 0.1.11-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39955 cob_environments: 0.6.14-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39954 cob_extern: 0.6.19-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39951 cob_manipulation: 0.7.9-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39953 cob_gazebo_plugins: 0.7.8-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39952 cob_hand: 0.6.11-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39950 cob_navigation: 0.6.15-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39949 cob_perception_common: 0.6.20-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39948 cob_simulation: 0.7.8-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39947 cob_robots: 0.7.10-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39946 moveit_resources: 3.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling
