Repository ros/rosdistro, pull requests merged in 2024-08, with the labels that each got.

#42302 Add robotraconteur package source to jazzy/distribution.yaml and rolling/distribution.yaml
  humble/distribution.yaml
  iron/distribution.yaml
  jazzy/distribution.yaml
  noetic/distribution.yaml
  rolling/distribution.yaml
Labels: noetic, rolling, humble, iron, jazzy

#42324 Use humble branch for twist_mux in humble & iron
  humble/distribution.yaml
  iron/distribution.yaml
Labels: humble, iron

#42323 ros2_control: 4.15.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#42322 ros2_control: 4.15.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42310 etsi_its_messages: 2.2.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#42312 etsi_its_messages: 2.2.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#42316 septentrio_gnss_driver: 1.4.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#42318 septentrio_gnss_driver: 1.4.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#42319 septentrio_gnss_driver: 1.4.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42320 septentrio_gnss_driver: 1.4.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#42308 Add in networkmanager key for RHEL.
  rosdep/base.yaml
Labels: rosdep

#42307 Add in chrony key for RHEL.
  rosdep/base.yaml
Labels: rosdep

#42332 mrpt2: 2.13.5-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42327 mrpt2: 2.13.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#42329 mrpt2: 2.13.5-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#42330 mrpt2: 2.13.5-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#42345 warehouse_ros_sqlite: 0.9.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#42346 point_cloud2_filters: 1.0.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#42303 rosdep: added python3-pysnmp-mibs
  rosdep/python.yaml
Labels: rosdep

#42304 rosdep: added python3-rsa
  rosdep/python.yaml
Labels: rosdep

#42333 adding python3-nep-pip
  rosdep/python.yaml
Labels: rosdep

#42348 tf_transformations: 1.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#42344 omni_base_simulation: 2.0.9-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#42315 Add `python3-smbus2`
  rosdep/python.yaml
Labels: rosdep

#42343 omni_base_robot: 2.0.19-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#42342 omni_base_navigation: 2.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#42341 tiago_robot: 4.2.21-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#42340 tiago_simulation: 4.1.9-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#42339 tiago_navigation: 4.1.7-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#42338 tiago_moveit_config: 3.0.18-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#42337 pal_robotiq_gripper: 2.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#42336 pmb2_navigation: 4.0.23-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#42335 pmb2_robot: 5.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#42334 launch_pal: 0.2.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#42328 mrpt2: 2.13.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#42317 septentrio_gnss_driver: 1.4.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#42311 etsi_its_messages: 2.2.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#42380 mapviz: 2.4.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#42378 mapviz: 2.4.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#42376 tiago_robot: 4.3.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#42375 pal_robotiq_gripper: 2.2.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#42374 pmb2_robot: 5.1.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#42373 pal_hey5: 4.2.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#42372 pmb2_navigation: 4.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#42371 pal_gripper: 3.3.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#42370 omni_base_robot: 2.2.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#42349 tf_transformations: 1.1.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: held for sync, jazzy

#42369 omni_base_navigation: 2.2.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#42368 launch_pal: 0.3.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#42383 mapviz: 2.4.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#42381 mapviz: 2.4.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#42367 mrpt_navigation: 2.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42365 mrpt_navigation: 2.1.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#42363 mrpt_navigation: 2.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#42360 sdformat_vendor: 0.0.6-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#42359 gz_sim_vendor: 0.0.5-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#42358 gz_fuel_tools_vendor: 0.0.5-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#42362 clearpath_common: 0.2.11-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#42361 simple_actions: 0.4.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#42357 sdformat_vendor: 0.1.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42356 gz_sim_vendor: 0.1.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42355 clearpath_config: 0.2.11-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#42354 gz_fuel_tools_vendor: 0.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42413 openni2_camera: 2.2.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42412 openni2_camera: 2.2.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#42411 ur_description: 2.4.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42410 ur_description: 2.4.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#42409 ur_description: 2.3.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#42408 ur_description: 2.1.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#42407 ur_robot_driver: 2.4.9-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42406 ur_robot_driver: 2.4.9-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#42405 ur_robot_driver: 2.3.10-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#42404 [python.yaml] add python3-pyside2.qtqml
  rosdep/python.yaml
Labels: rosdep

#42403 plotjuggler_ros: 2.1.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42398 robotraconteur: 1.2.2-3 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#42397 add mola_common for indexing in noetic
  noetic/distribution.yaml
Labels: noetic

#42396 mola_common: 0.3.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42395 mola_common: 0.3.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#42394 mola_common: 0.3.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#42393 mola_common: 0.3.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#42392 mrpt_sensors: 0.2.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42391 mrpt_sensors: 0.2.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#42390 mrpt_sensors: 0.2.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#42389 marti_messages: 1.6.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42388 mrpt_sensors: 0.2.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#42386 marti_messages: 1.6.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#42385 marti_messages: 1.6.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#42384 marti_messages: 1.6.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#42382 mapviz: 2.4.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#42366 aerostack2: 1.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#42377 add as2_platforms to humble index
  humble/distribution.yaml
Labels: humble

#42387 Removing Mapviz
  jazzy/distribution.yaml
Labels: more information needed, jazzy

#42347 tf_transformations: 1.1.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#42352 adding python3-requests-toolbelt, python3-imutils-pip and python3-simplekml
  rosdep/python.yaml
Labels: rosdep

#42418 mapviz: 2.4.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#42417 mapviz: 2.4.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#42416 warehouse_ros_sqlite: 1.0.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42414 random_numbers: 0.3.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#42427 Attempt to resolve armhf regressions by dowgrading eigenpy
  noetic/distribution.yaml
Labels: noetic

#42350 Add hector_rviz_overlay to jazzy
  jazzy/distribution.yaml
Labels: changes requested, jazzy

#42456 andino_gz: 0.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#42454 mrpt_ros: 2.13.6-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#42452 ros2_controllers: 4.12.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#42451 ros2_controllers: 3.26.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#42450 ros2_controllers: 2.37.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#42449 realtime_tools: 2.6.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#42447 realtime_tools: 2.6.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#42446 realtime_tools: 2.6.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#42445 mrpt_ros: 2.13.6-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#42444 mrpt_ros: 2.13.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#42441 mola_lidar_odometry: 0.3.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#42440 mola_lidar_odometry: 0.3.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#42439 mola_lidar_odometry: 0.3.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#42437 ros_battery_monitoring: 1.0.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#42436 ros_battery_monitoring: 1.0.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#42435 ros_babel_fish: 0.9.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#42431 clearpath_mecanum_drive_controller: 0.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#42429 magic_enum: 0.9.6-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#42426 ompl: 1.6.0-2 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#42425 ompl: 1.6.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#42423 warehouse_ros_sqlite: 1.0.4-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#42422 warehouse_ros_sqlite: 1.0.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#42420 simple_actions: 0.4.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#42364 mrpt_navigation: 2.1.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#42461 ros_babel_fish: 0.9.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#42460 perception_pcl: 2.4.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#42453 ros2_controllers: 4.12.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42443 mola_lidar_odometry: 0.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42438 ros_battery_monitoring: 1.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42430 magic_enum: 0.9.6-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42424 ompl: 1.6.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42326 kinematics_interface_pinocchio: 0.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#42432 audio_common: 0.3.18-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#42434 mola_common: 0.3.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#42462 neo_nav2_bringup: 1.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#42465 Use robotraconteur ros2-gbp release repositories
  humble/distribution.yaml
  iron/distribution.yaml
Labels: humble, iron

#42479 mola: 1.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42477 mola: 1.1.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#42476 mola: 1.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#42475 fields2cover: 2.0.0-10 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#42474 fields2cover: 2.0.0-15 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42473 fields2cover: 2.0.0-11 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#42472 fields2cover: 2.0.0-12 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#42478 mola: 1.1.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#42471 mrpt_ros: 2.13.6-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42470 mrpt_ros: 2.13.6-2 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#42469 mrpt_ros: 2.13.6-2 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#42468 mrpt_ros: 2.13.6-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#42467 mrpt_ros: 2.13.6-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#42495 mola_common: 0.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling
