Repository ros/rosdistro, pull requests merged in 2024-10, with the labels that each got.

#43026 rqt_dotgraph: 0.0.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43027 rqt_dotgraph: 0.0.4-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43025 rqt_dotgraph: 0.0.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43021 scenario_execution: 1.2.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43022 scenario_execution: 1.2.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43020 imu_tools: 2.1.5-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43019 imu_tools: 2.1.5-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43018 ess_imu_driver2: 2.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43015 dbw_ros: 2.2.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43012 teleop_tools: 1.6.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43014 teleop_tools: 1.6.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43013 rosdep: add some NixOS keys
  rosdep/base.yaml
Labels: rosdep

#43011 teleop_tools: 1.6.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43010 imu_tools: 2.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43006 autoware_msgs: 1.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43005 autoware_msgs: 1.2.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43004 autoware_msgs: 1.2.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43002 twist_mux: 4.4.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43001 twist_mux: 4.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43000 gz_launch_vendor: 0.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42999 gz_sim_vendor: 0.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42998 gz_sensors_vendor: 0.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42997 gz_gui_vendor: 0.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42996 gz_transport_vendor: 0.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42995 gz_rendering_vendor: 0.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42994 gz_physics_vendor: 0.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42993 gz_fuel_tools_vendor: 0.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42991 gz_msgs_vendor: 0.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42988 gz_math_vendor: 0.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42987 gz_utils_vendor: 0.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42992 sdformat_vendor: 0.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42989 gz_plugin_vendor: 0.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#42978 create3_examples: 1.0.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#42966 talos_simulation: 2.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43052 ament_index: 1.10.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43028 tlsf: 0.10.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43051 image_common: 6.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43030 rpyutils: 0.6.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43031 rosidl: 4.9.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43032 ros2cli: 0.35.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43035 rmw_implementation: 3.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43037 rmw: 7.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43038 rcutils: 6.9.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43036 rmw_connextdds: 0.24.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43039 rclpy: 7.6.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43041 rclcpp: 29.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43045 launch_ros: 0.27.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43042 rcl_logging: 3.2.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43046 geometry2: 0.39.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43049 point_cloud_transport: 5.0.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43047 demos: 0.35.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43048 rqt: 1.7.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43050 laser_geometry: 2.8.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43053 ament_cmake: 2.7.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43023 nixos: Add missing packages
  rosdep/base.yaml
Labels: rosdep

#43033 turtlebot4_robot: 2.0.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43034 turtlebot4_setup: 2.0.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43054 scenario_execution: 1.2.0-3 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43024 ess_imu_driver: 2.0.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#42353 Add PySide6 to rosdep keys
  rosdep/python.yaml
Labels: rosdep, stale

#43089 microstrain_inertial: 4.4.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43085 depthai-ros: 2.10.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43079 ur_msgs: 2.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43077 scenario_execution: 1.2.0-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43074 srdfdom: 2.0.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43056 clearpath_config: 0.3.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43057 clearpath_common: 0.3.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43061 python_mrpt_ros: 2.14.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43065 mrpt_ros: 2.14.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43066 mrpt_path_planning: 0.2.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43058 python_mrpt_ros: 2.14.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#43088 microstrain_inertial: 4.4.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#43084 depthai-ros: 2.10.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#43078 moveit: 1.1.16-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#43060 mrpt_path_planning: 0.2.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#43059 mrpt_ros: 2.14.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#43055 turtlebot4_setup: 2.0.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43063 python_mrpt_ros: 2.14.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43069 mrpt_ros: 2.14.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43070 mrpt_path_planning: 0.2.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43075 srdfdom: 2.0.5-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43081 ur_msgs: 2.0.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43083 scenario_execution: 1.2.0-4 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43087 depthai-ros: 2.10.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43091 microstrain_inertial: 4.4.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43093 ros2_control: 4.18.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43094 ros2_controllers: 4.15.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43082 ur_msgs: 2.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43100 rosbridge_suite: 2.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43099 rosbridge_suite: 2.1.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43097 rosbridge_suite: 2.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43096 ros2_controllers: 4.15.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43064 python_mrpt_ros: 2.14.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43071 mrpt_ros: 2.14.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43072 mrpt_path_planning: 0.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43076 srdfdom: 2.0.5-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43095 ros2_control: 4.18.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43092 microstrain_inertial: 4.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43003 Added adi_3dtof_image_stitching package
  humble/distribution.yaml
  noetic/distribution.yaml
Labels: noetic, humble

#43062 python_mrpt_ros: 2.14.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#43067 mrpt_ros: 2.14.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#43068 mrpt_path_planning: 0.2.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#43073 srdfdom: 2.0.5-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#43086 depthai-ros: 2.10.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#43090 microstrain_inertial: 4.4.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#43098 rosbridge_suite: 2.1.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#43080 ur_msgs: 2.0.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#43103 clearpath_common: 0.3.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43104 mrpt_msgs: 0.5.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#43105 mrpt_msgs: 0.5.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43106 mrpt_msgs: 0.5.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43107 mrpt_msgs: 0.5.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43108 mrpt_msgs: 0.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43111 variants: 0.12.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43110 sbg_driver: 3.2.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#43112 puma_motor_driver: 1.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43124 mavros: 2.9.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43123 mavros: 2.9.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43122 mavros: 2.9.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43121 mavros: 2.9.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43120 mavros: 1.20.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#43119 mavlink: 2024.10.10-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43118 mavlink: 2024.10.10-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#43117 mavlink: 2024.10.10-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43116 mavlink: 2024.10.10-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43115 mavlink: 2024.10.10-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43113 adi_tmc_coe: 1.0.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#43114 adi_3dtof_image_stitching: 1.1.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#43126 gz_msgs_vendor: 0.2.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43130 openeb_vendor: 2.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43129 openeb_vendor: 2.0.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43128 openeb_vendor: 2.0.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43127 openeb_vendor: 2.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43125 image_common: 6.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43131 adi_tmcl: 4.0.1-3 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#43141 nicla_vision_ros: 1.0.2-1 in noetic/distribution.yaml
  noetic/distribution.yaml
Labels: noetic

#43140 rviz: 14.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43139 ros_babel_fish: 0.9.5-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43133 ur_robot_driver: 2.4.11-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43132 ur_description: 2.4.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43134 rslidar_sdk: 1.5.16-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43168 srdfdom: 2.0.6-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43165 mvsim: 0.11.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43164 mvsim: 0.11.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#43163 mvsim: 0.11.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#43162 mvsim: 0.11.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#43161 mrpt_ros: 2.14.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43160 mrpt_ros: 2.14.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#43159 python_mrpt_ros: 2.14.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#43158 mrpt_ros: 2.14.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron
