Repository ros/rosdistro, pull requests merged in 2024-05, with the labels that each got.

#41033 ros2_ouster_drivers: 0.5.1-3 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41031 plotjuggler_ros: 2.1.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41030 yp-spur: 1.22.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#41034 ros2_ouster_drivers: 0.5.1-4 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41035 usb_cam: 0.8.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40807 Add fast_gicp to rosdistro
  humble/distribution.yaml
  iron/distribution.yaml
Labels: humble, iron

#40808 Add ndt_omp to rosdistro
  humble/distribution.yaml
  iron/distribution.yaml
Labels: humble, iron

#41042 usb_cam: 0.8.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41038 flexbe_behavior_engine: 3.0.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41037 usb_cam: 0.8.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41036 usb_cam: 0.8.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41029 Add autoware_adapi_msgs to humble, jazzy, and rolling indices
  humble/distribution.yaml
  jazzy/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, jazzy

#41039 Add autoware_cmake to humble, jazzy, and rolling indices
  humble/distribution.yaml
  jazzy/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, jazzy

#41032 Remove perception_open3d: no libopen3d-dev in Noble
  jazzy/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, jazzy

#41046 fuse: 1.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41047 tinyspline_vendor: 0.6.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41048 tinyspline_vendor: 0.6.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41049 tinyspline_vendor: 0.6.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41045 fuse: 1.1.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41044 ortools_vendor: 9.9.0-8 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41040 Add autoware_utils to humble, jazzy, and rolling indices
  humble/distribution.yaml
  jazzy/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, jazzy

#41051 gz_cmake_vendor: 0.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41052 gz_cmake_vendor: 0.0.8-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#40865 Add libblosc-dev
  rosdep/base.yaml
Labels: rosdep

#40861 Add missing nixos rules
  rosdep/base.yaml
  rosdep/python.yaml
  rosdep/ruby.yaml
Labels: rosdep

#40599 Add OpenTelemetry and Adafruit ServoKit Libraries to Rosdep
  rosdep/python.yaml
Labels: rosdep

#40747 Add dm-env
  rosdep/python.yaml
Labels: rosdep

#40772 Add libgtkmm3, a C++ binder for GTK3
  rosdep/base.yaml
Labels: rosdep

#40823 Fix graphicsmagick dep in gentoo
  rosdep/base.yaml
Labels: rosdep

#41041 mark cob packages as end-of-life and sync doc vs. source version
  noetic/distribution.yaml
Labels: noetic

#40753 Add franka_description package
  humble/distribution.yaml
Labels: humble

#41055 fields2cover: 2.0.0-6 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41054 fields2cover: 2.0.0-6 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41053 fields2cover: 2.0.0-8 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41059 URGENT: Fix broken gtkmm entry
  rosdep/base.yaml
Labels: rosdep

#41061 v4l2_camera: 0.7.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41056 flir_camera_driver: 2.0.16-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41062 libevent
  rosdep/base.yaml
Labels: rosdep

#41066 plotjuggler_ros: 2.1.2-2 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41065 kuka_robot_descriptions: 0.9.0-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41073 mp2p_icp: 1.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41072 mp2p_icp: 1.4.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41071 mp2p_icp: 1.4.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41070 mola_test_datasets: 0.3.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41069 mola_test_datasets: 0.3.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41068 mola_test_datasets: 0.3.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41067 spatio_temporal_voxel_layer: 2.3.1-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41083 gps_umd: 2.0.4-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41082 gps_umd: 2.0.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41081 gps_umd: 2.0.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41078 geometric_shapes: 0.7.6-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#41074 autoware_cmake: 1.0.0-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41076 autoware_cmake: 1.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41077 autoware_adapi_msgs: 1.2.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41079 autoware_adapi_msgs: 1.2.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41080 autoware_adapi_msgs: 1.2.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41063 json-stream
  rosdep/python.yaml
Labels: rosdep

#41004 [rosdep] [catkin-lint] [debian/ubuntu] Use catkin-lint instead of python3-catkin-lint package
  rosdep/python.yaml
Labels: rosdep

#40809 Feature/add python distro
  rosdep/python.yaml
Labels: rosdep

#41084 multiple_topic_monitor: 1.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41085 gz_ogre_next_vendor: 0.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41094 launch_pal: 0.1.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41093 plotjuggler: 3.9.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41092 plotjuggler: 3.9.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41091 ortools_vendor: 9.9.0-10 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41090 autoware_utils: 1.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41089 autoware_utils: 1.0.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41088 autoware_utils: 1.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41087 multiple_topic_monitor: 1.0.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41086 gz_ogre_next_vendor: 0.0.5-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41097 aruco_opencv: 6.0.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41109 mvsim: 0.9.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41108 mvsim: 0.9.4-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41107 mvsim: 0.9.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41106 mvsim: 0.9.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#41105 ros2_control: 4.10.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41104 control_msgs: 4.5.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41103 ros2_control: 4.10.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41099 aruco_opencv: 2.3.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41098 aruco_opencv: 5.2.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41100 aruco_opencv: update jazzy branches
  jazzy/distribution.yaml
Labels: jazzy

#40838 fastrtps: 2.6.8-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble, held for coordinated release

#41121 rviz: 1.14.23-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#41138 leo_common: 3.0.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41137 leo_common: 1.2.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41136 leo_common: 2.0.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41135 leo_common: 3.0.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41133 apriltag: 3.4.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41132 apriltag_detector: 2.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41131 apriltag_detector: 2.2.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41130 apriltag_detector: 2.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41128 fields2cover: 2.0.0-6 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41127 fields2cover: 2.0.0-9 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41126 fields2cover: 2.0.0-8 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41125 fields2cover: 2.0.0-12 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41113 robot_calibration: 0.9.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41101 add libcaer_vendor to rosdistro
  humble/distribution.yaml
  iron/distribution.yaml
  jazzy/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, iron, jazzy

#41116 aruco_ros: 5.0.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41147 python_qt_binding: 2.2.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41148 resource_retriever: 3.4.2-2 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41149 ros_tutorials: 1.8.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41152 orocos_kdl_vendor: 0.5.1-2 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41165 spdlog_vendor: 1.6.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41155 rcl: 9.2.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41156 ros2_ouster_drivers: 0.5.1-5 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41161 rclcpp: 28.1.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41162 rmw_cyclonedds: 2.2.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41163 ros2cli: 0.32.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41164 rosidl: 4.6.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41166 rviz: 14.1.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41174 ros2_controllers: 4.8.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41173 ros2_controllers: 3.24.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41171 ros2_control: 4.11.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41170 fields2cover: 2.0.0-8 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41169 mola: 1.0.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41168 mola: 1.0.4-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41167 mola: 1.0.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41159 apriltag: 3.4.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41158 apriltag: 3.4.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41154 ros2_ouster_drivers: 0.5.1-4 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41145 fields2cover: 2.0.0-3 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#41144 fields2cover: 2.0.0-10 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#41143 fields2cover: 2.0.0-9 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41153 spatio_temporal_voxel_layer: 2.3.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41120 Index Beluga documentation and sources
  humble/distribution.yaml
  iron/distribution.yaml
  jazzy/distribution.yaml
  noetic/distribution.yaml
Labels: noetic, held for sync, humble, iron, jazzy

#41175 ros2_controllers: 4.8.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41117 aruco_ros: 5.0.5-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41157 point_cloud_transport: 5.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41180 gazebo_ros2_control: 0.4.8-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41179 gz_ros2_control: 1.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41178 gz_ros2_control: 1.2.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41176 ign_ros2_control: 0.7.8-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41115 aruco_ros: 5.0.5-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41129 Add python3-pil-imagetk in rosdep/python.yaml
  rosdep/python.yaml
Labels: rosdep

#40750 Add PyQt6
  rosdep/python.yaml
Labels: rosdep, changes requested

#41184 fields2cover: 2.0.0-13 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41182 clearpath_config: 0.2.8-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41183 clearpath_common: 0.2.8-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41095 Add vimbax_ros2_driver to rosdistro
  humble/distribution.yaml
Labels: humble

#41102 Add `yourdfpy` to Python rosdeps
  rosdep/python.yaml
Labels: rosdep

#41192 rviz: 1.14.24-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#41188 rqt_robot_monitor: 1.0.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#41220 rosbag2: 0.26.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41218 pal_statistics: 2.2.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41197 microstrain_inertial: 4.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41193 microstrain_inertial: 4.3.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#41191 rqt_robot_monitor: 1.0.6-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#41190 rqt_robot_monitor: 1.0.6-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41187 rqt_bag: 1.5.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#41213 sros2: 0.10.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble
