Repository ros/rosdistro, pull requests merged in 2024-03, with the labels that each got.

#40024 Use ros2-gbp release repository for message_tf_frame_transformer.
  humble/distribution.yaml
  iron/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, iron

#40025 Use ros2-gbp release repository for mqtt_client.
  humble/distribution.yaml
  iron/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, iron

#40026 Use ros2-gbp release repository for tuw_geometry.
  humble/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble

#40027 Use ros2-gbp release repository for polygon_ros.
  humble/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble

#40028 Use ros2-gbp release repository for topic_based_ros2_control.
  humble/distribution.yaml
  iron/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, iron

#40029 Use ros2-gbp release repository for pal_statistics.
  humble/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble

#40030 Use ros2-gbp repository for magic_enum release.
  humble/distribution.yaml
  iron/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, iron

#40034 add flir_camera_driver to rolling
  rolling/distribution.yaml
Labels: rolling

#39986 add trac_ik to rolling
  rolling/distribution.yaml
Labels: rolling

#40035 launch_pal: 0.0.18-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40031 ros2_controllers: 2.33.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39512 Add Gazebo Garden packages for Gentoo
  rosdep/base.yaml
  rosdep/python.yaml
Labels: rosdep, stale

#40063 mavros: 2.7.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40062 mavros: 2.7.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40060 mavlink: 2024.3.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40059 mavlink: 2024.3.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40058 mavros: 1.18.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#40057 mavlink: 2024.3.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#40056 ros2_control: 2.40.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40053 apriltag_detector: 1.2.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40052 apriltag_detector: 1.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40055 ros2_control: 3.24.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40050 mvsim: 0.9.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40046 image_pipeline: 3.0.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40047 rename humble+iron src/doc branches for flir_camera_driver
  humble/distribution.yaml
  iron/distribution.yaml
Labels: humble, iron

#40036 play_motion2: 1.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40038 pmb2_robot: 5.0.16-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40039 pmb2_navigation: 4.0.12-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40040 tiago_navigation: 4.0.12-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40041 tiago_simulation: 4.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39985 atf: 0.1.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39768 Add rosdep keys for lsb-release
  rosdep/base.yaml
Labels: rosdep

#40045 Added python3-scikit-sparse-pip
  rosdep/python.yaml
Labels: rosdep

#40074 Index mrpt_sensors in humble
  humble/distribution.yaml
Labels: humble

#40072 mrpt2: 2.11.11-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40073 mrpt2: 2.11.11-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40071 mrpt2: 2.11.11-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#40070 mvsim: 0.9.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40068 mvsim: 0.9.1-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#40043 Adding homing_local_planner to documentation index for humble
  humble/distribution.yaml
Labels: humble

#40012 rosdep: adding dependencies for openembedded
  rosdep/base.yaml
  rosdep/python.yaml
Labels: rosdep

#40075 py_binding_tools: 1.0.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#40033 Prepare Rolling for platform transition.
  rolling/distribution.yaml
Labels: rolling

#40085 common_interfaces: 5.3.0-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40087 gtsam: 4.2.0-5 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40090 usb_cam: 0.8.0-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40092 ompl: 1.5.2-4 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40093 zmqpp_vendor: 0.0.2-3 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40097 ros_industrial_cmake_boilerplate: 0.5.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40098 control_box_rst: 0.0.7-5 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40099 fmi_adapter: 2.1.2-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40100 fmilibrary_vendor: 1.0.1-4 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40103 py_trees_js: 0.6.4-3 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40104 ur_robot_driver: 2.4.3-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40106 proxsuite: 0.6.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40107 perception_open3d: 0.1.2-3 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40108 ament_black: 0.2.4-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40102 Add libpaho-mqttpp-dev key for Debian bookworm and later.
  rosdep/base.yaml
Labels: rosdep

#40096 Add in noble key for libpcl-all.
  rosdep/base.yaml
Labels: rosdep

#40094 Add in rosdep keys for Noble libboost-{date-time,random,thread}
  rosdep/base.yaml
Labels: rosdep

#40089 Add in libboost-python rosdep key for noble.
  rosdep/base.yaml
Labels: rosdep

#40105 Add python3-smbus rule for RHEL
  rosdep/python.yaml
Labels: rosdep

#40115 bno055: 0.5.0-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40117 vision_opencv: 3.4.0-3 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40118 ecal: 5.12.0-4 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40086 Add in rosdep key for noble for libboost-filesystem.
  rosdep/base.yaml
Labels: rosdep

#40101 Add in rosdep key for nlohmann-json-dev for noble.
  rosdep/base.yaml
Labels: rosdep

#40119 Add in libavdevice-dev key for Fedora and RHEL.
  rosdep/base.yaml
Labels: rosdep

#40121 ffmpeg_image_transport: 1.0.0-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40122 foxglove_bridge: 0.7.6-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40123 geometric_shapes: 2.1.3-4 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40124 moveit: 2.9.0-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40125 nlohmann_json_schema_validator_vendor: 0.4.0-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40126 pybind11_json_vendor: 0.4.1-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40127 Add in libpcl-all keys for Debian bookworm.
  rosdep/base.yaml
Labels: rosdep

#40137 ignition_cmake2_vendor: 0.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40138 ignition_math6_vendor: 0.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40120 Update rti-connext-dds-6.0.1 keys.
  rosdep/base.yaml
Labels: rosdep

#40129 ament_cmake: 2.3.2-3 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#40130 ros_workspace: 1.0.3-5 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#40131 apriltag: 3.2.0-6 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#40132 cyclonedds: 0.10.4-3 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#40134 fastrtps: 2.13.2-3 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#40135 mimick_vendor: 0.6.0-3 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#40133 fastcdr: 1.1.0-3 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#40136 rmw_implementation: 2.15.0-3 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#40139 ros2_ouster_drivers: 0.5.1-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40140 teleop_twist_keyboard: 2.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40143 rmw_connextdds: 0.20.0-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40111 depthai: 2.24.0-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#40146 libpointmatcher: 1.3.1-5 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40142 teleop_twist_keyboard: 2.4.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40112 depthai: 2.24.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40084 wireless: 1.0.1-3 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40083 clearpath_config: 0.2.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40082 raspimouse_sim: 2.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#40081 raspimouse_slam_navigation_ros2: 2.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#40080 raspimouse_description: 1.2.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#40079 raspimouse_ros2_examples: 2.2.0-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#40077 motion_capture_tracking: 1.0.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#40014 Add marine_msgs source repo to rolling
  rolling/distribution.yaml
Labels: rolling

#40155 Correct the freetype runtime key for Fedora.
  rosdep/base.yaml
Labels: rosdep

#40156 Update the ncurses key on Ubuntu and Debian.
  rosdep/base.yaml
Labels: rosdep

#40091 Make the ros1_bridge and rosbag2_bag_v2 source-only in Rolling
  rolling/distribution.yaml
Labels: rolling

#40151 rmf_api_msgs: 0.2.1-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40153 rmf_ros2: 2.5.0-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40157 rot_conv_lib: 1.1.0-3 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40158 iceoryx: 2.0.5-5 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#40159 rviz: 13.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling, held for coordinated release

#40160 rmw_connextdds: 0.20.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40161 rviz: 13.4.0-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40167 mp2p_icp: 1.3.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40166 mrpt2: 2.11.12-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40149 generate_parameter_library: 0.3.8-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40145 azure-iot-sdk-c: 1.13.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40141 teleop_twist_keyboard: 2.4.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40128 flir_camera_driver: 2.0.8-3 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40113 depthai: 2.24.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40109 event_camera_py: 1.2.5-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40078 motion_capture_tracking: 1.0.4-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#39857 Add a new package, unitree_ros, to rosdep database #39767
  humble/distribution.yaml
  iron/distribution.yaml
Labels: held for sync, humble, iron

#40162 apriltag: 3.4.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40164 mrpt2: 2.11.12-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40165 mp2p_icp: 1.3.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40148 generate_parameter_library: 0.3.8-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40168 mrpt2: 2.11.12-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#40147 Update to libpointmatcher to use the canonical URL.
  humble/distribution.yaml
  iron/distribution.yaml
  noetic/distribution.yaml
  rolling/distribution.yaml
Labels: noetic, held for sync, rolling, humble, iron

#40172 ffmpeg_image_transport: 1.2.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40171 ffmpeg_image_transport: 1.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40173 added ffmpeg_image_transport_tools to humble and iron
  humble/distribution.yaml
  iron/distribution.yaml
Labels: humble, iron

#40174 rosbag2: 0.24.0-3 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40176 camera_aravis: 4.1.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#40194 ros2_control: 4.6.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40191 phidgets_drivers: 2.3.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40179 rc_genicam_api: 2.6.5-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40110 updated source and doc for ros-event-camera and ros-misc-utilities
  humble/distribution.yaml
  iron/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, iron

#40180 rc_genicam_api: 2.6.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#40181 motion_capture_tracking: 1.0.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40182 rc_genicam_api: 2.6.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40195 rosdep: add protobuf for ubuntu noble
  rosdep/base.yaml
Labels: rosdep

#40189 flir_camera_driver: 2.2.13-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40190 flir_camera_driver: 2.1.13-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40192 phidgets_drivers: 2.3.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40193 phidgets_drivers: 2.3.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#40196 sick_scan_xd: 3.2.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40197 sick_scan_xd: 3.2.6-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#40198 rqt_gauges: 0.0.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#40202 rosdep: add protobuf for debian bookworm
  rosdep/base.yaml
Labels: rosdep

#40200 rqt_gauges: 0.0.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#40170 feat: add yoctopuce pip to python.yaml
  rosdep/python.yaml
Labels: rosdep, changes requested
