Repository ros/rosdistro, pull requests merged in 2024-01, with the labels that each got.

#39396 robotraconteur: 1.0.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39397 robotraconteur: 1.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39398 robotraconteur: 1.0.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39349 keys for GCC 10
  rosdep/base.yaml
Labels: rosdep

#39395 Magladko rosdep base qtwebengine5 dev
  rosdep/base.yaml
Labels: rosdep

#39401 bagger: 0.1.5-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39267 add motion_capture_tracking to humble/iron/rolling
  humble/distribution.yaml
  iron/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, iron, needs-package-name-review

#39405 dbw_polaris_ros: 1.1.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39404 dbw_mkz_ros: 1.6.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39403 dbw_fca_ros: 1.3.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39407 plotjuggler_ros: 2.0.0-3 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39411 Switch irobot_create_msgs source branch to humble.
  humble/distribution.yaml
Labels: humble

#39417 Update novatel_gps_driver branches to be correct.
  humble/distribution.yaml
  iron/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, iron

#39416 Update the gps_umd branches to ros2-devel.
  humble/distribution.yaml
  iron/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, iron

#39408 Fix ouster source and doc links.
  iron/distribution.yaml
Labels: iron

#39410 Fix the grbl_ros branches to point to an existing one.
  humble/distribution.yaml
  iron/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, iron

#39412 Update the branches for the micro_ros_msgs repository.
  humble/distribution.yaml
  iron/distribution.yaml
Labels: humble, iron

#39413 Update the source branch for neo_simulation2.
  humble/distribution.yaml
Labels: humble

#39414 Update nerian_stereo_ros2 to an existing branch.
  humble/distribution.yaml
Labels: humble

#39415 Update ruckig source branches to 'main'.
  humble/distribution.yaml
  iron/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, iron

#39421 ros2_controllers: 3.20.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39420 plotjuggler: 3.8.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39419 plotjuggler: 3.8.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39428 gazebo_ros2_control: 0.7.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39427 gazebo_ros2_control: 0.6.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39426 gazebo_ros2_control: 0.4.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39425 gz_ros2_control: 1.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39424 gz_ros2_control: 1.1.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39423 ign_ros2_control: 0.7.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39434 clearpath_common: 0.2.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39433 clearpath_config: 0.2.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39432 rtabmap_ros: 0.21.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39431 rtabmap: 0.21.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39430 rtabmap_ros: 0.21.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39429 rtabmap: 0.21.3-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39400 fix python3-psycopg2 for jammy
  rosdep/python.yaml
Labels: rosdep

#39422 add imu_pipeline to rolling
  rolling/distribution.yaml
Labels: rolling

#39435 Add rosdep keys for patchelf
  rosdep/base.yaml
Labels: rosdep

#39409 Update locator_ros_bridge branches.
  humble/distribution.yaml
  iron/distribution.yaml
  rolling/distribution.yaml
Labels: more information needed, rolling, humble, iron

#39437 etsi_its_messages: 2.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39439 ur_robot_driver: 2.2.10-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39440 Unrelease rtctree from Noetic
  noetic/distribution.yaml
Labels: noetic

#39441 Unrelease rtsprofile from Noetic
  noetic/distribution.yaml
Labels: noetic

#39442 Unrelease sound_classification from Noetic
  noetic/distribution.yaml
Labels: noetic

#39445 imu_pipeline: 0.4.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39444 imu_pipeline: 0.4.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39436 etsi_its_messages: 2.0.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39443 imu_pipeline: 0.4.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39447 rtabmap: 0.21.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39448 rtabmap_ros: 0.21.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39449 mola_common: 0.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39450 mola_common: 0.3.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39451 mola_common: 0.3.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39452 ffmpeg_image_transport_msgs: 1.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39455 ffmpeg_image_transport_msgs: 1.1.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39456 ffmpeg_image_transport_msgs: 1.2.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39457 libcaer: 1.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39458 libcaer: 1.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39459 libcaer: 1.2.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39461 adi_tmcl: 4.0.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39462 rtctree: 3.0.1-4 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39463 jsk_recognition: 1.2.17-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39464 rtsprofile: 2.0.0-4 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39465 ros2_controllers: 4.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39466 ros2_controllers: 3.20.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39399 feat: add darknet
  rosdep/base.yaml
Labels: rosdep

#39483 plotjuggler: 3.8.6-3 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39471 clearpath_common: 0.2.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#39469 clearpath_config: 0.2.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#39468 sick_scan_xd: 3.1.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#39460 adi_tmcl: 2.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: held for sync, humble

#39454 Update repo url
  humble/distribution.yaml
  noetic/distribution.yaml
Labels: noetic, held for sync, humble

#39485 plotjuggler: 3.8.6-2 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39486 rqt_gauges: 0.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39488 rqt_gauges: 0.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39487 rqt_gauges: 0.0.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39491 ros_gz: 0.254.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39494 libcamera: 0.2.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39495 mocap_optitrack: 1.0.0-3 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39505 behaviortree_cpp_v4: 4.5.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39506 behaviortree_cpp_v4: 4.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39502 fields2cover: 1.2.1-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39500 fields2cover: 1.2.1-2 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39499 fields2cover: 1.2.1-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39497 rtabmap_ros: 0.21.3-4 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39484 plotjuggler: 3.8.6-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#39508 clearpath_config: 0.2.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39507 moveit: 2.9.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39510 ess_imu_driver2: 1.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39515 wrapyfi_ros2_interfaces: 0.4.30-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39519 ros2_controllers: 4.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39517 ros2_controllers: 2.31.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39521 clearpath_common: 0.2.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39498 ypspur_ros: 0.3.6-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39503 tf2_server: 1.1.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39501 fields2cover: 1.2.1-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39490 cras_ros_utils: 2.3.7-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39492 nodelet_core: 1.11.0-2 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39496 cras_laser_geometry: 1.2.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39446 Wayland build and runtime dependencies
  rosdep/base.yaml
Labels: rosdep

#39522 moveit_msgs: 2.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39518 ros2_controllers: 3.20.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: held for sync, iron

#39525 ffmpeg_image_transport: 1.2.0-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39528 imu_tools: 1.2.6-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39526 cras_joy_tools: 1.0.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39513 add serl_franka_controllers to rosdistro
  noetic/distribution.yaml
Labels: noetic

#39524 ffmpeg_image_transport: 1.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39523 ffmpeg_image_transport: 1.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39516 wrapyfi_ros_interfaces: 0.4.30-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39532 generate_parameter_library: 0.3.7-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39530 generate_parameter_library: 0.3.7-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39531 generate_parameter_library: 0.3.7-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39529 Add data_tamer source to Humble
  humble/distribution.yaml
Labels: humble, needs-package-name-review

#39533 cras_ros_utils: 2.3.8-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39536 generate_parameter_library: remove example packages
  humble/distribution.yaml
  iron/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, iron

#39547 libcaer: 1.2.2-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39538 mrpt2: 2.11.6-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39542 Add mola_test_datasets for indexing
  humble/distribution.yaml
  iron/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, iron

#39544 sick_scan_xd: 3.1.8-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39545 libcaer: 1.1.2-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39548 clearpath_common: 0.2.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39549 clearpath_simulator: 0.2.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39537 mrpt2: 2.11.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39539 mrpt2: 2.11.6-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39541 pangolin: 0.9.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39552 plotjuggler: 3.8.7-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39553 plotjuggler: 3.8.7-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39543 Add python3-ruff-pip
  rosdep/python.yaml
Labels: rosdep

#39554 Add choreography packages to python3-bosdyn-*-pip rules
  rosdep/python.yaml
Labels: rosdep

#39555 multidim_rrt_planner: 0.0.4-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39556 sick_scan_xd: 3.1.10-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39557 libcaer_driver: 1.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#39558 libcaer_driver: 1.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39559 boost_plugin_loader: 0.2.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39560 boost_plugin_loader: 0.2.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39561 libcaer_driver: 1.2.1-1 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39550 Remove "boeing" prefix from released gazebo packages
  humble/distribution.yaml
  noetic/distribution.yaml
Labels: noetic, changes requested, humble

#39563 azure-iot-sdk-c: 1.10.1-2 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39564 sick_scan_xd: 3.1.11-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39562 pangolin: 0.9.0-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39565 launch_pal: 0.0.15-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39567 image_pipeline: update branch for iron
  iron/distribution.yaml
Labels: iron

#39568 Add no_physics and planar_move gazebo plugin packages.
  humble/distribution.yaml
Labels: humble

#39569 pal_robotiq_gripper: 2.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39570 azure-iot-sdk-c: 1.10.1-3 in 'iron/distribution.yaml' [bloom]
  iron/distribution.yaml
Labels: iron

#39575 fastrtps: 2.6.7-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39576 plotjuggler: 3.8.8-3 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39577 plotjuggler: 3.8.8-3 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#39578 clearpath_common: 0.2.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#39579 clearpath_simulator: 0.2.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble
