Repository ros/rosdistro, pull requests merged in 2025-07, with the labels that each got.

#46694 crazyswarm2: 1.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46674 ament_cmake: 1.3.12-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46741 urdfdom_headers: 2.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46740 pybind11_vendor: 3.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46735 image_common: 6.2.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46734 libstatistics_collector: 2.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46732 rqt_bag: 2.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46742 urdfdom: 5.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46730 ros_environment: 4.4.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46731 rqt_plot: 1.7.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46729 common_interfaces: 5.8.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46728 console_bridge_vendor: 1.9.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46727 example_interfaces: 0.14.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46724 message_filters: 7.2.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46720 rclcpp: 30.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46719 rclpy: 10.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46717 rcutils: 7.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46715 rmw_cyclonedds: 4.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46712 rmw_implementation: 3.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46708 rosidl: 5.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46706 rviz: 15.1.6-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46702 tlsf: 0.11.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46699 moveit: 2.14.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46688 turtle_nest: 1.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46673 gz_sensors_vendor: 0.2.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46671 gz_fuel_tools_vendor: 0.2.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46683 yasmin: 3.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46670 gz_common_vendor: 0.2.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46655 marti_common: 3.8.5-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46760 pal_statistics: 2.6.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46755 ros2_control: 5.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46751 ros_gz: 3.0.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46763 urdfdom: 5.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46700 moveit: 2.14.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46738 zed-ros2-interfaces: 5.0.1-2 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46744 kompass: 0.3.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46749 ros2_control: 5.3.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46748 ros2_controllers: 2.48.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46752 ros_gz: 2.1.10-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46754 ros2_controllers: 4.27.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46757 crazyswarm2: 1.0.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46761 pal_statistics: 2.6.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46768 clearpath_config: 1.3.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46769 clearpath_common: 1.3.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46646 pal_statistics: 2.6.3-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46654 marti_common: 3.8.5-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46771 sdformat_urdf: 2.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46772 clearpath_msgs: 2.6.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46773 clearpath_config: 2.6.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46774 clearpath_common: 2.6.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46775 kompass: 0.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46776 clips_vendor: 6.4.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46790 rqt_robot_steering: 1.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46791 rqt_robot_steering: 1.0.2-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46792 rqt_robot_steering: 1.0.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46793 rqt_robot_steering: 1.0.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46785 mola: 1.9.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46784 pose_cov_ops: 0.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46781 pose_cov_ops: 0.4.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46778 mvsim: 0.14.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46777 mvsim: 0.14.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46795 mapviz: 2.5.7-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46796 mapviz: 2.5.7-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46798 mapviz: 2.5.7-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46799 gps_umd: 2.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46800 gps_umd: 2.1.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46803 clearpath_config: 2.6.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46809 rcutils: 6.9.6-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46824 ublox_dgnss: 0.5.8-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46823 remove neo_simulation2
  humble/distribution.yaml
  jazzy/distribution.yaml
  kilted/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, jazzy, kilted

#46818 remove package behaviortree_cpp_v3 from newer distros
  kilted/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, kilted

#46830 gz_ros2_control: 3.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46834 image_transport_plugins: 6.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46836 image_transport_plugins: 5.1.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46821 teleop_twist_joy: 2.6.4-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46831 gz_ros2_control: 1.2.14-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46837 image_transport_plugins: 4.0.5-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46822 teleop_twist_joy: 2.4.8-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46842 nanoeigenpy: 0.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46839 nanoeigenpy: 0.3.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46838 nanoeigenpy: 0.3.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46832 protobuf_comm: 0.9.3-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46853 adi_iio: 1.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46857 rmw_zenoh: 0.1.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46874 rtabmap_ros: 0.22.1-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46873 rtabmap_ros: 0.22.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46872 rtabmap_ros: 0.22.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46868 rtabmap: 0.22.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46861 protobuf_comm: 0.9.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46863 clips_executive: 0.1.1-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46888 ros2_controllers: 5.3.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46889 ros2_controllers: 4.28.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46844 rqt_image_view: 1.3.1-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46892 rcutils: 6.9.7-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46887 ros2_controllers: 5.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#46895 flir_camera_driver: 3.0.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46877 Add bno08x_driver to humble
  humble/distribution.yaml
Labels: humble

#46896 flir_camera_driver: 3.0.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46908 webots_ros2: 2025.0.1-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46911 clips_executive: 0.1.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46921 mapviz: 2.5.8-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46940 sros2: 0.10.7-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46937 rosidl: 3.1.7-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46936 ros2cli: 0.18.13-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46934 rmw_fastrtps: 6.2.8-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46933 rclpy: 3.3.17-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46932 rclcpp: 16.0.14-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46931 rcl_interfaces: 1.2.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46929 message_filters: 4.3.8-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46928 launch: 1.0.10-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46925 ament_lint: 0.12.13-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46923 mapviz: 2.5.8-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46941 rosbag2: 0.15.15-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46924 mapviz: 2.5.8-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#46876 protobuf_comm: 0.9.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#46296 Add qt-material pip package
  rosdep/python.yaml
Labels: rosdep, rosdep-needs-second-approval

#46493 add python3-xlib
  rosdep/python.yaml
Labels: rosdep, rosdep-needs-second-approval

#46960 hebi_cpp_api: 3.13.0-3 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46959 clearpath_common: 2.6.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46965 marti_common: 3.8.7-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46966 marti_common: 3.8.7-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46967 ament_lint: 0.12.14-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46968 control_msgs: 6.4.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46969 control_msgs: 6.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46971 control_msgs: 5.5.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46972 filters: 2.2.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46973 filters: 2.2.2-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46979 ur_client_library: 2.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46982 ros2_control: 5.4.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46983 ros2_control: 4.34.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46985 rosidlcpp: 0.3.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46986 rosidlcpp: 0.3.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46987 control_toolbox: 5.6.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46988 control_toolbox: 5.6.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46989 control_toolbox: 4.6.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46996 librealsense2: 2.56.4-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47002 mrpt_path_planning: 0.2.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46981 ros2_controllers: 2.49.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46976 ur_client_library: 2.2.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46963 marti_common: 3.8.7-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46961 hebi_cpp_api: 3.13.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46944 adi_iio: 1.0.1-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46994 realsense2_camera: 4.56.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46997 librealsense2: 2.56.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46430 canboat_vendor: 0.0.2-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46662 add cm_executors to jazzy
  jazzy/distribution.yaml
Labels: stale, jazzy

#46701 add librocksdb-dev in 'rosdep/base.yml'
  rosdep/base.yaml
Labels: rosdep

#46860 Add python3-obj2mjcf-pip
  rosdep/python.yaml
Labels: rosdep

#46912 Add parameter_expression to index of humble, jazzy, rolling
  humble/distribution.yaml
  jazzy/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, jazzy

#46915 teleop_twist_joy: 2.6.5-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling
