Repository ros/rosdistro, pull requests merged in 2025-04, with the labels that each got.

#44668 Add adi iio to humble, jazzy and rolling index
  humble/distribution.yaml
  jazzy/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, jazzy

#44933 flir_camera_driver: 3.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44895 indexing depth_obstacle_detect_ros package in noetic and jazzy distributions
  jazzy/distribution.yaml
  noetic/distribution.yaml
Labels: noetic, jazzy

#44882 Please Add This Package to be indexed in the rosdistro: "numpy_ndarray_msgs"
  humble/distribution.yaml
  jazzy/distribution.yaml
Labels: humble, jazzy

#44940 teleop_twist_joy: 2.6.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44941 teleop_twist_joy: 2.6.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44920 Add python3-einops-pip
  rosdep/python.yaml
Labels: rosdep, rosdep-needs-second-approval

#44321 Adding aruco_markers to index for distro
  humble/distribution.yaml
  jazzy/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, jazzy

#44960 launch_ros: 0.26.7-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44951 rviz: 14.1.8-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44955 ros2cli: 0.32.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44954 realtime_support: 0.17.1-3 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44953 pybind11_vendor: 3.1.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44952 rcpputils: 2.11.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44947 sros2: 0.13.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44950 slg_msgs: 3.9.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44949 nobleo_socketcan_bridge: 1.0.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44945 ur_description: 3.1.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44962 geometry2: 0.36.9-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44965 ament_lint: 0.17.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44964 uncrustify_vendor: 3.0.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44944 ur_description: 2.5.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44946 ur_description: 3.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44948 nobleo_socketcan_bridge: 1.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44967 mapviz: 2.4.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44968 mapviz: 2.4.6-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44970 rcutils: 6.9.5-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44971 ament_cmake_ros: 0.14.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44973 Switch to noetic-devel branch for many repos
  noetic/distribution.yaml
Labels: noetic

#44977 mp2p_icp: 1.6.7-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44978 aruco_markers: 0.0.1-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44980 diagnostics: 4.4.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44982 diagnostics: 4.0.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44985 ign_ros2_control: 0.7.13-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44987 gz_ros2_control: 2.0.7-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44991 rclcpp: 29.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44979 Add inverse-dynamics-solver to humble
  humble/distribution.yaml
Labels: humble

#44992 rcl: 10.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44997 ament_package: 0.16.4-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44998 osrf_pycommon: 2.1.6-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44999 image_common: 5.1.6-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45000 point_cloud_transport: 4.0.4-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45001 resource_retriever: 3.4.4-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45012 autoware_lanelet2_extension: 0.7.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44993 libcamera: 0.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45002 realtime_tools: 4.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45008 hatchbed_common: 0.1.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45013 autoware_lanelet2_extension: 0.7.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45016 autoware_internal_msgs: 1.8.1-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45020 autoware_msgs: 1.6.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45022 perception_pcl: 2.6.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45023 fastdds: 3.2.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45004 realtime_tools: 2.13.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#45011 autoware_lanelet2_extension: 0.7.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#45014 autoware_internal_msgs: 1.8.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#45018 autoware_msgs: 1.6.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#45024 off_highway_sensor_drivers: 0.8.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44974 mp2p_icp: 1.6.7-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#45027 autoware_cmake: 1.0.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45025 clearpath_common: 2.2.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: held for sync, jazzy

#45019 autoware_msgs: 1.6.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: held for sync, jazzy

#45017 laser_segmentation: 3.0.4-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: held for sync, jazzy

#45015 autoware_internal_msgs: 1.8.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: held for sync, jazzy

#45010 log_view: 0.2.5-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: held for sync, jazzy

#45009 hatchbed_common: 0.1.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: held for sync, jazzy

#45003 realtime_tools: 3.5.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: held for sync, jazzy

#44976 mp2p_icp: 1.6.7-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: held for sync, jazzy

#44981 diagnostics: 4.2.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: held for sync, jazzy

#44983 clearpath_tests: 2.3.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: held for sync, jazzy

#44986 gz_ros2_control: 1.2.12-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: held for sync, jazzy

#45028 autoware_cmake: 1.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45039 Revert "mp2p_icp: 1.6.7-1 in 'noetic/distribution.yaml' [bloom] (#449…
  noetic/distribution.yaml
Labels: noetic

#44943 universal_robots: 1.4.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic, held for sync

#44883 Adding libaditof Package to Ros Index
  noetic/distribution.yaml
Labels: noetic, held for sync

#45037 abb: 1.5.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45044 laser_geometry: 1.6.8-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45045 image_common: 1.12.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45048 interactive_markers: 1.12.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45049 python_qt_binding: 0.4.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45051 qt_gui_core: 0.4.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45053 rqt: 0.5.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45054 rqt_action: 0.4.10-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45055 rqt_bag: 0.5.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45057 rqt_console: 0.4.13-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45058 rqt_dep: 0.4.13-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45059 rqt_graph: 0.4.15-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45060 rqt_image_view: 0.4.18-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45061 rqt_msg: 0.4.11-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45062 rqt_plot: 0.4.15-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45063 rqt_pose_view: 0.5.12-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45064 rqt_publisher: 0.4.11-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45065 rqt_py_console: 0.4.11-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45066 rqt_reconfigure: 0.5.6-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45067 rqt_robot_steering: 0.5.13-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45068 rqt_rviz: 0.7.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45069 rqt_service_caller: 0.4.11-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45070 rqt_srv: 0.4.10-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45071 rqt_top: 0.4.11-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45072 rqt_topic: 0.4.14-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45030 depth_obstacle_detect_ros: 1.0.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45074 visualization_tutorials: 0.11.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45075 actionlib: 1.14.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45076 angles: 1.9.14-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45052 Add rosbag2_broll source entries
  humble/distribution.yaml
  jazzy/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, jazzy

#45050 Add source entries for ros-tooling/graph-monitor
  humble/distribution.yaml
  jazzy/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, jazzy

#45043 clearpath_ros2_socketcan_interface: 1.0.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#45042 clearpath_mecanum_drive_controller: 0.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#45038 libcamera: 0.5.0-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45041 clearpath_common: 2.2.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45026 autoware_cmake: 1.0.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#45034 message_filters: 4.3.7-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#45031 clearpath_ros2_socketcan_interface: 2.1.1-2 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44990 Add fkie_potree_rviz_plugin to distribution index
  humble/distribution.yaml
  jazzy/distribution.yaml
  rolling/distribution.yaml
Labels: held for sync, rolling, humble, jazzy

#45036 message_filters: 7.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45090 catkin: 0.8.11-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45091 class_loader: 0.5.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45092 cmake_modules: 0.5.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45093 dynamic_reconfigure: 1.7.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45094 filters: 1.9.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45095 gencpp: 0.7.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45096 genmsg: 0.6.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45097 genpy: 0.6.17-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45099 geometry: 1.13.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45100 geometry_tutorials: 0.2.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45101 geometry2: 0.7.8-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45102 joint_state_publisher: 1.15.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45103 pluginlib: 1.13.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45104 resource_retriever: 1.12.9-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45105 robot_state_publisher: 1.15.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45106 ros: 1.15.9-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45107 ros_comm_msgs: 1.11.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45108 ros_tutorials: 0.10.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45109 rosbag_migration_rule: 1.0.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45110 rosconsole: 1.14.4-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45111 rosconsole_bridge: 0.5.5-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45112 rospack: 2.6.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45113 std_msgs: 0.5.14-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45114 urdf: 1.13.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45145 inverse_dynamics_solver: 1.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#45143 fkie_message_filters: 3.0.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45141 open_sound_control_ros: 0.0.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45142 fkie_message_filters: 3.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#45139 clearpath_simulator: 2.3.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45077 ros2_control: 4.28.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45119 yasmin: 3.2.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45081 libcaer_driver: 1.5.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#45082 libcaer_driver: 1.5.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45087 ros2_control: 2.50.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#45088 ros2_controllers: 2.44.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#45098 clearpath_tests: 2.3.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy
