Repository ros/rosdistro, pull requests merged in 2025-09, with the labels that each got.

#47449 apriltag: 3.4.5-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47451 apriltag_ros: 3.3.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47452 apriltag_ros: 3.3.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47455 ros2_controllers: 5.6.1-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47457 mrpt_ros: 2.14.12-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47462 turtle_nest: 1.2.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47472 robotraconteur: 1.2.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47492 automatika_ros_sugar: 0.3.2-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47478 kompass: 0.3.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47477 kompass: 0.3.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47489 catch_ros2: 0.2.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47490 automatika_ros_sugar: 0.3.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47382 foxglove_compressed_video_transport: 3.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#47390 mp2p_icp: 1.8.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#47402 mola_lidar_odometry: 0.9.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#47404 ros2_control: 5.6.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#47412 control_msgs: 6.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#47419 geometry2: 0.45.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#47422 camera_ros: 0.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#47424 septentrio_gnss_driver: 1.4.5-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#47429 mola_common: 0.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#47430 xacro: 2.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#47446 tf2_2d: 1.6.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#47447 fuse: 1.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#47450 apriltag: 3.4.5-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#47453 apriltag_ros: 3.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#47463 turtle_nest: 1.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#47468 apriltag_detector: 3.0.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#47470 libcaer_driver: 1.5.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#47475 robotraconteur: 1.2.6-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#47486 catch_ros2: 0.2.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#47493 automatika_ros_sugar: 0.3.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#47497 automatika_embodied_agents: 0.4.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47502 async_web_server_cpp: 2.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47507 rviz: 15.1.9-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47514 mapviz: 2.5.10-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47515 gz_tools_vendor: 0.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47516 gz_physics_vendor: 0.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47518 gz_sim_vendor: 0.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47467 foxglove_compressed_video_transport: 3.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#47496 automatika_embodied_agents: 0.4.2-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47501 async_web_server_cpp: 2.0.1-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47506 depthai: 3.0.4-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47508 depthai-ros: 3.0.5-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47513 mapviz: 2.5.10-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47519 gz_physics_vendor: 0.2.3-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47520 gz_common_vendor: 0.2.5-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47521 gz_fuel_tools_vendor: 0.2.3-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47525 gz_sensors_vendor: 0.2.3-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47526 gz_tools_vendor: 0.1.3-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47512 mapviz: 2.5.10-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47527 gz_tools_vendor: 0.0.7-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47494 automatika_embodied_agents: 0.4.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47499 async_web_server_cpp: 2.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47509 at_sonde_ros_driver: 1.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47528 launch_pal: 0.17.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47540 mola_state_estimation: 1.10.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47553 gz_cmake_vendor: 0.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47559 gz_msgs_vendor: 0.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47560 sdformat_vendor: 0.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47563 gz_rendering_vendor: 0.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47566 gz_sensors_vendor: 0.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47568 gz_launch_vendor: 0.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47576 mavlink: 2025.9.9-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47531 catch_ros2: 0.2.3-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47575 depthai: 3.0.5-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47580 turtlebot4: 2.1.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47532 rosidlcpp: 0.4.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47535 rtsp_image_transport: 2.0.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47569 Update the development branch of rosbridge_suite in Jazzy
  jazzy/distribution.yaml
Labels: jazzy

#47537 mola_state_estimation: 1.10.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47548 namosim: 0.0.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47552 clearpath_config: 2.7.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47582 realtime_tools: 3.8.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47587 mavros: 2.11.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47597 rmw_zenoh: 0.1.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47647 mavros: 2.12.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47629 launch_ros: 0.19.11-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47638 ros2_control: 4.37.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47639 rqt_dotgraph: 0.0.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47644 leo_robot: 1.6.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47645 mavros: 2.12.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47646 mavros: 2.12.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47653 ur_description: 3.3.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47654 ur_description: 2.7.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47656 ur_client_library: 2.3.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47657 ur_client_library: 2.3.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47658 ur_client_library: 2.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47659 ackermann_nlmpc: 1.0.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47667 launch_ros: 0.28.3-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47666 launch_ros: 0.26.9-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47674 ur_robot_driver: 3.4.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47673 ur_robot_driver: 4.2.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47672 Add inverse_dynamics_solver in jazzy
  jazzy/distribution.yaml
Labels: jazzy

#47677 image_pipeline: 7.1.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47625 feat: add source entry for callback_isolated_executor
  humble/distribution.yaml
Labels: changes requested, humble

#47682 rviz: 14.1.15-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47701 demos: 0.33.7-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47707 ackermann_nlmpc: 1.0.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47728 pal_statistics: 2.7.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47731 navigation2: 1.1.19-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47726 pal_statistics: 2.7.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47723 clearpath_common: 1.3.7-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47725 tecgihan_driver: 0.1.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47706 namosim: 0.0.4-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47716 play_motion2: 1.7.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47698 bcr_arm: 0.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47697 novatel_oem7_driver: 20.8.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47695 rpyutils: 0.2.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47691 message_filters: 4.3.9-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47687 rcpputils: 2.4.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47683 rviz: 11.2.21-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47737 ur_robot_driver: 2.9.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47736 ur_simulation_gz: 2.4.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47734 rdl: 6.0.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47732 navigation2: 1.3.9-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47729 pal_statistics: 2.7.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47709 ackermann_nlmpc: 1.0.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47705 point_cloud_transport_tutorial: 0.0.5-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47692 rmw_dds_common: 4.0.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47690 message_filters: 7.1.2-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47712 ads_vendor: 1.0.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47719 ads_vendor: 1.0.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: changes requested, jazzy

#47308 Add orbbec_camera and orbbec_camera_msgs to ROS Humble index
  humble/distribution.yaml
  jazzy/distribution.yaml
Labels: humble, jazzy

#47765 rmw_fastrtps: 6.2.9-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47768 pymoveit2: 4.0.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47769 Add mola_imu_preintegration for indexing in remaining distros
  humble/distribution.yaml
  jazzy/distribution.yaml
  kilted/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, jazzy, kilted

#47777 pal_gazebo_plugins: 4.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47781 gz_rendering_vendor: 0.2.5-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47782 gz_sim_vendor: 0.2.2-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47784 ouster-ros: 0.13.14-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47785 gz_common_vendor: 0.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47786 sdformat_vendor: 0.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47789 gz_transport_vendor: 0.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47791 gz_sim_vendor: 0.4.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47807 teleop_twist_keyboard: 2.4.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47806 teleop_twist_keyboard: 2.4.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47805 add new package(s) cloudini
  rolling/distribution.yaml
Labels: rolling

#47799 foxglove-sdk: 3.2.0-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#47817 ros_battery_monitoring: 1.1.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47831 mola_imu_preintegration: 1.11.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47846 hebi_cpp_api: 3.15.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47830 rko_lio: 0.1.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#47803 rviz: 15.1.10-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47853 plotjuggler: 3.13.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47850 gz_cmake_vendor: 0.4.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47856 ros_gz: 3.0.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling
