Repository ros/rosdistro, pull requests merged in 2025-03, with the labels that each got.

#44658 Disable release of rmw_desert.
  rolling/distribution.yaml
Labels: rolling

#44659 rmw_fastrtps: 9.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44638 image_pipeline: 3.0.7-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44647 realtime_tools: 2.12.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44656 wireless: 1.1.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44631 rviz_satellite: 4.1.0-2 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44648 ros2_control: 4.27.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44650 ros2_controllers: 4.21.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44657 wireless: 1.1.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44664 turtlebot4_setup: 2.0.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44637 image_pipeline: 5.0.9-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44639 ros2_kortex: 0.2.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44570 add multisensor_calibration
  jazzy/distribution.yaml
Labels: jazzy

#44666 ur_robot_driver: 3.1.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44670 velodyne_simulator: 2.0.4-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44671 rosidl_dynamic_typesupport_fastrtps: 0.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44667 rmw: 7.8.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#44674 turtlebot4_setup: 1.0.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44675 clearpath_config: 1.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44676 Revert "rviz: 14.4.3-1 in 'rolling/distribution.yaml' [bloom]"
  rolling/distribution.yaml
Labels: rolling

#44678 launch_pal: 0.11.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44679 pal_gripper: 3.5.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44680 talos_moveit_config: 2.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44681 play_motion2: 1.5.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44682 omni_base_navigation: 2.12.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44683 pmb2_robot: 5.7.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44684 omni_base_robot: 2.9.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44685 pmb2_simulation: 4.3.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44686 pmb2_navigation: 4.11.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44688 omni_base_simulation: 2.4.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44689 tiago_moveit_config: 3.1.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44690 tiago_robot: 4.14.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44692 tiago_navigation: 4.9.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44651 ros2_controllers: 4.21.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#44649 ros2_control: 4.27.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#44645 apriltag_detector: 3.0.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44643 apriltag_detector: 3.0.1-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#44665 ur_robot_driver: 3.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#44661 rmw_desert: 1.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#44662 rmw_desert: 1.0.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44663 rmw_desert: 1.0.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44694 rmw_desert: 1.0.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44695 rmw_desert: 1.0.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44698 ffmpeg_image_transport: 1.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44697 ffmpeg_image_transport: 1.0.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44696 ffmpeg_image_transport: 1.0.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44699 update apriltag detector source and doc repositories
  humble/distribution.yaml
  jazzy/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, jazzy

#44701 openeb_vendor: 2.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44704 point to correct doc/source for openeb_vendor repository
  humble/distribution.yaml
  jazzy/distribution.yaml
Labels: humble, jazzy

#44700 clearpath_tests: 0.2.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44707 openeb_vendor: 2.0.2-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44712 rmw_desert: 2.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44711 rmw_desert: 2.0.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44710 clearpath_tests: 0.2.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44709 nobleo_socketcan_bridge: 1.0.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44641 feat: add source entry for agnocast
  humble/distribution.yaml
Labels: humble

#44739 dataspeed_can: 2.0.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44738 dataspeed_can: 2.0.6-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44721 nobleo_socketcan_bridge: 1.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44717 rmw_implementation: 3.0.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44718 rmw_fastrtps: 9.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44719 rmw_cyclonedds: 4.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44723 kinematics_interface: 2.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44732 metavision_driver: 2.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44740 control_msgs: 6.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44716 rmw: 7.8.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44744 message_filters: 7.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44745 control_toolbox: 5.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44746 clearpath_common: 1.2.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44760 clearpath_tests: 0.2.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44761 clearpath_desktop: 1.2.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44800 ur_robot_driver: 2.6.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44799 ur_robot_driver: 3.1.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44798 ur_robot_driver: 3.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44797 ur_description: 3.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44796 ur_description: 3.0.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44795 ur_description: 2.1.11-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44794 ur_client_library: 1.8.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#44793 ur_client_library: 1.8.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44792 ur_client_library: 1.8.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44791 ur_client_library: 1.8.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44762 rmw_desert: 2.0.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44790 ur_msgs: 2.2.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44789 ur_msgs: 2.2.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44787 autoware_lanelet2_extension: 0.6.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44786 autoware_cmake: 1.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44781 ffmpeg_image_transport: 2.0.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44780 mola: 1.6.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44779 mola_state_estimation: 1.8.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44777 mola: 1.6.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44776 mola_lidar_odometry: 0.7.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44775 mola_state_estimation: 1.8.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44774 mola_lidar_odometry: 0.7.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44773 mola_lidar_odometry: 0.7.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44772 ffmpeg_image_transport: 2.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44771 ffmpeg_image_transport: 2.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44770 ffmpeg_encoder_decoder: 2.0.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44769 ffmpeg_encoder_decoder: 2.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44768 ffmpeg_encoder_decoder: 2.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44763 rmw_desert: 1.0.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44742 clearpath_config: 1.2.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44730 metavision_driver: 2.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44729 control_msgs: 5.4.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44728 control_msgs: 4.8.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44725 clearpath_config: 2.2.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44724 clearpath_msgs: 2.2.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44722 kinematics_interface: 1.3.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44727 clearpath_simulator: 2.2.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44733 rmw: 7.3.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44734 rmw_implementation: 2.15.5-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44735 rmw_fastrtps: 8.4.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44736 rmw_cyclonedds: 2.2.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44737 rmw_connextdds: 0.22.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44802 ros2_controllers: 4.22.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44806 clearpath_config: 2.2.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44804 rmw_desert: 2.0.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44807 novatel_oem7_driver: 20.7.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44801 ros2_controllers: 2.43.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44803 rmw_desert: 3.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44811 depthai-ros: 2.11.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44810 depthai-ros: 2.11.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#44813 ffmpeg_image_transport: 2.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44814 ffmpeg_image_transport_tools: 2.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44815 ffmpeg_image_transport_tools: 2.1.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44816 ffmpeg_image_transport_tools: 2.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44818 neonavigation: 0.17.6-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#44820 ffmpeg_image_transport: 2.0.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44827 picknik_controllers: 0.0.4-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44828 picknik_controllers: 0.0.4-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44825 clearpath_tests: 0.2.9-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44847 clearpath_msgs: 2.2.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44844 common_interfaces: 5.3.6-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44840 depthai: 2.30.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44838 xacro: 2.0.13-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44837 xacro: 2.0.13-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44843 depthai: 2.30.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44846 common_interfaces: 4.8.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44831 ament_cmake_ros: 0.14.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44836 xacro: 2.0.13-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44842 common_interfaces: 5.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44845 rviz: 14.4.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44859 Index `open_sound_control_ros`
  jazzy/distribution.yaml
Labels: jazzy

#44877 sros2: 0.10.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44876 ros2cli: 0.18.12-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44875 rcpputils: 2.4.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44874 rclpy: 3.3.16-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44873 rclcpp: 16.0.12-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44872 message_filters: 4.3.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44871 launch_ros: 0.19.9-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44870 launch: 1.0.8-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble
