Repository ros/rosdistro, pull requests merged in 2025-02, with the labels that each got.

#44303 control_toolbox: 4.0.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44311 ros2_control: 4.25.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44312 ros2_controllers: 4.20.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44316 backward_ros: 1.0.7-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44319 pal_statistics: 2.6.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44339 moveit_visual_tools: 4.1.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44352 rosidl_typesupport: 3.3.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44351 ros2cli: 0.37.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44350 rcutils: 6.9.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44349 rcpputils: 2.13.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44348 rclpy: 9.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44347 rmw: 7.6.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44346 rqt_service_caller: 1.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44345 rqt_py_console: 1.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44344 rqt_graph: 1.7.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44343 rqt: 1.9.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44342 ament_lint: 0.19.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44357 foxglove_bridge: 0.8.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44355 foxglove_bridge: 0.8.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#44356 foxglove_bridge: 0.8.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44314 gz_ros2_control: 2.0.5-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44360 rosbag2: 0.31.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44362 mvsim: 0.13.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44361 mvsim: 0.13.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44359 hebi_cpp_api: 3.10.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44338 moveit_visual_tools: 4.1.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44324 crane_plus: 3.0.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44322 clearpath_desktop: 2.0.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44318 pal_statistics: 2.6.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44315 backward_ros: 1.0.7-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44323 novatel_oem7_driver: 20.6.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44363 mvsim: 0.13.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#44358 foxglove_bridge: 0.8.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#44340 moveit_visual_tools: 4.1.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#44325 message_filters: 7.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#44320 pal_statistics: 2.6.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#44317 backward_ros: 1.0.7-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#44310 ros2_control: 4.25.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44309 ros2_controllers: 4.20.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#44302 control_toolbox: 4.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: held for sync, rolling

#43942 rosdep: Add missing entries for OpenEmbedded
  rosdep/base.yaml
  rosdep/python.yaml
Labels: rosdep, stale

#44399 ros2_control: 4.26.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44394 ros_battery_monitoring: 1.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44391 yasmin: 3.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44387 gz_tools_vendor: 0.1.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44383 mvsim: 0.13.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44378 pal_statistics: 2.6.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44366 rmw_zenoh: 0.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44406 qml_ros2_plugin: 1.25.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44400 hebi_cpp_api: 3.12.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44397 ros2_control: 2.48.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44403 ros_babel_fish: 0.25.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44395 ign_ros2_control: 0.7.11-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44389 yasmin: 3.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44388 navigation2: 1.1.18-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44381 mvsim: 0.13.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44380 mvsim: 0.13.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#44376 pal_statistics: 2.6.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44370 nonpersistent_voxel_layer: 2.3.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44369 Update gazebo_ros_pkgs status to EOL
  humble/distribution.yaml
  noetic/distribution.yaml
Labels: noetic, humble

#44368 rmw_zenoh: 0.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44367 rmw_zenoh: 0.2.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: held for sync, jazzy

#44404 ros_babel_fish: 2.25.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: held for sync, jazzy

#44402 sdformat_vendor: 0.0.9-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: held for sync, jazzy

#44412 qml_ros2_plugin: 1.25.2-2 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44398 ros2_control: 4.26.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: held for sync, jazzy

#44393 ros_battery_monitoring: 1.0.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: held for sync, jazzy

#44390 yasmin: 3.1.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: held for sync, jazzy

#44386 gz_tools_vendor: 0.0.6-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: held for sync, jazzy

#44385 gz_plugin_vendor: 0.0.5-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: held for sync, jazzy

#44384 gz_math_vendor: 0.0.8-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: held for sync, jazzy

#44382 mvsim: 0.13.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: held for sync, jazzy

#44379 clearpath_config: 2.1.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: held for sync, jazzy

#44377 pal_statistics: 2.6.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: held for sync, jazzy

#44375 gz_utils_vendor: 0.0.5-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: held for sync, jazzy

#44373 navigation2: 1.3.5-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: held for sync, jazzy

#44372 gz_cmake_vendor: 0.0.9-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: held for sync, jazzy

#44418 diagnostics: 4.4.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44417 diagnostics: 4.2.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44416 diagnostics: 4.0.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44415 image_pipeline: 6.0.8-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44419 hebi_cpp_api: 3.12.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44414 message_filters: 4.11.4-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44411 qml_ros2_plugin: 2.25.2-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44410 moveit: 2.5.8-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44436 rqt_plot: 1.1.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44434 rqt_plot: 1.6.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44433 foxglove_msgs: 3.1.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44432 foxglove_msgs: 3.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44431 gz_sensors_vendor: 0.0.6-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44430 gz_gui_vendor: 0.0.5-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44429 gz_transport_vendor: 0.0.6-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44428 gz_rendering_vendor: 0.0.6-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44426 gz_physics_vendor: 0.0.6-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44423 image_transport_plugins: 4.0.4-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44422 image_transport_plugins: 5.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44421 image_pipeline: 5.0.7-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44425 gz_fuel_tools_vendor: 0.0.6-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44459 rtabmap: 0.21.10-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#44461 rtabmap_ros: 0.21.10-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#44455 cras_ros_utils: 2.5.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#44477 smach: 2.5.3-1 in 'noetic/distribution.yaml' [non-bloom]
  noetic/distribution.yaml
Labels: noetic

#44478 resource_retriever: 1.12.8-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#44438 ublox_dgnss: 0.5.5-3 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44458 rtabmap: 0.21.10-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44460 rtabmap_ros: 0.21.10-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44472 mola: 1.6.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44441 ros_gz: 2.1.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44446 eigenpy: 3.10.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44449 coal: 3.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44463 image_pipeline: 6.0.9-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44465 rqt_plot: 1.6.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44475 mola: 1.6.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44480 control_toolbox: 4.0.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44481 control_toolbox: 4.0.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44440 image_common: 3.1.11-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44448 eigenpy: 3.10.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44451 coal: 3.0.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44457 rtabmap_ros: 0.21.10-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44470 mola: 1.6.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44479 movie_publisher: 2.0.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#44469 Add mola_gnss_to_markers for indexing in jazzy
  jazzy/distribution.yaml
Labels: jazzy

#44482 rmw: 7.7.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44452 Added novatel_oem7_driver Jazzy branch to Jazzy distribution
  jazzy/distribution.yaml
Labels: jazzy

#44365 Added hebi_cpp_api to jazzy and rolling distribution.yaml files
  jazzy/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, jazzy

#44420 Adds setproctitle to rosdep database
  rosdep/python.yaml
Labels: rosdep

#44413 Add python-snap7
  rosdep/python.yaml
Labels: rosdep

#44443 Add nobleo_socketcan_bridge to humble & jazzy
  humble/distribution.yaml
  jazzy/distribution.yaml
Labels: humble, jazzy

#44491 apriltag: 3.4.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44490 apriltag: 3.4.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44487 moveit: 2.13.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44486 simple_launch: 1.11.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44392 Add mola_gnss_to_markers for indexing in rolling
  rolling/distribution.yaml
Labels: rolling

#44485 simple_launch: 1.11.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44488 moveit: 2.12.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44484 simple_launch: 1.11.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#44166 Add pyubx2
  rosdep/python.yaml
Labels: rosdep, changes requested

#44492 movie_publisher: 2.0.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#44494 fanuc: 0.6.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#44513 cras_ros_utils: 2.5.1-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#44501 add 'python3-wheel'
  rosdep/python.yaml
Labels: rosdep

#44493 Update fmi_adapter and fmilibrary_vendor branch names
  jazzy/distribution.yaml
Labels: jazzy

#44519 hebi_cpp_api: 3.12.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44518 hebi_cpp_api: 3.12.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44517 rmw_cyclonedds: 4.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44516 rmw_connextdds: 1.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44515 topic_tools: 1.3.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#44514 topic_tools: 1.4.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44510 webots_ros2: 2025.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44509 webots_ros2: 2025.0.0-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble
