Repository ros/rosdistro, pull requests merged in 2025-05, with the labels that each got.

#45571 plotjuggler: 3.10.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45585 filters: 2.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45568 Fix perception_pcl CI on humble
  humble/distribution.yaml
Labels: humble

#45569 plotjuggler: 3.10.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#45574 wireless: 1.1.5-2 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#45583 clearpath_simulator: 1.3.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#45587 filters: 2.2.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#45272 autoware_msgs: 1.7.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45292 ur_client_library: 2.0.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45295 teleop_tools: 2.0.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45299 mola_lidar_odometry: 0.7.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45302 mola: 1.6.4-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45325 tuw_geometry: 0.1.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45339 control_toolbox: 4.3.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45349 pinocchio: 3.5.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45370 fkie_message_filters: 3.2.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45375 autoware_lanelet2_extension: 0.7.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45381 python_mrpt_ros: 2.14.8-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45383 mrpt_ros: 2.14.8-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45389 microstrain_inertial: 4.6.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45327 behaviortree_cpp_v4: 4.7.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45392 eigenpy: 3.11.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45510 ros2_controllers: 4.24.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45517 clearpath_config: 2.3.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45570 plotjuggler: 3.10.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45573 wireless: 1.1.5-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45575 clearpath_msgs: 2.4.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45581 clearpath_nav2_demos: 2.4.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45582 clearpath_simulator: 2.3.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45584 clearpath_common: 2.3.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45586 filters: 2.2.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45590 clearpath_config: 2.4.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45594 Delete event_camera_py doc and source entries
  humble/distribution.yaml
Labels: humble

#45603 rviz: 1.14.26-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45212 Add so_arm_100_hardware package to jazzy distribution
  jazzy/distribution.yaml
Labels: stale, jazzy

#45595 frame_editor: 1.2.0-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45606 geometry2: 0.7.10-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45607 ros_comm: 1.17.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45591 Added rtklib to base.yaml
  rosdep/base.yaml
Labels: rosdep

#45612 Add rosidlcpp package to be indexed
  rolling/distribution.yaml
Labels: rolling

#45611 rig_reconfigure: 1.6.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#45610 rig_reconfigure: 1.6.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45609 rig_reconfigure: 1.6.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#45608 rig_reconfigure: 1.6.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45602 ardrone_ros: 1.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45600 slider_publisher: 2.4.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45598 slider_publisher: 2.4.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45597 slider_publisher: 2.4.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#45613 Update distribution.yaml for 1.12.1 diagnotics packages noetic
  noetic/distribution.yaml
Labels: noetic

#45593 rosbag2_broll: 0.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45580 leo_robot: 2.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45579 leo_robot: 2.1.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45290 autoware_utils: 1.4.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45315 graph_monitor: 0.1.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45316 graph_monitor: 0.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45482 rosbag2_broll: 0.1.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45332 tsid: 1.8.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45330 tsid: 1.8.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45605 rmw_connextdds: 1.2.0-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45614 leo_robot: 2.1.1-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#45625 mavlink: 2025.5.5-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#45626 ur_description: 3.1.1-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#45630 rviz: 15.0.1-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#45634 mavros: 2.10.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#45047 Add replay testing pkg to humble, jazzy and rolling
  humble/distribution.yaml
  jazzy/distribution.yaml
  rolling/distribution.yaml
Labels: held for sync, rolling, humble, jazzy

#45639 rqt_nav_view: 0.5.8-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45615 realtime_tools: 4.2.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45616 ros2_control: 4.29.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45627 mavlink: 2025.5.5-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45628 ur_description: 3.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45631 geometry_tutorials: 0.7.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45636 mavros: 2.10.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45638 control_toolbox: 5.3.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45115 Add open_gopro to python.yaml
  rosdep/python.yaml
Labels: rosdep, rosdep-needs-second-approval

#45576 Remove specific Python versions from NixOS rosdep entries
  rosdep/python.yaml
Labels: rosdep

#45621 Added Qt6 Core, Multimedia, Qml, Quick.
  rosdep/base.yaml
Labels: rosdep

#45617 realtime_tools: 3.5.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45618 ros2_control: 4.29.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45624 mavlink: 2025.5.5-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45633 mavros: 2.10.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45622 mavlink: 2025.5.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#45632 mavros: 2.10.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#45629 rviz: 15.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45640 ros_gz: 3.0.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45641 ros_gz: 2.1.7-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#45642 ros_gz: 0.244.17-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#45588 Added mcp sdk to python.yaml
  rosdep/python.yaml
Labels: rosdep

#45085 new rosdep python packages
  rosdep/python.yaml
Labels: rosdep

#45080 removed libcaer (obsolete)
  humble/distribution.yaml
  jazzy/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, jazzy

#45385 Add openarm package to humble/distribution.yaml
  humble/distribution.yaml
Labels: changes requested, humble

#45646 Change development branch of leo packages to ros2 in rolling
  rolling/distribution.yaml
Labels: rolling

#45648 mola: 1.7.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45647 mola: 1.7.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#45649 mola: 1.7.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#45645 Change development branch of leo packages to ros2 in kilted
  kilted/distribution.yaml
Labels: kilted

#45553 Added husarion_ugv_ros to humble and jazzy
  humble/distribution.yaml
  jazzy/distribution.yaml
Labels: humble, jazzy

#45652 Change development branch of leo packages in jazzy
  jazzy/distribution.yaml
Labels: jazzy

#45029 Add adi imu
  humble/distribution.yaml
  jazzy/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, jazzy

#45554 add python-duckdb for ubuntu and debian
  rosdep/python.yaml
Labels: rosdep

#45653 Added touchlab-comm-py rosdep
  rosdep/python.yaml
Labels: rosdep, rosdep-needs-second-approval

#45193 Please add at_sonde_ros_driver to be indexed in the rosdistro
  humble/distribution.yaml
  jazzy/distribution.yaml
  rolling/distribution.yaml
Labels: changes requested, rolling, humble, jazzy

#45084 Add python3-reedsolo
  rosdep/python.yaml
Labels: rosdep

#45254 yashar_turtle_chase: 0.0.0 in humble/distribution.yaml
  humble/distribution.yaml
Labels: humble

#45654 fastdds: 3.2.2-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#45660 Add rosdep keys for rti-connext-dds-7.3.0 debs.
  rosdep/base.yaml
Labels: rosdep

#45659 Add new gurumdds packages for Jammy and Noble.
  rosdep/base.yaml
Labels: rosdep

#45657 leo_robot: 2.1.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45658 phidgets_drivers: 1.0.10-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45655 fastdds: 3.2.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#44646 foxglove_msgs: update repo url
  humble/distribution.yaml
  jazzy/distribution.yaml
  noetic/distribution.yaml
  rolling/distribution.yaml
Labels: noetic, changes requested, rolling, humble, jazzy

#45676 Change branch name for old distro color_util
  humble/distribution.yaml
  jazzy/distribution.yaml
Labels: humble, jazzy

#45675 rqt_launch: 0.4.10-1 in 'noetic/distribution.yaml' [non-bloom]
  noetic/distribution.yaml
Labels: noetic

#45677 rqt_moveit: 0.5.13-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45681 septentrio_gnss_driver: 1.4.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45682 actionlib: 1.14.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45683 nodelet_core: 1.11.2-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45684 ros_comm: 1.17.3-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45680 septentrio_gnss_driver: 1.4.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45687 Update development branch of aruco_opencv to ros2 in rolling
  rolling/distribution.yaml
Labels: rolling

#45688 rmf_traffic: 3.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45689 rmf_traffic_editor: 1.12.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45690 rmf_simulation: 2.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45691 rmf_ros2: 2.10.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45693 rmf_internal_msgs: 3.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45692 rmf_api_msgs: 0.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45703 rqt_console: 0.4.14-1 in 'noetic/distribution.yaml' [bloom]
  noetic/distribution.yaml
Labels: noetic

#45686 Update development branch of aruco_opencv to ros2 in kilted
  kilted/distribution.yaml
Labels: kilted

#45702 diagnostics: 4.3.4-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#45718 point_cloud_transport: 5.1.3-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#45719 osrf_pycommon: 2.1.6-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#45720 rqt_topic: 1.8.1-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#45721 graph_monitor: 0.1.2-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#45722 urdfdom: 4.0.1-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#45723 urdfdom_headers: 1.1.2-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#45678 septentrio_gnss_driver: 1.4.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#45679 septentrio_gnss_driver: 1.4.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45696 rqt_plot: 1.7.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45698 diagnostics: 4.0.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#45700 diagnostics: 4.2.4-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45705 simulation_interfaces: 1.0.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45707 rqt_plot: 1.1.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#45708 diagnostics: 4.4.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45709 simulation_interfaces: 1.0.0-3 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#45710 simulation_interfaces: 1.0.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#45711 rai_interfaces: 0.2.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45712 rai_interfaces: 0.2.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#45701 rqt_plot: 1.4.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#45706 simulation_interfaces: 1.0.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#45716 data_tamer: 1.0.2-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#45035 Update libqt5-core rosdep key for Ubuntu 24.04 (Noble) compatibility
  rosdep/base.yaml
Labels: rosdep, changes requested
