Repository ros/rosdistro, pull requests merged in 2025-06, with the labels that each got.

#46322 ament_cmake: 2.8.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46381 Revert "geometry2: 0.42.1-1 in 'rolling/distribution.yaml' [bloom]"
  rolling/distribution.yaml
Labels: rolling

#46390 ros2_controllers: 4.26.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46388 ros2_control: 4.32.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46384 septentrio_gnss_driver: 1.4.4-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46375 control_msgs: 5.4.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46372 mavros: 2.10.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46366 mavlink: 2025.6.6-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46358 mola: 1.9.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46355 plotjuggler_ros: 2.3.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46350 mola_state_estimation: 1.9.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46348 mola_lidar_odometry: 0.8.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46343 plotjuggler: 3.10.5-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46319 scenario_execution: 1.3.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46378 geometric_shapes: 2.3.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46298 marti_common: 3.8.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46291 (jazzy) enable testing for imu_pipeline
  jazzy/distribution.yaml
Labels: jazzy

#46287 fkie_message_filters: 3.2.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46263 mp2p_icp: 1.7.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46256 tuw_geometry: 0.1.4-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46252 ros_battery_monitoring: 1.0.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46238 phidgets_drivers: 2.4.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46389 ros2_control: 2.51.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46386 launch: 1.0.9-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46383 septentrio_gnss_driver: 1.4.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46371 mavros: 2.10.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46357 mola: 1.9.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46347 mola_state_estimation: 1.9.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46346 mola_lidar_odometry: 0.8.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46331 microstrain_inertial: 4.7.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46330 sick_scan_xd: 3.7.0-7 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46327 pal_urdf_utils: 2.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46305 mapviz: 2.5.5-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46297 marti_common: 3.8.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46290 (humble) enable testing for imu_pipeline
  humble/distribution.yaml
Labels: humble

#46286 fkie_message_filters: 3.2.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46255 tuw_geometry: 0.1.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46241 mrpt_ros: 2.14.11-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46250 rviz_2d_overlay_plugins: 1.3.1-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46264 mp2p_icp: 1.7.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46281 imu_pipeline: 0.6.1-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46288 fkie_message_filters: 3.2.1-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46299 marti_common: 3.8.3-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46308 mapviz: 2.5.5-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46326 perception_pcl: 2.7.3-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46337 cascade_lifecycle: 2.0.2-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46341 plotjuggler: 3.10.5-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46379 geometric_shapes: 2.3.3-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46374 control_msgs: 6.2.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46370 random_numbers: 2.0.4-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46367 mavlink: 2025.6.6-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46363 ros2_control_cmake: 0.2.1-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46385 septentrio_gnss_driver: 1.4.4-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46354 mola_state_estimation: 1.9.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46369 random_numbers: 2.0.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46344 plotjuggler: 3.10.5-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46268 navigation2: 1.4.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46425 plotjuggler: 3.10.6-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46410 marti_common: 3.8.4-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46412 marti_common: 3.8.4-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46416 mapviz: 2.5.6-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46405 rtabmap: 0.22.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46407 rtabmap_ros: 0.22.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46408 rtabmap_ros: 0.22.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46409 rtabmap_ros: 0.22.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46340 Add autoware_core package to humble
  humble/distribution.yaml
Labels: humble

#46436 ur_robot_driver: 2.8.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46462 swri_console: 2.1.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46439 ros2_controllers: 5.1.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46478 ur_robot_driver: 4.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46472 realtime_tools: 4.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46465 magic_enum: 0.9.7-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46452 ros_gz: 3.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46456 image_common: 6.2.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46451 aruco_markers: 0.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46395 ros2_control: 5.2.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46382 septentrio_gnss_driver: 1.4.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46377 mavros: 2.10.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46364 ros2_control_cmake: 0.2.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46360 mola: 1.9.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46356 mola_state_estimation: 1.9.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46353 mola_lidar_odometry: 0.8.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46338 cascade_lifecycle: 2.0.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46324 point_cloud_transport: 5.2.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46235 phidgets_drivers: 2.4.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46242 mrpt_ros: 2.14.11-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46254 ros_battery_monitoring: 1.0.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46261 find_object_2d: 0.7.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46285 autoware_internal_msgs: 1.10.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46460 swri_console: 2.0.7-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46282 imu_pipeline: 0.6.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46443 rsl: 1.2.0-3 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46455 ros_gz: 0.244.20-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46459 image_common: 3.1.12-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46473 realtime_tools: 2.14.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46474 motion_capture_tracking: 1.0.6-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46475 motion_capture_tracking: 1.0.6-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46467 clearpath_ros2_socketcan_interface: 2.1.4-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46458 image_common: 5.1.7-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46454 ros_gz: 1.0.15-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46387 lms1xx: 1.0.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46236 phidgets_drivers: 2.4.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: stale, kilted

#46336 popf: 0.0.18-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46339 ros2_planning_system: 3.0.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46394 ros2_control: 5.2.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46399 sick_scan_xd: 3.7.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46431 rtabmap_ros: 0.22.0-2 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46437 control_msgs: 6.3.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46495 common_interfaces: 4.9.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46522 automatika_embodied_agents: 0.4.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46520 talos_robot: 2.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46517 pmb2_simulation: 4.8.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46516 pmb2_robot: 5.9.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46514 pmb2_navigation: 4.17.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46511 omni_base_robot: 2.12.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46510 omni_base_navigation: 2.18.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46508 launch_pal: 0.14.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46500 ur_client_library: 2.1.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46542 rmw_zenoh: 0.1.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46561 mp2p_icp: 1.7.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46567 rviz: 11.2.18-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#46560 rviz: 15.1.4-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46543 gtsam: 4.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46538 ament_lint: 0.20.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46535 geometry2: 0.42.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46532 rcpputils: 2.14.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46526 control_toolbox: 5.5.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46507 automatika_ros_sugar: 0.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46503 ur_client_library: 2.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46483 rosidlcpp: 0.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46490 ur_robot_driver: 4.0.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46479 rsl: 1.2.0-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#46564 rviz: 14.1.12-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46563 mp2p_icp: 1.7.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46544 gtsam: 4.3.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46541 naoqi_libqi: 3.0.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46540 canboat_vendor: 0.0.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46531 rmw_zenoh: 0.2.5-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46527 control_toolbox: 5.5.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46524 automatika_embodied_agents: 0.4.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46523 automatika_embodied_agents: 0.4.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46502 ur_client_library: 2.1.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46506 automatika_ros_sugar: 0.3.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46453 ros_gz: 2.1.9-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46448 generate_parameter_library: 0.5.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#46497 tecgihan_driver: 0.1.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble, needs-package-name-review

#46484 remove 'libopen3d-dev' and 'python3-open3d' from Ubuntu noble
  rosdep/base.yaml
  rosdep/python.yaml
Labels: rosdep, rosdep-needs-second-approval

#46575 mqtt_client: 2.4.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46570 gtsam: 4.3.0-2 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#46569 gtsam: 4.3.0-2 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling
