Repository ros/rosdistro, pull requests merged in 2025-10, with the labels that each got.

#47860 Add source entries for launch_frontend_py in all live distros
  humble/distribution.yaml
  jazzy/distribution.yaml
  kilted/distribution.yaml
  rolling/distribution.yaml
Labels: rolling, humble, jazzy, kilted

#47864 ur_description: 4.1.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47867 rosidl_typesupport_fastrtps: 3.9.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47868 common_interfaces: 5.8.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47872 gz_msgs_vendor: 0.3.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47874 gz_fuel_tools_vendor: 0.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47876 gz_rendering_vendor: 0.4.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47879 gz_sensors_vendor: 0.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47881 gz_launch_vendor: 0.3.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47810 rviz: 15.0.7-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47857 ros_gz: 2.1.11-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47863 ur_description: 4.1.1-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47819 Update foxglove_bridge to 3.2.1, update repo and remove old repo
  jazzy/distribution.yaml
Labels: jazzy

#47845 ign_ros2_control: 0.7.17-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47889 kinematics_interface: 2.3.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47895 topic_based_hardware_interfaces: 0.2.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47896 ros2_controllers: 5.8.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47899 rko_lio: 0.1.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47897 ros2_controllers: 5.8.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47894 topic_based_hardware_interfaces: 0.2.1-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47890 kinematics_interface: 2.3.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47882 control_toolbox: 5.8.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47891 kinematics_interface: 1.6.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47884 control_toolbox: 4.8.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47842 frame_editor: 2.0.2-5 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47892 kinematics_interface: 0.4.1-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47771 openembedded: python(3)-psutil
  rosdep/python.yaml
Labels: rosdep

#47775 openembedded: python3-whichcraft meta-ros-common -> meta-ros2
  rosdep/python.yaml
Labels: rosdep

#47915 rosidl_python: 0.26.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47912 message_filters: 4.11.8-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47910 laser_geometry: 2.11.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47908 ros_tutorials: 1.4.3-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47902 rko_lio: 0.1.3-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47938 rosidl: 5.1.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47921 kompass: 0.3.2-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47932 mola_state_estimation: 1.11.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47936 control_toolbox: 5.8.1-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47942 realtime_tools: 4.7.0-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47949 launch: 3.8.4-1 in 'kilted/distribution.yaml' [bloom]
  kilted/distribution.yaml
Labels: kilted

#47946 launch: 3.9.3-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47935 control_toolbox: 5.8.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47934 mola_state_estimation: 1.11.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47927 rmw_zenoh: 0.10.0-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47922 kompass: 0.3.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47948 insight_gui: 0.1.3-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47941 realtime_tools: 3.10.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47937 control_toolbox: 4.8.1-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47933 mola_state_estimation: 1.11.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47931 mola_state_estimation: 1.11.0-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47930 rmw_zenoh: 0.1.7-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47925 rko_lio: 0.1.4-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47920 kompass: 0.3.2-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47919 ros2_control: 4.38.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47918 ros2_controllers: 4.33.0-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47959 plotjuggler: 3.13.2-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47952 rosidl_core: 0.4.1-1 in 'rolling/distribution.yaml' [bloom]
  rolling/distribution.yaml
Labels: rolling

#47957 interactive_markers: 2.5.5-1 in 'jazzy/distribution.yaml' [bloom]
  jazzy/distribution.yaml
Labels: jazzy

#47960 plotjuggler: 3.13.2-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47947 launch: 1.0.11-1 in 'humble/distribution.yaml' [bloom]
  humble/distribution.yaml
Labels: humble

#47914 Bump version of liborocos-kdl for debian
  rosdep/base.yaml
Labels: rosdep

#47688 Add pip fallbacks for python3-docstring-parser
  rosdep/python.yaml
Labels: rosdep, changes requested, rosdep-needs-second-approval
